[2018-09-26 15:23] andrewvanbreda commented on #97
@sacrevert @NPMSSupport
Just some quick notes on this.
The problem where the user reported that the system was telling them that they hadn't created the data was just related to the other problem. The issue went away after the fix was applied.
The cause of the issue was described earlier in this thread. It was a code mistake on two screens where a slightly incorrect comparison was made to work out

[2018-09-26 15:25] andrewvanbreda commented on #97
@BirenRathod Hi Biren,
Could you pull the brc_reports/npms reports folder on training site so it has same change.

Thanks Andy

[2018-09-26 15:38] sacrevert commented on #97
Cheers Andy. @NPMSSupport we'll let you know when this is live and you can alert (and thank) the user that found the bug

[2018-09-26 21:18] andrewvanbreda commented on #97
@sacrevert @NPMSSupport This went live at midday (otherwise I wouldn't of taken site out of maintenance mode). All the tests I conducted were on live site otherwise I couldn't be sure it was working.
It is just not on training site yet.

[2018-09-26 21:47] sacrevert commented on #97
Brilliant, thanks Andy. I'll let you close when you are happy with the training site

[2018-09-27 07:57] NPMSSupport commented on #97
Great thank you. I'll let the volunteer know it is all fine now.
Best wishes

*Rachel NPMS Support*

On Wed, Sep 26, 2018 at 4:30 PM andrewvanbreda <notifications@github.com>
wrote:

[2018-09-27 08:06] BirenRathod commented on #97
I have pull the reports folder on NPMS_training site too.

[2018-09-27 11:47] andrewvanbreda opened #99 "Website performance problems"
Some users have pointed out data entry forms can take a long time to open, possibly since changing host.
Since if this can be sped up.

[2018-09-27 11:50] andrewvanbreda opened #100 "User should not be able to edit visits from My Visits if they don't own square"
The My Visits page correctly shows the user all their visits.
However they should not be allowed edit ones if they no longer own the square.
Probably need to stop them editing, but allow viewing.
Sure this used to work.

[2018-09-27 15:51] andrewvanbreda opened #101 "Inconsistencies between My Visits page and data entry grids"
Some inconsistencies have been noted between the display of data My Visits page and data entry grids.
In one instance the My Visits page is showing an extra record for no apparent reason.

One general inconsistency is the My Visits page is showing the updated date for the sample, whilst the data grid is showing the sample date.

[2018-09-27 15:55] andrewvanbreda commented on #101
Actually, that extra record was on the Inventory page, so the only problem I know off is the dates.

[2018-10-02 11:15] andrewvanbreda opened #102 "Grid count number wrong on User Information Download report"
The User Information Download report is showing the wrong number in the records count.

An example is searching for Allocated users who were allocated squares after 1/1/2017.

This is showing a grid count of many 1000s, however the downloaded data is showing 654.
After checking with Celeste it is the grid count that appears to be wrong.

This would not be NPMS specific and appears to have happened

[2018-10-02 16:21] andrewvanbreda commented on #101
Changed My/All Visits pages to use main sample date. Awaiting deployment to training site before testing to go live.

[2018-10-04 12:15] #97 closed

[2018-10-04 13:32] andrewvanbreda commented on #101
@NPMSSupport @sacrevert
On live and training site now. There is still a slight inconsistency in that the All/My Visits page have the date in yyyy-mm-dd format but let's worry about that at a less busy time.

[2018-10-04 13:32] #101 closed

[2018-10-10 10:58] sacrevert opened #103 "Record photos for Extra species survey option"
Add the option to attach a photo to a record in the Extra species survey option

[2018-10-11 09:32] andrewvanbreda commented on #103
@sacrevert
Hi Oli, am confused. I just went to Extra Species and the species grid does have a photo option.

[2018-10-11 09:35] sacrevert commented on #103
OK, I was told by @NPMSSupport that it didn't, and I didn't check. Can @NPMSSupport check that they are happy with how this works, and then I will close. Thanks all.

[2018-10-11 13:06] NPMSSupport commented on #103
The query came from this volunteer alisonmf and when I checked, she was correct. On her account there was no option to add a photo in extra species. Unless we are both doing something wrong? In her my data, she could see images she had uploaded for extra species last year.
Thanks.

[2018-10-11 13:23] sacrevert commented on #103
OK, we will check this. Please don't post personal data on this public forum though : )

[2018-10-11 13:25] sacrevert commented on #103
Hey, maybe this confusion is just related to the fact that you have to select a species from the list first by typing into the box?
![image](https://user-images.githubusercontent.com/5985134/46807268-739d2380-cd61-11e8-897c-97b873c4daa7.png)

That screenshot was whilst masquerading as the user.

[2018-10-11 13:39] andrewvanbreda commented on #103
Have updated NPMS support message to use the username

[2018-10-11 13:43] NPMSSupport commented on #103
Thanks Oli - I've passed that on.

*Rachel NPMS Support*

On Thu, Oct 11, 2018 at 2:25 PM Oli Pescott <notifications@github.com>
wrote:

[2018-10-11 14:16] andrewvanbreda commented on #61
Ran for new users @ 15:00 (approx) ->11/10/2018

[2018-10-15 14:52] andrewvanbreda opened #104 ""My Visits" showing data NPMS website thinks has been created by another user."
We seem to have a situation where at least one user is shown visits on My Visits where clicking Edit on the row is showing a message that the visit was created by another user. I do not believe this to be true, which is why the Indicator data grid is not showing the visit.

[2018-10-15 15:37] andrewvanbreda commented on #100
Should be working after changes relating to this issue
https://github.com/BiologicalRecordsCentre/NPMS/issues/104

Not live yet.

[2018-10-15 15:54] andrewvanbreda commented on #89
A link is still required between them (partly as it would be a mess to get rid of).

However I am coding another issue at the moment to have all the survey 1/survey 2 samples on different rows. I have tested (and currently on my machine) deleting survey 1 will now leave survey 2 alone.
Only in the situation where survey 1 has been added and there is no survey 2 yet will an "Add Survey 2" link be s

[2018-10-16 08:07] andrewvanbreda commented on #77
@sacrevert @NPMSSupport
I currently have code on my machine that separates the rows.
However, there is a slight change in the behaviour as a result of this but I am not sure if the new or old behaviour is correct.

If there is a Survey 1 row, a second visit can be added.
However, what should happen if the Survey 1 was done by another user. The new user would not be able to edit that, but should th

[2018-10-16 08:11] sacrevert commented on #77
I don't think we have ever explicitly considered this. I would say that either option is fine, as long as the subsequent editing permissions are correct. So, happy to leave it with the option for a new surveyor can add a survey 2, as long as they then have permissions to edit survey 2 (but not survey 1). To be honest, even if they could edit the survey 1 it would not be the end of the world -- if

[2018-10-16 08:20] andrewvanbreda commented on #77
OK. I will leave the new code as it is. It has the advantage that it is now quite simple I think.

Another difference now is deleting survey 1 will no longer remove survey 2.

I think I will leave the suggestion to allow editing of survey 1 on the grounds I we don't want too many complex rules.
The rule is simply that it will be locked if you didn't create it (or it is locked because it is old).
I

[2018-10-16 08:25] sacrevert commented on #77
Very happy to keep it simple. I won't create a new issue. Cheers.

[2018-10-16 09:30] andrewvanbreda commented on #77
@sacrevert
Actually, I have made a mistake here. It will block the creation of survey 2 unless you created survey 1. As you said this is fine, and it is the current way it works, I will leave it for now.

[2018-10-16 11:36] sacrevert commented on #77
Fine. A new volunteer could always just create another survey 1 within a year anyway.

[2018-10-17 09:44] andrewvanbreda commented on #77
@sacrevert
Hi, Could you take a look t the following screenshot from my machine and check the layout is OK. In particular I propose that we just use the Survey 1 ID as the ID. So the user might see ID 123 has Survey 1 and Survey 2 rows
Effectively hiding the survey 2 ID from the user for simplicity. This was the case on the data entry grids, but it is exposed on the My Visits page, I think this is

[2018-10-17 09:44] andrewvanbreda commented on #77
![new data entry grid](https://user-images.githubusercontent.com/2463614/47077767-9748e980-d1f9-11e8-8864-ee2d664b082e.jpeg)

[2018-10-17 10:07] sacrevert commented on #77
Thanks Andy. Good idea, I think that is fine.

By the way, this issue started out with some requests for collapsable grids. Shall we move that requirement to a new issue?

[2018-10-17 10:13] andrewvanbreda commented on #77
Yes. Let's move that. As am not sure how I will be able to get that working yet. Might be quite a lot of work.

[2018-10-17 10:14] andrewvanbreda commented on #77
@sacrevert I will make the changes to My Visits and All Visits before final commit.

[2018-10-17 10:18] sacrevert commented on #77
OK, i'll create a new issue for that requirement

[2018-10-17 10:19] sacrevert opened #105 "Filters/ordering for display of sample information"
From Oli P:
"At the moment visits appear as a long list, with both squares and years all together on one grid. Ultimately it would be good to have these rows 'collapsed', i.e. a list of squares, each of which can be expanded, then the years within that, which can also be expanded to reveal visits (a '+' would indicated the expansion of rows)."

Original focus of #77 see that issue for more info

[2018-10-17 11:01] andrewvanbreda commented on #77
@sacrevert
Another query I have actually is about My Visits. Currently the logic is to show every sample created by the user.
However, the data entry page grids show samples related to squares the person is approved for, regardless of whether they created sample.

This means there can be a discrepancy between what the two screens show which I think has confused some users.
Are we OK with this situ

[2018-10-17 11:52] sacrevert commented on #77
I think keep as is and add explanatory text to both screens. I will supply if @NPMSSupport can confirm that they are also happy with this

[2018-10-17 13:05] andrewvanbreda commented on #77
Right you are. OK, so what I will do is just change My Visits so that it shows the ID for survey 1, then it indicates whether it is survey 1 or 2 on the row.
This will be consistent with the new data entry grid display but we will keep the rules for displaying rows as it was.
Will set to Coding Complete once coded.

[2018-10-18 08:48] NPMSSupport commented on #77
Hi Oli and Andy
I was out of the office all day yesterday and I'm trying to catch up with
these changes. I'm speaking with Oli at 10 so will get him to run it
through with me then.
Small point - The survey numbers are back to front i.e. survey 2 is on top
of survey 1. Can we change this to read the other way around?
Thank you both
Rachel

*Rachel NPMS Support*

On Wed, Oct 17, 2018 at 12:01 PM and

[2018-10-18 09:16] andrewvanbreda commented on #77
@NPMSSupport @sacrevert
I can change it, although it is deliberate because the ordering rule of the grid is most recent at top, although it will keep survey 1 and 2 together.
So if the user starts with no rows.
If they then add Survey 1 (let us call this ID 1).
Then add another Survey 1 (ID 2), this will appear above the first Survey 1 (ID 1) like this.

Survey 1 (ID 2)
Survey 1 (ID 1)

This ensur

[2018-10-18 10:47] andrewvanbreda opened #106 "Excluded icon not found"
Small problem where the Excluded icon that shows when a square is excluded in the admin area is showing a question mark. This used to work.
Almost certain became broken after move to new hosting as it can't find path to the icon.
Problem can be seen in Add Users To Square admin area.

[2018-10-18 10:53] sacrevert commented on #77
I don't really have a problem with this, it is probably just as logical as the alternative. @NPMSSupport do you have a strong feeling about this? if not I'm happy to deploy.

[2018-10-18 12:54] NPMSSupport commented on #77
HI both,
Go with what you think is best.
Many thanks

*Rachel NPMS Support*

On Thu, Oct 18, 2018 at 10:16 AM andrewvanbreda <notifications@github.com>
wrote:

[2018-10-18 12:54] sacrevert commented on #77
Ok, in the interests of saving money and time, let's go with the current set-up. Cheers.

[2018-10-18 13:02] andrewvanbreda commented on #77
@BirenRathod
Hi Biren,
We need to check this on the training site first.
The npms_sample_occurrence.php prebuilt Drupal form has been updated on master/development branches using a hotfix.

Also the following files have been update in brc_reports
splash_my_visits
and
npms_samples_occurrence_samples_2

Basically 3 files have been updated for this change

[2018-10-18 13:43] BirenRathod commented on #77
@andrewvanbreda

This npms_sample_occurrence.php file copied onto npms_training site and reports have been pulled down on testwarehouse.

[2018-10-18 13:49] andrewvanbreda commented on #77
@BirenRathod
Great thanks. Will take a look

[2018-10-18 15:03] andrewvanbreda commented on #77
@BirenRathod @NPMSSupport @sacrevert
Hi Biren,
Has this been deployed to live? It looks like it to me. I noticed the My Visits page was requesting parameters and not displaying the report.
So I have put the site into maintenance mode.

If that is the case ,should I commit the npms_sample_occurrence.php change to the live site? and you pull it, then I will just test the live site instead of trainin

[2018-10-18 15:08] BirenRathod commented on #77
@andrewvanbreda
Not yet deployed on live site. So you can do so. After you commit please let me, so I can push the code on live. before pushing code on live you can check if code is working or not on https://dev-npms.pantheonsite.io/

[2018-10-18 15:12] andrewvanbreda commented on #77
@BirenRathod I do not understand as live is acting as if one of the reports went live.
Ok, I will try to commit the prebuilt form code onto live.

No point in using the training site for checking, might as well check on live as I would need to check on live eventually anyway.

[2018-10-18 15:12] andrewvanbreda commented on #77
Will let you know when I have made the commit

[2018-10-18 15:18] andrewvanbreda commented on #77
@BirenRathod
I have made that commit now. Can you make sure the brc_reports/npms folder is update to date and the prebuilt_form change is there on live.

Then I will final check live. Hopefully it will work as well as it did on my machine

[2018-10-18 20:29] BirenRathod commented on #77
@andrewvanbreda

To test your change in the current state, you just need change warehouse to test warehouse in iForm settings on https://dev-npms.pantheonsite.io/. If you make that changes, it will not impact on Live site.

[2018-10-18 20:45] BirenRathod commented on #77
I have updated brc_report folder on live warehouse.

[2018-10-19 07:45] andrewvanbreda commented on #77
Hi @BirenRathod ,
There isn't any point in testing using https://dev-npms.pantheonsite.io/ as it has been tested on my machine. I would still need to check live even if I tested using that site.
I can just enable training records on the live data entry grids. So it is best if I work with live now and we can get it back running as quickly as possible.

Could you pull the change I made to npms_sampl

[2018-10-19 08:53] BirenRathod commented on #77
@andrewvanbreda
Sorry, Yes, I have deployded your code on to live now.
About testing on dev site will helpful, if you do same thing in future. just avoid a duplication work.

[2018-10-19 09:37] andrewvanbreda commented on #77
@BirenRathod I will configure the test site as well for the new changes. We didn't take that approach this time as I had noticed for an unknown reason some of the changes were live yesterday.

[2018-10-19 09:45] BirenRathod commented on #77
@andrewvanbreda

I'm not sure of about what changes you made but if you have made changes while I was upgrading Drupal 7 security patch yesterday than this might be the result of that.  It is not possible that update will go live without pushing commit on live, even you push the changes on dev, so it should stay until I push them on to live. it is very secure.

[2018-10-19 09:47] andrewvanbreda commented on #77
@BirenRathod Hi, It wasn't Drupal, it was a report.
projects/npms/splash_my_visits

This was acting as if it had the new changes before you pulled the reports.

[2018-10-19 09:51] andrewvanbreda commented on #77
@sacrevert @NPMSSupport
Hi,
This is quite a major change to the display on the grid shown before data entry, and also the My Visits page, if you have any data on your accounts I would be interested to know it is ok.
Obviously with testing this on my own it is a bit difficult as I am only checking other people's data which I am not familiar with, so it can be hard to spot problems.
It has been test

[2018-10-19 09:51] BirenRathod commented on #77
Ahh, yes , I know that.
Jim was making changes of his project's reports and he pulled the reports on the live warehouse in the morning. Because we use the same reports folder for all projects, so anybody pull that reports folder , it will pull the code from all the reports folder.

[2018-10-19 11:10] andrewvanbreda commented on #77
Looks like it is working to me. Did lots of checks.
Taking live out of maintenance mode now.

Will close issue once all the sub-tasks related to it are complete (such as configuring the Pantheon test site)

[2018-10-19 11:39] andrewvanbreda commented on #89
Live now

[2018-10-19 11:40] andrewvanbreda commented on #89
@sacrevert @NPMSSupport
This is live.
Deleting Survey 1 will leave Survey 2 alone.

[2018-10-19 11:40] #89 closed

[2018-10-19 11:51] #77 closed

[2018-10-19 12:32] andrewvanbreda opened #107 "Minor report problems"
- My Visits does not seem to be grouping Survey 1 and 2 together.

- Filtering in the column headers not working on either the My Visits or data entry grids (ID column filter broken, possibly others)

[2018-10-19 13:31] sacrevert opened #108 "Force user to create sample 2 rather than two sample 1s"
As a general principle, should we add some additional logic to the system that stops a using creating a new sample for a plot within a calendar year. At the moment, the user can click "Add new sample" and create a new sample 1 for a plot for which they have already entered data (and so should be using the "add sample 2" option.

Although the two options do not really affect the underlying data, fo

[2018-10-19 15:19] andrewvanbreda commented on #100
Report rewritten. Seems to be working now.

[2018-10-19 15:19] #100 closed

[2018-10-20 19:41] andrewvanbreda opened #109 "Default text says "visit was created by another user" when I don't think it means this"
I had to override some default text on the website data entry forms that sometimes shows the warning "visit was created by another user".
I am not sure it intends to say this, so I have used the override default text facility to say the user might not own the square anymore or the the visit was created by another user.
When warning is displayed the form is correctly displayed as read-only.

Invest

[2018-10-21 11:20] andrewvanbreda opened #110 "System warning user they need to fill in plot type in Plot Details edit mode"
When editing an existing plot, the user will warn the user to fill in the Plot Type field when they save.

The splash_extensions.php file checks for the plot geometry on the map and warns if this isn't present.

I am not sure the cause of this at the moment, but perhaps the way the Warehouse provides this to the page has changed.

[2018-10-21 14:04] andrewvanbreda commented on #106
Easy fix, slightly different image path since moving to new hosting. Changed on edit tab.

[2018-10-21 14:04] #106 closed

[2018-10-22 11:50] andrewvanbreda commented on #110
@BirenRathod @NPMSSupport @sacrevert
I have fixed this.
Biren: could you pull the splash_extensions.php onto the training site first please so I can double-check it in a better environment than my own machine.
The problem was actually caused by an **improvement** in Indicia. Something I was having to do manually with the map before is now being handled automatically, and this change to the way it

[2018-10-22 15:57] andrewvanbreda commented on #110
@BirenRathod Have pushed changed to Pantheon too if you think it is good idea to check it there

[2018-10-22 16:06] BirenRathod commented on #110
@andrewvanbreda

Sorry, I haven't pull the code on npms_training site yet, but I pushed your code on test site. have a look and if you still need a code on training site let me know too.

[2018-10-23 09:25] andrewvanbreda commented on #110
@BirenRathod Working on Pantheon test site.
Biren can you pull onto live, pull on training as well else that site isn't going to work properly.
Thanks

[2018-10-23 10:13] BirenRathod commented on #110
@andrewvanbreda
I have pulled the code onto live and npms_training site.

[2018-10-23 11:06] andrewvanbreda commented on #110
@BirenRathod @NPMSSupport @andrewvanbreda
Working now.

[2018-10-23 11:06] #110 closed

[2018-10-27 13:36] andrewvanbreda commented on #61
Ran for new users @ 14:20 (approx) ->27/10/2018

[2018-11-05 15:56] sacrevert opened #111 "Data CSV file download simplification"
Feedback from volunteers suggests that the download has way too much in it, a lot of it unnecessary or redundant. This is just a placeholder to remind us to review this when we have time.

[2018-11-05 16:02] sacrevert opened #112 "Improve message re viewing locked samples"
Some surveyors have not realised that you can browse locked samples by clicking through the "progression" arrows circled below. Change locking/standard message to make this more obvious.

![picture1](https://user-images.githubusercontent.com/5985134/48009698-1d2ec500-e114-11e8-8329-032642ed6c40.png)

[2018-11-09 10:04] sacrevert opened #113 "Filtering is broken on recording form grids"
This was encountered whilst masquerading
![image](https://user-images.githubusercontent.com/5985134/48256233-e3f1a000-e406-11e8-8128-e5a1dc6a5305.png)

[2018-11-09 11:21] andrewvanbreda commented on #113
@sacrevert
Bug relates to the column being specified as text rather than a number in the report. Surprised this breaks it actually. The plus side is it is an easy fix without the need to alter the logic of the report.
@BirenRathod Could you pull the projects/npms reports folder.

The My Visits page had same problem and I have applied a fix for this too.

[2018-11-09 12:45] andrewvanbreda commented on #104
This was fixed about a month ago but forgot to close issue.

[2018-11-09 12:45] #104 closed

[2018-11-09 12:46] andrewvanbreda commented on #107
ID column now fixed, awaiting deployment.
Raised in another issue.
This issue now only applies to the following

- My Visits does not seem to be grouping Survey 1 and 2 together.

[2018-11-09 13:10] BirenRathod commented on #113
@andrewvanbreda
The reports folder now have been updated.

[2018-11-09 13:50] andrewvanbreda commented on #113
@BirenRathod @sacrevert
Great that worked thanks.
Biren: Could you update the projects/npms folder on the test warehouse and then close this issue.
Thanks

[2018-11-09 14:15] andrewvanbreda commented on #61
Ran for new users @ 14:15 (approx) ->9/11/2018

[2018-11-09 14:16] BirenRathod commented on #113
@andrewvanbreda

I have updated reports folders on testwarehouse too.

[2018-11-09 14:16] #113 closed

[2018-11-09 15:01] andrewvanbreda commented on #113
Great, working on training. Thanks Biren

[2018-11-10 19:08] andrewvanbreda opened #114 "Need way for admins to edit locked samples - no longer works due to changes"
Admins used to have the ability to edit data that is read-only because it has passed the locking date.

However, I think the situation changed recently with the changes we made.

Admin users are indeed excluded from the date locking rule, this is fine.

However you can't edit someone else's data while masquerading, as you would be under the influence of the rules that apply to that user.

So the e

[2018-11-11 11:34] sacrevert commented on #114
Fine. I can't see how to do it on my phone, but could you upgrade this to "urgent", not because there is a time limited need to implement, but because I think this is more important that the medium issues we currently have.

I wonder if you also add a "guidance" tag so that we can find stuff like this subsequently. (Unless you can't add tags, in which case don't worry).

[2018-11-13 13:25] andrewvanbreda commented on #99
@BirenRathod @NPMSSupport @sacrevert
Actually I think this is affecting the website generally since the hosting move. Real performance problems. I think this from Celeste is the same thing,

"Quite a few people have complaint about the website and they have been unable to submit their records. Once they input all the info and press submit, the website shows a ‘The application did not respond in ti

[2018-11-13 14:57] andrewvanbreda commented on #99
Seem to be lots of problems in the Drupal log (may or may not be related), but probably want to deal with at some point. Seems to be a lot of icons it can't find.

[2018-11-16 15:58] BirenRathod commented on #99
@andrewvanbreda
I'm looking more into this but meanwhile I just checked the php-slow log generated by Pantheon and I found below logs, see if that helps.
[0x00007f2565414af0] http_post() /srv/bindings/148663b1de254fc8ba697afa697c1674/code/sites/all/modules/iform/client_helpers/helper_base.php:2360
[0x00007f2565414960] _get_cached_services_call() /srv/bindings/148663b1de254fc8ba697afa697c1674/code/

[2018-11-16 16:34] andrewvanbreda commented on #99
@BirenRathod
Um, assuming those numbers next to the file name are line numbers. It looks like all the problems are when it tries to talk to the Warehouse.
Are all Pantheon Indicia sites attached to the Live Warehouse having this problem (if their are other websites setup like this)

[2018-11-16 16:35] andrewvanbreda commented on #99
Indicia diagnostics on NPMS live isn't showing any issues.

[2018-11-16 16:42] BirenRathod commented on #99
@andrewvanbreda
NPMS is the first one using Indicia at present.

What is Indicia diagnostics?

[2018-11-16 16:42] andrewvanbreda commented on #99
Just a little page on Indicia sites which can show problems
https://www.npms.org.uk/#overlay=admin/config/iform/diagnostics

[2018-11-16 16:43] DavidRoy commented on #99
The second.  The Honey Monitoring Scheme is already on Pantheon, using the Indicia iForm without problems

[2018-11-16 16:44] andrewvanbreda commented on #99
Just messaging you on Skype

AVB edit: By "you" I mean Biren btw

[2018-11-16 16:44] BirenRathod commented on #99
@andrewvanbreda

Indicia diagnostic is only checking setting like variable path and some php extension. It doesn't check which bit of code is particularly slowing down.

[2018-11-16 16:47] andrewvanbreda commented on #99
I don't think it is unoptimised slow code as such, as it is a problem that it is appearing in lots of areas of code, whilst all talking to Warehouse.

[2018-11-16 16:48] andrewvanbreda commented on #99
The Honey scheme does have any php-slow problems? Same version of PHP?

[2018-11-16 16:56] andrewvanbreda commented on #99
What about this log.
Why so many .png problems?

Are so many logs filling up the Drupal database perhaps? I had this problem on another website

[2018-11-16 16:58] andrewvanbreda commented on #99
I am concerned about the number of log messages
https://www.npms.org.uk/#overlay=admin/reports/dblog

This might fill up the database

[2018-11-16 17:11] BirenRathod commented on #99
Those log messages will be deleted after sometime, so that is not a big problem.
Also, honey montoring dosen't have lots of attributes. so I don't see that's the problem but I will try to get php slow log of honey website.

It is not about CEH firewall either.

When I had a chat with Pantheon, they suggest that the PHP-slow log only generated in iForm and indicia_features modules. They mentioned t

[2018-11-19 15:05] andrewvanbreda opened #115 "NPMS user with two iRecord account causing issues"
There is an NPMS user who has two iRecord account but the first letter of the email address on one of the accounts.
NPMS is unable to link this user to the Warehouse.

[2018-11-19 15:37] BirenRathod commented on #115
@andrewvanbreda
select count(*) from indicia.samples
where deleted=false and created_by_id = 136364;
select count(*) from indicia.samples
where deleted=false and created_by_id = 167521;

These both have returned with 0 record.

[2018-11-19 17:41] andrewvanbreda commented on #115
@BirenRathod OK thanks for letting me know

[2018-11-20 11:52] andrewvanbreda commented on #99
Hi @BirenRathod @DavidRoy

I looked at this with John yesterday. It looks like it is probably something hogging warehouse time.
The time running NPMS reports (and probably other ones) is varying wildly because of this. For instance, we ran one of the reports once and it took 22 seconds, then next time it was 6.

We looked at some of the NPMS reports by eye and using an analyser, and the conclusion

[2018-11-20 11:52] andrewvanbreda commented on #99
Basically the problem probably isn't Pantheon/NPMS/connection issue

[2018-11-20 14:05] andrewvanbreda commented on #99
@BirenRathod
Is it possible for you to check activity on the database when the php slow errors occur (I think it is pg_stats).
We need to find what is running on the Warehouse when the slowness is occurring, or is it difficult to do?

Any ideas on how we can achieve this?

[2018-11-22 19:33] andrewvanbreda commented on #99
@NPMSSupport @sacrevert
Will await further feedback before deciding whether to close this issue.

General improvements made to database server (improvements not related to NPMS)
Also improved performance of the report shown to the user when they first go to a data entry page grid (website filter improvement,reversed the way the report is written to improve speed)

[2018-12-06 21:33] andrewvanbreda commented on #32
Closing this as address sync job will be redundant once Warehouse 2 is deployed and there is another issue open dealing with site performance (issue 99)

[2018-12-06 21:33] #32 closed

[2018-12-06 21:35] andrewvanbreda commented on #10
Hi @BirenRathod
Do we have a result from that SQL. Cheers

[2018-12-06 22:10] andrewvanbreda commented on #102
@BirenRathod I don't get this problem on my machine, however I see the training site has it. This is problematic to fix as I can't see the issue on my machine.
However I would like to try an experimental possible fix. Is it possible to put the attached file onto the test warehouse brc_reports/project/npms folder (replacing the existing file)

[2018-12-06 22:10] andrewvanbreda commented on #102
[user_info_download.txt](https://github.com/BiologicalRecordsCentre/NPMS/files/2655125/user_info_download.txt)

[2018-12-06 22:11] andrewvanbreda commented on #102
Ok, it didn't like .xml file type, so you will need to change it back to .xml

[2018-12-07 15:19] andrewvanbreda commented on #85
@DavidRoy @sacrevert
This issue hasn't had any progress recently, so I would like to progress it. As there has been a bit of time, we might be able to see whether the situation is getting better or worse.
It is a bit difficult just picking an issue up. What might be sensible is to rerun the original SQL which was used to get the following:

"example records where taxa_taxon_lists.deleted = 't' and

[2018-12-10 10:36] andrewvanbreda commented on #115
@NPMSSupport @sacrevert

This user was able to create two iRecord accounts with the same email address because he used a capital letter in one of his emails. iRecord should of recognised this as the same address and not created a separate account, I will raise this to get this issue fixed.

To resolve the issue, we checked the database to make sure this user hadn't created any sample data yet. We

[2018-12-10 10:36] #115 closed

[2018-12-10 12:02] andrewvanbreda commented on #61
Ran for new users @ 12:00 (approx) ->10/12/2018

[2018-12-10 14:28] andrewvanbreda commented on #96
@BirenRathod @sacrevert
I have looked at this issue further (sorry about the delay).
I have discovered the following.

- As previously mentioned, there are stars and slashes appearing in the mails sent by the site (e.g. registration mail).

- I think this is because the site wide mail system is not set to HTML mail here,
https://www.npms.org.uk/users/andrew-van-breda-na-116#overlay-context=users/a

[2018-12-11 14:05] andrewvanbreda commented on #99
@NPMSSupport
Celeste has confirmed that performance is good from the website now.
Note there may be further speed improvements that can be made with the reports' website filters further down the line, but I will make those independent of this issue.

[2018-12-11 15:30] andrewvanbreda commented on #44
@NPMSSupport @sacrevert
Changed this now. 5 minute change.
Note that I just changed it on the account page on the site. The User Download Info report I left as I don't think that is the worth the hassle to change. I might change it there in the future if I happened to be changing something else.

[2018-12-11 15:30] #44 closed

[2018-12-12 16:39] sacrevert commented on #85
@andrewvanbreda this was the issue I was going to run the SQL for, although on looking now I see that it was @DavidRoy who ran it initially. It would be more efficient for him to re-run whatever query he used to post the results in the first post in this thread, rather than me re-working it.

[2018-12-21 23:10] andrewvanbreda commented on #61
Ran for new users on the afternoon of 21/12/2018 (can't remember exact time I did it as I forgot to log it at the time and only remembered just now)

[2018-12-22 20:08] andrewvanbreda commented on #99
I think we need to re-open this and work on this before start of recording season. Part of the issue is having spoken to John the website is now less efficient in regards to Warehouse 2.

- Apparently for Warehouse 2 reports should just filter on survey, filtering on website actually slows reports down.

- A number of reports join to termlists_terms and then term. Actually join only to cache_terml

[2018-12-23 19:06] andrewvanbreda commented on #99
Further note from JVB, situation isn't so clear-cut in the case of the website filter. Sometimes it will help, but sometimes removing the website filter might make things worse.
Only do this alteration if report has poor performance.

[2019-01-02 14:46] BirenRathod commented on #10
@andrewvanbreda

I attached the result here.
[data-1546440267330_npms.zip](https://github.com/BiologicalRecordsCentre/NPMS/files/2721018/data-1546440267330_npms.zip)

[2019-01-03 11:09] andrewvanbreda commented on #10
@sacrevert @BirenRathod
Thanks for running that Biren
Darn, for some reason the Wildflower form is allowing saving of abundance without an image, thought this was fixed a while ago. It definitely has the problem as I just checked it. Will take a look at the code.

[2019-01-03 11:41] andrewvanbreda commented on #10
@sacrevert @BirenRathod
I think I can see what has happened. There is code in the form that would work, but indicia has changed the way it names things so more code gets ignored as the things it looks for don't have the same name.
Will have a look at correcting this soon.

[2019-01-03 11:49] sacrevert commented on #10
Do you mean saving an image without an abundance score? I don't think we have ever made the change that a photo is required with every record. Looking above it seems that there was an issue where a photo could be attached to a record for which the score was 0 (i.e. absent).

[2019-01-03 15:47] andrewvanbreda commented on #10
Hi @sacrevert
I think you raised that problem you mentioned separately?
However if you read from about the 21 Dec 2017 in this thread, you will see that I think I am in correct in saying that code was written to stop photos being submitted without an abundance at all.
On Inventory and Indicator this was easier as we could just make the abundance mandatory, however, on wildflower we need special co

[2019-01-03 16:04] andrewvanbreda commented on #10
@sacrevert Ok, I took a look. Actually it is working better than I thought, but there is a problem were it warns the user but the form still submits, this might explain why I never file in the option.

I suggest the following course of action, Oli can you just confirm this is ok

1. Change Wildflower to not allow photos without an abundance, this is already coded but there is a bug.
2. Change all

[2019-01-03 16:45] sacrevert commented on #10
Fine. This all tallies with my understanding. I was just querying the wording earlier.

All of the above actions are fine. But please make (3) low priority (i.e. I don't think it is worth worrying about above other separate issues with higher priority). Thanks

[2019-01-04 08:45] andrewvanbreda commented on #60
AVB: Note to myself.
On live it looks like all the text fields such as Address,Town are all now auto-syncing fine for edits. However this does not work for new registrations until an edit is made. Investigate why that is happening as that fix was definitely coded.
Also booleans such as Over 18 not syncing at all on live at the moment. This might be because the attribute on the Warehouse needs to b

[2019-01-04 09:44] andrewvanbreda commented on #60
AVB: Further note to myself. On my own machine the sync on registration is fine. Also I got a checkbox to sync ok, but not the over 18 one at the moment, there must be something "funny" about it.

[2019-01-04 10:41] andrewvanbreda commented on #60
AVB: Further note to myself - Actual my machine is working perfectly. The Over 18 checkbox just didn't have the sync option on. Just need to work out why live not working on live.

Further note: Over 18 box now syncing ok

[2019-01-04 14:17] andrewvanbreda commented on #60
Problem is that there is a few commits in dev that haven't been released to master.
Will ask JVB. Dev works fine on my machine, but moving to master causes the issue to happen.

[2019-01-09 11:11] andrewvanbreda commented on #61
Ran for new users @ 11:00 (approx) ->9/1/2019

Note: hopefully we won't need this sync job anymore very shortly.
Auto-syncing is now working for editing of fields.
It is not working when users sign-up as the master branch is currently missing a small bit of code in the develop branch.

[2019-01-11 13:29] andrewvanbreda commented on #61
(Probably last ever!) Ran for new users @ 13:15 (approx) ->11/1/2019

[2019-01-11 14:34] andrewvanbreda commented on #61
Syncing of addresses is now automatic....closing issue at last!

[2019-01-11 14:34] #61 closed

[2019-01-11 14:36] andrewvanbreda commented on #60
Having spoken to John, there are no plans to release dev to master anytime soon. As the extra code in the development branch in this area only relates to fixes with the syncing (and code tidying) the dev code for the easy_login.module file has been used on live. I have made a not of this.

[2019-01-11 14:36] #60 closed

[2019-01-14 15:38] andrewvanbreda commented on #42
@NPMSSupport @sacrevert
How would you like to approach this?. At the moment there is just one big Address box. Ideally I suppose you would like 3 single line boxes.
However we need to consider that existing users will have already filled in the first box will full address details?
So are we actually wanting Address 1 to be a bigger box still, the Address 2 and 3 to be single line?

[2019-01-14 15:46] sacrevert commented on #42
Probably Celeste and Rachel (@NPMSSupport) need to decide this one. Seems to me there might be two options:

1. Ask surveyors to update their profiles via email, and deal with the (no doubt messy) consequences
2. Try and auto-amend based on the logic that the information already entered will either have commas or line-breaks, and then ask surveyors to check. (And then deal with the consequences!)

[2019-01-14 16:30] andrewvanbreda commented on #42
@sacrevert @NPMSSupport
There are problems though with doing this. The manipulation would need to be done on the Drupal database, even if we managed to split up the addresses successfully, the addresses wouldn't be synced to the warehouse, as the code that does the sync won't fire with a database hack.
We would have to re-use the Address Sync tool to do it, but we would have to alter it so it unde

[2019-01-14 16:38] sacrevert commented on #42
OK, fine, scrap idea 2, sounds like a pointless headache.
I presume the "bigger box" thing is just about how it is displayed to users? Not about anything relating to the underlying database (i.e. size of text object accepted)?
If that's the case it sounds fine to me. Ultimately I suppose we are just going to have to ask users to update their addresses manually. I suppose we don't want it so big th

[2019-01-14 16:59] andrewvanbreda commented on #42
@sacrevert A warning might be a bit problematic, as it is harder to do things on the account. I will see what I can do in regards to get something sensible working. Perhaps on the Pantheon Test site first.

[2019-01-14 17:01] sacrevert commented on #42
OK, well, let's forget the warning until we've heard from @NPMSSupport I'm not very keen to make this complicated. Probably an email to surveyors is the simplest solution.

[2019-01-14 18:09] andrewvanbreda commented on #42
@sacrevert Would we need to email surveyors?
New users would just fill in the 3 boxes.
Existing user's wouldn't change anything.

[2019-01-14 19:00] sacrevert commented on #42
I thought the point of this was to make mail merge type things easier for plantlife. I was assuming that if a proportion still had all the information in one field then it would require manual sorting. Await @NPMSsupport comment

[2019-01-15 14:25] NPMSSupport commented on #42
Hi Both,

I'd be inclined to agree with Oli that No. 2 is preferable if possible as
it wouldn't rely on volunteers first opening their emails and then
actioning what we ask.

Thanks,
Rachel

*NPMS Support*

On Mon, Jan 14, 2019 at 3:46 PM Oli Pescott <notifications@github.com>
wrote:

[2019-01-15 15:30] andrewvanbreda commented on #42
@NPMSSupport
I think I might need to think about this hard. It clearly isn't as simple as when we first thought about the requirement.
I realise there is another related problem. When the Request Survey Forms box is added to the user account page, we will have the same problem. Old users will not have this synced to their warehouse accounts.
It was always show that they didn't Request A Survey For

[2019-01-15 15:44] andrewvanbreda commented on #42
@sacrevert  @NPMSSupport
OK, that was a quick think.
The sync job is going to be too slow to sync all accounts at once even if we changed it.
However I have had an idea which won't require anything to be done from your end.

Go with the plan to try to split up the original Address field using computer based logic, but instead of trying to do this at the database end, we will leave the database and

[2019-01-15 16:05] sacrevert commented on #42
Like it, good idea! Cheers Andy :)

[2019-01-15 16:26] NPMSSupport commented on #42
Thanks Andy! That sounds sensible and realistic.

[2019-01-16 14:27] andrewvanbreda commented on #91
@BirenRathod
Could you run this code on live, will give me an idea of the number of fixes required in this area and therefore the best way to approach the correction sql (one or two problems would be best fixed with simple statements, lots may require something more complex)

select sm.id as sample_media_id, s.id as sample_id
from indicia.sample_media sm
join indicia.samples s on s.id = sm.sample_

[2019-01-16 15:58] andrewvanbreda opened #116 "Change columns on User Information Download"
Remove the active link on the squares column.
Also keep the active user name column, but make a second version of it without an active link.

This is because the download currently contains raw html

[2019-01-16 16:07] sacrevert commented on #116
@NPMSSupport to confirm priority. Spreadsheet manipulations may be sufficient in the short term

[2019-01-16 18:07] JulieDayD opened #117 "Inconsistent habitat classification"
Some plots in the dataset have inconsistent habitat classification. This could arise if a plot genuinely changes habitat over time but this does not seem to be the case. This looks like it is an error in data entry. In the 2015-2017 dataset, there were ~115 plots that changed habitat classification. Below is a randomly extracted example to illustrate this issues (extracted from the 2015-2017 EIDC

[2019-01-16 18:12] andrewvanbreda commented on #116
I need to change the report anyway for the Address field logic and Request Survey Forms logic we spoke about
Much more efficient to do all at once.

[2019-01-16 22:00] BirenRathod commented on #91
@andrewvanbreda

I attached the result here.
[data-1547675770271_16012019.zip](https://github.com/BiologicalRecordsCentre/NPMS/files/2766233/data-1547675770271_16012019.zip)

[2019-01-17 13:09] andrewvanbreda commented on #91
hi @BirenRathod
Ok thanks for this. That is more data than I had hoped. Will have to deal with this using SQL, although will need to be careful running that against live.

Will let you know about correcting this.

Andy

[2019-01-18 11:36] andrewvanbreda opened #118 "Inconsistent use of red text on User Info Download report compared to other reports"
AVB: Note to myself, the allocation_date_start/allocation_date_end filters do not seem to work as intended on User Info Download 2.

[2019-01-21 14:17] andrewvanbreda opened #119 "Square details per year - Years only go up to 2016"
Plantlife have report that the "Square details per year" report only goes up to 2016.
As the columns cannot be generated automatically, the report needs changing.
Also I think we need to change the last year (currently 2016) to have a pair of dates it is between, currently it is effectively 2016 or later.

[2019-01-21 15:34] andrewvanbreda commented on #50
I realised a problem we have with this change is that users default to Request Survey Forms on, this is easy for new users, however existing users will have the checkbox switched off, there is no Drupal setting for this.
This means we have to fix this programatically.
We can use this kind of code on a Drupal page with PHP filter on to process users (although I need to pay attention to make sure th

[2019-01-21 16:09] BirenRathod commented on #50
@andrewvanbreda
I have taken a backup of database of test.brc.ac.uk/npms_training and site backup from here -> http://test.brc.ac.uk/npms_training/admin/config/system/backup_migrate.

[2019-01-22 11:36] CelesteSkinner commented on #119
Hi @andrewvanbreda can we please change the year fields?
Currently shown as:

2014 and 2015 are not needed. Instead can they show samples taken in 2016 , 2017 and 2018 separately please rather than all together as currently are under 2016 samples.

Also, any possibility of adding a separate column that shows when the square was allocated to the user? This is more an enhancement rather than a prior

[2019-01-22 11:57] sacrevert commented on #119
2015 was a full NPMS survey year, are we sure it is not needed? @CelesteSkinner

[2019-01-22 13:40] NPMSSupport commented on #119
You're right @sacrevert , we will also need 2015 as standard if we can, and have a column for every survey year. But the main thing being here, if there's only 3 columns currently available for years, we need the most recent, for current needs.

[2019-01-22 15:22] andrewvanbreda commented on #119
@NPMSSupport @CelesteSkinner @sacrevert
I have changed the dates. I have also managed to override the column titles without changing the original report.
Note this does have the result of moving the position of the columns thought in case you are wondering why they have shifted to the left.

Note the definition of a "sample" is a visit, it is not a count of species.

We still need to change the or

[2019-01-22 15:39] andrewvanbreda commented on #119
More information from Rachel on the new column
"If possible, is there the option to add another field for date the square was allocated (not when the user registered). This would make processing a lot more efficient and negate the need to cross reference a separate report to filter out those that have signed up since the end of August. – Basically we don’t want to email folk asking if they want to

[2019-01-22 15:40] andrewvanbreda opened #120 "Possible new report requirement"
Information from Rachel
"Celeste and I have had a good chat today and discussed possibly the need for a new report for the purposes of contacting surveyors in relation to their survey effort or training, i.e. rows by surveyor/username, then No. squares, no. samples each year etc. Basically a lot of it appears to be covered in issue #59. As the report by squares, obviously has duplicates in users w

[2019-01-23 12:39] NPMSSupport commented on #119
Hi @andrewvanbreda  Yes @CelesteSkinner and I mean the date the allocation was approved please. Is that a fairly big job that will take time, or a relatively straightforward configuration?

[2019-01-23 13:48] andrewvanbreda commented on #119
@NPMSSupport I can't really tell at the moment. It depends a lot on how the change interacts with the existing report code, is a lot of re-testing required is a consideration. I also need to consider the implications that more than one user might be allocated to a square, and the implications of displaying the information.
It is just very hard to tell until I start.

[2019-01-24 09:51] NPMSSupport commented on #119
Thanks @andrewvanbreda I think in that case, @CelesteSkinner and I will need to use without for this round, as we need to get the emails out at start of Feb. And cross ref with the allocated squares report, to remove folk that signed up since Sept last year. But definitely something worth having for future reports to avoid long processing times.
Thanks

[2019-01-24 14:39] andrewvanbreda commented on #119
@CelesteSkinner @NPMSSupport @sacrevert
I have just looked into this. The report changes are actually quite easy, I have made most of them already.
However there is a problem. The date the approval is made is not currently being logged.
I only have the date the user requested the square (or the administrator assigned the square to the user).
I do not have the date available when the approval is ma

[2019-01-25 09:03] andrewvanbreda commented on #50
@BirenRathod OK that is great thanks. Sorry for slow reply, for some reason I didn't seem to get a Github notification.

[2019-01-25 09:06] NPMSSupport commented on #119
Thanks @andrewvanbreda that sounds great. Regarding the allocation date, just so I know, what date is currently used when we go to "user information download" and filter by "User allocated square on or after this date". Does that use  the date the user requested the square or the administrator assigned the square to the user? Either way, I think the date the administrator assigned the square to th

[2019-01-25 09:51] andrewvanbreda commented on #50
@BirenRathod
What I wanted to do isn't working, but then I realised the training site isn't up to date so it won't work.

Can this be managed by me in the same way I manage Pantheon live?
If not, the Training Site form needs being up to date with the Master Branch, however indicia_features needs to be running Develop, as there is some sync code in there that John says won't be going live anytime s

[2019-01-25 09:54] DavidRoy commented on #50
@BirenRathod @andrewvanbreda Do we still need a separate training site now we have live-test-dev on Pantheon?  Could test or dev be used for user testing so we have fewer sites to maintain?

[2019-01-25 10:16] CelesteSkinner commented on #119
Hi @andrewvanbreda and thank you! The request date is fine - the approval date is just a few days later so won't affect the purpose of the report. This currently show the registration date, will it have a separate column for the date the square was allocated?

@NPMSSupport when we filter the allocated squares on or after certain dates, the information given is when they were approved but the repor

[2019-01-25 10:23] BirenRathod commented on #50
@DavidRoy
I have already asked @andrewvanbreda  to stop using training site on our BRC server. He can use Pantheon version of test site as training site. In my view no need to use.

[2019-01-25 10:49] BirenRathod commented on #50
@andrewvanbreda

For now, I have updated the code for iForm & indicia_features from develop branch on training site.

[2019-01-25 11:41] andrewvanbreda commented on #50
@BirenRathod @DavidRoy @NPMSSupport @sacrevert
I think the training site existing not primarily for testing purposes (I test on my own machine), but is in use for Training Workshops for users, or is it not being user for that anymore.
I do use it for final confirmation testing as it does have data on it which my machine doesn't really.
Its primary purpose was never for testing, but was always conv

[2019-01-25 11:41] andrewvanbreda commented on #50
@BirenRathod
Thanks for the updates by the way. Will take a look.

[2019-01-25 11:46] BirenRathod commented on #50
@andrewvanbreda
No problem.

[2019-01-25 12:09] andrewvanbreda commented on #119
@NPMSSupport @sacrevert @CelesteSkinner
The date used in "User allocated square on/before date" is the date the square was allocated by administrator, or when the user requested it on the map.
It is not the date of approval (I can't remember off top of my head whether a square assigned by an administrator is auto-approved or not).

Be aware the report already has a feature where the squares displa

[2019-01-25 13:22] CelesteSkinner commented on #119
If the dates can only be displayed in brackets instead of a separate column @andrewvanbreda , I'll let @NPMSSupport decide on Monday if this is needed, as it might make things complicated for us if we have to start manipulating the info each time is downloaded. Report enhancement TBC please. Thank you

[2019-01-25 13:25] andrewvanbreda commented on #119
@CelesteSkinner
I can put it in a separate column then, it doesn't make much different to me, I just thought it would be better.
It there is more that one square then the dates would be in the same order as the squares, comma separated (I don't think there would be many with multi squares).
So most rows would be a square with a single date in separate column

[2019-01-25 13:27] CelesteSkinner commented on #119
Perfect solution @andrewvanbreda , waiting for confirmation from @NPMSSupport

[2019-01-25 13:34] andrewvanbreda commented on #119
@CelesteSkinner OK will wait for confirmation before finishing coding (3/4 already done)

[2019-01-25 14:52] sacrevert commented on #119
I would encourage putting things in separate columns in general. Separating out something in brackets is much more of a faff than concatenating things in my experience.

[2019-01-25 15:00] andrewvanbreda commented on #50
@NPMSSupport @CelesteSkinner @sacrevert
Looks like this is working, so should be able to put the Request Survey Forms checkbox live on Monday. Will required some downtime so I can sync existing users

[2019-01-28 11:45] andrewvanbreda opened #121 "Do we need new spam protection"
@NPMSSupport @sacrevert @BirenRathod

Do we need some better spam protection on NPMS. I know for CEDaR Northern Ireland I have used Spambot that blocks accounts based on blacklists.

This morning I was looking at the (accounts so I could work out how I am going to split the Address field into 3 separate fields).
However I noticed suspicious looking accounts. Even ones where the County as USA, and

[2019-01-28 11:48] BirenRathod commented on #121
@andrewvanbreda
Is it for NPMS?

[2019-01-28 11:57] CelesteSkinner commented on #50
Great news @andrewvanbreda !

[2019-01-28 12:32] sacrevert opened #122 "Verification message emails to surveyors"
At the moment it does not seem as though NPMS surveyors are receiving emails when species records are rejected or queried by verifiers. We need to think about how this might work, because although at the moment it is simple for volunteers, they are not getting the opportunity to learn, or engage with, local verifiers.

[2019-01-28 12:51] andrewvanbreda commented on #42
@sacrevert @NPMSSupport
Hi, Just coding the change to the report. I has occurred to mean if I put in the logic to split the address field into 3 for existing users, then do we need the new fields at all?
If we have 3 fields and try and split the existing field as well, things start becoming logically difficult.
For instance what happens if Address 1 has more than one line entered, but they also fi

[2019-01-28 14:03] sacrevert commented on #121
Hi @BirenRathod yes, for the NPMS. I would be happy for whatever spam protection that is relevant to be enabled. Cheers

[2019-01-28 14:05] sacrevert commented on #42
I think just split the existing field. Presumably this means that all (including new) users would subsequently see three fields?

[2019-01-28 14:08] BirenRathod commented on #121
@andrewvanbreda
Only using spambot doesn't resolve this problem. I will let you soon once I resolved this as I done on other sites.

[2019-01-28 16:50] andrewvanbreda commented on #42
@sacrevert
New users would see just one field also. We would just split it up in the User Info Download report logic.
I can't show different fields to existing and new users.
Basically to users it would be the same as it is now, it is only an administrator reading the user report that would see the columns split into 3

[2019-01-28 16:59] sacrevert commented on #42
OK, so that would mean that if we went with this option we would benefit from a message telling the user to separate parts of the address using commas or on new lines?

[2019-01-28 20:22] andrewvanbreda commented on #42
Yes, that might be a good idea.
I checked 8 random users. One of them had put their address as one long line.
The others were a combination of separate lines and commas for separation. So there is evidence that an advisory message will help a bit

[2019-01-28 20:34] andrewvanbreda commented on #122
@sacrevert @DavidRoy
Verifications would generate a notification, and this notification would generate an email.

I suspect that perhaps the notification is being generated by iRecord's verification system, but people have no way on NPMS to view the notification at the moment.
I suspect if they have an iRecord account they might see a notification.
Also they need to be able to subscribe to email n

[2019-01-29 09:22] sacrevert commented on #122
@NPMSSupport @DavidRoy @andrewvanbreda  I think we need to integrate this aspect of iRecord into the NPMS website. Could we duplicate the "notifications" screen of iRecord on the NPMS website, and provide the email notification management options as well within the account management pages?

[2019-01-29 11:15] NPMSSupport commented on #119
Thanks @andrewvanbreda and @CelesteSkinner  Apologies I wasn't around yesterday.

Yes, as agreed above. Separate columns are needed for filter. Thanks again!

[2019-01-29 11:24] sacrevert opened #123 "Option for surveyor to opt-out of survey materials"
Very similar to #50 but to allow surveyors to opt-out of receiving all printed materials

[2019-01-31 13:41] BirenRathod commented on #121
@andrewvanbreda , @sacrevert

I have now enabled the Spambot, Captcha and User restrictions modules.
I found that these two users Rairyok, Schultz have used common email address, so I could add in user_restrictions rule, so they won't be able to succeed to create new account next time.
@andrewvanbreda I haven't deleted any of those users yet, but you can now delete them. if you find any new spam u

[2019-01-31 19:31] andrewvanbreda commented on #121
@BirenRathod @sacrevert
Thanks Biren,
I identified 19 other accounts to block by examining the User Info Download screen for United States accounts, these were clearly spam. Add 3 new User Restrictions as a result

[2019-01-31 19:31] #121 closed

[2019-01-31 19:41] BirenRathod commented on #121
@andrewvanbreda
Well done. Now it will be a very slim chance to create spam user.

[2019-02-01 16:40] andrewvanbreda commented on #122
@NPMSSupport @DavidRoy
This is fine in theory, in practice there is one potential fly in the ointment. I do not think the notifications system is website limited and is run on the central Warehouse, so it is suitable for a site like iRecord which is showing all the data.
Having said that, if they do end up being able to manage all iRecord notifications when logged it to NPMS it is probably OK.
We

[2019-02-01 16:47] DavidRoy commented on #122
One option is to improve the messaging so that it is clearer that it comes from iRecord but is about the NPMS.

Second option is to consider using the milestone system which can generate notification when set criteria are met

[2019-02-01 17:00] sacrevert commented on #122
Thanks both. I think this will be something but that we need to discuss the prioritisation of at our upcoming meeting

[2019-02-03 22:41] andrewvanbreda commented on #119
@CelesteSkinner @NPMSSupport @sacrevert
Hi, I have coded this over the weekend.
Allocation dates will be available.
Also I changed report so it goes up to 2021, so we don't have to change it for a few more years (there will obviously be zeros for future dates)

@BirenRathod  could you pull the indicia-reports/projects/npms folder onto the live warehouse, there should be two new reports:
allocated_

[2019-02-04 09:05] BirenRathod commented on #119
@andrewvanbreda Both reports gone live.

[2019-02-04 09:45] andrewvanbreda commented on #119
@BirenRathod
Thanks Biren, that worked perfectly.

[2019-02-04 10:00] #119 closed

[2019-02-04 10:15] andrewvanbreda commented on #96
Hi @BirenRathod
Just wondering if you have any thoughts on this. Without html mails the registration email is lacking any active links, including the link of completing the registration. Probably doesn't make best first impression..

[2019-02-04 17:09] andrewvanbreda commented on #42
@BirenRathod
Hi Biren, Could you pull indicia-reports/projects/npms onto live warehouse again please, I have updated user_info_download_2.xml
Thanks

[2019-02-04 17:57] BirenRathod commented on #42
@andrewvanbreda

Pulled it on live warehouse.

[2019-02-04 20:16] andrewvanbreda commented on #42
@BirenRathod That is perfect, thanks Biren.

[2019-02-04 20:28] andrewvanbreda commented on #42
@sacrevert @NPMSSupport @CelesteSkinner
This is now live.
Address field now says this:
"House/flat address with street (please separate parts of the address using commas or new lines)."

The Address field is now split into 3 using logic on the User Information Download page.
It seems to work perfectly most of the time, however there are exceptions, but to me these don't seem to be serious problems

[2019-02-04 20:49] andrewvanbreda commented on #116
@NPMSSupport @CelesteSkinner @sacrevert
These changes have been live (for a few days now).
Note the link on the User column only goes to Google at the moment. This will eventually go to a user administration page, that is covered by another issue.

[2019-02-04 20:49] #116 closed

[2019-02-04 21:02] andrewvanbreda commented on #102
@CelesteSkinner @sacrevert @NPMSSupport
Think I fixed this a while ago (this report has changed a lot recently so can't remember exact order of events). Either way this is now fixed.

[2019-02-05 11:39] andrewvanbreda commented on #118
AVB not to myself:
Looked at this quickly as working on this report and Squares Details Per Year report, both of which now give allocation details.
The allocation_date_start/allocation_date_end filters work ok on User Information Download 2, however the use of red text is confusing when compared to other reports.
Following changes to be made
1. Make sure that the Allocated Squares column only coun

[2019-02-07 14:20] andrewvanbreda commented on #91
@BirenRathod
Am looking at the data for this again and can't adequately assess what is going on, is it possible to run this more detailed version of the SQL query for me. Cheers

select sm.id as sample_media_id, s.id as sample_2_id, s.created_by_id as user_id, sav.int_value as sample_1_id, pav.person_id as person_id, pav.id as active_attachment_id,
sm.created_on as media_created_date,s.created_on

[2019-02-07 14:41] BirenRathod commented on #91
@andrewvanbreda

Here is the result attached.
[data-1549549505042_NPMS.zip](https://github.com/BiologicalRecordsCentre/NPMS/files/2841277/data-1549549505042_NPMS.zip)

[2019-02-07 15:34] andrewvanbreda commented on #91
@BirenRathod Thanks Biren, that looks like it might be right right kind of data.....hopefully! Cheers!

[2019-02-07 16:12] andrewvanbreda commented on #91
AVB not to myself: Need to look at this further as there are problems with this result. For instance, look at person_id 36500, this person has no sample_1_id for a row, and the sample media created_on is listed as earlier than the sample created_on. However looking at the systems this sample has no media listed in NPMS or in the warehouse UI. Investigate and check SQL.

[2019-02-08 11:46] andrewvanbreda commented on #91
Hi @BirenRathod
There is stupid typo in both the above SQL statements which resulted the in the wrong data always being returned. Is it possible to run this instead. Have tired to test it as much as I can on my machine, it is just a bit difficult as I obviously don't have the data.
Thanks

select sm.id as sample_media_id, s.id as sample_2_id, s.created_by_id as user_id, sav.int_value as sample_1_i

[2019-02-08 11:51] BirenRathod commented on #91
@andrewvanbreda

Here is the result.
[data-1549626610233_NPMS_08022019.zip](https://github.com/BiologicalRecordsCentre/NPMS/files/2844959/data-1549626610233_NPMS_08022019.zip)

[2019-02-08 12:24] andrewvanbreda commented on #91
@BirenRathod
Brilliant, thanks for quick response. Will take a look and advise, just a pity that it looks like there are even more corrections to do than I initially thought.

[2019-02-08 13:16] andrewvanbreda commented on #91
@sacrevert @BirenRathod
Oli are you Ok for us to go ahead and try and correct this?
My logic is simply that if a picture created_on is earlier than the created_on of the sample it is attached to, then it must of been intended for sample 1 and was attached to sample 2 because of the bug.
(i.e pictures cannot be created before the sample they are attached to).
So there seem to be about 900 fixes to

[2019-02-08 13:22] BirenRathod commented on #91
@andrewvanbreda , @sacrevert

Whom are you referring in us? I don't think Oli has got access of the database to change that.

[2019-02-08 13:40] sacrevert commented on #91
@andrewvanbreda I'm happy to go ahead with this change, particularly given that you have a user where the error is clear and that can be checked before implementing wholesale.

[2019-02-08 14:04] andrewvanbreda commented on #91
@BirenRathod I meant really is Oli happy to go ahead and for me to write some code for you to execute. I will try and write something safely and left you know.

[2019-02-08 14:09] BirenRathod commented on #91
@andrewvanbreda
Yes, No problem. Let me know when your script is ready. Also about your query, I can take a backup before running your query, and I will not do that today probably Monday is the ideal day to do something like this.

[2019-02-08 14:24] andrewvanbreda commented on #91
@BirenRathod Yes ok, that is a good idea.

[2019-02-08 20:01] andrewvanbreda commented on #112
@sacrevert
I have changed a couple of messages as they are customisable on the edit tab so is an easy change (in the hope we can close this issue).

Two changes now read:

The data on this form has been locked for editing because data entered before 2017 has been archived. Please contact support@npms.org.uk if you need to amend the data (note that it is still possible to view all the data by click

[2019-02-08 23:46] sacrevert commented on #112
I think the first message is most important, so happy to close this. Would be good to change the other one eventually, but this is fine for now

[2019-02-08 23:46] #112 closed

[2019-02-09 09:57] andrewvanbreda commented on #112
OK good. Am always happy to have an issue closed! One down.....

[2019-02-10 16:31] andrewvanbreda commented on #91
Hi @BirenRathod , the following is the SQL we need to process just one person first. Once we have got that working we can try to process the others.

[2019-02-10 16:31] andrewvanbreda commented on #91
DO
$do$
declare sample_media_row_to_correct RECORD;
BEGIN

FOR sample_media_row_to_correct IN
select sm.id as sample_media_id, s.id as sample_2_id, s.created_by_id as user_id, sav.int_value as sample_1_id, pav.person_id as person_id, pav.id as active_attachment_id,
sm.created_on as media_created_date,s.created_on as sample_2_created_date
from indicia.sample_media sm
join indicia.samples s on s.id

[2019-02-12 09:26] andrewvanbreda commented on #99
@BirenRathod @sacrevert
I just had a thought on perhaps getting us some extra speed (and simplifying reports a bit also). We no longer have selectable private plots anymore, so the list is going to remain the same forever. This means we are wasting resources checking the database for this and we might as well just have a hard list of ids in the report configuration to check.
This will remove a lef

[2019-02-12 09:41] sacrevert commented on #99
Sounds very sensible. I suppose the only consideration is that, in the future, it is conceivable that a private plot might become public (e.g. due to a new landowner or whatever). I'm happy that this will probably be a rare occurrence, and so something that we can deal with manually by editing the hard list of ids. However, I suppose we just need to make sure that the status of a private plot is d

[2019-02-12 10:26] andrewvanbreda commented on #99
@sacrevert
I don't think this will affect my suggestion. The system will behave the same way. Plots that are private will still do exactly the same thing they do now.
Also that hard-list of IDS will be in page configuration, so can be changed easily.

[2019-02-12 11:13] BirenRathod commented on #99
@andrewvanbreda
Here is the attachment.
[data-1549969351681_NPMS_Plots.zip](https://github.com/BiologicalRecordsCentre/NPMS/files/2855470/data-1549969351681_NPMS_Plots.zip)

[2019-02-12 12:04] andrewvanbreda commented on #99
@BirenRathod Thanks Biren.
Quite a few there but probably just about manageable in a hard list.
Will change the code. Cheers

[2019-02-12 15:19] sacrevert commented on #76
@NPMSSupport @sacrevert need to decide how this relates to Privacy Notice and Landowner Permission letter. Also, how we flag the information as being permitted to transfer to new surveyor.

[2019-02-13 10:01] andrewvanbreda opened #124 "Duplicate allocated user details shown for square details report"
Reported by Rachel
The first is more a flag up. Just to make you aware, when I download the report on square details, there are a number of squares (just 11) that show “2” in the No. of allocated users field. Double checking who is allocated, it just shows the same email address for the allocated user twice (so is counting 2), so thankfully it is only one user but records 2.

[2019-02-13 11:18] andrewvanbreda opened #125 "Viewing user account View tab doesn't display Request Survey Form"
On My Account page View Tab, there is a label for Request Survey Form but no value next to it. Seems to be related to it being a checkbox.
Not sure if it is Indicia doing this or Drupal

[2019-02-13 11:20] andrewvanbreda commented on #124
AVB note to myself, there is more info from Rachel in email sent to me 10:55 13/2/2019

[2019-02-13 13:38] andrewvanbreda commented on #124
I have checked that report and the reporting is actually correct.
Some rows do actually have two separate users allocated to them, these can be seen on the bottom grid on the Square Details Per Year page, there is a column that shows you which users are allocated.

The duplicate ones where the same user is allocated twice is also correct (reporting wise anyway), as those users have been allocated

[2019-02-13 16:08] andrewvanbreda opened #126 "Port NPMS to Drupal 9"
NPMS needs porting to Drupal 8
Two areas I can think of that are of immediate concern.

- The indicia_features easy_login module has had changes to fix syncing of user account fields to the Warehouse. These definitely haven't been ported to Drupal 8

- Less off a concern is there might be a a few bits of Drupal specific code in the NPMS forms. If this is the case then the Drupal specific code shou

[2019-02-18 10:07] andrewvanbreda commented on #99
Private plots changes now coded and awaiting go live.

[2019-02-18 23:37] andrewvanbreda commented on #99
Private plot change now live

[2019-02-19 09:49] andrewvanbreda opened #127 "Some users allocated same square twice"
The Square Details Per Year report is showing some users are allocated the same square twice.
Looks like the report is right, so we need to work out why the happened.

The only way I can think of getting a clue is to check the timestamps on the person_attribute_values.

[2019-02-19 09:51] andrewvanbreda opened #128 "The Square Details Per year report is showing some users in red (unapproved) even though they aren't on the unapproved squares list."
Look at email from Rachel 18/2/2019 16:00

The Square Details Per year report is showing some users in red (unapproved) even though they aren't on the unapproved squares list.
Once clue is searching for the user doesn't not report a Drupal account (may be a name change or email change).

[2019-02-19 10:43] andrewvanbreda commented on #128
Looks like report is missing the following parameters, change report to include these

ignore_square_dates_before
ignore_registration_dates_before

[2019-02-19 11:27] andrewvanbreda commented on #99
@BirenRathod
The get_my_squares_and_plots report has been updated. Could you pull the projects/npms reports folder on live sometime please. Shouldn't need maintenance mode as the changes are transparent to the user. Thanks

[2019-02-19 11:47] BirenRathod commented on #99
@andrewvanbreda

I pulled it on live warehouse.

[2019-02-19 11:56] andrewvanbreda commented on #99
@BirenRathod Thanks Biren, looks to have worked.

[2019-02-20 13:13] sacrevert opened #129 "Impacts of 18 or over checkbox"
Does this need to have any downstream impacts?
Currently:

Nothing changes depending on its selection.

[2019-02-20 13:20] DavidRoy commented on #129
I think it should be removed as it serves no purpose that I can see.  More importantly it is not mentioned in the privacy notice and GDPR expect a reason to be given for collecting any personal information.

[2019-02-20 13:32] sacrevert commented on #129
It's there to ensure that we are not allowing under 18s to take part without parental or guardian involvement. Presumably this type of child safety check trumps GDPR? Perhaps checking the box just needs to mean that registration cannot be completed, so that we are not storing information on minors?

[2019-02-20 13:44] DavidRoy commented on #129
GDPR consider children to be under 13.  I take the view that you are not aiming the scheme at children and therefore do not need specific action targeted at that audience.  That's the approach we've taken elsewhere, although in other privacy notices we say 'Do not use this website if you are under the age of 13'.

[2019-02-20 14:28] NPMSSupport commented on #129
I think I will need to check this with Felicity when she is back next week also as our safeguarding officer. My understanding was that we don't have under 18 volunteers. This could have implications for public liability insurance as well as GDPR. If we cannot have volunteers below 18, as @sacrevert says, perhaps it should stop the registration process. But I'd need that confirming. Other wise, all

[2019-02-20 15:13] andrewvanbreda opened #130 "Work towards decommissioning current training site"
There are currently too many NPMS sites to maintain.
Decommission training site.

Alternatives might include

1. Using a training checkbox on NPMS live site accounts. However there are problems with this approach as training is held at the occurrence level, not sample level. This means samples with training occurrences could look like genuine samples that are empty.
2. We could use Pantheon Dev or

[2019-02-21 10:31] andrewvanbreda commented on #128
AVB: Note to myself, I think the User Info Download also need ignore users before date, as it currently seems to only have ignore squares before date

[2019-02-21 14:55] andrewvanbreda commented on #128
@BirenRathod I have updated 3 reports.
Could you pull the projects/npms reports folder onto the live warehouse (these are reports only administrations can see, so this is a relatively safe change)
Thanks

[2019-02-21 16:01] BirenRathod commented on #128
@andrewvanbreda
I pulled all three reports.

[2019-02-21 16:34] andrewvanbreda commented on #128
@BirenRathod
Thanks Biren. Looks to be working fine.

@CelesteSkinner @NPMSSupport @sacrevert
The 2 reports on the Square Details Per Year page now have 2 new limiters.
Users are not included if they registered before 01/01/2014
Square are not included if they were created before 01/01/2015
These two parameters are consistent with other reports and I think were introduced to limit data from transi

[2019-02-21 16:34] #128 closed

[2019-02-22 15:01] andrewvanbreda commented on #127
@sacrevert @CelesteSkinner @NPMSSupport
I have investigated this in detail and I have the following conclusions.

1.
I have managed to correct the users who had 2 squares attached to the same user.
This was simple, just masquerade and remove one of  the allocations from their My Square page.
Note there are still 3 squares attached to more than one user, one of them is attached to someone with the

[2019-02-22 15:01] #127 closed

[2019-02-26 15:56] BirenRathod commented on #91
@andrewvanbreda
This function ran successfully.

[2019-02-27 09:25] andrewvanbreda commented on #91
@BirenRathod
It has run, but the code doesn't seem to have done what I wanted, my code must be wrong. I have sent an email to you about it.
Thanks

[2019-02-27 14:20] BirenRathod commented on #91
@andrewvanbreda
Here is the result of that query.
[data-1551277102369_sample_photo_27022019.zip](https://github.com/BiologicalRecordsCentre/NPMS/files/2910645/data-1551277102369_sample_photo_27022019.zip)

[2019-02-27 15:44] andrewvanbreda commented on #91
@BirenRathod
Thanks Biren. I am going to have to think about this hard, the results are very confusing. It does seem to have run and done something. However there are very strange results for this user.

[2019-02-27 15:57] andrewvanbreda commented on #91
@BirenRathod Hi Biren. Is it possible to run this. Hopefully will give details of exactly what has happened with this user's image data and which sample's they are now attached to. Cheers

select sm.id as sample_media_id, s.id as sample_2_id, s.created_by_id as user_id, sav.int_value as sample_1_id, pav.person_id as person_id, pav.id as active_attachment_id,
sm.created_on as media_created_date,s.c

[2019-02-27 16:16] BirenRathod commented on #91
@andrewvanbreda
Here is the result.
[data-1551284072674_Sample_images_27022019.zip](https://github.com/BiologicalRecordsCentre/NPMS/files/2911194/data-1551284072674_Sample_images_27022019.zip)

[2019-02-27 16:30] andrewvanbreda commented on #91
Thanks @BirenRathod Looks like that data might provide a few answers. Cheers. Will get back to you.

[2019-03-01 11:00] andrewvanbreda commented on #91
@BirenRathod Am mega confused!
Some images now appear on two samples. e.g. sample_media id 3744 is appearing on both these samples. I don't see how this can be. Will try to ask John
https://www.npms.org.uk/inventory-recording-form-2015?sample_id=1852561&edit=
https://www.npms.org.uk/inventory-recording-form-2015?sample_id=1895285&edit=

[2019-03-01 11:20] BirenRathod commented on #91
@andrewvanbreda

I have used these two queries (included result here) to find out the problem, see if that make sense.
1. SELECT * FROM occurrences WHERE sample_id in (1852561,1895285);
    [data-1551438991931__occurrences.zip](https://github.com/BiologicalRecordsCentre/NPMS/files/2919196/data-1551438991931__occurrences.zip)
2. SELECT * FROM occurrence_media om
LEFT JOIN occurrences o ON o.id = om

[2019-03-01 12:29] andrewvanbreda commented on #91
Hi Biren,
Thanks. I think the issue though is with the sample media. It looks like there is sample media caching I wasn't aware of in the cache_samples_nonfunctional table. So my plan is to try and automatically fire cache table updates.

Could you try running this, this should make the system think those media items have been updated again and will automatically update the cache table.

update in

[2019-03-01 12:45] andrewvanbreda commented on #91
@BirenRathod Sorry, I forgot to tag you in above message, just making sure you get it.

[2019-03-01 14:16] andrewvanbreda commented on #91
Actually, not sure that will work, might need to update the sample rows, but we will try the sample_media query I sent first and if that doesn't work I will send another one for changing sample.updated_on

[2019-03-01 14:18] BirenRathod commented on #91
@andrewvanbreda
I just updated those records, see if that make difference.

[2019-03-01 14:26] andrewvanbreda commented on #91
@BirenRathod Thanks Biren. Will wait a bit before I check to make sure scheduled tasks run

[2019-03-01 15:36] andrewvanbreda commented on #91
@BirenRathod
Looks like that didn't work, think I missed some images that should of been processed anyway.  So can we go ahead and give it ago at updating the samples by running all these statements (it is actually only two statements but I split them up as there were so many IDs).

update indicia.samples
set updated_on=now()
where id in (1895285,1852561,1895326,1852580,1895336,1852542,1895365,185

[2019-03-01 15:51] BirenRathod commented on #91
@andrewvanbreda

I just updated all those records. I hope everything is fine.

[2019-03-01 16:43] andrewvanbreda commented on #91
@BirenRathod
Setting the updated_on() won't do anything bad, although I can' see it working yet :(
Might still have hope, not sure if Warehouse has backlog.
Will pick this up again Monday.

[2019-03-01 16:45] BirenRathod commented on #91
@andrewvanbreda
Yes, that is a good idea, Have a good weekend.

[2019-03-04 08:59] andrewvanbreda commented on #91
@BirenRathod
This hasn't worked. Note sure why. Before we/I try to rectify this situation, can I double check that the problem is the cache table by running this SQL.
Cheers.

select media
from indicia.cache_samples_nonfunctional
where id in (1852561,1895285);

[2019-03-04 09:25] BirenRathod commented on #91
@andrewvanbreda
Here is the result.
[data-1551691477268_cach_sample_media.zip](https://github.com/BiologicalRecordsCentre/NPMS/files/2925652/data-1551691477268_cach_sample_media.zip)

[2019-03-04 09:30] andrewvanbreda commented on #91
@BirenRathod
Interesting. So it isn't that field in the cache table that is the problem. Will have to have a think.

[2019-03-05 10:09] andrewvanbreda commented on #91
I think I have partially worked out what is going on here. The currently situation is that although the same images appears on sample 1 and 2, it is actually a different sample_media item.
I am not sure though why it looks like that now when it didn't look like that before.
So my plan is to examine some other users that have the problem and see if they have duplicates like this.
I may need to corr

[2019-03-05 11:46] andrewvanbreda commented on #91
@BirenRathod
It is very very difficult to see what has happened with that user. I think we will have to process another user, it is working on my own machine, so let's see what happens. Please can you run this, I have altered the code slightly.

DO
$do$
declare sample_media_row_to_correct RECORD;
BEGIN

FOR sample_media_row_to_correct IN
select sm.id as sample_media_id, s.id as sample_2_id, s.crea

[2019-03-05 11:47] andrewvanbreda commented on #91
AVB: Note to myself, here is some information for the test
Sample 1 has no photo (Sample ID 1854988)

Sample 2 has photo attached (Sample ID 1854997). This has photo sample media id 7911 atatched. This has no comment in photo caption. Photo file name is o_1ape39tem1oc61jc217h145udn48.jpg
Not that both samples have the same comment "hedgerow to right of road in photo", I believe this is because the

[2019-03-05 14:15] andrewvanbreda commented on #124
These were corrected by removing the duplicate squares from users.
Three squares are allocated with 2 users now, but these are ok as they are different accounts.
System was tested and the system was preventing duplicate accounts in various places (Request Square and administration pages), so no reason can be found for the duplicates.
So for now will close. This was done a few weeks ago and there h

[2019-03-05 14:15] #124 closed

[2019-03-05 14:48] andrewvanbreda commented on #125
I quickly looked this up. This was much easier to fix than expected, just a few minutes. Added Yes/No as the values on the field settings page.
The Data Access Policy agreement had the same issue so fixed that also.

[2019-03-05 14:48] #125 closed

[2019-03-06 12:47] andrewvanbreda commented on #99
AVB note to myself.
Performed more analysis by putting timestamps onto the page. It seems like get_my_squares_and_plots and plots is probably the main troublemaker
These are results from timestamps placed into npms_sample_occurrence and sample_extensions.php
get_form_html start
1551875405
before lock logic
1551875405
After lock logic, before parent get html
1551875407
Start of splash_location_sele

[2019-03-06 13:48] andrewvanbreda commented on #99
@BirenRathod
Could you pull the indicia-reports/projects/npms folder onto live, there is a new report I can check on Pantheon Test, as it is new it won't affect live.
It is a new version of a report which can be used in a certain situation to speed things up.
Thanks

[2019-03-06 13:54] BirenRathod commented on #99
@andrewvanbreda
Report gone live now.

Biren

[2019-03-06 14:40] andrewvanbreda commented on #99
@BirenRathod Great thanks. I will have a look at on Pantheon test

[2019-03-07 11:37] andrewvanbreda commented on #99
New version of get_my_squares_and_plots went live last night (get_my_useable_squares_and_plots). This is specifically tailored reduced version for the data entry page.
As the shared get_my_squares_and_plots page got extra functionality over time it became less suitable for the data entry page, new report removes this unused functionality.
Speed improvement seems to be significant (although the pag

[2019-03-11 14:14] andrewvanbreda commented on #114
Page will be configured with a list of Indicia user IDs. When a sample is edited and the current user is detected in this list, it will temporarily allocate the square/plot associated with the sample to the current user so the edit can be made.
Needs to go live but the Pantheon Dashboard is down at the moment

[2019-03-11 17:01] BirenRathod commented on #91
@andrewvanbreda

I just executed this query. Please check if everything is ok.

[2019-03-11 21:12] andrewvanbreda commented on #91
@BirenRathod
Thanks Biren, will do tomorrow.

[2019-03-11 22:46] andrewvanbreda commented on #114
@sacrevert @CelesteSkinner @NPMSSupport
This is now live.
A couple of notes on this.
Firstly, as mentioned, this works using a list of IDs supplied in the page configurations. This means it won't automatically pick up any new administrators added to the system. I don't think this will be a problem in practice as even if we forget, and a user needs adding to the list, it will get noticed that it is

[2019-03-11 22:46] #114 closed

[2019-03-12 11:44] andrewvanbreda commented on #91
@BirenRathod
Seems this time nothing has happened at all :(
I think I will need to think about this a lot before we proceed any further with any more updates..

I would be interested to see what has happened to this person in regards to our original list of users who have the problem. Could you try running this thanks, it is just the same as out original query for getting problematic users

select

[2019-03-13 09:35] BirenRathod commented on #91
@andrewvanbreda
Here are the results.
[data-1552469553060_13032019.zip](https://github.com/BiologicalRecordsCentre/NPMS/files/2960739/data-1552469553060_13032019.zip)

[2019-03-13 12:47] andrewvanbreda commented on #91
@BirenRathod ok thanks Biren. Looks like that user was indeed processed, I will need to look into this

[2019-03-14 09:43] andrewvanbreda commented on #109
AVB: Note to myself, also check the ownsPlot logic in splash_extensions.php file, it doesn't look quite right to me.

[2019-03-14 09:46] andrewvanbreda commented on #109
Actually further note, I think ownsPlot is correct but check the logic for plots displayed in the plot drop-down on data entry. Check the logic of this as can't remember what was originally intended.

[2019-03-14 09:56] andrewvanbreda commented on #99
@BirenRathod
I have created a new report, can you pull the indicia-reports/projects/npms folder on live please (this can be done safely as it is a new report it won't affect live until I commit changes to iForm).

[2019-03-14 10:18] BirenRathod commented on #99
@andrewvanbreda
Did you push on to master? I pulled the reports but there is no new changes found.

[2019-03-14 10:26] BirenRathod commented on #99
@andrewvanbreda
I checked again, that report is already updated in the NPMS folder.

[2019-03-14 10:28] andrewvanbreda commented on #99
Yes, it is in the folder and git status is showing folder is up to date with master.
The report is called get_my_squares_that_have_plots_2.xml

[2019-03-14 10:53] BirenRathod commented on #99
@andrewvanbreda

bit confusion in my message earlier. Yes, that report has been pulled out now.

[2019-03-14 11:50] andrewvanbreda commented on #99
@BirenRathod
Thanks Biren, have tested and looks ok. I will contact Celeste and Rachel about whether I can put this live, I won't need you to do anymore as I can do that through Pantheon.
Looks like we get a 20% speed improvement loading data entry, probably bit less than I expected but still worth it.

[2019-03-14 12:21] andrewvanbreda commented on #99
That is live now.
Closing this issue now. We can raise more specific performance issues if needed.

[2019-03-14 12:21] #99 closed

[2019-03-18 15:12] andrewvanbreda commented on #126
The upgrade to Drupal 8 won't be happening soon, so downgrading priority

[2019-03-18 18:44] BirenRathod commented on #96
Hello @andrewvanbreda
I made changes to SMTP configuration. Could you check if email got HTML format?

[2019-03-19 07:50] andrewvanbreda commented on #96
@BirenRathod
I got an Request Password email sent to my hotmail account which was fine, however when I got the registration email sent to my work address there are tags everywhere, I think actually it is worse than before.
Although strangely, the one-time login link is active

[2019-03-19 07:50] andrewvanbreda commented on #96
<img width="710" alt="Grab" src="https://user-images.githubusercontent.com/2463614/54588724-aab3e700-4a1b-11e9-90b0-445d17961347.png">

[2019-03-19 08:04] andrewvanbreda commented on #96
@BirenRathod
Actually, if it is showing tags it might be my email client at fault. I will have to look at this later.

[2019-03-19 08:14] andrewvanbreda commented on #96
@BirenRathod
Any thoughts on this Biren, I checked and my email client is set to allow html formatted email messages.

[2019-03-19 09:23] BirenRathod commented on #96
@andrewvanbreda
Is it the problem with hotmail? I just checked using my google email and seems fine.

[2019-03-19 11:08] sacrevert commented on #76
@NPMSSupport to ensure that Landowner information letter clearly states that any access info will be shared between approved surveyors

[2019-03-19 11:08] #76 closed

[2019-03-19 11:16] sacrevert commented on #120
See issue #59

[2019-03-19 11:16] #120 closed

[2019-03-19 11:20] sacrevert commented on #59
@andrewvanbreda to look at how to update/ add to existing reports

[2019-03-19 11:25] BirenRathod commented on #96
@andrewvanbreda

I have implemented a configuration in here -> https://www.npms.org.uk/content/welcome#overlay=admin/config/system/mailsystem. I checked emails in my inbox and it works fine both in Hotmail & Google. So should be fine with other emails system too.

[2019-03-19 11:32] sacrevert opened #131 "Bulk removal of allocations tool for inactive user culling"
Tool also need additional information like last time data entered by user (don't forget that a user may legitimately have more than one square and be surveying on rotation)

[2019-03-19 11:33] sacrevert commented on #131
@NPMSSupport to edit requirements

[2019-03-19 11:47] sacrevert commented on #92
The data access policy states that the individual name is part of the biological record, and will be kept. However, once we introduce the Cancel account button (dependent on #52, among other things), we need to ensure that addresses are nulled in the custom attribute field in which they are held in the indicia warehouse. Note that we should not null email addresses if they are also registered on o

[2019-03-19 11:50] sacrevert commented on #92
Note that we can currently do this manually by cancelling and editing individual user account pages.

[2019-03-19 11:53] sacrevert commented on #54
see #92 and #52. closing this one

[2019-03-19 11:53] #54 closed

[2019-03-19 11:56] sacrevert opened #132 "Add message to emails about adding npms email to safe senders list"
Always include such a message. Also add a news item and mention in newsletters

[2019-03-19 12:51] sacrevert commented on #123
Sign up/square allocation could include option to not receive pack (important if someone is with the scheme, leaves, and then rejoins).

Perhaps add to My account options, but remind people about the option in the pop-up message that appears when they assign themselves a square (or in any communication resulting from admin approving a square)

[2019-03-19 13:22] sacrevert commented on #47
These would both be used to occasionally intersect against all NPMS squares, with the resulting yes/no intersection for each layer being held in a separate field that could be displayed against the square. information (e.g. new columns such as "national trust" yes/no, "military" yes/no etc.

In addition, we might want to actually display the boundaries on a map, e.g. the Squares near me map. These

[2019-03-19 13:26] sacrevert opened #133 "Rename "Edit landowner information" to "View/edit square information""
(View squares and create plots page)

[2019-03-19 13:31] sacrevert commented on #57
@sacrevert to send PDFs to Andy

[2019-03-19 13:46] sacrevert commented on #68
Note that this layer is only really required for the squares near me (public and logged in) pages.

[2019-03-19 13:54] sacrevert opened #134 "Surveyor event history page"
This would have some logic that ensured that the only events displayed those where the created on and last updated fields overlap the event date (so that those that were not accepted to an event did not have the event showing on their profiles)

Add drop down "My events" to lead to page that is currently only accessed through
"Click here to sign up for events or see your existing events" link. Eve

[2019-03-19 14:15] sacrevert commented on #122
@andrewvanbreda to look into possibility of having edit record/view record pages with verifier comments on NPMS website

[2019-03-19 14:22] sacrevert commented on #129
@NPMSSupport to follow up

[2019-03-19 14:26] sacrevert commented on #130
@BirenRathod please can you deactivate the old training site please http://test.brc.ac.uk/npms_training/

[2019-03-19 14:32] sacrevert commented on #111
Probably we need to have a simplified and a full option. @sacrevert @NPMSSupport to decide on simplified fields

[2019-03-19 14:41] sacrevert commented on #85
@DavidRoy when you have a chance, could you rerun whatever query is required here? Cheers!

[2019-03-19 14:42] #84 closed

[2019-03-19 14:44] sacrevert commented on #83
e.g. checks might include does user have a square, have they recorded samples etc. Different conditions might apply to different events types. Admin would define requirements for each event (location attribute edit page:
e.g. approved square

[2019-03-19 14:45] sacrevert commented on #83
In the first instance, a blanket rule of having a square approved would be a useful first step

[2019-03-19 14:54] sacrevert opened #135 "Event importer"
Upload of events option, including any additional attributes as per issue #83

[2019-03-19 14:57] sacrevert commented on #79
@sacrevert to review

[2019-03-19 15:04] sacrevert commented on #72
possibly @BirenRathod to install versioning module

[2019-03-19 15:11] sacrevert commented on #58
No longer considered necessary in light of other priorities

[2019-03-19 15:11] #58 closed

[2019-03-19 15:15] sacrevert commented on #56
Could be a dynamic map using user account mentor flag and mentor's post code

[2019-03-19 15:18] sacrevert commented on #50
There are some sync issues according to @andrewvanbreda ; if broken sync, force "yes"

[2019-03-19 15:25] sacrevert commented on #49
Considered not a good use of resources when reviewed

[2019-03-19 15:25] #49 closed

[2019-03-19 15:28] sacrevert commented on #46
Prioritise once the new maps etc. (e.g. boundary geometry etc.) are available on square detail pages

[2019-03-19 15:31] sacrevert commented on #45
Landowner notes field sufficient for user square details page

[2019-03-19 15:31] #45 closed

[2019-03-19 15:34] sacrevert commented on #40
@andrewvanbreda to review

[2019-03-19 15:35] sacrevert commented on #34
@andrewvanbreda to review

[2019-03-19 15:38] #18 closed

[2019-03-19 15:38] #4 closed

[2019-03-19 15:41] sacrevert commented on #2
@sacrevert to review

[2019-03-19 15:45] sacrevert opened #136 "Simple data summary page visible to all"

[2019-03-19 16:17] BirenRathod commented on #72
@sacrevert
I don't think this is about installing any module.  @andrewvanbreda is planning to commit text in the repository, so everytime we change text for privacy policy, it stores in the repository and get version at the same time.

[2019-03-19 16:27] BirenRathod commented on #130
@andrewvanbreda , @sacrevert
I have disabled training site now.
If you want to use survey from test warehouse, please link test-npms.pantheosite.io to testwarehouse. Also, before linking to test warehouse, take backup of live site and restore on to test site and link it, so you will get exact configuration as live site but you still required to change all survey IDs on test env.

[2019-03-19 16:28] sacrevert commented on #130
@andrewvanbreda can you close this if you are happy with Biren's message. I don't really understand it.

[2019-03-19 22:38] andrewvanbreda commented on #130
@BirenRathod Thanks for the info....this will probably be useful for the future.
@sacrevert Biren is just giving instructions for setting up one of the Pantheon sites to be a training site in the future (if we want) He is basically saying point it at a test warehouse and make it a clone of live.
We won't be doing that at the moment anyway.

[2019-03-19 22:38] #130 closed

[2019-03-20 10:17] andrewvanbreda opened #137 "Menu item changes"
"Add squares to users" and "Add users to squares" to be moved to main menu for user/square administrators.
Registered users to get a My Events link in the training menu, this is currently hidden away.

[2019-03-20 10:49] andrewvanbreda opened #138 "Event welcome email no longer sending"
The event welcome email used to work, but not longer seems to be sent.

[2019-03-20 10:52] andrewvanbreda commented on #137
@CelesteSkinner @NPMSSupport @sacrevert
Changes to menu system made

[2019-03-20 10:52] #137 closed

[2019-03-20 11:22] andrewvanbreda commented on #96
@BirenRathod Thanks Biren, I have checked this and it is working now :)

[2019-03-20 11:22] #96 closed

[2019-03-20 15:21] andrewvanbreda opened #139 "NPMS post code searching not working"
@BirenRathod
The post code search isn't working on the Request A Square page. Are you able to check the quota on the google account Biren?

[2019-03-20 17:49] andrewvanbreda opened #140 "Event Import on NPMS says file not found"
As soon as you try to upload a file using the NPMS Event Importer it tells you the file can't be found.

I did the event imports using the Warehouse in the end.

[2019-03-20 19:01] andrewvanbreda commented on #139
Not a genuine problem. The post code had been changed to be invalid on my account (presumably part of a test, although I can't remember it being changed).

[2019-03-20 19:01] #139 closed

[2019-03-21 08:27] DavidRoy commented on #85
I think this initial issue was raised because of missing data in NPMS exports using cache_tables.  I've re-run the query that raised the initial problem and it returns zero row.  therefore I am closing this issue.  If further problems arise with data missing from NPMS exports/reports I suggest new, more specific, issues are raised.

[2019-03-21 08:27] DavidRoy commented on #85
For info.  Here is the sql

select cof.id, sample_id, taxa_taxon_list_id, taxon_id, taxon_id
from cache_occurrences_functional cof, taxa_taxon_lists ttl
where cof.taxa_taxon_list_id = ttl.id
and ttl.deleted = 'True'

[2019-03-21 08:28] #85 closed

[2019-03-21 08:38] andrewvanbreda opened #141 "Try to allow formatting in the Event descriptions"
Event descriptions currently can't have formatting. Allow formatting such as bold text and new lines.

[2019-03-21 11:49] sacrevert opened #142 "Text edit to data entry forms"
We have noticed that the photo guidance on the data entry forms (samples) is not particularly informative.
![samplePhoto](https://user-images.githubusercontent.com/5985134/54750267-ff4b9380-4bce-11e9-8d8d-2dffe3551adf.png)
Can we change the text saying: "Upload photos of the site that will help future surveyors to relocate your plot" to
"Upload your sample photos here. Photos of your plot sample a

[2019-03-25 09:51] andrewvanbreda commented on #131
Initial version of page provided to NPMS support. This is a very hasty version which is created without new code (created as quickly as possible so NPMSupport can use it, not because I am lazy!).
Awaiting feedback on required improvements.

[2019-03-25 17:39] andrewvanbreda commented on #135
Have removed page, I can just do this on Warehouse when needed

_Note: We have used this in practice, so it definitely works via Warehouse._

[2019-03-25 17:39] #135 closed

[2019-03-25 17:46] andrewvanbreda commented on #140
Can be done via Warehouse importer when needed, so I have removed the page with this problem

[2019-03-25 17:46] #140 closed

[2019-03-26 11:16] sacrevert opened #143 "Turn off commenting on news and blog items"

[2019-03-27 11:51] sacrevert commented on #47
Note that some of these boundaries may already be available in the BRC Indicia warehouse

[2019-03-29 10:49] sacrevert opened #144 "Text on my events page"
Can we change some text on this page to make it clearer?
The two circled bits of text could say "Select an event to sign-up for it"
And the postcode search buttons should say "Get events" etc.
Do you agree @NPMSSupport ?
![Picture1](https://user-images.githubusercontent.com/5985134/55227780-46113d00-5210-11e9-8e10-de8a4f3b47e0.png)

[2019-03-29 13:14] andrewvanbreda commented on #144
@sacrevert OK thanks for the note. I have raised the post code text issue in one of the other issues previously...I will try to get round to actioning it.

[2019-03-29 14:40] andrewvanbreda commented on #133
Hi,
Just seen this issue. This was done straight after the meeting.

[2019-03-29 14:40] #133 closed

[2019-03-29 14:42] andrewvanbreda commented on #133
Actually, no it was changed to "view square information". I will change it quickly to "View/edit square information" right now

[2019-03-29 15:51] andrewvanbreda commented on #68
@sacrevert I just took a look at this because I think during our meeting we said if this works on data entry then this would be ok....so it might be very quick to close.
I know are problems with this layer during Draw Plot but we aren't going to use it there now, I noticed it is already present on data entry, the OS leisure layer is enabled.
This is just going be running general Indicia code, I am

[2019-04-01 10:57] andrewvanbreda commented on #90
Name of issue changed as text issue raised elsewhere.

[2019-04-01 11:01] andrewvanbreda commented on #90
@BirenRathod
Have coded a new version of the event report to allow for post code searching. Unfortunately, the google api isn't working on my machine at the moment (I think I might of run out of quota). Given that, this means testing has been limited, so I have created a new version of the report (so I can revert back to the old report if needed).
As it is a new version of the report, can you pull

[2019-04-01 11:10] BirenRathod commented on #90
@andrewvanbreda
That report has been pulled down.

[2019-04-01 11:50] andrewvanbreda commented on #90
@BirenRathod
Thanks Biren, that report pull seems to have worked

[2019-04-01 12:04] andrewvanbreda commented on #90
@sacrevert @NPMSSupport @CelesteSkinner
Fixed. Although am pretty sure it never worked looking at the code.

[2019-04-01 12:04] #90 closed

[2019-04-01 14:15] andrewvanbreda commented on #144
@sacrevert @CelesteSkinner @NPMSSupport
Drop-down legend changed to suggested text.
Button by map changed to "Find events", "Return all events".
The code was already available for be able to change these button names, just the options on the page had been configured incorrectly, so quite an easy fix.

[2019-04-01 14:15] #144 closed

[2019-04-01 15:09] andrewvanbreda commented on #142
@sacrevert @CelesteSkinner @NPMSSupport
Done including active link

[2019-04-01 15:09] #142 closed

[2019-04-02 13:40] andrewvanbreda opened #145 "Delete location/plot button showing during View Plot summary mode"
I think this is caused by a jQuery upgrade.

[2019-04-02 15:15] andrewvanbreda opened #146 "Delete sketch icon showing in View Plot summary mode"
This was also affecting the delete location button, but was able to fix that by overriding the submitButtons function in php.

[2019-04-02 15:34] andrewvanbreda commented on #145
Deployed to live

[2019-04-02 15:34] #145 closed

[2019-04-02 15:55] sacrevert opened #147 "Plot availability at different survey levels"
As a result of testing on Pantheon test site, one plot for user OliP_NPMS was deleted. Can you please undelete it?
The square location_id for the plot is 37523
If you can query the database for locations with the parent_id = 37523 and undelete the one that was deleted today (02/04/2019), that would be very useful.
Thanks!

[2019-04-03 12:18] andrewvanbreda opened #148 "Re-instate lost allocations"
Some allocations were accidentally lost between 2nd and 3rd April 2019. Re-instate these by querying what was lost from the database.

[2019-04-03 12:19] andrewvanbreda opened #149 "Required fields not filled in"
We have a user who has not filled in required fields on their account, work out how this could of happened.

[2019-04-03 12:21] andrewvanbreda opened #150 "Theme change causes the Data Access Policy and Address not filled in messages to display incorrectly"
Theme change causes the Data Access Policy and Address not filled in messages to display incorrectly. They now display as the bottom of the main menu poppet and are cut-off

[2019-04-03 12:27] andrewvanbreda commented on #149
Seems to prevent empty required fields. Might have to contact user to find out how they did this.

[2019-04-04 10:06] andrewvanbreda commented on #149
Actually affected about 60 users who have now been manually corrected.
Believe issue was this.
Live cloned to Pantheon Test. Pantheon Test upgraded with new theme.
However, as users are still registering with live, they need transferring to Pantheon Test before that site can go live. When this was done, the fields associated with the user weren't transferred, this meant these users didn't have add

[2019-04-04 10:06] #149 closed

[2019-04-04 21:28] andrewvanbreda commented on #148
This has been corrected manually. Details sent to NPMS support.

[2019-04-04 21:28] #148 closed

[2019-04-07 14:43] andrewvanbreda commented on #13
Think this was caused by an existing account being on the warehouse, but that account had characters in a different case to what is was being entered on the Drupal account, this was causing the Warehouse linking to get confused.
John has fixed this this week.

[2019-04-07 14:43] #13 closed

[2019-04-11 10:27] sacrevert commented on #147
hi @BirenRathod do you think you might be able to do this today or tomorrow? Cheers

[2019-04-11 16:20] sacrevert opened #151 "NPMS dev site / test warehouse"
There is a decision and action needing around whether the dev site should be pointing at the test warehouse (note that the separate test site points at live, and Andy is keen to keep this as it is at the moment, for easier testing)

[2019-04-11 16:37] DavidRoy commented on #151
If like to agree a consistent approach.

I favour:
Live - live warehouse
Test - live warehouse
Dev - test warehouse

So that Test is a place for final tests before pushing out.  Training happens on Dev or Test in training mode?

Also Pantheon flow is for content to go live-test-dev and code to go in the opposite direction.

[2019-04-11 16:44] sacrevert commented on #151
Sounds good. That is where we are with the exception of confirming the situation with dev.

[2019-04-16 09:05] sacrevert commented on #143
Hi @BirenRathod, if this is a quick job, would you be able to do this soon? Thanks, Oli
Oh, as well as turning off the ability to comment, can you hide or delete all existing comments?

[2019-04-16 15:37] BirenRathod commented on #143
@sacrevert
I have turned off comment option on News and blog for new content. but for existing one I only allowed to reply on comment for administrator as comments are already created. So I can't hide them. If hide that means other contents will impact as it is using global settings.

[2019-04-16 15:57] sacrevert commented on #143
Thanks @BirenRathod
Closing

[2019-04-16 15:57] #143 closed

[2019-04-17 15:22] sacrevert commented on #147
hi @BirenRathod
this is the location that needs undeleting:

SELECT *
FROM locations l
where l.id is not null
and l.id = '182610'
and l.parent_id = '37523'
and l.deleted = 't';

[2019-04-17 15:40] BirenRathod commented on #147
Thanks @sacrevert

I have amended deleted flag to false , so you could be able to see now.

[2019-04-17 16:01] sacrevert commented on #147
@andrewvanbreda Biren has undeleted the plot, but the associated sample is still not appearing, and neither are some of the values (and the sketch) that are associated with the plot. I have tried to find the associated sample ID to reverse the deletion, but I cannot find it for some reason. e.g.

from samples s
join locations plot on plot.id = s.location_id AND plot.deleted=false
where s.survey_id

[2019-04-18 09:05] andrewvanbreda commented on #147
Hi @sacrevert ,

For the query with the samples that are returned, could you let me know what the IDs of the samples is and the updated_on field for the samples. Thanks

[2019-04-18 09:24] sacrevert commented on #147
The results from the following SQL are attached. These are the samples that I can still see all the details of through the website

from samples s
join locations plot on plot.id = s.location_id AND plot.deleted=false
where s.survey_id in (87,154,155) AND s.deleted=false AND s.date_start between '2015-01-01' and '2018-12-31'
and plot.parent_id = '37523'
and s.deleted = false

[data-1555579391917.zi

[2019-04-18 10:36] andrewvanbreda commented on #147
Hi, Sorry I misunderstood those were the samples that you can see. Given that isn't what we want, can you try running this much looser sql

select s.id as sample_id, s.updated_on as sample_updated_on,s.deleted as sample_deleted,plot.id as plot_id,plot.deleted as plot_deleted
from indicia.samples s
join indicia.locations plot on plot.id = s.location_id
where plot.parent_id = 37523;

[2019-04-18 10:52] sacrevert commented on #147
Here you go. If it's a hassle to work this out, I can always just re-enter the sample from my paper sheets.
[data-1555584673126.zip](https://github.com/BiologicalRecordsCentre/NPMS/files/3094025/data-1555584673126.zip)

[2019-04-18 11:55] andrewvanbreda commented on #147
@sacrevert
It doesn't look like there are any samples to recover. The only two samples for this square are the 2 that you can see. There aren't even any deleted ones to recover.
You could just try these to see if there is anything worth recovering for the plot at all

select id,updated_on,deleted from indicia.location_attribute_values where location_id  = 182610;

select id,updated_on,deleted from

[2019-04-18 13:16] sacrevert commented on #147
@andrewvanbreda OK, I'll check these, and reenter data if required. Not sure I understand what has happened though, as there was definitely a sample for this plot.

[2019-05-02 12:33] andrewvanbreda commented on #68
@sacrevert Hi Oli,
Am at John's house at the moment, he happened to be working with OS layers and I mentioned our problem with the projection.
He said it is actually only an issue with the OS Leisure Layer.
So my question is simply this, would any of the other OS layers meet your needs instead. For instance John was using OS Outdoor.

[2019-05-02 12:46] sacrevert commented on #68
@andrewvanbreda sorry for not answering this previously. Happy to switch to OS Outdoor.

Also happy for you to close this when you are happy. Maybe in the future we can switch to the leisure mapping and make it available for drawing plots as well, but i don't think it is a priority now.

[2019-05-03 08:52] andrewvanbreda commented on #68
@sacrevert
As the projection is correct, I was able enable OS Outdoor on all maps I could find.

[2019-05-03 08:52] #68 closed

[2019-05-06 20:10] andrewvanbreda commented on #151
In answer to the question about training, I think training should happen on Dev which would be attached to the test warehouse (although isn't yet).
I do not recommend using the training flag for NPMS, as that flag is held at the occurrence level, so training occurrences can make it look as if we have an genuine empty sample.

The test site would mainly be used to see things are working on a clone

[2019-05-07 09:11] sacrevert commented on #151
ok, thanks @andrewvanbreda
Would it be a job for Biren to change dev to point at test?

[2019-05-08 11:09] andrewvanbreda commented on #50
@BirenRathod
I realise there is a problem with my plan. I need to check something in the database. Biren, can you run the following count for me please. Thanks

select count(*)
from indicia.people p
join indicia.users u on u.person_id = p.id and u.deleted=false
join indicia.users_websites uw on uw.user_id = u.id and uw.website_id = 32
left join indicia.person_attribute_values pav on pav.person_id

[2019-05-08 14:45] andrewvanbreda commented on #151
@sacrevert @BirenRathod
I took a look at the test warehouse. I thought it might of been a clone of live, but at least one attribute (Request Survey Form person attribute) does not have the same id as live.
This means the forms will need re-configuring so that the IDs on the Edit tabs match the ones on the test warehouse.

So I think the answer to your question (Ol)i is whether Biren wants to do th

[2019-05-08 14:52] BirenRathod commented on #50
@andrewvanbreda
The total is 284.

[2019-05-08 14:53] sacrevert commented on #151
OK, thanks @andrewvanbreda
I've assigned this to myself, as a decision will await the outcome of some internal funding decisions.

[2019-05-08 14:58] andrewvanbreda commented on #50
Hi @BirenRathod
Thanks for this. I will have to have a think what is best to do

[2019-05-14 10:42] andrewvanbreda commented on #50
Hi @BirenRathod
284 is too many to manually try to fix, so I need to pinpoint users who might have issues more accurately.
Is it possible to try this count instead. Fingers cross that the count will be smaller.

select count(*)
from indicia.people p
join indicia.users u on u.person_id = p.id and u.deleted=false
join indicia.users_websites uw on uw.user_id = u.id and uw.website_id = 32
left join in

[2019-05-14 10:47] BirenRathod commented on #50
@andrewvanbreda
Even more, 477.

[2019-05-14 10:58] andrewvanbreda commented on #50
:( OK, thank you. Um. That might be because it is taking into account users before we introduced the Address fields. Darn. Will need to think again!

Thanks

[2019-05-14 13:08] andrewvanbreda commented on #50
@CelesteSkinner @NPMSSupport @sacrevert
Hi,

I have looked into the issue where the User Information Download report might sometimes show Request Survey Form as off when it is supposed to be on.
I have a problem though with the way the syncing works with the database.
The problem is this that when a user normally doesn't have the Request Survey Form selected, it doesn't save anything related to th

[2019-05-14 13:16] sacrevert commented on #50
@CelesteSkinner @NPMSSupport @andrewvanbreda
I think my preference is (1), ad hoc fixes on complaints. I think we need to be more cautious about adding extra logic to the site coding, it seems to me that we are just building up an increasing number of things that can break.

[2019-05-14 13:20] andrewvanbreda commented on #50
@sacrevert
Ok, I will close this then.
It should only be problematic on a few accounts anyway that failed to sync.
I agree we don't want to be eternally making things more complex, as well as increasing failure risk, it increases the difficulty/time for testing even if things do work.

[2019-05-14 13:20] #50 closed

[2019-05-14 18:18] andrewvanbreda commented on #138
@BirenRathod
I have fixed a bug which I believe means that the email send might not be attempted.
However, I am now seeing (with some logging) that it is reaching the PHP mail function and looks to be supplying the correct parameters.
This worked at some point in the past. Are you are aware of any setup reason with the server that might cause PHP mail function not to send?
Thanks

[2019-05-14 18:22] BirenRathod commented on #138
@andrewvanbreda
Not that I'm aware of.

[2019-05-15 22:44] andrewvanbreda commented on #138
@BirenRathod
I have check the logs. The PHP mail function returns true.
Apparently this means "Returns TRUE if the mail was successfully accepted for delivery, FALSE otherwise.".
So I am now wondering if Pantheon hosting don't support use of PHP mail function and we might need to find another way of doing it.
Is it possible to check this if this is the case with Pantheon?

[2019-05-16 10:02] BirenRathod commented on #138
@andrewvanbreda
I will try my best. In order to do that, can I ask , where this PHP mail function has been used on the site?

Info: Pantheon is not involved sending/receiving email. We use the third party email service which receives request from Drupal.

[2019-05-16 11:22] andrewvanbreda commented on #138
@BirenRathod
OK, I think the problem is a setup issue.
The PHP mail() function just sits in the client the helpers code and fires when someone does something like add themselves to an NPMS event.

I have to say, setup of email and such things isn't really my strong point, it is the kind of the thing I do so rarely I lose any skills I might learn.
Looking at the web it says the details for PHP emai

[2019-05-16 14:00] andrewvanbreda commented on #150
@sacrevert @NPMSSupport
Problem corrected, messages now shown correctly in middle of page.

[2019-05-16 14:00] #150 closed

[2019-05-16 15:38] BirenRathod commented on #138
@andrewvanbreda
By looking at the mail() function of PHP, it uses the SMTP protocol to send email. Here is the problem. As I mentioned before Pantheon doesn't send or received email and the reason is there is no smtp server included on it. This is not same as before where site was on BRC server. On BRC server, we use our on SMTP server resides beneath our server. So server uses the SMTP server to

[2019-05-16 15:41] andrewvanbreda commented on #138
@BirenRathod
OK thanks for those tips, very useful. I will see if I can find a way to get this working.

[2019-05-17 11:10] andrewvanbreda commented on #138
@BirenRathod Just for your info I got this working using hook_mail combined with drupal_mail function. This is active and working on test site now, will deploy to live as soon as convenient for Plantlife

[2019-05-17 11:18] BirenRathod commented on #138
That is good news. I just let you know that PlantLife is not on Pantheon at present.

[2019-05-17 13:05] andrewvanbreda commented on #131
@NPMSSupport
Can you let me know if the new page is suitable for purpose or needs improving. Available in Admin menu, as mentioned the page is basic but was developed very quickly with little use of budget. It can obviously be improved but if it serves its purpose we don't want to spend budget where not needed.

[2019-05-17 13:06] andrewvanbreda commented on #95
I believe coding is complete, but further testing is being carried out.

[2019-05-17 13:41] andrewvanbreda commented on #52
Emails were not working on live since move of hosting. I have now given this a check on test site (since a general mail fix was made) and can confirm it is working, awaiting live deployment.

[2019-05-17 17:55] andrewvanbreda commented on #138
@NPMSSupport @sacrevert
Now live

[2019-05-17 17:55] #138 closed

[2019-05-17 17:57] andrewvanbreda commented on #52
@sacrevert @NPMSSupport
Now live. This does not include the situation where they are cancelling an account though (there is another issue for that. Only when "My Squares" page is used to remove an approved square is the email sent at the moment

[2019-05-17 17:57] #52 closed

[2019-05-21 12:40] andrewvanbreda commented on #35
Hi @BirenRathod

I don't want to spend any time on this issue as it isn't a problem anymore. However If we could just check the database to make sure the system isn't using a ton of space for a load of redundant data. If not I will close this. Are you able to get me these results thanks :)

select count(*)
from indicia.person_attribute_values
where person_attribute_id = 13 and deleted=false;

sele

[2019-05-21 13:22] BirenRathod commented on #35
@andrewvanbreda
Here are the results.
1. 2981
2. No result.

[2019-05-21 13:55] andrewvanbreda commented on #35
@BirenRathod
Ok, I think I made a mistake in the 2nd second as it should of been count(*).
It doesn't matter I think anyway, as 2000 attributes sounds about right for the number of users so i am happy with that. I was only concerned if the number was huge.
Thanks. Will close now.
Andy

[2019-05-21 13:55] #35 closed

[2019-05-21 13:58] BirenRathod commented on #35
@andrewvanbreda
I did use count(*), which returned with no result. Anyway you are happy with results, so that is it.

[2019-05-21 14:00] andrewvanbreda commented on #35
@BirenRathod Actually yes you are right. It isn't an issue at all, I forgot I only included if the count was greater than 3, so no results is fine.
That is perfect, thanks.

[2019-05-21 16:25] andrewvanbreda commented on #111
@BirenRathod
I have created a new report with simplified fields and columns better customised for NPMS. Is it possible to pull the projects/npms report folder on live.
I have also created a new events_list_2 report with improved event date format,  you will probably see this when you pull.
These are both ok as they are new reports, so neither will cause a failure if anything goes wrong, so it is s

[2019-05-22 07:48] BirenRathod commented on #111
@andrewvanbreda
These reports have been pulled down now.

[2019-05-22 10:17] andrewvanbreda opened #152 "Event lists showing date format incorrectly"
Events lists had a date format of yyyy-mm-dd

[2019-05-22 10:18] andrewvanbreda commented on #152
@sacrevert @NPMSSupport @CelesteSkinner
Fixed, changed to dd/mm/yyyy
Now live.

[2019-05-22 10:18] #152 closed

[2019-05-22 10:38] andrewvanbreda commented on #111
@sacrevert @NPMSSupport @CelesteSkinner
I have created a preliminary report to address this issue. Can you check what you think of the columns.
It is on the test site
https://test-npms.pantheonsite.io/content/data-download
Note that only the CSV format has the new report at the moment

Some things to note
- My intention would be to change the system so users and administrators see a different repo

[2019-05-22 18:30] andrewvanbreda commented on #8
Spoke to Karolis. Field not in actual use, so hidden from user

[2019-05-22 18:30] #8 closed

[2019-06-19 12:54] andrewvanbreda opened #153 "Clarify functionality when admins edit existing samples"
If an admin goes to All Visits and clicks edit on a sample, I thought the system had been changed so they have temporary rights to the square so that the square/plot are filled in and edits can be edited.
Clarify what was coded.

[2019-06-19 12:57] andrewvanbreda opened #154 "My Visits/All Visits - Add Square as a column, split into two grids"

[2019-06-19 13:48] sacrevert opened #155 "Data download to include all data for a square"
@sacrevert to confirm whether required

[2019-06-20 09:45] andrewvanbreda commented on #153
@NPMSSupport @sacrevert

I have taken a look at this situation.....actually, there are two scenarios to look at the behaviour of:

1.
What happens when a user clicks edit on a visit on My Visits but they no longer have rights to the square?
This appears to work correctly, they can't see the visit on the Data Entry grid, but it can be seen on My Visits. Editing it shows a message saying you no long

[2019-06-21 09:59] sacrevert opened #156 "Improve presentation and user access to historic samples"
~Details as per email. For example, user PoppySeed cannot see historic sample 1086976 of plot (location_id) 44431.~

[2019-06-21 10:24] sacrevert commented on #111
@andrewvanbreda
Thanks Andy. This looks great.

- Very happy for admin to still get the default full report.

- I'm not concerned about the site name and the spatial ref duplication. I would just leave this in given that some iRecord users may be aware of the distinction between site names and the spatial ref, which are normally different in the standard iRecord.

- Would be great if we could get

[2019-06-21 10:43] sacrevert commented on #156
From Andy:
My Visits is supposed to display all visits you created (regardless of if you still own the sqaure).
The data entry page grids should be showing visits for the squares you own, even if you didn't create the visit This page won't show any visits you made to squares you don't own anymore.

In summary
My Visits - All visits you made
Data entry page grids - All visits related to the squares

[2019-06-21 10:44] sacrevert commented on #156
"I think ultimately we either need to change the logic of My Visits so that it also includes all of the visits related to the squares that a user owns (as for Data entry page grids), or add some sort of simple high level sample x plot summary to the "My squares and plots" top-level page so that it is easier to navigate between existing samples."

[2019-06-23 09:40] andrewvanbreda commented on #153
@NPMSSupport @NPMSSupport
Have fixed the bug and is live.
The problem was different to what I thought.
It would work but only if you had no assigned squares already.
For some reason it would check that you had no allocated squares. Have removed that check. You should be able to edit visits as an administrator now.
There is one exception to that, the Extra Species samples have a similar problem, bu

[2019-06-23 09:45] andrewvanbreda commented on #153
@sacrevert Sorry, for some reason I tagged NPMS support twice instead of you, this is fixed now.

[2019-06-23 09:45] #153 closed

[2019-06-28 08:29] sacrevert commented on #147
data manually re-entered by @sacrevert 28/06/2019.

[2019-07-05 08:39] andrewvanbreda opened #157 "My Visits - Slight incorrect display of Extra Species records"
The Extra Species records on the My Visits page are being shown as "Survey 1", this should be empty for these records.

[2019-07-05 09:00] andrewvanbreda opened #158 "Extra species reports that Spatial Ref System must be entered if square used"
If a square instead of plot is selected on Extra Species then when a save is made it doesn't work as the system reports the spatial reference system must be filled in

[2019-07-08 13:25] andrewvanbreda commented on #105
@sacrevert
Just looking to do this at the same time as changing the method of adding survey 2 to be automatic, however I am noticing the suggestion here is low priority and possibly a bit difficult.
Presumably if it is low priority you don't want much budget spent on it, would adding Square and Year columns and have filter drop-down selections at the top possibly be a more budget friendly solution

[2019-07-08 14:10] andrewvanbreda commented on #109
Simple fix whilst working on another issue, default text changed to
"The data on this form has been locked for editing because you are no longer assigned the square or you did not originally create the visit."

Ultimately this doesn't matter as text overridden anyway

[2019-07-08 14:10] #109 closed

[2019-07-08 14:29] andrewvanbreda commented on #131
Agreed with NPMS Support to close this now as it isn't being used enough at the moment to fully test it.
Any required issues will be raised separately later

[2019-07-08 14:29] #131 closed

[2019-07-08 16:23] sacrevert commented on #105
@andrewvanbreda OK, that sounds good. For the default, I presume you mean order by year (descending, i.e. most recent first). I probably wouldn't have a filter on as default, as no doubt it will confuse some people and they will wonder what has happened to their older data.

[2019-07-08 16:40] andrewvanbreda commented on #105
@sacrevert
I think I had meant have a filter on by default with the current year selected, however as you suggested we should have this off by default.
I am happy with whatever ordering you want. I suppose I was thinking order by square first then year, but am happy with year as primary order if you prefer.

[2019-07-08 16:50] sacrevert commented on #105
@andrewvanbreda
Let's go with default ordering simply by year. Cheers

[2019-07-16 08:12] andrewvanbreda commented on #105
Hi @sacrevert
I have a stupid question, but I will risk that rather than get the system wrong.
Our NPMS year typically starts 1st April....at least that is what we typically worked with coding wise.
Now presumably we want our year filter to be a simple list like 2014 2015 2016 etc

In the Jan-March period am I correct in think that only data entry input could be made in this period, but there woul

[2019-07-16 08:35] sacrevert commented on #105
If I recall the database has at least two dates, date of sample, and date of data entry. Filtering should all be on the date of sampling, and, ultimately, survey dates in, e.g. Jan-March are not banned, it just tends to be the case that the vast majority are after April 1st.

So, filtering is on year of the sampling date, with year interpreted as 1st Jan - 31st Dec inclusive.

[2019-07-22 11:03] andrewvanbreda commented on #108
@NPMSSupport @sacrevert

The previous problem I mentioned with this (by email) wasn't actually a problem, it was a mistake with my test.

However I have become aware of an issue that I think you need to make a decision about as there are multiple ways to handle the situation.

The problem is this.

When the system detects whether a visit needs to be 1 or 2, it checks the visit date, and if the yea

[2019-07-22 13:27] sacrevert commented on #108
Hi @andrewvanbreda
I think go with 1.
Actually it doesn't matter for the NPMS if people record extra samples above the required two, although I suppose the situation you describe might break other downstream website logic. Ultimately as long as samples have the correct date for the correct plot on the underlying database, and nothing confusing is stored there, then it's fine.

[2019-07-22 13:46] andrewvanbreda commented on #108
@sacrevert @NPMSSupport
Hi, Yes I agree with your conclusion having thought about it evening further.
When editing if people start moving the dates of samples then it is going to be very difficult to maintain perfect logic anyway.

Given this, I think what is on Pantheon Dev at the moment is the complete functionality I am expecting to go live with.
(albeit I might do a little bit more testing)

[2019-07-22 13:51] NPMSSupport commented on #108
@andrewvanbreda @sacrevert
I'm happy to go with the above. As Oli says, the main thing for analyses and understanding data is that the correct sample date is used on the correct plot.
I did just want to quickly mention again the need for clarity for the surveyor, with the  main info from them being highlighted or something. As I believe we have had  a number of queries from folk to say that survey

[2019-07-22 14:02] andrewvanbreda commented on #105
@sacrevert
Yep, sampling date used as described.
I had planned to change the ordering of the grid to be by year first.
However I think the currently ordering which keeps surveys 1 & 2 together and then uses by sample id descending might be the best.
Sample ID will be usually roughly by year anyway.
It is problematic to use the date, as what happens if survey 1 for one plot has a date, survey 2 has

[2019-07-22 14:16] sacrevert commented on #108
Just to say, that with regards to Rachel's comment above and email, in fact, survey 1 is just the first survey, and is not logically tied to the time of year. This is perhaps only implied in the guidance, but it is not meant to be the case that there is a temporal cut off for what constitutes survey 1 and 2. In fact, the numbers really have no meaning in terms of the underlying database.

So, if a

[2019-07-22 15:06] andrewvanbreda commented on #108
@sacrevert @NPMSSupport

Hi,

I think I am confused, possibly because I do not have so much to do with the day-to-day management of the project.
Currently the logic is that survey 2 is cerated explicitly by the user.
If they are seeing a survey 1 that means they pressed the wrong button (as noted by Oli, this may not matter).

The new logic simply adds a survey 2 automatically if the plot has alre

[2019-07-22 23:26] sacrevert commented on #108
@npmssupport to review and confirm.
I don't think there is a problem here beyond a Comms one. I haven't looked at the new function on the Comms site, but the general logic is that the first sample in a year, regardless of the actual date, is survey one.

I don't think we can make a first survey done late in the year appear as survey 2 without a lot more work, and I don't think this is necessary an

[2019-07-23 07:59] andrewvanbreda commented on #108
@NPMSSupport @sacrevert
Please confirm when ready so I am able to move forward with going live with this

[2019-07-23 08:06] NPMSSupport commented on #108
@andrewvanbreda  @sacrevert
OK, I understand now. Happy to progress as long as, as  Oli has said we deal with the comms one. As I think we think how you have described, with surveys being 1 and 2 depending on how many you've done in a year. I'm purely foreseeing enquires from folk that have only done a later survey which they'll see as survey 2 (even if its their first). I think because of the com

[2019-07-23 08:08] andrewvanbreda commented on #108
@sacrevert @NPMSSupport
OK, I will mail you when I think I am able to go live.

[2019-07-23 13:57] sacrevert commented on #108
@npmssupport

My understanding is the opposite, i.e. if they just do one survey later in the year (that they might consider to be "survey 2") it will still show as survey 1 when they enter data

[2019-07-23 14:04] andrewvanbreda commented on #108
@sacrevert @NPMSSupport
Oli's comment is correct

[2019-07-23 14:49] NPMSSupport commented on #108
@sacrevert @andrewvanbreda

Yes Oli's comment is correct and I totally understand it. This is how it works. I just meant we'll need to be careful with language as I do not think that is how volunteers see it. They often call the later survey, survey 2 in commmunications (not on database), even if it is their first. That was alll I meant.

[2019-07-23 14:50] andrewvanbreda commented on #158
Looked at this just now to see if I can put a fix live along with the other changes today, apart from I found it is working.
Assume failure was a one-off unless I hear someone say otherwise.

[2019-07-23 14:50] #158 closed

[2019-07-23 14:54] sacrevert commented on #108
@npmssupport
Great, feel free to review the supporting text on the add sample pages if you think some choice phrases could improve volunteer's understanding.

[2019-07-23 16:01] andrewvanbreda commented on #105
Change live

[2019-07-23 16:01] #105 closed

[2019-07-23 16:09] andrewvanbreda commented on #108
@sacrevert @NPMSSupport
Changes live. Please review text as you see fit.

[2019-07-23 16:09] #108 closed

[2019-08-30 12:34] sacrevert opened #159 "Remove unnecessary genus level options at Indicator level"
At the moment, there are some (at least one)  genus level options available through **Indicator** level data entry that shouldn't be there. For example, the genus "Agrimonia" is available, even though the genus is not by itself on the NPMS indicator list. This is leading to some erroneous data entry, as some people are select the genus because it has the same common name attached as the species.

[2019-08-30 12:34] sacrevert commented on #95
Can this be closed @andrewvanbreda ?

[2019-08-30 12:35] sacrevert commented on #91
Just wondering whether this issue is complete? Would be good to close it if we can. @andrewvanbreda

[2019-08-30 13:21] sacrevert opened #160 "Spacing of drop-down species options"
Can we increase the spacing between the names in the drop-down? Quite congested at the moment.
In the image below, the latin name and common name of an option have almost no whitespace separating them.

![image](https://user-images.githubusercontent.com/5985134/64024002-5c118980-cb31-11e9-8956-6ec23e19d855.png)

[2019-08-30 15:26] sacrevert commented on #122
@andrewvanbreda I'm changing this to urgent, not because it is actually "urgent", but because I'd like to focus on this in preference to issues flagged as 'high'. I think we've slept on this issue for too long really.

[2019-08-30 15:31] sacrevert opened #161 "Highlight genus-level records at data entry stage for Inventory plots"
Just a marker to remind me that it would be good to have some way of prompting people to provide photos, or check that genus level is actually appropriate.

[2019-08-30 16:25] sacrevert commented on #161
I've upgraded this, as the number of genus-level records in the database for things that really shouldn't be at Inventory level is a bit discomfiting. I think we need to address this in some way soon. @NPMSSupport

[2019-08-30 16:58] #95 closed

[2019-09-02 14:16] andrewvanbreda commented on #159
@sacrevert @NPMSSupport
Hi, bit confused by the raising of this issue.
The Indicator level is controlled by an exact species list on the warehouse "NPMS species list for Indicator 2015" (ID 168).
As suggested I typed "Agrimonia" on the data entry form does not show a genus only option

[2019-09-02 14:17] andrewvanbreda commented on #159
<img width="986" alt="Screen Shot 2019-09-02 at 15 16 22" src="https://user-images.githubusercontent.com/2463614/64120679-c4ac7080-cd94-11e9-90a9-084deda38f18.png">

[2019-09-02 14:36] sacrevert commented on #159
Ah, ok, sorry. Maybe we dealt with this before (I was checking legacy data), and maybe when I checked I mistakenly looked at the Inventory form.

[2019-09-02 14:37] sacrevert commented on #159
There is still a slight issue at Inventory level, in that genus options appear before species options in the dropdown. However, I have asked for this to be dealt with at the iRecord wide level. See https://github.com/BiologicalRecordsCentre/iRecord/issues/669#issuecomment-527159541

Closing this issue anyway. Apologies!

[2019-09-02 14:37] #159 closed

[2019-09-02 14:47] sacrevert commented on #161
Note that we have this: https://github.com/BiologicalRecordsCentre/iRecord/issues/669
but I would also like to think about additional things we can do at Inventory level.

For example, pop-up messages that ask for photos. Might be worth having a phone-call about this and https://github.com/BiologicalRecordsCentre/NPMS/issues/122 ?

[2019-09-02 15:32] andrewvanbreda commented on #159
@sacrevert No problem

[2019-09-03 11:42] andrewvanbreda opened #162 "Editing survey 1 changes it to a survey 2"
If you create a survey 1, then if you then go and edit it, it magically changes into a survey 2.

[2019-09-03 11:57] andrewvanbreda opened #163 "Calendar not showing month/year on browsers other than Safari"
The data entry calendar does not show the month/year on browsers that aren't safari. This is because the text is showing in white.

[2019-09-04 09:25] andrewvanbreda opened #164 "Need to be able to report on number of volunteers leaving per year"
Requirement from Rachel

Need to be able to report on number of volunteers leaving per year

Probably want a extra new grid on Deallocated Squares Grid

[2019-09-04 11:23] andrewvanbreda commented on #162
Live

[2019-09-04 11:23] #162 closed

[2019-09-09 09:27] andrewvanbreda commented on #91
@sacrevert
Hi Oli,
No this is not ready to close. I think what happened is I tried and failed to fix, then we decided it was lower priority. I will see if I can have a go again now.

[2019-09-09 10:16] andrewvanbreda commented on #91
Note to myself, have applied manual correction to samples 1895285,1852561, I do not understand what happened here, both images was appearing on both samples as there were duplicate sample_media items, perhaps the user had tried to correct the situation. Anyway, do not use this for testing with now as this one has had manual correction applied.

[2019-09-09 10:44] andrewvanbreda commented on #91
@BirenRathod
Hi Biren,
Having trouble with this issue.....tooo complicated :( Given that could you have a go at running this query for me. Should give a much simpler overview of the situation. Cheers

select sm.id as sample_media_id, s.id as sample_id, s.created_by_id as user_id
from indicia.sample_media sm
join indicia.samples s on s.id = sm.sample_id and s.survey_id in (87,154,155) and s.created

[2019-09-09 12:11] BirenRathod commented on #91
@andrewvanbreda
I have attached the result.
[data-1568030993839.zip](https://github.com/BiologicalRecordsCentre/NPMS/files/3590376/data-1568030993839.zip)

[2019-09-09 12:15] andrewvanbreda commented on #91
@BirenRathod
Thanks Biren. That result looks like the kind of thing I needed :)

[2019-09-09 12:34] andrewvanbreda commented on #91
Hi @BirenRathod
Sorry to be a pain, can I get you to run these 3 queries (gradually getting more complex). Hopefully it will let me pinpoint what the in the query is stopping the data I am expecting to be returned. Cheers

select sm.id as sample_media_id, s.id as sample_2_id, s.created_by_id as user_id,
sm.created_on as media_created_date,s.created_on as sample_2_created_date
from indicia.sample_m

[2019-09-09 15:57] BirenRathod commented on #91
@andrewvanbreda
I have attached the results and there are in same order as you posted the queries.

[NPMS.zip](https://github.com/BiologicalRecordsCentre/NPMS/files/3591442/NPMS.zip)

[2019-09-10 09:08] andrewvanbreda commented on #91
@BirenRathod
Ah, very interesting result. Thanks Biren. Will send you some more correction SQL in a bit.

[2019-09-10 10:05] andrewvanbreda commented on #91
@BirenRathod
Hi Biren, Have done quite a few tests on my own machine, and the original SQL should be working, can you retry running this please. Thanks :)

DO
$do$
declare sample_media_row_to_correct RECORD;
BEGIN

FOR sample_media_row_to_correct IN
select sm.id as sample_media_id, s.id as sample_2_id, s.created_by_id as user_id, sav.int_value as sample_1_id, pav.person_id as person_id, pav.id as

[2019-09-13 09:09] andrewvanbreda commented on #122
@BirenRathod
Hi Biren,
I have hot fixed a report to help with this. Can you pull the following onto live warehouse. It is just a new invisible report column, shouldn't affect anything...hopefully
library/notifications_list_for_notifications_centre.xml

Cheers

[2019-09-16 11:04] andrewvanbreda commented on #161
@sacrevert Am I correct in thinking your preferred option would be to limit this list by taxon rank and not include genus level as an option at all?
I think we already have an issue noting the photo code stopped working at some point.

[2019-09-16 17:57] sacrevert commented on #161
@andrewvambreda
(1) I can't see any issue about photos except for the sample 2 one you have been working on.
(2) I don't want to completely disallow genus records, I just want to discourage them.

The general fix to the drop-down ordering will help with this, but I wanted to think about other ideas too. For example, a box that would appear on submission if genus records are included saying, "We se

[2019-09-16 20:26] andrewvanbreda commented on #161
@sacrevert
Just reviewing the issues, I think you are right, there isn't an issue which has your photo message requirement. I think I got confused with this issue

https://github.com/BiologicalRecordsCentre/NPMS/issues/10

This has the following slightly different requirements
Change Wildflower to not allow photos without an abundance, this is already coded but there is a bug.
Change all the forms

[2019-09-17 15:41] andrewvanbreda commented on #164
@sacrevert @BirenRathod @NPMSSupport
Have written a report for this, Biren are you able to pull the NPMS BRC reports folder
Thanks

[2019-09-17 17:18] BirenRathod commented on #164
@andrewvanbreda
There is no report in the repository. Have you committed in to master?

[2019-09-18 07:15] BirenRathod commented on #122
@andrewvanbreda
I pulled the code and this report goes on live now.

[2019-09-18 07:18] BirenRathod commented on #91
@andrewvanbreda
I have performed this query. So please check the result.

[2019-09-18 11:16] andrewvanbreda commented on #122
Hi @BirenRathod
Thanks for this, but I can't get it to find the report though :(

https://dev-npms.pantheonsite.io/content/deallocated-squares

"Unable to find report projects/npms/volunteers_leaving_per_year.xml."

[2019-09-18 11:28] sacrevert commented on #147
I thought I had fixed this by re-entering the data, but something is still wrong because plot 1 in this square (location_id=182609) is not available when I go to add new sample on the website. I resaved the plot details by going to the URL for the plot and removing the "summary_mode"  text and resubmitting, but the plot is still unavailable. This is odd, as the plot **is** available through the ap

[2019-09-18 11:30] sacrevert opened #165 "Sample information duplicated through app"
After using the app on Monday in the field in earnest, the recorded sample has been duplicated in the database (samples 6765796 and 6765998). There was a connectivity issue with iRecord during our recording session (that affected both the NPMS and the iRecord app), so this may be blip relating to that. However, it would be good if we could investigate as to whether (i) this is not a more serious i

[2019-09-18 12:46] andrewvanbreda commented on #165
@sacrevert @kazlauskis
Hi Oli,
Is it possible to get Karolis' opinion on this, other than there being 2 samples which seem to be timestamped 20 minutes apart I don't really have anything to go without examining the app code closely.

[2019-09-18 12:49] sacrevert commented on #165
thanks @andrewvanbreda technically we don't have any funds to pay @kazlauskis at the moment, but hopefully he might have a moment or two to look in to this.

[2019-09-18 12:56] kazlauskis commented on #165
@andrewvanbreda every sample from app has unique external key attached, the samples from Oli have it as d77e3fbc-8275-4b61-890c-8f53b5f1c7ed on both samples. Would you be able to look into the database and say how many samples there are with shared external keys? Thanks

[2019-09-18 12:57] andrewvanbreda commented on #122
Hi @sacrevert

It is only not available at Inventory level. This is because the plot has been used in two surveys in 2019 already at this level (samples 6765796,6765998). Not quite sure though why these are both Survey 1, I think one of them should be a survey 2.
Has the date been change or the plot changed on one of these samples after they were created?

The app is incorrect to be showing that p

[2019-09-18 12:58] andrewvanbreda commented on #147
Hi Oli,

It is only not available at Inventory level. This is because the plot has been used in two surveys in 2019 already at this level (samples 6765796,6765998). Not quite sure though why these are both Survey 1, I think one of them should be a survey 2.
Has the date been change or the plot changed on one of these samples after they were created?

The app is incorrect to be showing that plot, I

[2019-09-18 13:06] sacrevert commented on #147
OK, that isn't the correct logic though. A plot should be recordable at any level, irrespective of its history, at least between years. To summarise:
(1) A plot can have samples recorded at any level, irrespective of its sample history.
(2) The only restriction in this sense would be within a year, when a sample 2 for a plot would logically be of the same type as sample 1, given that this is more

[2019-09-18 13:14] andrewvanbreda commented on #165
Hi @kazlauskis, thanks for your quick response. I don't have access to the database, @sacrevert  are you able to do this?
Thanks

[2019-09-18 13:16] sacrevert commented on #165
@andrewvanbreda Can you provide me with the relevant SQL?

[2019-09-18 13:26] andrewvanbreda commented on #165
How about this
select external_key
from indicia.samples
where deleted=false and survey_id in (87,154,155)
group by external_key
having count(external_key) > 1;

Then query the samples table to find out about the individual external_keys we find?
select * from indicia.samples where external_key=????;

[2019-09-18 13:43] sacrevert commented on #165
@andrewvanbreda @kazlauskis
Duplicated keys (3 of them):
[dupExtKey.zip](https://github.com/BiologicalRecordsCentre/NPMS/files/3626675/dupExtKey.zip)

Related samples:
[data-1568814133134.zip](https://github.com/BiologicalRecordsCentre/NPMS/files/3626687/data-1568814133134.zip)

[2019-09-18 13:52] andrewvanbreda commented on #147
@sacrevert
Hi Oli, The logic was changed as part of the changes to automatically create a survey 2.
The logic is
- Create a survey -> Automatically becomes survey 1
- Create another survey in the year at the same survey level for same plot -> Automatically creates survey 2
- Plot no longer available to use for the year at that level until the next year.

Is this incorrect then? We don't want them

[2019-09-18 14:24] BirenRathod commented on #122
@andrewvanbreda
That report is not on the server of live warehouse.

[2019-09-18 14:28] kazlauskis commented on #165
@sacrevert thanks, I will look into this. That's probably next week if that's OK.

[2019-09-18 14:29] BirenRathod commented on #122
As I mentioned in [#164](https://github.com/BiologicalRecordsCentre/NPMS/issues/164)

[2019-09-18 14:30] andrewvanbreda commented on #91
Hi @BirenRathod

This seems to have worked. I am hesitant to run it for everyone though, can we try this query which is the same one but limited to 5 people instead of just 1.
Cheers

DO
$do$
declare sample_media_row_to_correct RECORD;
BEGIN

FOR sample_media_row_to_correct IN
select sm.id as sample_media_id, s.id as sample_2_id, s.created_by_id as user_id, sav.int_value as sample_1_id, pav.person

[2019-09-18 14:33] BirenRathod commented on #91
@andrewvanbreda
That's done.

[2019-09-18 14:36] sacrevert commented on #165
OK, thanks @kazlauskis
There was some issue with the indicia warehouse on Monday, not sure what was going on, but @DavidRoy might know if relevant

[2019-09-18 14:37] andrewvanbreda commented on #91
@BirenRathod
Thanks :)

[2019-09-18 14:40] sacrevert commented on #147
@andrewvanbreda
Thanks Andy. Sorry, this is related to https://github.com/BiologicalRecordsCentre/NPMS/issues/165
There shouldn't have been two samples recorded this year for that plot, and this confused me (and think I only noticed that app-based issue after this issue). I will close this now.

[2019-09-18 14:40] #147 closed

[2019-09-18 15:13] andrewvanbreda commented on #147
@sacrevert
Am I correct in thinking that it isn't too much of a problem than the app seems to be running somewhat simpler logic then.

[2019-09-18 15:16] sacrevert commented on #147
@andrewvanbreda Correct, I don't think we need to worry about this, although, that said, there is the potential issue of someone trying to record a sample 3 using the app.  Not sure what this would break vis-a-vis the website, if anything? is it worth opening an issue regarding this on the app github? or just perhaps a low priority issue here on the website github? I think this scenario is unlikel

[2019-09-18 15:34] andrewvanbreda commented on #164
@BirenRathod Um, you are right, it seems to be missing from indicia-reports. Will look into it

[2019-09-18 15:35] andrewvanbreda commented on #122
Sorry, I put the above messages in the wrong thread. See 164 for any further progress on that

[2019-09-18 20:41] sacrevert commented on #147
@andrewvanbreda
Actually, this may not even be an issue in the app. The sample submitted twice without my re-inputting the data, so I haven't even seen the behaviour we are discussing in the app (i.e. plots remaining a available after both samples made within a year). Sorry, recovering from a cold and not thinking that clearly at the moment!

[2019-09-18 20:44] andrewvanbreda commented on #164
Hi @BirenRathod
Report is there now, I hadn't noticed but the push had previously failed

https://github.com/BiologicalRecordsCentre/indicia-reports/blob/master/reports/projects/npms/volunteers_leaving_per_year.xml

[2019-09-18 20:47] andrewvanbreda commented on #147
@sacrevert
No problem

[2019-09-19 08:42] BirenRathod commented on #164
@andrewvanbreda
That reports file has deployed now on live warehouse.

[2019-09-19 09:29] andrewvanbreda commented on #164
@BirenRathod Thanks Biren, working fine now :)

@sacrevert @NPMSSupport
This is now live. Note the page numbering on the grid is messed up, ignore this for now, won't affect the report, I will fix if I happen to be fixing something else at the same time at some point.

Just need to check with you with the definition of someone who has left.
Currently it looks for people who have had a square, no l

[2019-09-19 09:46] sacrevert commented on #164
This seems reasonable to me. But I will defer to @NPMSSupport

[2019-09-19 10:00] andrewvanbreda commented on #91
Hi @BirenRathod
Looks to have worked, can we run this then without a person limiter. Thanks

DO
$do$
declare sample_media_row_to_correct RECORD;
BEGIN

FOR sample_media_row_to_correct IN
select sm.id as sample_media_id, s.id as sample_2_id, s.created_by_id as user_id, sav.int_value as sample_1_id, pav.person_id as person_id, pav.id as active_attachment_id,
sm.created_on as media_created_date,s.cre

[2019-09-19 10:01] andrewvanbreda commented on #91
@BirenRathod Then also could you run this to check the database, hopefully it will return nothing after the above has been run.
Cheers

select sm.id as sample_media_id, s.id as sample_2_id, s.created_by_id as user_id, sav.int_value as sample_1_id, pav.person_id as person_id, pav.id as active_attachment_id,
sm.created_on as media_created_date,s.created_on as sample_2_created_date
from indicia.sampl

[2019-09-19 11:33] andrewvanbreda commented on #122
@sacrevert @NPMSSupport
I have been looking into this.
I have put a test page here

https://test-npms.pantheonsite.io/content/notifications

The initial problem I had was notifications that have a link to the data entry page would mess up on NPMS but I have fixed that.

I then have another problem where there are some old data entry forms on NPMS (no longer available in main menu), and old notific

[2019-09-19 13:03] sacrevert commented on #122
In general I think this looks like a potential solution (I suppose the links issues is not a big one, as long as what is linked to provides the user with the ability to see what has changed, or to make some change).

More generally though, i think we need to think about just presenting the information in this way is the best way to do it. These notifications will be unexpected, and potentially uns

[2019-09-19 14:20] andrewvanbreda commented on #122
@NPMSSupport @DavidRoy @kwal2

The data can be unlocked very easily, it is just a date that can be moved back into the past far as we like, moving it far enough basically has the effect of no locking date.
Please confirm if this is what you want.

The notifications is just a report attached to a grid with a few icons to link to things like the data entry page. There should be no difficulty in maki

[2019-09-19 15:22] DavidRoy commented on #122
i agree to removing the locking

if you have suggestions for improvement of notification messages, these are always welcome.  The ID difficulty text came from the original NBN rulesets, i.e. before uses within Indicia/iRecord were conceived

[2019-09-19 15:54] andrewvanbreda commented on #160
@sacrevert @BirenRathod
Hi, Pretty sure this was broken by the recent theme changes. The problem is to fiddle with the CSS I would have to have to keep committing from my own machine, which isn't ideal if experimenting.
Is it possible for Biren to have a look at fixing this directly by fiddling with the dev/test sites first.
The drop-down is made up of alternating cells with the classes called "ac

[2019-09-19 16:37] BirenRathod commented on #91
@andrewvanbreda
The first query ran successfully. Here is the result from second query.
[data-1568910935533_19092019.zip](https://github.com/BiologicalRecordsCentre/NPMS/files/3632313/data-1568910935533_19092019.zip)

[2019-09-19 17:05] andrewvanbreda commented on #91
@BirenRathod @sacrevert @NPMSSupport
Ok, that broken row is a media item that is attached to a survey 1 where the created_on timestamp on the media item is before when the survey was created. I don't understand how that can be, there is always one strange result. I suggested as it is just one and we have no better ideas we just leave it attached there.

The other changes seem to have worked after

[2019-09-19 17:05] #91 closed

[2019-09-20 13:23] andrewvanbreda commented on #122
@NPMSSupport @DavidRoy @kwal2

Locking removed (date moved to year 2000, so effectively there isn't a date).

Note that locking/read-only rules still apply to NPMS if a user no longer has rights to a square etc, there are a few rules like this, I can't remember all the rules off the top of my head.

[2019-09-23 08:59] andrewvanbreda commented on #147
@sacrevert
Hi, Something occurred to me after our conversation in this thread relating to Surveys 1/2. This was changed to be automatic on the website recently, however the app wasn't changed. Survey 2 is added manually on the app (I did just check it appeared to work). Am just noting this behaviour and no further action will be taken unless I hear otherwise.

[2019-09-24 10:45] sacrevert commented on #122
NPMS teleconference concluded that probably we want something simpler than the iRecord verifications notifications page. Possibly a single email that gets sent (max once per 6 months?) when any verification decisions happen to a user's records. However, ideally this would probably be a link to some sort of summary page, rather than the per record verification notifications that we currently have.

[2019-09-24 20:27] andrewvanbreda commented on #122
@sacrevert Am happy to chat about this.
As you say we currently support emails for notifications (actually if I remember correctly that is something I coded). What you are suggesting is slightly different to this, as the email isn't fired from specific notifications (currently the notifications are handled, then the emails by a separate module). I suppose in theory the summary could be a special t

[2019-09-25 13:38] andrewvanbreda commented on #164
@NPMSSupport Hi, awaiting your feedback before closing.

[2019-09-25 13:52] NPMSSupport commented on #164
@andrewvanbreda I think the report itself look fine and fit for purpose. Thank you for doing that.
Agree re de-allocation date.
I agree that we want to know how many people have deallocated having submitted some sample data. However, I think we do also need to know the number of people (probably separately), that have allocated and then de-allocated, without having submitted data. As I think its u

[2019-09-25 14:08] sacrevert commented on #164
@andrewvanbreda @NPMSSupport
I agree that it might be useful to know this, but would argue that this should be a separate issue, and prioritised accordingly. Also, I would not be in favour of this if it involved rewriting what has already been done, as that would just represent a waste of resource as a result of our not clearly specifying what we wanted to Andy initially.

Likewise, with emails, i

[2019-09-25 14:33] NPMSSupport commented on #164
Thanks @sacrevert
I agree on the most part, other than regarding the deallocated squares of those without any data. I think at least we need to know both, not just those folk who have submitted data and then deallocated, but rather we need to know how many I total made it as far as being allocated but then we lost.

Thanks both

[2019-09-25 14:45] sacrevert commented on #164
@NPMSSupport
Can you open a new issue clearly detailing the new requirements please. Then @andrewvanbreda can close this one. Cheers

[2019-09-26 09:12] andrewvanbreda commented on #164
Hi @NPMSSupport @sacrevert

It is easy enough to change the report to include numbers of people who didn't create any data. However am a bit confused how to handle to the email requirement, as this report just lists numbers of people who have left per year, there are not details of individuals on the report. We could have another report which lists every user who has left. It could be based on the

[2019-09-26 11:22] BirenRathod commented on #160
@sacrevert  & @andrewvanbreda
I have implemented CSS, so list will be display with more space in it.

[2019-09-26 11:28] sacrevert commented on #160
@BirenRathod Fantastic. I've seen this working, so will close now.

[2019-09-26 11:28] #160 closed

[2019-09-26 13:36] andrewvanbreda commented on #160
@BirenRathod Great, thanks Biren :)

[2019-09-30 09:46] andrewvanbreda commented on #164
@BirenRathod There should be two new reports to pull onto live warehouse
projects/npms/volunteers_details_leaving_per_year.xml
projects/npms/volunteers_numbers_leaving_per_year.xml

Note am not entirely sure if these will work as my machine was behaving in a funny way regarding checkbox parameters (John didn't know what was wrong either). It doesn't matter if it doesn't work first time as the repo

[2019-09-30 09:51] BirenRathod commented on #164
@andrewvanbreda
Reports have been pulled down now.

[2019-09-30 10:54] andrewvanbreda commented on #164
@BirenRathod @sacrevert @NPMSSupport
This actually seems to have worked. There is a new Volunteers Leaving option under Deallocated Squares.
The previous totals grid has been moved onto this new page and a second grid of details is included.
Use the available checkbox to limit results to only include users who created data.

@sacrevert @NPMSSupport Can you close this if you are happy.

[2019-09-30 11:03] sacrevert commented on #164
I will leave this to @NPMSSupport seeing as i don't personally use these pages.

[2019-09-30 14:05] NPMSSupport commented on #164
Thanks @andrewvanbreda , that's looking great for needs. Before I close, I would just want to flag up that the number for 2019 seems surprisingly low (hopefully correct) as I thought I'd released more than that myself, as folk often email to request that they be removed, rather than doing it themselves. So I just wanted to double check that those I have released as admin would show also, before I

[2019-09-30 14:46] NPMSSupport commented on #164
Hi both @andrewvanbreda @sacrevert
Just to say that I have just released two squares for surveyors by request and indeed the numbers for 2019 have not adjusted from my prior check and they have not appeared in the bottom rport under 2019. I can also not find them in the deallocated squares report.

[2019-09-30 15:56] andrewvanbreda commented on #164
@NPMSSupport
It was tested, but that was on my own machine which only has my fake data. I will have a look what has happened.
Can you email me the names of the people in question so I can check the situation, thanks.

[2019-09-30 16:08] andrewvanbreda commented on #164
@NPMSSupport Forgot to mention will also need the square names in question

[2019-10-01 08:34] NPMSSupport commented on #164
Hi @andrewvanbreda  are a fair few. I will email them over.
Thanks

[2019-10-01 09:36] andrewvanbreda commented on #164
@NPMSSupport
I can see a problem with the report (actually it is just one word is missing).
The problem is it assumes the square has a plot, which I know for HU2349 it doesn't.
I think what happened was the report originally worked in the situation where it only ever returned data if there was data created by the user (a sample/visit)....but that is now optional.
That bit is an easy change.
So tha

[2019-10-01 09:40] NPMSSupport commented on #164
Thanks @andrewvanbreda both your suggestions sound sensible to me  and I am happy for you to progress.
Just let me know when you have made the fix and changes and I am happy to take a look again.

[2019-10-01 10:20] andrewvanbreda commented on #164
@NPMSSupport @BirenRathod
I have so far just made the change to the two volunteers reports to fix the plot issue. Biren can you pull these two reports and we will look to see if situation has improved

projects/npms/volunteers_details_leaving_per_year.xml
projects/npms/volunteers_numbers_leaving_per_year.xml

I have not changed the deactivated square report yet as that is a more complex change, al

[2019-10-01 12:53] andrewvanbreda commented on #164
@BirenRathod Have now also updated the following report, so this can be pulled also. Cheers
projects/npms/deallocated_squares.xml

[2019-10-02 11:08] BirenRathod commented on #164
@andrewvanbreda
This report gone live now.

[2019-10-02 13:10] andrewvanbreda commented on #164
@BirenRathod Thanks Biren
@NPMSSupport The situation does seem to have improved in that the numbers are now bigger and the deallocated square report is showing square HU2349 (and me as its last owner). So I am pretty sure the plot problem is what you were experiencing.

Unfortunately I accidentally committed a typo into the volunteers details report at the last second so this part of the reporting

[2019-10-02 13:16] BirenRathod commented on #164
@andrewvanbreda
Here is the result-> 192388, true.
![image](https://user-images.githubusercontent.com/5941255/66047191-41ab4100-e51f-11e9-8e73-ffa2a8b6482e.png)

[2019-10-02 13:17] andrewvanbreda commented on #164
@BirenRathod Thanks Biren :)

[2019-10-04 13:10] andrewvanbreda commented on #164
@BirenRathod
Have fixed these reports now, can you pull the npms reports folder on live. Cheers. The changed reports are the same 3 as before:

projects/npms/deallocated_squares.xml
projects/npms/volunteers_details_leaving_per_year.xml
projects/npms/volunteers_numbers_leaving_per_year.xml

@NPMSSupport @sacrevert  I have added a parameter to the reports so we can specify a minimum amount of time b

[2019-10-04 13:27] BirenRathod commented on #164
@andrewvanbreda
All these reports have been pulled down now.

[2019-10-04 15:28] andrewvanbreda commented on #164
@BirenRathod Thanks Biren

@NPMSSupport I think this is working now (with one noted exception).
Can you let me know what you think. The reports are setup to ignore anyone who allocated and then deallocated their square within a time period that is less than a day.
The one problem I have noticed does not relate to the data being shown, on the Volunteers Details report, the filtering search under ea

[2019-10-07 09:35] andrewvanbreda commented on #164
I fixed the header search issue.

@BirenRathod Can you pull projects/npms/volunteers_details_leaving_per_year.xml whenever you get a chance, not urgent.

@sacrevert @NPMSSupport Close this issue whenever you are ready, it should be working fully now.

[2019-10-07 10:05] BirenRathod commented on #164
@andrewvanbreda
The report gone live now.

[2019-10-07 10:15] andrewvanbreda commented on #164
@BirenRathod
Thanks Biren, that is working now :)

[2019-10-10 10:45] andrewvanbreda opened #166 "107 samples have a null location_id (i.e. 107 visits with a null plot)"
Should not be possible, investigate

[2019-10-10 10:57] sacrevert commented on #166
Thanks Andy. I agree that this should be a priority

[2019-10-10 13:14] kazlauskis commented on #165
Hi @sacrevert @andrewvanbreda, I have had a look at this issue and can confirm that in case of network failure or timed out submission a duplicate can occur. In short, this is not the mobile application but the Drupal module it communicates through that should be improved. In the Drupal's mobile-indicia-api module there is a mechanism that would prevent the duplicates, but only for surveys with 1-

[2019-10-10 13:30] sacrevert commented on #165
Thanks @kazlauskis , much appreciated

[2019-10-10 13:43] andrewvanbreda commented on #165
@kazlauskis @sacrevert
Hi Karolis,
OK thanks for the info. Will have a look at the situation as soon as I can. Not familiar with this area of code so I have no further comments to make at this second. Will get back to you/Oli
Andy

[2019-10-10 14:50] andrewvanbreda commented on #166
@sacrevert @NPMSSupport I have done some initial investigations regarding this.

The obvious thing to check is the situation when the user loses rights to the square, then goes to the My Visits page and edits a sample; as they don't have rights to the square then perhaps the plot wouldn't show on the sample, and if they saved it, then the sample would (literally) lose the plot.
Actually this is th

[2019-10-10 14:55] sacrevert commented on #166
@andrewvanbreda what years are these samples for? I have a strong suspicion that they might relate to teething issues in the early days of the scheme. Am I right?

[2019-10-10 15:49] andrewvanbreda commented on #166
@sacrevert Ah perhaps good idea. Let me check with a query to Biren, I didn't think that they were old as we just had a user with problems this week, but I remember now actually the problematic samples they were talking about were old.

@BirenRathod Could you run this please
select id,survey_id,created_on,updated_on
from indicia.samples where location_id is null
and survey_id in (87,154,155)
and d

[2019-10-10 16:21] BirenRathod commented on #166
@andrewvanbreda
Attach has got result.
[data-1570724366026_NPMS.zip](https://github.com/BiologicalRecordsCentre/NPMS/files/3713578/data-1570724366026_NPMS.zip)

[2019-10-10 19:13] andrewvanbreda commented on #166
@BirenRathod Thanks Biren, will need to have a look up whether these are all before changes were made to the system, they all seems to be at least a year old which is hopeful.

[2019-10-10 19:17] sacrevert commented on #166
Thanks @andrewvanbreda. If this issue looks like it has gone away, then please reassign this to me and i will inspect the samples through the website and try to see whether we can just delete them.

[2019-10-11 11:36] andrewvanbreda commented on #166
Hi @sacrevert,

It looks to me like the final fix for this went live in July this year, although I think there were further logic changes before that which means I think that yes the problem could of gone away a year ago.
Certainly looks like the problem is not currently present in the code.

Could you take a look at the data then.

The only thing I would say regarding the data is that @NPMSSuppor

[2019-10-23 13:11] andrewvanbreda commented on #164
Needs specific leaving date

[2019-10-24 13:53] andrewvanbreda commented on #164
@BirenRathod
The coding for this is done. Biren can you pull this report onto live NPMS reports folder please (low risk as it is just an extra column in an admin report). Cheers

volunteers_leaving_per_year.xml

[2019-10-24 13:56] BirenRathod commented on #164
@andrewvanbreda
I pulled that report now.

[2019-10-24 14:06] andrewvanbreda commented on #164
Cheers @BirenRathod , will take a look as soon as I can :)

[2019-10-24 15:01] andrewvanbreda commented on #164
@NPMSSupport
Can you close this issue if you are happy with the result

[2019-10-25 10:50] sacrevert opened #167 "Unrestrict list of plots for data entry"
Currently plots are dropped from the available list once two samples are entered within a year, however, this stops historic data being entered if two current year samples have already been entered.

[2019-10-25 10:55] sacrevert opened #168 "Warning when entering more than 2 samples for a plot within a year"
Related to #167

Given that we will unrestrict the list of plots available it might happen that surveyors accidentally enter sample data for the wrong plot. A warning during data entry (that would need to happen on the page where the surveyor specifies the date) would be useful just to prompt users to check that they are entering data for the correct plot.

Note that recording more than two sample

[2019-10-25 11:19] andrewvanbreda commented on #167
@sacrevert @NPMSSupport
I knew it would be a good idea when I did the original change that I created a new plot display report with version 2 shown in the filename.
This means the original is available and I can simply switch to it (have done this already on dev).
I assume that is ok to deploy to live when I get a chance (am on train at second, so would be mid-afternoon probably).
The maintenance

[2019-10-25 11:30] sacrevert commented on #167
OK, thanks. I can't remember, but presumably there weren't other changes between v1 and v2 that we don't want to lose?

[2019-10-25 11:41] andrewvanbreda commented on #167
@sacrevert
I did check. It looked to me their aren't on that report, however I will double check again.
I think there were other changes that won't be affected by this particular report, for instance the way it can automatically create a survey 2, that would not be affected by this report. However I will give that a double-check before a go live.
I assume it is ok for a brief maintenance mode if I

[2019-10-25 12:28] sacrevert commented on #167
@andrewvanbreda
OK, thanks. My actually be a good idea to wait until Rachel is back before deploying, perhaps you can add it to your calendar for the 4th Nov. Cheers

[2019-10-25 12:31] andrewvanbreda commented on #167
@sacrevert OK, no problem. Will do. Should have also noted that the report also has a GitHub commit comment which also doesn't mention any other changes related to it

[2019-10-25 14:34] andrewvanbreda commented on #161
@sacrevert
The species grid doesn't know what the rank is without me altering the code, possibly significantly. The other possibility is to go and collect the rank from the DB at the save point, probably not really desirable if we want to keep a quick system.
So am wondering if I could just detect for one word names e.g. a genus only, or will this not have the desired effect in some situations?

[2019-10-25 15:10] sacrevert commented on #161
I think this would be fine actually. Most commonly used genus level aggregates are not actually one word (because they often are combined with "agg."), so I think just having the message pop-up for single word entries would be fine.

My suggestion for the message (including spacing) is as follows:
"It looks like you've entered a genus-level record. Whilst this is fine, providing data at the specie

[2019-10-31 12:18] andrewvanbreda commented on #165
@sacrevert @kazlauskis
Sorry, only just got round to looking at this. Am not sure we have budget that can be allocated to a large coding change unless upping to a 150 limit doesn't work (because it is too slow).

I can apply this to the Drupal site. However there is an obviously disadvantage to doing that, we might only know it is broken if the live app stops working....and we might only know it i

[2019-10-31 12:46] sacrevert commented on #165
@andrewvanbreda
I'm happy for this fix to be tried. We only had two instances of duplication, but given that very few people have used the app to date, this could still be as high as 5% of cases. I would go for 60 rather than 150, rather unlikely to get a sample with more attached occurrences than that, particularly as we are only talking vascular plants (the user can't enter bryophytes and lichen

[2019-10-31 12:59] andrewvanbreda commented on #165
@BirenRathod Are you happy for this adjustment to be made to Indicia api module, I remember once you said not to change any modules, but I assume this Indicia one is ok if I change it?

[2019-10-31 13:31] BirenRathod commented on #165
@andrewvanbreda
Ignore my previous comment, that may be for some other reason. But please go ahead and do make amendments.

[2019-10-31 13:53] andrewvanbreda commented on #165
@BirenRathod
Hi Biren, Do you know if it is possible to deploy 1 commit at a time on Pantheon. There are two commits, but for one of them we were going to wait for Rachel to come back from holiday. I cannot see a way for 1 commit at a time.

[2019-10-31 13:56] BirenRathod commented on #165
@andrewvanbreda
There is no mechanism of controlling commit once you pushed your commit. I suggest delete your changes from the file for time being and push again.

[2019-10-31 14:01] kazlauskis commented on #165
@andrewvanbreda if the commit you want to push is the first one in line of the several then use this `git push origin master~<SPECIFY HOW MANY COMMITS AGO>:master`

Edit: realised that you probably want to deploy to a different environment rather than Pantheon itself. In that case do what @BirenRathod has suggested or branch out with your master to another branch and force a hard reset one commit

[2019-10-31 14:06] BirenRathod commented on #165
@kazlauskis
Thanks for your suggestion.
This is not about committing on git. This is about after the push done on Pantheon repo to control your commit.

[2019-10-31 14:07] andrewvanbreda commented on #165
@sacrevert
Oli, the other change relates to that plot drop-down restriction. It might be worth taking the risk to deploy it before Rachel is back as it does give a lot of benefit to users. I saw it working ok on dev and we used the report we are switching to before fine.

@kazlauskis Cheers for the tip, my git command line expertise is fairly limited beyond what I do daily.
Not sure that works in

[2019-10-31 14:09] sacrevert commented on #165
@andrewvanbreda OK, fine, go ahead. @NPMSSupport can email the relevant user re the change when she is back on Monday.

[2019-10-31 14:37] andrewvanbreda commented on #165
@sacrevert @kazlauskis Fixes have been deployed. Have we a way of knowing the fix is working with the app.

[2019-10-31 14:40] andrewvanbreda commented on #167
@sacrevert @NPMSSupport

This has been deployed alongside another issue fix as agreed with Oli as I couldn't deploy that without this one.
I have seen this working, please cclose this whenever you are ready (presumably after the user who had trouble with the plots has confirmed the fix is good for them)

[2019-10-31 14:43] kazlauskis commented on #165
If you want to replicate a scenario where a duplication can occur then I suggest create a sample with more than 5 occurrences in the app and while sending before the phone receives a confirmation put the phone to airplane mode (essentially a network loss scenario). Then reopen the app and try to resubmit the same sample again. If it works then your fix has helped.

[2019-10-31 14:57] andrewvanbreda commented on #165
@kazlauskis
Thanks for the tips, I don't actually have a smartphone at the minute, as my Android one broke and I got so annoyed with it I reverted to an an Nokia style, I can see this was a mistake for work even if it provides a great game of Snake, I might need to rectify that situation.
Or could I use your app site site and switch off the computer's wifi connection to get the same effect?..would

[2019-10-31 15:05] sacrevert commented on #165
Happy to do this, although I presume it is best if i put the app in training mode before trying?

[2019-10-31 15:06] kazlauskis commented on #165
@andrewvanbreda  Haha, the snake. You can use the test site http://npms-app.herokuapp.com/ (install a CORS plugin).

@sacrevert I think the training mode is not respected by the system here, deleting the sample is the best option.

[2019-10-31 15:46] andrewvanbreda commented on #165
@kazlauskis Thanks Karolis. Will take a look at this this evening.

@sacrevert @kazlauskis Yes we don't support training mode for NPMS as it is stored at the occurrence level which means training occurrences can make it look as if we have a a sample with no species when reporting.
Please delete test data.

[2019-10-31 15:55] andrewvanbreda commented on #165
@sacrevert I just noticed this is closed, does this mean your tested it ok? (I don't have to worry about the tests Karolis is suggesting)

[2019-10-31 15:56] sacrevert commented on #165
Oops, must have clicked the wrong button ; )

[2019-10-31 15:59] andrewvanbreda commented on #165
No probs

[2019-10-31 19:58] andrewvanbreda commented on #165
Hi @kazlauskis @sacrevert
I think this has worked.
Submitted sample with 6 occurrences, submitted it on the app site Karolis sent me link to.  As soon as I sent the sample I cutout the wifi as quickly as humanly possible.
This resulted in the sample along with all 6 occurrences appearing in NPMS.
Re-opening the app and submitted again resulted in a warning (albeit slightly odd way of wording it. I

[2019-11-01 11:58] sacrevert commented on #165
Happy for this to be closed if @kazlauskis has no other comments or concerns

[2019-11-04 11:31] kazlauskis commented on #165
Cheers @andrewvanbreda for the testing.

@sacrevert yes, there shouldn't be any duplicates of any lists under 60 species anymore. The message is odd looking indeed, but if you're happy with it then please close the ticket.

[2019-11-04 12:45] #165 closed

[2019-11-05 14:35] NPMSSupport commented on #164
Thanks @andrewvanbreda  that's looking great. The only other request I would have is to be able to download this report, as we do with others. But no big rush on this, I have what I need for now.

[2019-11-05 15:28] NPMSSupport commented on #167
Thanks @andrewvanbreda
I have let the volunteer know to try now and to let us know whether he has been successful or not. All being well, I will close the issue when I hear back.

[2019-11-05 16:29] andrewvanbreda commented on #164
@sacrevert @NPMSSupport
Oo...I like easy requests. Done

[2019-11-05 16:29] #164 closed

[2019-11-06 15:39] andrewvanbreda commented on #166
@BirenRathod @sacrevert
Trying to write you some correcting SQL. Can you to tell me if the entered_sref field is filled in on the samples without a location id, if so, can you send me some of the full rows from the samples table that have the problem.

[2019-11-07 10:07] andrewvanbreda commented on #122
Talking to @sacrevert about this.
Thinking about have a report based on square per year with details such as number items verified, untouched, looked by machine/humans etc
Also a link out to iRecord login/registration if user wants more info.
Look into whether the email field can be auto-filled during that registration.

[2019-11-07 10:10] sacrevert commented on #136
Being dealt with internally through R/Rshiny displays

[2019-11-07 10:10] #136 closed

[2019-11-07 10:11] sacrevert commented on #151
@andrewvanbreda please progress this as agreed

[2019-11-07 11:23] sacrevert commented on #166
@andrewvanbreda here are all the data from the following query

select *
from indicia.samples where location_id is null
and survey_id in (87,154,155)
and deleted=false
order by created_on asc;

[data-1573125739029.zip](https://github.com/BiologicalRecordsCentre/NPMS/files/3819316/data-1573125739029.zip)

[2019-11-07 11:36] sacrevert commented on #79
Reviewing this, as far as I can see we are in a situation where someone newly assigned to a square can see older samples made by another user under My Visits. I think this is probably sufficient, copying across lists of actual species for data entry purposes is probably going to be unnecessarily complicated, particularly once one recalls that surveyors may be operating at different survey levels f

[2019-11-07 11:36] #79 closed

[2019-11-07 11:39] sacrevert commented on #156
Having reviewed this, I think this is fine, except for the fact that the header information on the pages concerned (Data entry page grids, My Visits) is neither complete nor accurate.

For example, according to the above discussion the survey-level Data entry page grids should list all the samples for the squares that the user currently owns. This means that the current headings on these pages are

[2019-11-07 13:20] andrewvanbreda commented on #156
Hi @sacrevert
Yes your understanding is correct. That text is now incorrect.

[2019-11-07 13:33] sacrevert commented on #156
@andrewvanbreda Suggested texts below.

**Data entry pages grids (Wildflower, Indicator and Inventory)**
The grid below lists all samples that exist at the **XXX** level for the 1 km squares that you are currently assigned to. Alternatively see the [My Visits](https://www.npms.org.uk/content/my-visits) page for all samples that you personally have created, even if you are no longer assigned to a s

[2019-11-07 21:01] andrewvanbreda commented on #156
@sacrevert
Sounds fine to me. Do you want to change the text or shall I do it?

[2019-11-08 09:02] sacrevert commented on #156
@andrewvanbreda Can you do that please. In some cases I'm not sure that I know how to change text that is on pages that aren't just simple HTML (if you know what I mean). Cheers.

[2019-11-09 11:10] andrewvanbreda commented on #156
Hi @sacrevert @BirenRathod
I have changed pantheon test and dev. Oli: can you just have a quick check it looks how you want.
One thing I have noticed is that it is making the first sentence bigger for no apparent reason. It always did this, but as the second paragraph is now longer, it is probably only that 3rd paragraph you want as small, as that was the small one before.
Biren, is the site CSS d

[2019-11-09 11:16] andrewvanbreda commented on #156
@sacrevert
Just a quick note about doing edits on the sites. In the html you sent, the My Visits link is an exact link to that page in live, if you just use a relative path like this href="content/my-visits" in your html instead of exact line, then when you transfer that link between dev/test/live it will always go to the right page on that site instead of always linking to live.
Just a tip, as yo

[2019-11-09 11:45] sacrevert commented on #156
@andrewvanbreda thanks! My knowledge of HTML & CSS is fairly limited. I probably won't check this until Monday, but it would be good if all the text was the same size

[2019-11-09 12:36] andrewvanbreda commented on #156
@sacrevert
I will wait for Biren's feedback anyway, no point me investigating if he knows what the problem is straight away

[2019-11-12 10:07] BirenRathod commented on #156
@sacrevert & @andrewvanbreda
by looking at any page, only first paragraph has got text size bigger than rest of the paragraph. This is not odd but this has purposely done by theme designer.

[2019-11-12 10:16] andrewvanbreda commented on #156
@sacrevert
It is your choice, I am happy to put the text live including different sizes.
If you need a change of size I think it needs doing at your end or by your theme designers, as although I could investigate, I don't think I could provide good value for money as other people would know as much (or more) than me in this area and we wouldn't want me to waste time if that could be used on other

[2019-11-12 10:47] BirenRathod commented on #156
@andrewvanbreda
A simple tweak is that keep the first para blank or add some meaning full text and keep rest in second para. I just did on that page and you see now all texts look same size.

[2019-11-12 11:11] sacrevert commented on #156
@andrewvanbreda
Would you be able to put the text on line using the trick recommended by Biren? Thanks both

[2019-11-13 15:30] andrewvanbreda commented on #156
@sacrevert @BirenRathod
Good thinking Biren ! :)
I have now put this live with a slight refinement where I set the empty paragraph to be hidden to avoid a gap.
Close if you are happy Oli.

[2019-11-13 16:15] sacrevert commented on #156
The data entry looks great @andrewvanbreda , but can you also add the text for the My Visits page please?
Many thanks

**My Visits**
The grid below lists all the samples that you have personally created, even if you are no longer assigned to a square. To see historic samples that you did not create, but which were recorded against squares that you currently have ownership of, see the various recor

[2019-11-13 18:47] andrewvanbreda commented on #156
@sacrevert
Good spot, got so carried away with the text size I forgot this.

Done now. Employed the same empty paragraph trick as before as the text was too big.

[2019-11-13 19:20] #156 closed

[2019-11-15 14:10] andrewvanbreda commented on #166
Hi @sacrevert

I took a look at your query. I have now convinced myself the way forward is not to use some complex generalised query to correct this, as looking at the data there are many situations.
So I am thinking we need individual inspection.

So for instance, "SU4223587918" is not listing as a location in the warehouse UI. So I can only assume the plot was deleted and in that case, indicia w

[2019-11-19 14:13] andrewvanbreda commented on #161
@NPMSSupport @sacrevert Have coded this now. Tested on my machine and committed to dev site where it will undergo further testing and be deployed with the iForm update

[2019-11-19 14:24] NPMSSupport commented on #161
Thanks for update @andrewvanbreda !

[2019-11-19 21:02] andrewvanbreda commented on #57
@sacrevert @NPMSSupport
After recent discussion with Oli over Skype I noted there are a few issues which are stalled like this one.
So just checking, do we have these PDF's available?

[2019-11-19 21:03] andrewvanbreda commented on #57
@sacrevert @NPMSSupport
Further note: obviously no urgency on this on my side

[2019-11-19 21:06] andrewvanbreda commented on #56
@sacrevert @NPMSSupport
Again, just noting this is another stalled issue which I would need information provided to be able to progress. Again, no urgency on my side.

[2019-11-19 21:08] sacrevert commented on #57
Yes, although I suspect we'd need to regenerate them as separate files with the square location (e.g. SU6547) as the file name. Would that be the best format for you?

[2019-11-19 21:09] andrewvanbreda commented on #47
@sacrevert @NPMSSupport
Again, noting this as a stalled issue. Do we have the national park information available?
Again no urgency on my side.

[2019-11-19 21:13] sacrevert commented on #47
I think we can get this easily. Can you confirm the format that you would prefer (e.g. shapefile, WKT string in a field in a CSV file, other)

[2019-11-19 21:19] sacrevert commented on #56
I think this is one where @NPMSSupport needs to decide whether this is still really worthwhile given than we have the Facebook group now

[2019-11-20 07:26] DavidRoy commented on #47
Shapefile, and ideally these layers are indexed and available to all websites within the Indicia warehouse.  i.e. treated the same way as other layers such VCs, LERCs etc.  May need John to advise on importing them, or assign to Richard Burkmar as he's done a recent update of VC layers so is familiar with what's required

[2019-11-20 10:48] NPMSSupport commented on #56
@sacrevert @andrewvanbreda
Yes, this would still be worth adding as not all volunteers are on Facebook and we still get queries on how to find mentors. Is the plan to link t curent availabe mentor info, or do you need anything additional frm us?  Thanks

[2019-11-20 10:50] sacrevert commented on #56
@NPMSSupport the plan was originally to provide a link to a PDF map. However, it could be even simpler. We could just stick a link to the PDF mentor directory on the Request a Square page. If you prefer a map, then you would need to supply one.

[2019-11-20 10:55] NPMSSupport commented on #56
@sacrevert A map was produced at the end of 2018 when this was first raised (I've found one in our files), but of course is out of date now. I'll look into getting that updated and I'd be inclined to link to a page that offers both directory and map.
Thanks

[2019-11-20 10:58] sacrevert commented on #56
@NPMSSupport Great, will leave this with you then.

[2019-11-20 16:25] andrewvanbreda commented on #88
Fixed in next build, became more urgent with the addition of the new genus message too.

[2019-11-20 16:56] andrewvanbreda commented on #161
@sacrevert I assume this should be on the Indicator form too?

[2019-11-20 17:17] sacrevert commented on #161
@andrewvanbreda Yes, indeed. Thanks

[2019-11-20 17:19] sacrevert commented on #161
@andrewvanbreda oh, sorry, no. The indicator form is limited to the indicator species lists anyway, so any genera listed there are listed on purpose. Inventory only then I think.

[2019-11-22 11:59] andrewvanbreda commented on #57
@sacrevert
Right, so I think the situation is you are going to provide loads of files, one for each square. So what I will need to do is put a link on the page that is dynamic and can grab the square name to get the file.
So actually given this situation, I think it doesn't matter to me what the file type is going to be, I don't do anything with it, the browser worries about the link.
So presumabl

[2019-11-22 12:02] sacrevert commented on #57
@andrewvanbreda
Sorry, perhaps I wasn't clear. My question is: what do you what the file names to be -- is it easiest is they are like 'SU6547', or would it be simpler if they were labelled with the 1 km square location ids from the warehouse

[2019-11-22 13:59] andrewvanbreda commented on #57
@sacrevert
Oh I see. Um.....in theory location_ids sound like a good idea, it might be marginally easier, but then I am wondering about moving between different warehouses.
Let's just go with the  'SU6547' format at least the code is then portable.
Also it is less confusing for users to see files in that format.

[2019-11-22 14:02] sacrevert commented on #57
@sacrevert to prepare maps

[2019-11-25 11:33] andrewvanbreda commented on #88
@sacrevert @NPMSSupport
Fixed, became more urgent as it was affecting new genus warning message too

[2019-11-25 11:33] #88 closed

[2019-11-25 11:36] andrewvanbreda commented on #161
@sacrevert @NPMSSupport
Oli can you close this one if you are happy.
The warning text is the same as your suggestion but I added an extra line at the end to make sure the user understands exactly what the buttons on the confirmation do:
"It looks like you have entered a genus-level record. Whilst this is fine, providing data at the species-level improves the quality of the NPMS dataset. If you are

[2019-11-25 14:26] andrewvanbreda commented on #10
AVB: Note to myself
1. Now fixed
2, 3 & 4 still outstanding

[2019-11-27 10:35] andrewvanbreda commented on #151
Hi,
I reconfigured the dev site yesterday to point at the test warehouse.
The configuration itself is now complete, however the site is not working yet for a couple of reasons.

@BirenRathod
When I try to assign a square to myself a square I am getting a "Validation error", however I cannot "Browser server logs" on the test warehouse, are you able to enable that so I can see what is going on?
Chee

[2019-11-27 10:52] sacrevert commented on #161
@andrewvanbreda Sorry, just checking, but does this single-word check work on whatever the surveyor enters, or on the underlying scientific name element of the record?

[2019-11-27 10:56] andrewvanbreda commented on #161
@sacrevert
Ah damn. I think there is a problem here, I didn't think about people entering common names.
Ok I can switch it off for now, although am not sure how to get round this.

[2019-11-27 11:03] sacrevert commented on #161
@andrewvanbreda
well, it didn't occur to me either. I'm not sure I'd switch it off though; to be honest, anyone entering common names at Inventory Level probably needs prompting to attach photos as well.

[2019-11-27 11:15] andrewvanbreda commented on #161
@sacrevert
OK, will switch it back on.
Actually, I just did some testing and I am more cunning than I thought and I had actually taken it into account the possible difficulty you mentioned.
The code checks for emphasised text only, so it actually works in add mode and ignores the common name.
So that is all good. It was works as we want in that sense.
However I think there might be a problem in ed

[2019-11-27 11:15] andrewvanbreda commented on #161
<img width="573" alt="Daisy" src="https://user-images.githubusercontent.com/2463614/69718867-3c293c00-1107-11ea-91ea-31b789faf440.png">

[2019-11-27 11:21] sacrevert commented on #161
@andrewvanbreda
Great, well, I will let you leave this open or close and create a new issue as you see fit.

[2019-11-27 11:23] andrewvanbreda commented on #161
@sacrevert
Will leave open for now.

[2019-11-27 13:05] BirenRathod commented on #151
@andrewvanbreda
Sorry bit late response to this as I was busy with middle of copying files from server. Ok I have now enabled the log browser module.

[2019-11-27 15:30] andrewvanbreda commented on #151
@BirenRathod No problem. Thanks Biren will take a look now.

[2019-11-27 16:16] andrewvanbreda commented on #151
@sacrevert @BirenRathod @NPMSSupport
I think I worked out what was wrong. In the warehouse each user has a row in the "user" table, this points to an equivalent row in a "people" table.
So a user can be applied to many websites such as NPMS and iRecord, and these can just point at one person contains their name etc.
I think because the records in the test warehouse have been bought across from liv

[2019-11-27 16:34] BirenRathod commented on #151
@andrewvanbreda
I just want to make clarification of one thing, test warehouse's data hasn't been brought from live. meaning it hasn't imported from live warehouse. it had been created during the test of each websites.

[2019-11-27 16:37] BirenRathod commented on #151
@andrewvanbreda
Problem is, user id stored in Drupal system, created while live warehouse was linked, so user id doesn't match with test warehouse if you swapped the warehouse in iForm settings.

[2019-11-27 16:43] BirenRathod commented on #151
@andrewvanbreda
One thing, you can try is that remove the warehouse user id from their profile and save, so it will linked with user in the warehouse or create new user if not linked in the test warehouse.

[2019-11-27 18:12] andrewvanbreda commented on #151
@BirenRathod
Hi Biren,
Yes thought of them one too, so had already checked the Indicia Warehouse Id field and the users I looked at had this blank. It was recreated for my user.
So I am not sure that is the exact issue, but have no doubt it is related to user IDs and such things
I will have a look at the warehouse and let you know. I think there is a look at person from user option. I will see whe