[2019-11-27 18:19] sacrevert commented on #151
@andrewvanbreda
Hi Andy, I haven't taken the time to understand the detail on this, but is it necessary to link users in this way? If the sole point of this site is testing and training, then can't we just rely on people creating new accounts / squares / plots as required?

[2019-11-27 19:33] andrewvanbreda commented on #151
Hi @sacrevert

It is a problem because users can't create a new account with an existing email address.
So your idea would work if everyone used a new email address to login.
One possibility is that we could append a character to every existing email address in the Drupal database, then any new accounts would be considered new email addresses. Anyway, I will have a look at the warehouse again befo

[2019-12-05 20:07] andrewvanbreda opened #169 "On account cancellation user remains on User Information Download"
If an NPMS account is cancelled, the user currently remains on the User Information Download report. This is because the website user_websites records remains on the warehouse.

[2019-12-05 22:05] andrewvanbreda commented on #161
Problems with message fixed as it no longer checks rows that were previously saved when editing, only newly added rows checked

[2019-12-05 22:05] #161 closed

[2019-12-09 09:55] #167 closed

[2019-12-09 16:10] andrewvanbreda commented on #65
@sacrevert @NPMSSupport

Hi,

Just having a look at the issues relating to data downloads.
There is more than one issue open in this area actually.
Oli noticed that is an unwanted filter displayed on the page.
Also we don't currently have the capability to optionally limit to downloads per square.
I think there are also issues to simplify the download, and adding eastings/northings info.

The prob

[2019-12-09 16:15] DavidRoy commented on #65
Thanks Andy.  Please evaluate ElasticSearch for any new NPMS downloads as it enables asynchronous downloads and is less of a performance hit on the main warehouse.  John can advise?

[2019-12-09 16:32] andrewvanbreda commented on #65
@DavidRoy
OK, I will see what he says as have no experience of this at all.
Will let you know.

[2019-12-09 16:39] sacrevert commented on #65
@andrewvanbreda
(1) New page sounds good for various reasons
(2) It would be nice to have one simple spatial format available (either GPX or KML, perhaps this is easier with the ElasticSearch returns?)
(3) If we are going down the road of a new download page, then this is an opportunity to develop something that will cover more than just the existing use case. That is to say, we could use this as

[2019-12-09 16:43] andrewvanbreda commented on #65
@sacrevert
OK, thanks for the feedback. Will comment in more detail after I speak to John about Elasticsearch, certainly sounds like a new solution is needed though rather than the current generalised Easy Download form.

[2019-12-10 11:09] andrewvanbreda opened #170 "My Squares sending blank emails"
New problem. When users remove a square on My Square it is sending a blank email to NPMS support, this used to work and was filled in with details about the removal

[2019-12-10 11:38] andrewvanbreda commented on #170
Note to myself. Just tested, there is nothing wrong with the basic code, the data is correctly being supplied to the drupal_mail function, but something has changed about how that function works.

[2019-12-10 12:17] andrewvanbreda commented on #170
Hi @BirenRathod
Just wondering if you have any thoughts regarding a problem I am having.. The PHP code has not changed but drupal_mail function has suddenly started sending blank emails. I put logging in and the subject is being supplied as it always was (and I assume the message to).

The code line is this

    $sent = drupal_mail('iform', 'location_signup_removal_mail', $emailTo, user_preferred_

[2019-12-10 12:25] andrewvanbreda commented on #170
Rachel says this
" last time I received a full and correct message when someone removed themself from a square was No 15th. And the first time a blank email came in after that was the 26th November."

So that probably rules out the migration as I think that was earlier, but am still confused.

[2019-12-10 12:30] andrewvanbreda commented on #170
Um....might of coincided with iForm update, but again not sure how that would affect drupal_mail

[2019-12-10 14:14] andrewvanbreda commented on #65
Hi @sacrevert @NPMSSupport @DavidRoy

OK, I spoke to John about elastic search.

I think the best thing to do would be to setup an example page and then we can go from there, we can analyse any limitations, advantages at that point.
There are a few potential difficulties such as whether the columns we want are available in the elastic search dataset, also things like displaying calculated columns

[2019-12-10 15:10] sacrevert commented on #65
@andrewvanbreda
Thanks Andy. As noted, if you can code this in such a way as it could be used for other data delivery mechanisms (particularly those based on intersections with spatial layers that may be available now or in the future), then I'm sure the speed will be useful for reporting elsewhere.

[2019-12-10 15:38] DavidRoy commented on #65
Agreed.  This should use the ES for the reason Oli gives.  If we need to extend the ES index then that should be factored in.  Is one option is to have a full list of location, sample, occurrence attributes within ES as JSON fields (e.g. follow the cache_tables approach?)

[2019-12-10 15:52] NPMSSupport commented on #65
Thanks @andrewvanbreda
Just a quick note from me to say I agree with @sacrevert 's point 3 above.
If it looks like we are developing a new download page, this does provide the  opportunity to develop something that delivers more than the current functionality. As we have been discussing for a while additional reporting to participant capabilities, in the form of mapping etc as Oli has said.

[2019-12-10 15:58] andrewvanbreda commented on #65
All feedback noted. Will get the test page working first, nearly there, it is just returning iRecord records too at the moment.

[2019-12-12 10:54] andrewvanbreda commented on #65
Hi @DavidRoy @NPMSSupport @sacrevert

I have setup a test page here

https://test-npms.pantheonsite.io/content/elastic-search-test-page

You need to have an admin account to access it.
Currently it is setup to show all records in the last year.

Think I have got the hang of controlling what data the report shows (i.e. limiting it to one person's records or only showing records for a year), not tri

[2019-12-12 13:02] andrewvanbreda commented on #170
Hi @BirenRathod
I looked on the net and it suggested that possibly the htmlMail module is the problem. I enabled the debugging on the module and got an email as follows:

_"To customize this message:

For module-specific customization, copy
sites/all/modules/htmlmail/htmlmail.tpl.php

to
sites/all/modules/htmlmail/htmlmail--iform.tpl.php

For message-specific customization, copy
sites/all/modules/

[2019-12-12 13:17] DavidRoy commented on #65
That's great progress.  This handles the occurrences download.

Is there a need for a sample download with relevant NPMS attributes.  John has developed a Sample download for the ABLE project that uses ES

@sacrevert to advise on columns and need for a single file or to split occurrences and samples

[2019-12-12 13:22] BirenRathod commented on #170
@andrewvanbreda
To commit in module folder, send me the files. It should be done on a core level.

[2019-12-12 14:20] andrewvanbreda commented on #65
Hi @DavidRoy,
My comments for the need for a sample download is simply based on the existing site which has this function on the My Visits and All Visits pages so I can only assume it is useful to people. Useful to know a sample download has already been done for a project, as I have not tried anything regarding samples and Elastic Search yet.

https://test-npms.pantheonsite.io/content/my-visits
h

[2019-12-12 14:26] andrewvanbreda commented on #170
Hi @BirenRathod
Have sent via WeTransfer. Files needs adding to the htmlMail module folder on Dev and Test

Cheers

[2019-12-12 15:50] BirenRathod commented on #170
Hello @andrewvanbreda
I have added those two files in htmlMail module folder. It is for me that I need to remember to keep those files in that folder when I upgrade that module.

Also, once finished testing, let me know as quite few amendments need to go on live including latest Drupal release of 7.68.

[2019-12-12 16:05] andrewvanbreda commented on #170
Hi @BirenRathod,
Ok, you won't need to remember as that didn't work. Don't suppose you have any ideas why out of nowhere it stopped working? It used to work.

Anyway, providing everyone else is ok with it, I am happy for you to do the stuff with amendments now.

Andy

[2019-12-12 16:13] BirenRathod commented on #170
@andrewvanbreda
Sorry, but what has stopped working? is it the whole site?

[2019-12-12 16:29] andrewvanbreda commented on #170
Hi @BirenRathod
See top of this thread. The same data is being fed into drupal_mail function, but the emails it is sending are now blank and no longer include the subject or message.
Started a couple of weeks back.
So NPMS started getting blank emails when users remove themselves from a square. Might of coincided with iForm update, although am not sure how that could of resulted in this behaviour.

[2019-12-12 16:41] BirenRathod commented on #170
@andrewvanbreda
Ok, about your instruction for htmlmail.tpl file, I shouldn't have to leave that file, should I ?

[2019-12-12 16:41] andrewvanbreda commented on #170
@BirenRathod Those two files can be removed, they made no difference to the problem

[2019-12-12 16:52] BirenRathod commented on #170
@andrewvanbreda
Also, I got the point which has mentioned at top in this thread. I was bit confused when you mentioned that after I committed the code it has stopped working.
So basically you are saying that it is now working on test site after I committed your files.

[2019-12-12 17:02] andrewvanbreda commented on #170
Hi Biren,

Those template files have not made it work. They can be removed. They made no difference, it was broken before adding them, and still broken after.
The email problem started a couple of weeks ago and has not been working since. I have seen not change in this behaviour no matter what I tried.

You are free to remove those two template files and continue your amendments.

Skype message me

[2019-12-12 17:14] BirenRathod commented on #170
@andrewvanbreda
just remind me which two template files?

[2019-12-12 17:19] andrewvanbreda commented on #170
@BirenRathod
htmlmail--iform.tpl.php
htmlmail--iform--location_signup_removal_mail.tpl.php

[2019-12-13 09:28] BirenRathod commented on #170
@andrewvanbreda
I removed those two files and released code on live website.

[2019-12-13 22:19] andrewvanbreda commented on #151
@sacrevert @DavidRoy @BirenRathod
Have worked on this this evening.
The Dev site is now in a state where I could use it for testing for deployments.
I don't think it is in a state where you could use it for training for public users yet though. There a couple of reasons for this

1. We need to blank the Indicia users ids on all the accounts as they currently seem to be the live IDs at the moment.

[2019-12-14 08:36] sacrevert commented on #151
Thanks @andrewvanbreda
I don't think there is any immediate training need, but @NPMSSupport can comment. Otherwise your plan sounds sensible.

[2019-12-16 08:49] NPMSSupport commented on #151
Thanks @andrewvanbreda As @sacrevert has said. There is not an immediate training need.

[2019-12-16 09:31] andrewvanbreda commented on #151
@sacrevert I think it is best to just close this issue now, I will just fix any problems as I see them.
Close if you agree, else you can leave open if you prefer.

[2019-12-16 09:32] #151 closed

[2019-12-16 10:27] andrewvanbreda commented on #122
@sacrevert
Just coding this, should be straightforward as we are going to be counting all the user's data regardless of square allocation status.
However I am slightly unclear what we need in terms of the verification counts.
Are we including rejections in the verified counts?, or by "verified" are we only meaning verified as correct.
Presumably we do need to include rejected in the count otherwis

[2019-12-16 15:50] andrewvanbreda commented on #122
Initial version of report finished, awaiting feedback detailed above.

Note to myself (don't forget that a link to iRecord is required, this requirement might get lost in the long thread)

[2019-12-17 15:44] andrewvanbreda commented on #163
Hi @BirenRathod

Would it be possible for you to look at this one sometime (at very low priority) as I think it needs a CSS fiddle and I don't think I am able to quickly experiment as would need to keep committing.

The problem is the date field on the data entry pages on NPMS.
If you click on the Date field it displays a date picker.
The Month and Year drop-downs are supposed to show the current

[2019-12-18 10:48] sacrevert commented on #163
high @BirenRathod would be great if you could do this. I've upped the urgency, as it seems like it's probably a simple fix, and it will cause annoyance to people entering data.

[2019-12-18 10:49] sacrevert commented on #117
adding notes label and closing issue, as this is a research/data hygiene question, not a coding issue that needs fixing

[2019-12-18 10:49] #117 closed

[2019-12-18 10:51] sacrevert commented on #72
@andrewvanbreda
Is it the case that this one could be closed? I see that some sort of versioning is being using on the T&Cs of this drupal/indicia website (https://www.ris-ky.eu/terms-of-use), is this just using the suggestion of Biren's, or perhaps they are just doing that manually (@kitenetter could comment)

[2019-12-18 11:03] sacrevert commented on #34
@andrewvanbreda
Just had a look at this on the Pantheon dev site, and it appears to be working on all the pages that i tested, including the View/edit my squares page. Perhaps this could be closed?

[2019-12-18 11:08] sacrevert commented on #2
Closing as I think the issues here are so old now as to be either irrelevant or migrated to specific issues.

[2019-12-18 11:08] #2 closed

[2019-12-18 12:36] andrewvanbreda commented on #34
@sacrevert
There does appear to be an Indicia Openlayers module enabled, but the original reported problem is still not working (perhaps for a different reason).
The clicking on the map for square information is not displaying a popup with information in.
I will rename the issue.

[2019-12-18 12:48] andrewvanbreda commented on #72
@sacrevert @BirenRathod
Reading through the thread it was only the first comment that suggested using versioning in a repository, by the second comment we had decided to try the Entity Legal module. We are not using that yet though.
I am happy not to use that module if you prefer not to, but it does have the advantage of allowing us to specify when the data access policy has changed enough to requ

[2019-12-18 12:56] kitenetter commented on #72
The versioning on the ris-ky website is just manually controlled text, which is what we've done on one or two other recent sites (e.g. Dipterists Forum).

I'm not familiar with the entity_legal module, but I can see the benefit of being able to control user opt-ins to any updated policies.

@johnvanbreda what is the system we are using on dev iRecord to set up the photo licence choices, is that en

[2019-12-18 13:18] sacrevert commented on #47
In terms of checking whether a boundary is already available in Indicia, is this list the best one to examine?
https://github.com/Indicia-Team/support_files/blob/master/Elasticsearch/data/locations.yml
@DavidRoy @johnvanbreda @kitenetter @burkmarr

[2019-12-18 13:29] kitenetter commented on #47
@sacrevert a list of location types can be obtained via pgAdmin using:
[code]

[2019-12-18 13:43] sacrevert commented on #47
Thanks.
@andrewvanbreda
Can you confirm which list I should be looking at for this issue please.

[2019-12-18 15:36] andrewvanbreda commented on #47
@sacrevert
Not sure what that elastic search data is, it only has a few thousand entries where there actually appear to be 200000+ on the Warehouse.

You could look in the warehouse locations area
http://warehouse1.indicia.org.uk/index.php/location

Then you can the edit links and get visual feedback as to what the boundary looks like.

I think the main problem here is that we assume the location

[2019-12-18 15:51] johnvanbreda commented on #47
@sacrevert the list you found at https://github.com/Indicia-Team/support_files/blob/master/Elasticsearch/data/locations.yml are just the indexed locations which will be included in the records indexed into Elasticsearch.

[2019-12-18 16:15] sacrevert commented on #47
@andrewvanbreda @johnvanbreda
Sorry, another question: presumably if we (accidentally) load another version of a boundary layer that already exists (perhaps because I did not find the existing one for whatever reason), then there is no real cost to this?

[2019-12-18 16:30] andrewvanbreda commented on #47
@sacrevert
Not from NPMS's point of view as any reporting would check the NPMS website is enabled for the location and we won't be doing that on the duplicate. Can't imagine it would affect anything else in any meaningful way unless I am missing something.

[2019-12-18 16:32] sacrevert commented on #47
@andrewvanbreda @johnvanbreda
Finally, to be a location, does the boundary have to be a single valid polygon, or can a location be a multipolygon object? I can see that there might be issues with the assigned (centroid?) spatial ref if it is a multipolygon. Just wondering whether we can have all the national parks together as a single location?

[2019-12-18 16:34] sacrevert commented on #47
Same for National Nature Reserves. At the moment all the NNRs appear to be available, but is it more efficient or easier from a display point of view to have them all as a single location?

[2019-12-18 16:38] andrewvanbreda commented on #47
Hi @sacrevert
Locations are normally just a single polygon, at least that is what the drawing tool allows.
Don't think we would all want them in one location, that would be limiting. We can't just query all the different national parks then, also editing and adding would be harder and what if something just wants to query based on one or two national parks.
I think separate is best anyway.

[2019-12-18 19:05] johnvanbreda commented on #47
As Andrew says, combining NNRs and National Parks would be limiting, e.g. a recorder could not pick their local NNR and zoom into it while recording. It is possible to upload a SHP file with a multipolygon in it though to create boundaries that are not simple polygons.

[2019-12-18 19:32] johnvanbreda commented on #72
Photo licensing is a different thing as it is built into Indicia. I do use Entity Legal on a few sites as it does allow you to release a new version of a T&Cs document then track whose signed up to each version.

[2019-12-19 10:53] andrewvanbreda commented on #34
@sacrevert
Looks something changed with the way Indicia works which means the existing Javascript stopped working.
Have recoded it to use simple Javascript alert boxes, the downside of this is the alert boxes don't support html so are missing bold italic text. I have made it look ok though by moving the grid reference number onto the same line as the label separated by a colon

Grid reference: NS4

[2019-12-19 12:57] andrewvanbreda commented on #170
Fixed by implementing hook_mail (iform_mail) after suggestion from someone with similar problem on the net.
It is still unknown why this went from working to broken for no apparent reason

[2019-12-19 15:29] andrewvanbreda commented on #170
Live now. Tested and seen working.

[2019-12-19 15:29] #170 closed

[2019-12-19 15:30] andrewvanbreda commented on #34
Live now. Tested and seen working.

[2019-12-19 15:30] #34 closed

[2019-12-20 10:11] andrewvanbreda opened #171 "Remove Indicia User Warehouse IDs from NPMS Dev user accounts"
Hi @BirenRathod

Very low priority, but I think the Indicia User Ids will need removing from all the accounts on the Dev NPMS site sometime as I think they are IDs from the live warehouse, am assuming you have access to the Drupal database to be able to make that change.
Cheers

[2019-12-20 12:02] sacrevert commented on #47
@andrewvanbreda @johnvanbreda @DavidRoy @kitenetter @burkmarr
Further to this, I'm just wondering whether we need some way of indicating that a set of locations is complete, and therefore not to be altered or duplicated. For example, if I run:

`SELECT t.term, count(l.id) AS "locations"
FROM locations l
JOIN termlists_terms tt ON l.location_type_id = tt.id
JOIN terms t ON tt.term_id = t.id
and low

[2019-12-20 13:26] andrewvanbreda commented on #47
Hi @sacrevert ,

The most obvious thought is that an attribute could be used to indicate a set of locations, however perhaps you need something more because even if we indicated a set like this, then it still isn't locked for editing.
i.e. an attribute could be assigned to say that it is correct on the 1/1/2020, but there is nothing to stop those locations being edited after.
However, we do have t

[2019-12-20 14:44] sacrevert commented on #122
@andrewvanbreda The general notifications page looks fine, although it would be good to edit the drop-down if possible, so that the only options are:
- Verifications
- Rejections and queries
- Record comments

It would also be nice if we could rename "Rejections and queries" to "Queried records". I realise this might not be possible though. Will address the separate email summary thing in another

[2019-12-20 14:57] sacrevert commented on #122
@andrewvanbreda @NPMSSupport
Reviewing this, maybe what we have now, with the reduction in items listed in my last comment,  is enough. I suppose all we really need to do is make this available, and then alert people to its existence in a regular email to volunteers. As long as the notifications link to the correct items in NPMS, then that is probably enough.

[2019-12-20 15:14] andrewvanbreda commented on #122
@sacrevert
I haven't looked at changing anything, but we should be able to alter the label, even if it just means using jQuery to override the label once the page is loaded.
I will make the changes then we should be able to put live after holiday

[2019-12-20 15:17] sacrevert commented on #122
Thanks, I suspect we'll try and time it to coincide with an email to surveyors. And it would be good for @NPMSSupport to check that they are happy with the approach, as ultimately any fallout will be landing in their inbox...

[2019-12-20 15:34] andrewvanbreda commented on #31
@sacrevert @NPMSSupport
Going to close this one.
I think now that the menu is a small square in the top right since the theme change, this is now not really an issue in practice, it might even cause more confusion if we try to hide it on the data access policy page (note that there isn't actually any evidence of anyone finding this area of registration confusing).
The links on the data access poli

[2019-12-20 15:34] #31 closed

[2019-12-20 19:11] andrewvanbreda commented on #122
@sacrevert Ok, no problem. Will wait to implement then

[2019-12-21 16:33] johnvanbreda commented on #47
@sacrevert general users won't have access to add NNRs. Site administrators might be able to do this via the warehouse, but what has actually happened here is that the original NNR list was uploaded in 2013 with an NNR called King's Wood. The list was updated in 2018 by Biren, but because King's Wood had changed it's name to King's Wood and Rushmere the system was not able to detect this was an up

[2020-01-07 08:57] NPMSSupport commented on #122
@andrewvanbreda  This all sounds sensible to me and I agree with Oli's suggestions. I am happy to inform a volunteers. Though I'd be more inclined to include this update in a regular email than send an email on its own. If you are happy to provide a couple of lines, I can edit and include in the next mailout. But Before I do, can you send me a direct link to the notifications interface you have be

[2020-01-07 10:06] andrewvanbreda commented on #122
Hi @sacrevert @NPMSSupport

You can see a test page here, it only has a notifications grid on it at the moment without Oli's label suggestions, but it will show you the general idea.

https://test-npms.pantheonsite.io/content/notifications

Trying to get my head around this issue again after the holiday, I think I have confused myself.

I know at some point we decided to have a summary report inst

[2020-01-07 10:14] sacrevert commented on #122
Just to check, when you said "report is finished" [here](https://github.com/BiologicalRecordsCentre/NPMS/issues/122#issuecomment-566119137) presumably you just meant the notifications grid that you link to in your last comment?

Originally we were talking about summary reports, but I think the individual grid of notifications, edited and filterable as per my suggestions above, is fine. So, as far

[2020-01-07 10:21] andrewvanbreda commented on #122
@sacrevert I think the summary report was just finished on my computer, I will see if I can commit it and get it put on the test site.
You may still wish to use it if the coding is already done.

[2020-01-07 10:28] sacrevert commented on #122
@andrewvanbreda OK, thanks for clarifying, I was a bit confused as to whether a separate summary report existed! Indeed, as you say, will no doubt be useful to have in some form seeing as you've done it!

[2020-01-07 11:55] andrewvanbreda commented on #122
@BirenRathod Could you pull the indicia-reports/reports/project/npms folder on the test and live warehouses when you get a chance please, there is a new simplified notifications centre report and also a new summary report.
Thanks

[2020-01-07 13:34] BirenRathod commented on #122
@andrewvanbreda
I pulled the reports now and pushed code to live to as I need to do for Drupal core code.

[2020-01-07 16:03] andrewvanbreda commented on #122
@BirenRathod Cheers Biren

[2020-01-07 16:46] andrewvanbreda commented on #122
Hi @sacrevert @NPMSSupport ,

OK, you should be able to get some idea of how the page would look now.

I noticed a few problems I will need to correct before live (or in the case of point 1, probably someone else) .

1. I set it up as a tabbed page, but I don't think the tabs look very nice on the new theme currently (This would affect any tabbed pages, not just this one).

2. I will probably chan

[2020-01-08 13:06] andrewvanbreda commented on #122
@sacrevert @NPMSSupport
Point 3 now fixed on test site. I have also hidden the columns mentioned in point 2 in code, but haven't got Biren to deploy it yet (until I am sure the report doesn't need further changes).

I think my remaining question about this relates to the notifications themselves.
I think at the moment people will see things come through from iRecord that may not be NPMS related. D

[2020-01-08 13:44] sacrevert commented on #122
I think this would be useful, just to keep the separation between the projects. If the NPMS records **always** have the known link, then I suppose hiding anything not from the NPMS website would be straightforward? Maybe keep it simple, if it fails very very occasionally, then it's not a huge deal really.

[2020-01-08 14:41] andrewvanbreda commented on #122
@sacrevert
I don't think the logic I write will fail as such.
However there might be general messages from iRecord which have no link too an occurrence so would not be detected by my logic....however there might be a possibility of identifying any regular culprits and apply a direct hard coded override to hide them.
Will let you know when the changes are ready.
Let me know what you think of the su

[2020-01-08 15:24] andrewvanbreda commented on #122
Ok, that was simpler than I thought.

@BirenRathod  I have added a website filter and removed columns from the following report in the indicia-reports NPMS folder, could you pull it again, cheers

npms_notifications_list_for_notifications_centre

[2020-01-09 09:02] BirenRathod commented on #122
@andrewvanbreda
This report has been pulled down now.

[2020-01-09 11:03] andrewvanbreda commented on #122
@BirenRathod Thanks Biren :)

@sacrevert @NPMSSupport
This page should now be working apart from the styling of the tabs is a bit odd due to the site theme.
So any problems you spot from now would be bugs I don't know about.

@NPMSSupport I noticed your account has a load of notifications which say "Hi Fiona" on them, I assume those are correct? I think these records were created by Hayley, not su

[2020-01-14 09:10] BirenRathod commented on #163
@andrewvanbreda & @sacrevert

I have implemented the style, so text could be visible.

[2020-01-14 09:17] BirenRathod commented on #163
Closing this, if you found any problem, reopen it.

[2020-01-14 09:17] #163 closed

[2020-01-14 10:05] andrewvanbreda commented on #163
@BirenRathod Thanks Biren :)

[2020-01-15 11:47] andrewvanbreda commented on #10
Hi @sacrevert,

Just returning to this with the intention of resolving point 2, 3 and 4 and then closing the issue.

Looking at point 2. Actually the Wildflower form does not currently allow a 0 abundance value at all, and Indicator/Inventory force the user to select from an abundance drop-down, and none of the options are for a zero abundance.
So currently disallowing photos with zero abundance i

[2020-01-15 12:34] andrewvanbreda commented on #10
Ok, have looked into the situation with point 4. Looks like it is duplicate occurrences on Wildflower, so we can check that there aren't any cases where there is more than one occurrence with the same species for the same sample.

@BirenRathod Could you run these SQL statements too, cheers

select
s.id as sample_id,
o.id as occurrence_id,
om.id as media_id
from indicia.occurrences o
join indicia.s

[2020-01-15 13:15] BirenRathod commented on #10
@andrewvanbreda
All three query results attached.
[user_occu.zip](https://github.com/BiologicalRecordsCentre/NPMS/files/4065045/user_occu.zip)

[2020-01-15 13:48] andrewvanbreda commented on #10
@BirenRathod
OK thanks Biren. Darn, I was hoping they would be empty! More work for me to do then :(

[2020-01-15 13:55] sacrevert commented on #10
@andrewvanbreda

So currently disallowing photos with zero abundance is not needed as zero abundance is not allowed (whether that is a correct behaviour you can confirm).

I can confirm that this bit is fine.

[2020-01-15 14:21] sacrevert commented on #166
@andrewvanbreda
I don't know if this is origin of some of the above issues, but it is pretty likely:
I noticed one of my own samples in the set of above samples with a null location ID. I remember having some issues with this after I deleted it on purpose previously. I have just fiddled around with another of my plots, and one major issue is that if i edit an existing sample, then the default posi

[2020-01-15 14:28] sacrevert commented on #166
I've just confirmed this behaviour using the SQL we used before:

from indicia.samples where location_id is null
and survey_id in (87,154,155)
and deleted=false
order by created_on asc;

The sample that I resaved without a plot now appears on this list with a NULL location_id.

Regarding the pseudocode, I suppose this is fine in principle, although the code should check for another sample at the s

[2020-01-15 14:42] andrewvanbreda commented on #10
Hi @sacrevert ,

OK there two things that need some kind of resolution here.

1. It appears across all surveys there are about 5500 occurrences without an abundance entered (noting that is 5500 occurrences, the visit number is much lower) .
The only thing I could think of to fix this to is query the database to get a distinct list of people involved and mail them and get them to enter the require

[2020-01-15 15:04] sacrevert commented on #10
@andrewvanbreda
1. It's actually 5440 if you restrict to the period of the official survey (2015-2019), and only ten of these are for the wildflower survey (
[WF_2015_2019.zip](https://github.com/BiologicalRecordsCentre/NPMS/files/4065510/WF_2015_2019.zip)
). Overall though, it is about 3.6% of all data, which isn't exactly great news.

2. Regarding resaving samples, please see #166 first!

[2020-01-15 15:06] sacrevert commented on #10
Regarding (1), I propose doing nothing. It is not great, but the logistics involved in getting people to edit things, the things that can go wrong (currently, see #166 again) when people edit stuff etc. means that for me it is not worth trying to correct these missing abundances.

Luckily, the analyses that we are typically doing on these data can deal with presence/absence data in addition to per

[2020-01-15 15:34] andrewvanbreda commented on #166
@sacrevert
I think a recent change has broken this. It was work when I originally investigated the 107, indeed code was added and tested to make sure the loading of square/plot worked even in the most extreme circumstances.
Will look now and let you know.

[2020-01-15 15:56] andrewvanbreda commented on #166
@sacrevert @NPMSSupport
Have looked into this. The plot filling is just a standard Indicia location field with a different label.
What happens is that this field has a particular name in the background "sample:location_id" which Indicia then know to automatically set to the sample location_id. NPMS specific code actually just loads the Square drop-down.

Therefore I can only conclude this started

[2020-01-15 16:02] andrewvanbreda commented on #166
@sacrevert @NPMSSupport
OK, ani form update should not be needed as Extra Species does not have the same problem, how strange. Will look into it further

[2020-01-15 16:16] sacrevert commented on #166
@andrewvanbreda
as you say, happy for this to be done tonight or whenever, as it is so fundamental.

I wonder whether my observations about viewing the samples in the warehouse user interface are relevant? It seemed odd to me that I couldn't update the samples without location ids by editing this. When I entered the relevant information for my samples without locations, it was not saving anything

[2020-01-15 16:37] andrewvanbreda commented on #166
@sacrevert
Oil, do you have a Sample ID of a broken sample, and the name of the plot that is supposed to be saved against that sample

[2020-01-15 16:49] sacrevert commented on #166
@andrewvanbreda
Sample ID 6765998, should be attached to location_id=182609.
This is the one that I recently experimented with.

[2020-01-15 17:04] andrewvanbreda commented on #166
@sacrevert
OK thanks. Will take a look.

[2020-01-15 17:07] andrewvanbreda commented on #166
Hi @sacrevert
I was able to correct that one in Warehouse UI. Was that something that wasn't working for you? Can you try it in NPMS now.

Andy

[2020-01-15 17:14] sacrevert commented on #166
@andrewvanbreda
Yes, seems to be corrected. No idea why it wouldn't save for me.

[2020-01-15 17:22] andrewvanbreda commented on #166
@sacrevert
Only guessing but make sure you use the Location field (not Location Name), and select the item from the drop-down when it appears

[2020-01-15 17:24] sacrevert commented on #166
@andrewvanbreda
I used location field (after looking at some valid samples), but interestingly when I pasted the spatial ref I didn't get any drop down options. perhaps it was pasting it in that broke it... Anyway, no matter, we probably shouldn't make this thread too long with side issues.

[2020-01-16 13:39] andrewvanbreda commented on #166
@sacrevert
Having investigated this last night and early today, it seems to me the situation is during the last iForm update the square/plot control broke. A fix was then applied to Indicia, however it seems this fix was not as good as we need.
Unfortunately I have tried to fix the code for this, but it is very very difficult because this area changed a lot, it is very hard to see where the proble

[2020-01-16 19:38] andrewvanbreda commented on #166
That fix is live now, although we still need to correct the data. Oli I will contact you about this.

[2020-01-16 20:24] sacrevert commented on #166
@andrewvanbreda
Great. Regarding the corrections, what do you think re the suggestion here https://github.com/BiologicalRecordsCentre/NPMS/issues/166#issuecomment-574683512

[2020-01-17 09:54] andrewvanbreda commented on #166
@sacrevert
Yes the first will be along these lines. Do you have another sample I could look at that is definitely broken I could look at cheers.

[2020-01-17 09:56] sacrevert commented on #166
@andrewvanbreda
Sorry, I'm just about to drive somewhere. You can inspect the list here https://github.com/BiologicalRecordsCentre/NPMS/issues/166#issuecomment-551038645 maybe
although this might have a few pre-2015 examples.

[2020-01-17 09:58] andrewvanbreda commented on #166
@sacrevert Ok, I was more after one of the very recent ones, but I will have a look at that list, that is fine.

[2020-01-17 11:35] andrewvanbreda commented on #166
@sacrevert @BirenRathod
Hi,
Making a mass correction like this can be a risky business. Biren, perhaps best if we have a backup we can roll-back to if needed.
However given this inherent risk, I have an idea. I have written an update statement on my machine, but it is obviously hard to test because I do not have anywhere near as much data.
I have done some testing and it seems OK. But I think ther

[2020-01-17 13:20] andrewvanbreda opened #172 "Admin users needs auto-allocation of plots when they don't have square access."
Currently admin users can have the situation where they are required to edit a record when support a user.
To do this the system  automatically allocates the square to the admin user (temporarily for the duration of the edit) .
However the system also has rules to display the correct plots for a user.
I do not believe this works properly when admin users are editing records and the required plot m

[2020-01-17 18:10] sacrevert commented on #166
@andrewvanbreda
Thanks Andy. Just one point though, I suggested that we might only update the location id field if there isn't already a valid sample for the date/location id combination. This presumably might happen if people have manually re-entered data. If we cause duplication it will confuse people further. Can we make this update conditional on absence of an existing sample then?

[2020-01-17 23:03] andrewvanbreda commented on #166
@sacrevert
Hi, Did any of the broken samples actually disappear off the data grids?
If they are still on the grids then we can only do one of two things:
one is to reinstate the location,
or alternatively delete the broken one if we find another suitable one.
I am apprehensive about choice two.
The problem is if we don't update the spatial reference, then it is going to remain broken on the grids.

[2020-01-17 23:07] sacrevert commented on #166
@andrewvanbreda
With the sample that I experimentally deleted recently, and which you reinstated, yes, it disappeared from the sample grid that previously listed it at the level at which it was recorded (inventory in this case).

[2020-01-20 08:17] andrewvanbreda commented on #166
@sacrevert
I just checked the code, and yes that report was making the assumption that there is a plot.....we could of in theory used "left join" or something but that would of be slower.

@BirenRathod Ok, for the moment forget the SQL above, could you run these instead please. The Sql isn't perfect as it doesn't check for survey1/2 etc, however it should give us an idea of numbers. If very few pl

[2020-01-20 09:22] BirenRathod commented on #166
@andrewvanbreda
Here are both queries results.
[Results_Visits.zip](https://github.com/BiologicalRecordsCentre/NPMS/files/4085398/Results_Visits.zip)

[2020-01-20 10:28] andrewvanbreda commented on #166
@BirenRathod
Thanks Biren, those were very useful.

[2020-01-20 11:03] andrewvanbreda commented on #166
@BirenRathod
Hi Biren,

Could you run this statement, it is the "select" version of the update statement I intend to run. Let's see what will be affected. Cheers

select *
from indicia.samples s
where s.location_id IS NULL
and s.survey_id in (87,154,155)
and s.deleted=false
and s.entered_sref in
(select name
from indicia.locations l
where l.location_type_id in (4956, 4957, 4958)
and l.deleted=fals

[2020-01-20 11:42] BirenRathod commented on #166
@andrewvanbreda
Attached is the result.
[data-1579520470900_20012020_1142.zip](https://github.com/BiologicalRecordsCentre/NPMS/files/4085970/data-1579520470900_20012020_1142.zip)

[2020-01-20 12:09] andrewvanbreda commented on #166
@sacrevert
It looks to me like there are under 60 samples that would be correctable by using a query. I suggest actually it might be worth me (or you if you prefer) to correct these by hand. I think it would only take an hour or time, just might be safer than a live database update, obviously the manual update takes a little longer, but as I safe might be preferable to the database hack.
Obviously

[2020-01-20 12:18] sacrevert commented on #166
@andrewvanbreda
Thanks Andy. Very happy for you to spend an hour doing this carefully by hand.

[2020-01-20 12:22] andrewvanbreda commented on #166
@sacrevert
Ok I think that is best. I will try and do it later today.

[2020-01-20 20:08] andrewvanbreda commented on #166
@sacrevert
I made corrections using the Warehouse (as NPMS didn't let me because of the missing plot was confusing the locking rules)
I was actually only able to correct 7 samples (as the others were actually for the user we talked about this afternoon that we are dealing with the data for separately)

@BirenRathod Could you run this Sql to see what issues are left in the database. Cheers

select

[2020-01-21 08:55] BirenRathod commented on #166
@andrewvanbreda
Attached is the result.
[data-1579596765938_21012020.zip](https://github.com/BiologicalRecordsCentre/NPMS/files/4090068/data-1579596765938_21012020.zip)

[2020-01-21 09:46] andrewvanbreda commented on #166
Thanks @BirenRathod

I will have a look through these and see what is going

[2020-01-21 10:12] andrewvanbreda commented on #166
@sacrevert
Hi Oli,

OK in summary so far, what I have done is make the corrections I can by querying the database for data that can be corrected (actually only about 7 corrections)

I then got Biren to run a more general query that returns any NPMS sample that has an empty location_id (ignoring the user from yesterday) regardless of whether we can fix it or now.

So Biren sent me a list of these s

[2020-01-21 10:34] sacrevert commented on #166
@andrewvanbreda
I have rerun this query extracted all field and restricting to post-2015. I will send the list to @NPMSSupport to see whether they recognise the recorder names and have any comments. They can perhaps annotate the sheet and recommend any particular course of action in any case. I think that is the safest thing to do. It will be good to get these sorted, as I remember that at least o

[2020-01-21 11:12] andrewvanbreda commented on #166
@sacrevert
You could also try and query the deleted locations if that is helpful. The updated_by_id, updated_on fields might give a clue what happened.

[2020-01-21 11:17] sacrevert commented on #166
So just
`select id,entered_sref,created_by_id
from indicia.samples s
where s.location_id IS NULL
and s.survey_id in (87,154,155)
and s.deleted=true and entered_sref != 'NX8923254876'
and s.date_start >= '01-01-2015;`
i presume
or would it need
`s.location_id IS NOT NULL`
?

[2020-01-21 12:52] andrewvanbreda commented on #166
@sacrevert
Hi Oli,
What I was meaning was to use my query, then query the locations time directly from it, something like this. Then you will be able to see what happened to the plots.
Hopefully this will return the same number of rows as the samples query, if not it means the plot is missing complete(not even deleted flag set), or the entered_sref is not matching the location name for some reason

[2020-01-21 12:55] andrewvanbreda commented on #166
actually, you might want to include the location_type_id also, just to double check it is an NPMS plot
Adding l.location_type_id in (4956, 4957, 4958) to the location "where" should return same number of rows all being well

[2020-01-22 12:14] andrewvanbreda commented on #172
@BirenRathod
Hi Biren,
Could you pull the indicia-reports NPMS reports folder on test and live warehouses, there is a new report called get_plots_for_square_id_3.xml

[2020-01-22 13:44] BirenRathod commented on #172
@andrewvanbreda
That's done.

[2020-01-22 14:03] andrewvanbreda commented on #172
@BirenRathod
Thanks Biren, will have a look

[2020-01-22 15:45] andrewvanbreda commented on #172
This is now live

[2020-01-22 15:45] #172 closed

[2020-01-23 13:59] andrewvanbreda commented on #92
After discussions, there is also now a requirement to remove all user/personal information such as names (includes copies of the name on the occurrence record_names field).
This will perhaps need to be optional.

[2020-01-23 14:06] sacrevert commented on #92
@andrewvanbreda
Once the particular case that generated this issue is dealt with manually, shall we mark this as "info" and close it? If you want to add some notes here as to the current process required to remove personal info wherever present, but leave actual plant data intact, that might be useful for future reference.

[2020-01-25 21:42] andrewvanbreda commented on #92
@sacrevert
I don't think we want to be closing this issue as I still need to action the requirement to automatically nullify the address fields, unless you don't want that to be done automatically anymore?

[2020-01-26 07:26] sacrevert commented on #92
Let's prioritise relative to other issues on Tuesday

[2020-01-28 10:49] andrewvanbreda opened #173 "When adding a survey 2, the relevant sample/occurrence data is no longer copied into survey 2"
When adding a survey 2, the sample data is no longer copied into survey 2.

Used to work before changes to make survey 2 creation automatic

[2020-01-28 11:26] andrewvanbreda commented on #40
NOTE: The user details needs to have a checkbox indicating if they are a mentor, probably needs to be on User Information Download also

[2020-01-28 11:27] andrewvanbreda commented on #48
Now covered by issue #40

[2020-01-28 11:27] #48 closed

[2020-01-28 11:36] andrewvanbreda commented on #51
Closing: Plantlife are happy using Mail Chimp for foreseeable future

[2020-01-28 11:37] andrewvanbreda opened #174 "Add existing SQL for users who haven't submitted any data in last two years to website as a report"
Create list of users (including email addresses) who have a square and haven't submitted any data data at all in last two years

[2020-01-28 11:42] andrewvanbreda commented on #174
Need:
First name/surname, email address, squares and allocation dates.
So for now anyone who has not entered any data since 1 Jan 2018

[2020-01-28 12:01] andrewvanbreda opened #175 "Report on how many new squares were taken on or released in a given period"
From Plantlife:
"In addition, is there a way of tracking in a given period how many new squares were taken on and how many were released?"

[2020-01-28 12:03] andrewvanbreda commented on #59
Closing as Plantlife now happy with way User Information Download works
One part of this issue moved to
#175

[2020-01-28 12:03] #59 closed

[2020-01-28 12:06] andrewvanbreda commented on #62
Oli/Plantlife no longer consider this desirable

[2020-01-28 12:06] #62 closed

[2020-01-28 12:08] andrewvanbreda commented on #65
@sacrevert @NPMSSupport to review

[2020-01-28 12:14] andrewvanbreda commented on #66
NPMSSupport and Oli agree this is not needed

[2020-01-28 12:14] #66 closed

[2020-01-28 12:15] andrewvanbreda commented on #70
NPMSSupport and Oli agree this is to be done as part of a separate review

[2020-01-28 12:15] #70 closed

[2020-01-28 12:23] andrewvanbreda commented on #83
NPMSSupport Oli agree this doesn't need any further work

[2020-01-28 12:23] #83 closed

[2020-01-28 13:27] andrewvanbreda commented on #92
Need to remove their website users_websites link, but only if it doesn't affect reporting.

[2020-01-28 13:39] andrewvanbreda opened #176 "Confirmation sample attribute checkbox for no species observed"
New sample attribute on species tabs to allow the user to confirm that no species were seen.

Do not blank out species entries when checkbox is selected as this has problems with data being cleared causing confusion.

Show Oli/NPMSSupport first on test site so they can check it

[2020-01-28 13:45] andrewvanbreda commented on #111
Closing: Superseded by Elastic Search download

[2020-01-28 13:45] #111 closed

[2020-01-28 13:46] andrewvanbreda commented on #107
NPMSSupport and Oli agree this is not a problem is practice

[2020-01-28 13:46] #107 closed

[2020-01-28 13:59] andrewvanbreda commented on #123
NPMSSupport no longer think this would be useful

[2020-01-28 13:59] #123 closed

[2020-01-28 14:13] andrewvanbreda commented on #129
@andrewvanbreda Should 18 or over to only allow Yes. "No" option should provide informative message and not allow registration.
Read-only in edit mode.

[2020-01-28 14:15] andrewvanbreda commented on #132
NPMSSupport dealing with this situation separately, closing.

[2020-01-28 14:15] #132 closed

[2020-01-28 14:16] andrewvanbreda opened #177 "Some users have Data Of Birth on account page view tab"
Reason so far unknown.
Does not affect all users.

[2020-01-28 14:30] andrewvanbreda commented on #155
NPMSSupport OliP are reviewing this separately as part of Elastic Search work

[2020-01-28 14:30] #155 closed

[2020-01-28 14:43] andrewvanbreda commented on #168
@andrewvanbreda
Change this so that a warning is shown on the data grid after save rather than a real-time warning on save (which is very problematic)

[2020-01-28 14:45] andrewvanbreda commented on #169
Covered by #92

[2020-01-28 14:45] #169 closed

[2020-01-28 14:48] andrewvanbreda commented on #171
Hi @BirenRathod, Just in meeting with Oli/NPMS support going through the issues.
Any thoughts on this one?

[2020-01-28 14:51] BirenRathod commented on #171
@andrewvanbreda
I will do this in next week as I'm on leave from tomorrow.

[2020-01-28 14:52] andrewvanbreda opened #178 "NPMS User page to have drop-downs instead of free text where possible (county/country?)"
NPMS User page to have drop-downs instead of free text where possible, alter database to make country/county more consistent (drupal module?)

[2020-01-28 14:56] andrewvanbreda commented on #178
Just provide distinct database values and then Plantlife can work out what the real values should be and then send them back so the database can be altered.

[2020-01-28 15:02] andrewvanbreda opened #179 "When user deallocates square, email user with link to a leaving survey"
When user deallocates square, email user with link to a leaving survey.

Very very low priority as there is no survey yet

[2020-01-28 15:10] andrewvanbreda opened #180 "Automatically send email to user month after approval"
Automatically send email to user month after square approval to check they are OK

[2020-01-31 13:42] andrewvanbreda commented on #134
Hi @NPMSSupport @sacrevert

Am just starting to code the historic events list, have only been doing it a short time and I have  noticed some potential issues already.
My thoughts are related to how do we decide if an event is historic. Currently we delete it, but I am now wondering if that is the correct approach.

It can't simply be if the event is deleted, as then events in the future that are r

[2020-01-31 16:15] sacrevert commented on #134
@andrewvanbreda @sacrevert
Hi Andy
My personal feeling is that this is overcomplicating the issue. I think I would prefer it if we kept it simple and just assumed that historic events were ones that had been deleted. Yes, once in a while someone might sign-up to an event which actually gets cancelled, and then it appears on their historic courses grid, but I suspect this will be quite rare, and do

[2020-01-31 16:53] andrewvanbreda commented on #173
Hi @NPMSSupport @sacravert

I have had a look at this.
I wish that it is something I noticed before the code was changed to automatically assign survey 2 to survey 1.

The difficultly seems obvious in hindsight.

Previously, the user was effectively saying I want to create survey 2 for this plot/date and then the form is loaded with the required values.

Now the form is loaded and the plot is sele

[2020-01-31 17:00] andrewvanbreda commented on #134
@sacrevert @NPMSSupport
I am happy with this as long as you are happy with the mentioned limitation.

So the definition of a historic event would be one that is deleted and in the past. All other grids could be left as is.
It might just be worth on the admin grid to have the toggle to show deleted events just in case they do need some administration, but that would be easy.

We could name the user

[2020-01-31 17:05] sacrevert commented on #134
Well, we can wait for @NPMSSupport to comment, but I'm happy

[2020-02-03 11:10] NPMSSupport commented on #134
Hi both.

I'm happy with this as long as folk can see their "Past events" It will be rare that anyone signs up to a course that is later cancelled (they are usually cancelled when no one has signed up). The only other thing to think about is that folk may have booked on to a course that did go ahead and they didn't show up for it. So it would look like they had trained but they didn't. but that wo

[2020-02-04 10:46] andrewvanbreda commented on #134
@NPMSSupport @sacrevert
OK, let's try and go ahead with this.
I will double-check I can get the editing screen to load for deleted data.
Will let you know how I get on.
I don't think it is a disaster even if an Event appears in the historic events list for a user and they didn't turn up, as they are the only person looking at that list and they know they didn't go and were booked to go......so it

[2020-02-04 11:33] andrewvanbreda commented on #134
Hi @sacrevert @NPMSSupport ,

I have done some experimenting with the solution we have suggested.

There is a problem in that Indicia is designed to not show you deleted data. Although it is only a mark in the database, it is designed to act as if the data doesn't exist anymore.
So I can't get it to load editing screens for deleted data (at least not without some major hacking).

So I am wondering

[2020-02-05 15:52] andrewvanbreda commented on #141
Hi @NPMSSupport @sacrevert ,

Have been looking into this issue.
I have found that actually we can format the event descriptions (I think this has changed since we moved to the new site theme).

This works by using HTML (i.e. the same method we use to display formatting on webpages).

This uses "tags" to apply formatting to the text

Sorry, I had intended to put an example of using tags here, the

[2020-02-06 11:16] andrewvanbreda commented on #176
@NPMSSupport @sacrevert
I have added an example for this on the test site Wildflower form.

https://test-npms.pantheonsite.io/wildflower-recording-form-2015

A couple of observations.

1. I noticed there is an alignment problem with the checkbox and label. I have seen problems like this before. I am wondering if it is related to there being some hidden items in the background to get the checkbox t

[2020-02-06 11:41] NPMSSupport commented on #141
Hi @andrewvanbreda
I went to the test converter page and tried an example of event info from last year. Selected source and copied encoded text. But when I tried to put this into the test event editing and tried to submit, I'm afraid it did not work. I had the following error:
An error occurred when the data was submitted.
array_key_exists() expects parameter 2 to be array, null given

Any idea wh

[2020-02-06 12:04] andrewvanbreda commented on #141
Hi @NPMSSupport

This worked when I tried it. Can you email me the html you tried to paste so I can try it to see what is wrong.

[2020-02-06 16:23] sacrevert commented on #122
@andrewvanbreda
Just to say that this has not been forgotten, but we are also in the process of recommending a change to those with verification rights in iRecord. This does not affect the design and implementation of this code, it just means that we might wait until we have made the changes to who has verification rights in iRecord before making this page more widely available. Hopefully these ch

[2020-02-06 16:55] sacrevert opened #181 "Minor extra text for data entry pages"
In two places, could we add some extra explanatory text to all the standard data entry forms please (Wildflower, Indicator, Inventory).
Note that the text doesn't need to be red, I've just done that to make it clear what is new.

1. Grazing info (text could be above or alongside)
![image](https://user-images.githubusercontent.com/5985134/73959255-0079d200-4901-11ea-9647-975606bf15e3.png)

2. Vario

[2020-02-07 11:42] andrewvanbreda commented on #157
Survey indication also added to All Visits with bug correction

[2020-02-07 11:43] andrewvanbreda commented on #154
Also improved reports in other ways to make them more consistent with each other.

[2020-02-07 11:47] andrewvanbreda commented on #154
@BirenRathod
Could you pull the NPMS indicia-reports folder on both live and test warehouse cheers.
(there are two new reports npms_my_visits, npms_all_visits so nothing will be affected until I configure the sites).
Cheers

[2020-02-07 17:01] sacrevert commented on #176
Thanks @andrewvanbreda
1. Could the text say "Please select this box if no indicator species were observed" instead of "Select if no species observed:"
2. I don't think we need the label as well to be honest.
3. Could we make the actual checkbox larger? Or is this some sort of standard size? Just seems small relative to other items on the page.

Regarding the behaviour, i don't think any of this i

[2020-02-07 17:05] sacrevert commented on #173
What about if all we were copying was the species names? These come after the date and plot selection, so presumably could looked up when loading the final data entry page?

Note, however, that i wouldn't consider this desirable if it mean that the final page loaded a lot more slowly, as that is likely to be lead to people closing or refreshing the page or getting otherwise frustrated.

[2020-02-07 19:16] andrewvanbreda commented on #122
@sacrevert
Ok, no problem

[2020-02-10 10:54] andrewvanbreda opened #182 "Grid help text displaying during data entry"
I only just noticed this, but I don't understand how it could suddenly have started doing it, I think it must of always done it.
When you go to the data entry form you are initially created with a grid and some help text above
"The grid below lists all samples that exist ....."

This help text continues to show even once you start entering your data and the grid is no longer displayed.
@sacrevert

[2020-02-10 10:56] andrewvanbreda commented on #181
@sacrevert
This is done, please close if you are happy

[2020-02-10 10:58] sacrevert commented on #182
I think it has always done this and we've never noticed. Would be good to hide it, assuming this is straightforward. Medium seems fine for level.

[2020-02-10 11:01] sacrevert commented on #181
Fine generally, but can we have some space between the comments box and the second message (red arrow below).
![image](https://user-images.githubusercontent.com/5985134/74144502-c0626a00-4bf4-11ea-9fe8-d8f92120eb66.png)

At the moment the spacing implies that it is associated with the box above rather than the dropdowns below. So, increase spacing before the message, and potentially reduce it belo

[2020-02-10 11:20] BirenRathod commented on #154
@andrewvanbreda
Both those reports gone on live and test warehouses.

[2020-02-10 11:33] NPMSSupport commented on #134
Hi @andrewvanbreda That option makes sense to me,. A simple check box to show the event has occurred and is in the past.
Thanks

[2020-02-10 14:18] andrewvanbreda commented on #181
@sacrevert
Ok, will have a fiddle. I did consider this earlier, but the gap was too big and look weird in comparison to the rest of the page. Will see what I can do.

[2020-02-10 14:23] andrewvanbreda commented on #182
@sacrevert
Not actually as straightforward as you might think as the system thinks the grid page is the same as the data entry page.
Um......I won't spend time on it, I will just keep it in the back of my mind and hope for a lightbulb moment.

[2020-02-10 15:07] andrewvanbreda commented on #181
@sacrevert
I realised the reason for it looking odd with the big gap, it is not the gap was too big, but it was no longer consistent with the other help texts on the text.
I have now fixed the situation on live Wildflower and am changing the other pages. If you are happy with the Wildflower Survey Details tab, then please close this issue.

[2020-02-10 15:34] andrewvanbreda commented on #154
@BirenRathod Thanks biren, will take a look

[2020-02-10 16:48] andrewvanbreda commented on #173
@sacrevert
Hi Oli. No server loading occurs at that point, it is tab switching.
The load from the server is as soon as the page loads, those pages are really just a visual illusion, it is actually just one page in reality.
The only thing I can think of is to have a button below the plot selection that allows you to fill in the values automatically (it would require a page reload, although that wou

[2020-02-11 09:28] sacrevert commented on #181
@andrewvanbreda
Looks great. Thanks.

A related issue, can we make the grey text slightly bigger across all forms?
e.g. **Leave blank for "none"** and related stylings are small relative to the other text. A size similar (but maybe a shade smaller than) the subsection headers would be nice.

[2020-02-11 09:31] sacrevert commented on #173
OK, thanks. To be honest, I'm inclined to leave this and just say to users that it would slow down the page. I don't really think reentered the species is a huge job.

Extra buttons and other changes sound like they would either add extra complexity for the user (the first suggestion) or the site maintenance (second option).

Any thoughts from @NPMSSupport

[2020-02-11 10:08] andrewvanbreda commented on #173
@NPMSSupport @sacrevert
Yes I am inclined not to go for option 2 either, as there is a risk of bugs with doing with completely new code handling quite a complex thing.
At least option 1 would use the existing code for loading the data (having a page reload)

[2020-02-11 10:41] NPMSSupport commented on #173
Hi @andrewvanbreda
Yes I tend to agree with @sacrevert
Making any additions that could potentially slow things or introduce bugs wouldn't be popular and despite having some complaints about it taking longer, I think having to re-enter data has the slight benefit of not encouraging bias in the species seen too.

Thanks

[2020-02-11 10:44] sacrevert commented on #173
@andrewvanbreda
Happy for you to close this, unless you want to keep it open to remind you occasionally to think about alternative solutions? Up to you.

[2020-02-11 11:26] andrewvanbreda commented on #173
@sacrevert
Just in middle of something at mo, so will look later and close if appropriate

[2020-02-11 12:28] andrewvanbreda commented on #154
@sacrevert @NPMSSupport
Hi, have been looking at the improvements to My Visits/All Visits this morning.

The problem I have is the data structures are somewhat different.
For instance on extra species, the square can be the main location for the sample with no plot.

This leaves me with 3 options
1. Leave it so that actually the plot column might sometimes show a square for Extra Species.
This pro

[2020-02-11 13:24] sacrevert commented on #154
(3) sounds good to me. The grids could be labelled appropriately of course.

Just to note: Extra species records can be assigned to plots or squares.

[2020-02-11 14:24] NPMSSupport commented on #154
3 sounds best option to me too. Thanks

[2020-02-11 16:40] andrewvanbreda commented on #181
@BirenRathod Are you able to do this Biren? as you have tended to do this kind of thing before.
Problem is I can't play around with the styles quickly without committing each time.
It is the text with class "helpText" that Oli is talking about.
Cheers.

[2020-02-12 09:42] sacrevert commented on #47
@NPMSSupport @andrewvanbreda
FYI, i'm am asking @burkmarr if he is able to add the currently missing boundary sets that I have put together to the warehouse.

[2020-02-12 09:44] sacrevert commented on #98
We have added a comment regarding this to the new recording form (2020) and also see issue #176
Therefore closing this issue.

[2020-02-12 09:44] #98 closed

[2020-02-12 09:46] sacrevert commented on #57
Still with @sacrevert  Note that #46 waits on this issue

[2020-02-12 11:03] burkmarr commented on #47
Adding new locations with the spatial importer on the warehouse doesn't normally present any problems, so getting the geometry in should be okay. A decision needs to be made about whether or not to add them to the list of 'spatially indexed' location types though.

For info, this is the current set of indexed location types on warehouse1:

- Vice County
- LRC Boundary
- Country
- Cairngorms NP NNR

[2020-02-12 11:52] sacrevert commented on #47
All seems sensible to me, although I'm not the expert on this.
I'm not sure whether this has a bearing on the spatial indexing, but the new NPMS data download page that Andy is working on will be based on elasticsearch.

[2020-02-12 11:54] DavidRoy commented on #47
Assuming there are not major performance issues, I'd favour indexing the additional layers as a general principle

[2020-02-12 12:12] andrewvanbreda commented on #47
I can't comment on the Elastic Search much as I haven't looked at that in a couple of months (by no means an expert). But I think it would be worth indexing them as the public will be using them, therefore the load level is a bit of an unknown. If it was just going to be an admin user using them once every few weeks, it might be another matter.

[2020-02-12 13:57] BirenRathod commented on #181
@sacrevert & @andrewvanbreda
Increase the help text and decrease the left margin.

[2020-02-12 14:33] andrewvanbreda commented on #157
Closing as this is now being handled in #154

[2020-02-12 14:33] #157 closed

[2020-02-12 14:41] andrewvanbreda opened #183 "Remove joins and replace with attrs_json to speed up reports"
Been speaking to John about report optimisation.
Seems these days attributes are stored in a  json field called attrs_json in cache_samples_nonfunctional (and perhaps other tables have similar feature).

See if I can remove some report joins, should speed things up a lot.
Already doing this with My Visits/All Visits.

[2020-02-12 14:55] andrewvanbreda commented on #176
@sacrevert Do you want to have another look.
The checkbox is actually the same size as all the other ones.
However it now looks quite different without the label and I also changed the helpText to be strong.
I was wondering if it was worth making the text red. Let me know if you still want the checkbox bigger given the new styling and I will see what I can do, but as I say, it is the standard size

[2020-02-12 14:58] andrewvanbreda opened #184 "Massive drop-downs suddenly appeared"
Suddenly the test and live sites have massive drop-downs. Any ideas what has happened Biren?

Good example is square/plot selection on data entry

[2020-02-12 14:59] andrewvanbreda commented on #184
<img width="1209" alt="Big drop-downs" src="https://user-images.githubusercontent.com/2463614/74346955-3f4bd400-4da8-11ea-820c-0bf69540b93f.png">

[2020-02-12 15:00] sacrevert commented on #184
Surely this is going to be a side-effect of one or the other style tweaks that you and/or Biren have been working on? @andrewvanbreda

[2020-02-12 15:04] BirenRathod commented on #184
@andrewvanbreda

Do you not see that on live site?

[2020-02-12 15:09] BirenRathod commented on #184
@andrewvanbreda
Help text appears at the site of the dropdown which lets dropdown big.

[2020-02-12 15:13] BirenRathod commented on #184
@andrewvanbreda & @sacrevert
It has resolved now.

[2020-02-12 15:16] johnvanbreda commented on #47
There are the following overheads:
1) processing the entire dataset to index them against the polygons
2) subsequent processing of new records to index them
3) data storage in the postgreSQL database
4) data storage in the Elasticsearch database.

1) is significant, but a one off that can be managed in chunks.
2) will have a small effect, but in my opinion if these polygons are going to be used as

[2020-02-12 15:54] andrewvanbreda commented on #184
@BirenRathod
It is still broken.
I don't think I have changed anything that could of done this as I haven't changed anything on live.
The Selected Square and Selected Plot downs are also now appearing side-by-side.
As you say the help texts are also now appearing to the side.
If you think it is something I have done, can you let me know what it is so I can resolve it.

Cheers

[2020-02-12 15:59] andrewvanbreda commented on #184
The event details page is also messed up with all the fields appearing side-by-side. I think there is something wrong with the general styling on the site, has anything changed is this area?

[2020-02-12 16:02] sacrevert commented on #184
Did @BirenRathod change something in order to address #181 ?

[2020-02-12 16:16] burkmarr commented on #47
Thanks everyone - I will probably do the spatial uploads into dev first just in case that turns up any problems. On live I will break the spatial imports into chunks - as John suggested - to spread the load of the initial spatial indexing.

[2020-02-12 16:35] sacrevert commented on #184
Also things like the dropdowns in the Survey details page are also side by side (i.e. percentage covers for mosses, litter etc.), although actually this works quite well...

[2020-02-12 17:12] andrewvanbreda commented on #184
If you prefer side-to-side I think it can be done in other ways (by using the pipe | symbol in the configuration).
Also the side-by-side is not working well on the event pages.
So if you wanted side by side, we could do in a more controlled way as described.

[2020-02-12 19:06] andrewvanbreda commented on #141
@sacrevert @NPMSSupport
Rachel's problems only happen on Dev, live is fine.
Have also included a change on live now where the Event Details page shows HTML, not just the event grids.
Closing this now.

[2020-02-12 19:06] #141 closed

[2020-02-13 11:28] sacrevert commented on #176
@andrewvanbreda OK i think the checkbox is fine. Can we just align the text a bit more closely to the checkbox please?
![image](https://user-images.githubusercontent.com/5985134/74430030-f6515980-4e53-11ea-84a3-996b160a07d4.png)

[2020-02-13 11:29] sacrevert commented on #184
This seems to have been fixed on live, at least on the data entry forms. Happy for you to close @andrewvanbreda if you agree.
Don't worry about changing the percentage cover boxes so that they are purposefully side-by-side, I dont think it's worth it.

[2020-02-13 11:32] BirenRathod commented on #184
@andrewvanbreda & @sacrevert
After my fixed yesterday, I didn't clear the cache, so you didn't see my changes on live site. it should be fine by now if not let me know.

[2020-02-13 16:45] andrewvanbreda commented on #176
@sacrevert
This looked OK yesterday when I did it,   I realise now it was that breakage that Biren was working on that was making the text align with the checkbox!
Will have a go, although this is trickier than it sounds as Indicia is trying to auto allign to the label which have removed.  Perhaps I can take advantage of the breakage from yesterday to fix it, will speak to biren

[2020-02-13 16:48] sacrevert commented on #176
Maybe we could put the label back in and remove this message?

[2020-02-13 16:54] andrewvanbreda commented on #176
@sacrevert I will have a look what is best.
Another option actually is to use neither the label or help text, then add the information as html directly on the form rather than as options to the checkbox control. Will have a look.

[2020-02-13 17:27] andrewvanbreda commented on #134
Coding now complete on this, awaiting deploy to live

[2020-02-14 10:45] burkmarr commented on #47
AONBs for England, Wales and Northern Ireland are added and indexed on Warehouse1. I've added them as selectable spatial filters in the iRecord Explore My Records and Explore All Records pages.

To add them to another report page, add the location type id 17555 to the @indexedLocationTypeIds array on 'Form Structure' under the 'User Interface' tab.

I've configured a WMS layer on Warehouse1's Geos

[2020-02-14 12:07] burkmarr commented on #47
@johnvanbreda @BirenRathod -  although task_spatial_index_builder_location jobs were inserted into the work_queue yesterday when I imported the locations, I cannot use the AONBs in spatial filters in iRecord - either no (or very few) records are returned.

I can see no sign of the relevant task_spatial_index_builder_location tasks in the work_queue, so I suppose they all completed okay - unless ei

[2020-02-14 14:24] BirenRathod commented on #47
@burkmarr
I cleared the cache for indicia on iRecord website, so should be fine by now. Check and let me know if not.

[2020-02-14 15:20] burkmarr commented on #47
That hasn't made any difference @BirenRathod. This query returns zero:
[code]
Location with id 227617 is the Cornwall AONB - one of the new locations entered yesterday. So no records in cache_occurrences_functional are recorded as intersecting this location - it looks to me as though the spatial indexing didn't happen, but there are no failed task_spatial_index_builder_location tasks in the work_q

[2020-02-14 15:27] BirenRathod commented on #47
@burkmarr
This query select * from locations where location_type_id=17555 return 47 rows. Is it not what you see?

[2020-02-14 15:33] burkmarr commented on #47
@BirenRathod - no I get nothing. Your result is correct. I just changed from ```select *``` to ```select count(*)``` however and this does return 47. I wonder if it's something to do with me using Remote Desktop Connection? I've never seen anything like it with any other queries I've ran. Anyway, it seems to be a foible of the software/network rather than a data problem.

That just leaves the prob

[2020-02-14 15:35] BirenRathod commented on #47
@burkmarr
Are you using pgadmin and which version are you on?

[2020-02-14 15:37] burkmarr commented on #47
@BirenRathod - I'm using Remote Desktop Connection to connect to the Warehouse server and using pgAdmin that's installed there.

[2020-02-14 15:53] BirenRathod commented on #47
@burkmarr
Remote desktop connection is fine but problem is with PgAdmin. It hasn't been upgraded for a long time unless you have upgraded recently. Also, before using PgAdmin from the server, make sure to clear cookies of the browser and it should be latest version of PgAdmin. It's odd behavior of PgAdmin is the problem here.

[2020-02-14 15:55] burkmarr commented on #47
@BirenRathod - I avoid installing/updating software on the servers if at all possible, so I just used what was there. Will you update pgAdmin?

[2020-02-14 16:00] BirenRathod commented on #47
@burkmarr
I'm installing now, so please close if you already on it.

[2020-02-14 16:04] burkmarr commented on #47
@BirenRathod - I couldn't log in because you and John already on, so I will still have it open.

[2020-02-14 16:24] johnvanbreda commented on #47
I'm logged out now - I was working on another task. BTW I inserted a work_queue task to re-index the Dorset AONB just to see if that made a difference.

[2020-02-14 16:26] burkmarr commented on #47
Thanks John - I also inserted tasks for Cornwall and Dedham Vale.

[2020-02-14 16:32] BirenRathod commented on #47
@burkmarr
I have installed the PgAdmin now. Before using please clear all cookies from the browser (what ever browser you use). Let me know if you can still having a problem.

[2020-02-14 16:38] burkmarr commented on #47
That did it @BirenRathod - thanks.

[2020-02-14 16:47] BirenRathod commented on #47
@burkmarr
No problem.

[2020-02-14 16:50] BirenRathod commented on #47
@burkmarr
Most probably caused by browser's cache, so everytime when you access PgAdmin or after finishing PgAdmin, please clear the cookies and second culprit the PgAdmin software itself if it is on old version.
Many have experienced same problem here too.

[2020-02-15 12:11] andrewvanbreda commented on #183
AVB not to myself: My Visits, All Visits improved...awaiting go live

[2020-02-16 19:14] andrewvanbreda commented on #183
AVB note to myself: New version of npms_sample_occurrence_samples improves efficiency

[2020-02-16 19:18] andrewvanbreda commented on #183
Ok, think these are the only improvements that can be made at the moment apart from some of the admin reports which are probably not worth changing at this time.
Setting Coding Complete awaiting deployment.

[2020-02-17 10:12] burkmarr commented on #47
@johnvanbreda - the indexing seems to have worked for the three tasks we added manually. Not sure why they didn't index the first time round. Anyway I will insert tasks for the others.

[2020-02-17 10:38] andrewvanbreda commented on #184
Working now

[2020-02-17 10:38] #184 closed

[2020-02-17 10:44] andrewvanbreda commented on #183
@BirenRathod Is it possible to pull the following reports from the NPMS reports folder on both live and test warehouse please (just these 3 reports, not whole folder yet)
npms_all_visits
npms_my_visits
npms_sample_occurrence_samples_5

Cheers

[2020-02-17 12:49] andrewvanbreda commented on #176
@sacrevert
Hi Oli,
Could you have a quick look again. I have done some fiddling and have hard-coded the html onto the page (leaving the default label blank), then put a gap and forced the checkbox onto the previous line. This seems to work. Is this ok? there is a very slight misalignment of the checkbox, but all the controls seem to have this....not sure why
I suppose my main question is would you

[2020-02-17 16:26] andrewvanbreda commented on #10
@sacrevert
I am having a little trouble with this issue. Firstly in regards to the plot problem, I don't think that relates to the occurrence saving problem.
In fact, my changes to the plots can be seen to be working in this area, as if we go to the first sample from Biren's query, providing you are logged in as administration level account you should be able to see the correct plot is filled in e

[2020-02-17 21:19] andrewvanbreda commented on #173
@sacrevert @NPMSSupport
OK, just been having a think. So going to put out one last suggestion, else I will close this.

Obviously one solution would be to reverse the current way of doing it and go back to Add Survey 1/Add Survey 2 links.....however ignoring that possibility and assuming that you wouldn't want that.
My possible suggestion is to keep the current Add New Sample button, and  also kee

[2020-02-17 21:23] andrewvanbreda commented on #173
To be clear, that template could include as much or as little of the data as you wanted, we don't have to copy the species if you don't want to influence people

[2020-02-18 10:50] BirenRathod commented on #183
@andrewvanbreda
All reports have now been pulled down on both warehouses.

[2020-02-18 13:28] andrewvanbreda commented on #183
@BirenRathod
Thanks Biren

@NPMSSupport @sacrevert
These improvements are now live. There is still a question mark about the speed of the All Visits report as that has changed in regards to some other issues at the same time.
If speed problem persists I will raise separately as it won't relate to this particular issue.

[2020-02-18 13:28] #183 closed

[2020-02-18 13:32] andrewvanbreda commented on #154
@sacrevert @NPMSSupport
Now live. Please close if you are happy with the new layout.
Some of the grid columns have changed to make things a bit better (e.g. english format dates).
I have changed it so the Extra Species grid has difference columns to the main grid as it is more species focused than visit focused.

[2020-02-19 09:08] sacrevert commented on #154
I don't use this, so leaving to @NPMSSupport to approve

[2020-02-19 09:41] sacrevert commented on #176
That looks great. I don't think it needs to be in red. Happy for you to close this once you have implemented for all three forms on live. Cheers @andrewvanbreda

[2020-02-19 09:49] sacrevert commented on #173
It's a nice idea, but ultimately I think it could be confusing for people, and is another complex thing to maintain. I think we leave it as it is. If @NPMSSupport gets more people requesting a feature of this sort, then we can reconsider this option in the future.

If @NPMSSupport agrees we can close.

[2020-02-19 10:02] burkmarr commented on #47
National Parks are added and indexed on Warehouse1. They are also added as selectable spatial filters in the iRecord Explore My Records and Explore All Records pages.

To add them to another report page, add the location type id 17558 to the @indexedLocationTypeIds array on 'Form Structure' under the 'User Interface' tab.

I've configured a WMS layer on Warehouse1's Geoserver. If you want to add t

[2020-02-19 10:22] andrewvanbreda commented on #173
Righto, will wait for feedback from NPMS support, then will close if they agree

[2020-02-19 10:40] sacrevert commented on #10
Hi @andrewvanbreda
If you could remove the duplicates, that would be appreciated. Presumably this could then be closed? It sounds as though (i) we don't really know what caused the duplication, (ii) are unlikely to find out and (iii) are fairly confident that there is no obvious way for this to happen again (at least under the current indicia/NPMS code. Thanks

[2020-02-19 12:09] johnvanbreda commented on #47
The batch size per run will be controlled by the modules/spatial_index_builder/helpers/task_spatial_index_builder.php file whatever you do. Perhaps you should temporarily lower the limit (currently 100) to about 50 so it's not doing too many at a time?

[2020-02-19 12:14] burkmarr commented on #47
@johnvanbreda.  Good idea. When scheduled tasks is sorted out on dev, I will set the limit to 50 and try the Irish SSSIs.

@BirenRathod - this is the job I need to do on live Warehouse but want to test first on Dev.

[2020-02-19 13:00] NPMSSupport commented on #154
This looks goo to me. Thanks

[2020-02-19 13:00] #154 closed

[2020-02-19 13:04] NPMSSupport commented on #173
Yes agree it sounds quite complex and will require more maintenance. Folk do niggle about the extra time but I have been explaining. I think its useful to have this option in mind if we find it becomes a bigger barrier.
Thanks

[2020-02-20 13:46] andrewvanbreda commented on #176
@BirenRathod
Hi Biren, Just trying to commit the final code for this to pantheon using the git command line. However it does not pick up changes inside the CSS folder (as my previous tests were conducted using jQuery, I want CSS for the final code).
Are you able to fix this situation so I can commit into think CSS folder. I think we had a similar issue before with my JS files that you were able to

[2020-02-21 12:49] andrewvanbreda commented on #134
@sacrevert @NPMSSupport
I have now configured the test site for this.
I have also configured the admin area of the live site, but have left the public area for now apart from it won't show historic events in the general events list, My Events is untouched on live for now.
The reason for this is we have some old events that now need undeleting and marking as historic instead, so I thought best wait

[2020-02-21 13:06] andrewvanbreda commented on #134
@BirenRathod @sacrevert @NPMSSupport
Note I am unable to configure the dev site for historic events at the moment.
Biren: The test warehouse gives an error whenever I go to one of the lists in the Warehouse UI like Sample attributes. Error is as follows:

Indicia configuration is incorrect. Warehouse URL is not configured.
For more information refer to the application log file.

[2020-02-21 17:11] andrewvanbreda commented on #134
Note to myself: Have deployed a bit more to live.
My Events will no longer show historic events on grid. However it lacks the Historic event grid, and more importantly still shows the historic events in the drop-down. This is coded but needs deploying from Pantheon and this can't be done yet as there is another commit awaiting deployment that is not ready yet.

[2020-02-24 10:07] BirenRathod commented on #176
@andrewvanbreda
Did you check .gitignore file which might have line to restrict editing js or css file? I checked at my end and I haven't found. May be I'm looking at something else.

[2020-02-24 12:56] andrewvanbreda commented on #176
@BirenRathod
Thanks for the tips Biren. Unfortunately, I am still unable to get it to work.
The only think I could find was in one of the .gitignore files was a line to ignore node.*.css
This should not have affected my change though, as mine was not a node css file.
Have I changed my code and put them in node.x.css files instead (and removed that gitignore line I mentioned).
But this didn't work

[2020-02-24 12:59] BirenRathod commented on #176
@andrewvanbreda
Is it possible to send me those file/files? let me try at my end see if I get the same error.

[2020-02-24 13:10] andrewvanbreda commented on #176
[Archive.zip](https://github.com/BiologicalRecordsCentre/NPMS/files/4244665/Archive.zip)

[2020-02-24 13:11] andrewvanbreda commented on #176
@BirenRathod
See above, all the files are the same by the way. It just doesn't seen them when I put them in prebuilt_forms/css, if you can get any of the 4 to work, then we are in business

[2020-02-24 13:17] BirenRathod commented on #134
@andrewvanbreda
I have attached the results which I got from live warehouse.
[data-1582549979612_historic.zip](https://github.com/BiologicalRecordsCentre/NPMS/files/4244697/data-1582549979612_historic.zip)

[2020-02-24 13:41] andrewvanbreda commented on #134
@BirenRathod Thanks Biren

@NPMSSupport
Could you have a look at the deleted NPMS events list Biren has sent.
Could you let me know which ones are not historic and will remain deleted. The others I will undelete and set them as historic.
I think it might be the following ones that should be deleted (I think either cancelled, or they are test ones)

NPMS Event 2
NPMS Event 1
NPMS habitat ID
CANCELL

[2020-02-24 16:53] BirenRathod commented on #176
@andrewvanbreda
I found no problem of updating repository. All files gone on dev pantheon site. Once you happy let me know, so I will release code onto test and live site.
Also, sorry for taking bit longer as I was busy resolving other things.

[2020-02-24 17:26] BirenRathod commented on #134
@andrewvanbreda
https://github.com/BiologicalRecordsCentre/NPMS/issues/134#issuecomment-590314958
Due to recent upgrade of warehouse, there is a missing file in client_helpers folder, I have now copied, so it is working again.

[2020-02-25 10:11] andrewvanbreda commented on #176
@BirenRathod
Thanks Biren.
Could you move the npms_sample_occurrence.css to the Test NPMS site, and discard the individual node files, hopefully that single file will be enough for all the forms to work.
(the ID numbers used in the CSS in the files do not match the test warehouse, so won't work on Dev, hence the request to move straight to the test site (which is attach to the live warehouse) for

[2020-02-25 10:29] BirenRathod commented on #176
@andrewvanbreda
It has done already yesterday. Sorry I missed to mention that. I will remove the individual node files now.

[2020-02-25 10:41] BirenRathod commented on #176
@andrewvanbreda
I have now removed all individual files on all environment.
Also, I just wonder whether you could able to resolved the problem you experienced with Git. My suggestion is removed the repository from your local machine and clone it again.

[2020-02-25 11:05] andrewvanbreda commented on #176
@BirenRathod OK, I have made a note to do that.
For now are you able to move that npms_sample_occurrence.css file to live. Shouldn't need maintenance mode.
Cheers
I will then try and fix my clone when I get the chance.

@sacrevert
I noticed something. You suggested the text "Please select this box if no indicator species were observed" on the test checkbox we setup on the wildflower form.
Did you

[2020-02-25 11:16] BirenRathod commented on #176
@andrewvanbreda
The code has been released now onto live site.

[2020-02-25 11:52] sacrevert commented on #176
@andrewvanbreda Yes please with the customisation, but the message on the inventory page should just read "Please select this box if no species were observed", because inventory people just record all species. (Actually highly unlikely at inventory level, but not impossible)

[2020-02-25 12:37] andrewvanbreda commented on #176
@BirenRathod Thanks Biren

@NPMSSupport @sacrevert
This is all live, can you close this issue if you are happy with what is on the live site

[2020-02-25 13:34] sacrevert commented on #176
Looks great. Thanks @andrewvanbreda

[2020-02-25 13:34] #176 closed

[2020-02-25 15:46] #173 closed

[2020-02-26 17:43] andrewvanbreda commented on #182
@sacrevert @NPMSSupport
Fixed and live

[2020-02-26 17:43] #182 closed

[2020-02-27 09:31] burkmarr commented on #47
@BirenRathod @johnvanbreda - something strange is still going on with the scheduled/tasks and work_queue on dev.

After the recent reconfiguration changes made to the scheduled tasks, the work_queue didn't seem to change. So yesterday I cleared out the claimed  tasks from last year and manually ran the work_queue tasks. A number of tasks successfully completed until it claimed 100 task_spatial_ind

[2020-02-27 09:44] BirenRathod commented on #47
@burkmarr
It does log. you will find in logs folder in warehouse\application folder.

[2020-02-27 10:34] burkmarr commented on #47
@BirenRathod. There was no sign of scheduled tasks in the logs, so I checked the configuration for the request_logging module and it hadn't been set to log scheduled_tasks. I've updated it's configuration to match that on the live warehouse. I'll have a look at the logs after the next scheduled tasks run to see if it gives any clue about what is going wrong.

[2020-02-27 11:21] BirenRathod commented on #47
@burkmarr
Thanks for implementing that. It might have missed after you upgraded the dev warehouse code.

[2020-02-27 13:40] andrewvanbreda commented on #10
@sacrevert
I have made the corrections.
I am apprehensive to close this issue though, I would want to know if it is still doing it. I did have a theory that part of the code might of done a double-submission, but I would have expected that to be broken all the time, not sometimes. Also it seems to only be affecting some of the occurrences inside a sample often....so yes am pretty clueless to the c

[2020-02-27 16:00] andrewvanbreda commented on #134
Information from Rachel who has sent me an email as she is unable to login to GitHub

Hi @andrewvanbreda.
Yes you're right about the ones you have suggested to be deleted.
Another 2 are:
Cancelled - Habitats identification training day, Longshaw, Derbyshire
YORKSHIRE DALES. End of season review, Q and A and data input (was cancelled)

[2020-02-27 16:03] BirenRathod commented on #10
@andrewvanbreda
I just ran above mentioned query and I didn't get any result.

[2020-02-27 22:27] andrewvanbreda commented on #10
@BirenRathod @sacrevert @NPMSSupport
Thanks Biren. Let's leave this open for now, then review the situation in a couple of months. If that query still returns 0 then, then we can close this

[2020-02-28 13:41] andrewvanbreda commented on #134
Hi @BirenRathod
Could you run this sql on listen to undelete all the deleted events.
I will then re-delete them or set as historic as required.
Cheers

update indicia.locations
set deleted=false,updated_on=now(), updated_by_id = 5553
where deleted=true and location_type_id = 4959;

(note the 5553 ID is my ID, leave that there, that is fine seeing as I wrote the SQL)

[2020-02-28 14:44] BirenRathod commented on #134
@andrewvanbreda
I have updated all those records now.

[2020-02-28 14:55] andrewvanbreda commented on #134
@BirenRathod
Thanks Biren, can see them on the system so looks to be fine

[2020-02-28 17:29] andrewvanbreda commented on #134
@NPMSSupport
 I actually managed to get this done for you this afternoon in the end. More notes to follow this evening as don't have time for proper comment now.

[2020-02-28 21:39] andrewvanbreda commented on #134
@sacrevert @NPMSSupport
Some notes on what I have done this afternoon:
- All old events set to historic, including setting the previously deleted ones to be historic instead (unless the event was previously cancelled in which case it is left as deleted)
- I imported the new events. This took a little bit of fiddling (Rachel I have a couple of notes on somethings I will need you to do below)
- The

[2020-02-29 10:48] andrewvanbreda commented on #134
@BirenRathod
I have updated a report "list_squares_with_post_code_search.xml"
Could you pull this onto live (I have tested it on my machine)
This should fix the My Events map issue as described above.
Cheers

[2020-02-29 20:05] burkmarr commented on #47
The backlog of tasks on the dev Warehouse work_queue has now cleared so I can test loading SSSIs on dev now and, hopefully, soon load them onto the live Warehouse.

[2020-03-02 11:28] sacrevert commented on #181
@andrewvanbreda Was this an easy one to finish and close? Not sure where we are with it now

[2020-03-02 15:00] burkmarr commented on #47
I've started testing SSSI's on dev Warehouse - Irish and Manx went in very quickly so I will start on live Warenouse. In the meantime, I've uploaded Northern Irish, Welsh and Scottish NNRs to the Warehouse (English already on), configured the warehouse to spatially index them. The spatially indexing for these is complete and I've added tasks to the work_queue to spatially index the English sites t

[2020-03-02 15:04] andrewvanbreda commented on #146
AVB note to myself:
Have tried to fix this and found the following
New code works fine on my own box regardless of branch I am running.
It always fails on the Pantheon hosted NPMS/Dev/Test site even running the same code.
Experiments show it isn't finding .delete-file selector, as if it is drawing the sketches too late even when using jQuery(window).load.
I remember now that it stopped working pro

[2020-03-02 15:32] andrewvanbreda commented on #181
@sacrevert @BirenRathod
Hi,
I thought this one might be a bit easier for Biren to do, as every time I need to make a change I have to commit.
If Biren is able to alter the file directly, you can have a little play around to see what look you like.
If I make a change and we don't like the way it looks, I would need to commit every time, each time taking an educated guess at what it will look like i

[2020-03-02 20:53] andrewvanbreda commented on #146
Apparently problems can be caused by the order the environment loads Javascript files (not even John's suggestions worked), so have resorted to a combination of those suggestions and a timeout that delays the removal of the icon by 1 second. This seems to be long enough for the javascript/images to finish loading before the removal is attempted (even if this solution is less than elegant).

@NPMSS

[2020-03-02 20:53] #146 closed

[2020-03-02 22:33] BirenRathod commented on #181
@sacrevert
What changes exactly do you need? The message text looks already big and left margin is ok to me.

[2020-03-03 09:04] sacrevert commented on #181
Hmm, maybe someone already sorted this, as the grey help text does look bigger relative to the other text now. Closing. Thanks all.

[2020-03-03 09:04] #181 closed

[2020-03-03 09:05] sacrevert commented on #174
@andrewvanbreda Is this still open because the SQL was going to be made into an admin website report? Perhaps you could just add a status update to this issue. Thanks

[2020-03-03 09:10] andrewvanbreda commented on #181
Wasn't me, unless I started sleep walking. Anyway, glad it is sorted out

[2020-03-03 09:12] BirenRathod commented on #181
@sacrevert
looks like your browser have refreshed the cookies.

[2020-03-03 09:13] andrewvanbreda commented on #174
@sacrevert
This is correct. I will do it sometime but it had a massive reduction in priority once I sent the SQL directly to Rachel. It should be easy as SQL already written, so I will try and do it quickly when I have a chance sometime.
Will change priority of this and issue title

[2020-03-03 11:47] andrewvanbreda commented on #46
Putting on On Hold until task mentioned by Oli is done

[2020-03-03 13:08] andrewvanbreda commented on #10
Reducing this to medium priority as it has been actioned and is just awaiting testing.
(Confusing to have it still in my high list)

[2020-03-03 13:27] BirenRathod commented on #134
@andrewvanbreda
Reports gone live now.

[2020-03-03 14:00] andrewvanbreda commented on #178
Data sent to Rachel via email.

Note to myself, SQL is as follows

select distinct field_indicia_county_value
from field_data_field_indicia_county
order by field_indicia_county_value asc;

select distinct field_indicia_country_value
from field_data_field_indicia_country
order by field_indicia_country_value asc;

[2020-03-03 14:28] andrewvanbreda commented on #134
@BirenRathod
Thanks Biren, have reinstated that events map, seems to be working perfectly.

@sacrevert @NPMSSupport
I think the work on this issue is complete, can you close it if you are happy.

[2020-03-03 14:43] sacrevert commented on #134
For @NPMSSupport to decide and close

[2020-03-03 15:49] andrewvanbreda commented on #180
@BirenRathod @sacrevert
Just looking at the feasibility of doing this.
Biren: Am I correct in thinking this is actually very difficult to do from an email server point of view, we would need to fiddle with cron and try and store the emails in the database, I am no expert on email servers, but this is the impression some Google searches is giving me.

I suppose we could do this kind of SQL as an au

[2020-03-03 15:56] BirenRathod commented on #180
@andrewvanbreda
Well, if you requirements is specific to your project, you can create reports similar to scheduled_tasks module. I can create task scheduler for it, so it will send email regularly to those specific users. Does it sound workable for you?

[2020-03-03 16:01] DavidRoy commented on #180
I suggest you ask John for his view.  The milestones module might work for this requirement for example

[2020-03-03 18:59] sacrevert commented on #180
I agree that this sounds like something that be done through the milestones (accessed through the warehouse GUI --> websites option). Also would be good as I have an open bug on the milestones for iRecord generally!

[2020-03-04 13:29] andrewvanbreda commented on #180
Hi @BirenRathod @DavidRoy @sacrevert ,

Aha....the Milestones module...now there is a blast from the past, as I wrote that module once up a time. Have just had a sniff around as a reminder.

Essentially what it does is count your records and create a notification when the award point is reach. A filter can be applied to limit it to a certain species, or records only within a certain area.
So you c

[2020-03-04 13:41] andrewvanbreda commented on #180
John contacted....awaiting feedback

[2020-03-04 13:46] johnvanbreda commented on #180
2 options:
1) a custom warehouse module that plugs into the scheduled tasks system.
2) use the triggers/actions system in the warehouse with a custom trigger report that picks up this state. It can be persuaded to send emails to people identified in the data report but I suspect the email formatting may need some work (as it's tended to be used to just send interesting data to administrators, so n

[2020-03-04 14:00] andrewvanbreda commented on #180
Thanks John, I will investigate getting this implemented as it looks like a scheduled task is going to be the way to go.

[2020-03-05 17:06] andrewvanbreda opened #185 "All Visits report is unusably slow"
After recent changes, the All Visits report is now unusably slow

[2020-03-05 17:08] andrewvanbreda commented on #185
I have changed the report in two ways

1. Removed a Left Join to the user entered plot name. I think this is a huge performance drain, and not really interesting to an administrator as the spatial reference names are still present.

2. For some reason this report was missing the ignore transition period squares parameter other reports have.

Awaiting go live.

[2020-03-06 09:58] NPMSSupport commented on #134
Happy to close. Thanks all

[2020-03-06 09:58] #134 closed

[2020-03-07 23:48] andrewvanbreda commented on #174
@NPMSSupport @sacrevert
Report ready to go live.
Note I have automated the definition of the last "two years" to be anything from the 1st of January in the year two years ago.
E.g. at any  time in 2020 the last two years starts from 1/1/2018, then at any time in 2021 the the last two years starts from 1/1/2019
I did think of doing it exactly two years ago, but that could be confusing as the date m

[2020-03-09 09:10] andrewvanbreda commented on #185
Hi @BirenRathod,

I have one new admin report (for another issue), and this improved admin report awaiting go live.
Can you pull the NPMS reports folder on live cheers.
Should be safe as neither report is public facing.

[2020-03-09 09:14] BirenRathod commented on #185
@andrewvanbreda
Is it in indicia-reports folder? if it it, I have just pulled down those.

[2020-03-09 09:15] andrewvanbreda commented on #185
Yes, indicia-reports, the usual place. Cheers. Will have a look

[2020-03-09 10:44] andrewvanbreda commented on #185
@BirenRathod
Sorry to be a pain. Still problems with speed, but I think I see the issue now, I have applied a change which should fix this. So could you pull that folder again....cheers

[2020-03-09 11:04] BirenRathod commented on #185
@andrewvanbreda
Done.

[2020-03-09 11:29] andrewvanbreda opened #186 "Training events list not working for non-logged in users"
Page has trouble if user isn't logged in, ideally open so people can access from a hyperlink.
Have changed to use a login screen for now, as was previously throwing an error.

[2020-03-09 11:52] andrewvanbreda commented on #185
Thanks Biren, blimey the report is still slow, will get John to analyse it on the server this time. Cheers

[2020-03-09 12:08] andrewvanbreda commented on #186
For some reason the parameter that set historic_mode to false doesn't work when not logged in, the parameter simply wasn't passed through at all.
Go this work by passing through 'false' instead.

[2020-03-09 12:08] #186 closed

[2020-03-09 12:09] burkmarr commented on #47
Discussions with @johnvanbreda about the workflow for propagating a new indexed locations type into the ES index indicate that the best way to deal with the one outstaning type - SSSIs - is:
- load them all into the Warehouse *before* configuring SSSIs as a spatially indexed layer,
- apply some ES configuration to recognise the new location type
- apply Indicia configuration to index the location

[2020-03-09 13:09] andrewvanbreda commented on #185
@NPMSSupport
I have looked at what the server is doing with John van Breda. The problem is that essentially the report is now so horrendously complex.
So am looking at ways to simplifier.
There is actually a lot of complexity with it trying to work out if it is survey 1 or 2.
Do you need this information?

[2020-03-09 13:19] sacrevert commented on #185
@andrewvanbreda @NPMSSupport Do we need this (admin) report at all? Could this not be replaced by the ElasticSearch stuff? I can't recall why Andy started looking into this report to be honest.

[2020-03-09 13:25] BirenRathod commented on #185
@sacrevert
My understanding is if it has created using ES code, it should have been available. It may be replace in future. I'm not sure, how long will it take? but that something John needs to consider about it.

[2020-03-09 14:12] andrewvanbreda commented on #185
@sacrevert @BirenRathod
My understanding as this is not currently suitable for Elastic Search, I thought due to the complexity of the logic was not suited (keeping in mind I have not looked into elastic search too much).
I have now spoken to John about it and the main issue is that it is a samples/locations based report.
Elastic Search is currently available for occurrence based data.
So all the r

[2020-03-09 14:16] sacrevert commented on #185
Thanks Andy. Regarding your question above. I can't see that we really need the sample 1/2 information in this report. If it is possible to filter by year, then it will be pretty obvious how many samples there are for a plot within a year, and which came first if more than one.

[2020-03-09 14:17] andrewvanbreda commented on #185
Ok thanks @sacrevert . I will look to simplify the report knowing this.

[2020-03-09 16:01] andrewvanbreda commented on #185
@sacrevert @NPMSSupport
Just in reference to Oli's earlier comment about whether this is used by admin at all (which I missed).

I suppose the thing I can think of that it is useful for is if a user is reporting a problem with their visit then it is possible to view (or edit) the visit as the user would see it, including all the sample/occurrence details.
An occurrence based grid would not do that

[2020-03-09 16:10] sacrevert commented on #185
Thanks Andy. Yes, I agree that it would be useful to admin when trying to unpick user errors/bugs etc. I was forgetting this as obviously I normally just use the database rather than the website.

[2020-03-09 16:38] burkmarr commented on #47
All Sites of Special Scientific Interest are loaded into the Warehouse and ES Logstash locations.yml updated to reference them. Indicia config updated to spatially index the new location type. Work_queue tasks added for each of the locations.

There are 7017 SSSIs. So that we don't overload Indicia, the Warehouse is currently configured to attempt to spatially index just 50 of these every time sch

[2020-03-10 07:44] NPMSSupport commented on #180
HI @andrewvanbreda Thanks very much for looking into this. If a scheduled task is a solution for this, then great, as it would automate the process and be consistent.
If the task is too complex, we can indeed discuss other options such as a grid of new additions and emails for a manually (press button send). It would just need to be added to the weekly task when sending out packs etc. But we'd nee

[2020-03-10 08:03] NPMSSupport commented on #174
Thanks @andrewvanbreda that sounds perfect. Doing it from January best and far less confusing as you say, especially as dates the task is done may alter.
Thanks

[2020-03-10 15:31] andrewvanbreda opened #187 "Website link management"
During the recent NPMS meeting, one of the problems that was mentioned was that the links on the site (such as to PDF files) are all independent of each other even though sometimes the links are the same.
So if a PDF moves, then all the links to that file would need to be changed.

Investigate the possibility of being able to just change the link in one place and for the website to pick up the cha

[2020-03-10 15:34] BirenRathod commented on #187
@andrewvanbreda
I will have look into this. could you send me the page link?

[2020-03-10 16:10] andrewvanbreda commented on #174
@sacrevert @NPMSSupport
Now live. Bottom link in the Admin menu.

[2020-03-10 16:10] #174 closed

[2020-03-10 20:13] andrewvanbreda commented on #187
@BirenRathod
I only really have the information that a Google search gives me, so I haven't tried anything.
How about this though? I am not 100% sure what it does, but it might do what we want. There were other ones returned by Google, but this seemed the most likely one.
https://www.drupal.org/project/link

[2020-03-11 07:54] BirenRathod commented on #187
@andrewvanbreda
I was not asking about Drupal modules. I knew which one to use but I need a page link of NPMS website where you see this problem.

[2020-03-11 09:53] sacrevert commented on #187
@BirenRathod
This isn't really about links on a specific page, it's about links to (mainly) PDF documents. We link to PDFs on the website in other PDFs and webpages, so when ever a PDF changes the links break. What we are looking for is a way of setting up stable links to particular document types, so that when we upload a new version, this is attached to the stable link once, and none of the othe

[2020-03-11 13:35] BirenRathod commented on #187
Thanks @sacrevert for this explanation.

The reason I asked particular page is because in order to implement or put in action this link module, I need to know which content type or page does use this PDF. I know one is News page which does this regularly.

[2020-03-11 13:37] sacrevert commented on #187
Most of the PDFs we link to are here: https://www.npms.org.uk/content/resources
but there may also be some that are just linked to within text blocks throughout the site.

[2020-03-11 13:42] BirenRathod commented on #187
Thanks @sacrevert . You will be surprised to know that "link" module which @andrewvanbreda  has suggested is already enabled and that resource pages are using that.

[2020-03-11 13:42] BirenRathod commented on #187
@andrewvanbreda  & @sacrevert
That means we need to think a different option.

[2020-03-11 13:45] sacrevert commented on #187
@BirenRathod @andrewvanbreda
OK, so does that mean that we are not taking full of advantage of how to link to these items? For example, where we are linking to one of these PDFs, are we currently using a direct link to the PDF in the server file system, whereas we could be using a link to a stable "container" identity?

[2020-03-11 14:00] BirenRathod commented on #187
@sacrevert
It may be or may not be like that. But one thing is sure that the link module is not the answer.

[2020-03-11 14:02] sacrevert commented on #187
@BirenRathod Given that this is low priority, and having just reviewed on the funds, I suggest we put this on hold a the moment anyway.

[2020-03-11 14:03] andrewvanbreda commented on #187
@BirenRathod @sacrevert
Just for your info, I just raised the issue from a comment Oli made at the meeting, and the suggestion I made was just after a google search......so don't assume anything I have said on this particular matter is particularly useful. I didn't check the state of the site in this regard as had been told it was a problem, so it was my main job to raise it.

[2020-03-11 14:04] andrewvanbreda commented on #187
I will set as On Hold using the new tag

[2020-03-11 14:12] andrewvanbreda commented on #126
Suggestion at the NPMS meeting was this would be best done during an Autumn time whenever it happens. Putting on hold for now

[2020-03-11 14:16] BirenRathod commented on #187
@andrewvanbreda & @sacrevert

I need to clarify anyway where we are right now. I will keep an eye on this. If I find anything, I will let you know.
Although There is an option in Drupal 8 for same module which does this job. Sorry I kind of almost forgot that, so I looked at in Drupal 8 again and I found it. So if you have any plan to migrate in Drupal 8 or in future when you migrate to Drupal 8,

[2020-03-11 14:21] andrewvanbreda commented on #187
#126 is the Drupal 8 issue.
At the meeting we had at Wallingofrd it was decided if this were to happen it would be Autumn time (whether that is this Autumn or another Autumn wasn't decided).
Anyway, that issue is no On Hold, so assume it won't be soon.

[2020-03-11 14:24] BirenRathod commented on #187
@andrewvanbreda & @sacrevert
I don't know which Autumn are you going to decide but you should do before this https://www.drupal.org/psa-2019-02-25, so keep that in your plan.

[2020-03-11 16:29] andrewvanbreda commented on #187
@BirenRathod
Thanks for the info, that is very useful to know.

[2020-03-11 16:32] andrewvanbreda commented on #30
Putting On Hold as no evidence of immediate need for this

[2020-03-11 17:09] andrewvanbreda commented on #177
Setting to On Hold, no immediate need for this to be fixed

[2020-03-13 09:29] burkmarr commented on #47
I've added SSSIs as selectable spatial filters in the iRecord Explore My Records and Explore All Records pages. To add them to another report page, add the location type id 17581 to the @indexedLocationTypeIds array on 'Form Structure' under the 'User Interface' tab.

I've configured a WMS layer on Warehouse1's Geoserver. If you want to add the layer as a selectable map layer on a page, add the la

[2020-03-13 09:41] sacrevert commented on #47
Thanks @burkmarr

@andrewvanbreda Would you prefer that this issue is closed and the various NPMS site implementations of these layers opened as new issues?

[2020-03-13 09:57] andrewvanbreda commented on #47
@sacrevert
I actually haven't been following it very closely as I knew it wasn't ready for me to work on and didn't want to be confusing my already full brain . I will read through it shortly and decide then.
@burkmarr Thanks for all your efforts with this.

[2020-03-20 08:41] andrewvanbreda commented on #47
@burkmarr @sacrevert
Amazing work @burkmarr, and thanks for the very clear instructions on use, I can see the layers on the NPMS test site with a one minute change.
I will rename this issue to better indicate what was done, and then raise a new issue for how we want to use this in NPMS (else life will get confusing with the long thread).

[2020-03-20 08:42] #47 closed

[2020-03-20 09:01] andrewvanbreda opened #188 "Add specialist location functionality such as National Parks and SSSI to NPMS"
Need to clarify how we want to use the places of scientific interest and national parks that have been setup in issue #47 to be used in NPMS.
I have added both of these to the test NPMS site Squares Near Me page here.
https://test-npms.pantheonsite.io/square-near-me-public

Note that setup was a 5 minute job, I literally just added the layers.
I think we need to consider 2 things:
- Where on the s

[2020-03-26 07:07] NPMSSupport commented on #188
Thanks so much @andrewvanbreda and all involved!
I'd suggest we plan a call between myself, @sacrevert and @andrewvanbreda to talk through the above questions, describing/clarifying desired uses and budget for work at this stage

[2020-03-26 10:11] andrewvanbreda commented on #188
Will let Oli set this up as he normally does that, I should be free anyway as am not going anywhere!

[2020-03-30 15:32] andrewvanbreda commented on #40
Hi @NPMSSupport @sacrevert

I have made several improvements this afternoon.

I have added a new grid showing squares users have previously added data for.

This is on the same page where squares can be added to a user (this page can be accessed through the "Add squares to users" area)
I have also added a link to this page on the left of the rows in the User Information Download grid, just click o

[2020-03-31 05:25] NPMSSupport commented on #40
Thanks @andrewvanbreda
In regards to mentors, there are around 25. They generally don't change a great deal. But having said that, we will be hoping to add more over the course of this year. Is the current set up to simply select the "mentor" tick box in the edit section of their "my account" page? Did I make that up?

[2020-03-31 08:03] andrewvanbreda commented on #40
@NPMSSupport
You did indeed dream this, however, you have given me an idea. The only reason why we don't currently do this is that that checkbox would be viewable and editable to everyone (we don't want Joe Bloggs deciding to make themselves a mentor!)
However, you have reminded me a while back that we installed a special bit of software that would allow me to control who can see fields on their a

[2020-03-31 10:39] NPMSSupport commented on #40
@andrewvanbreda I think that field in the user information download is why I thought the checkbox was there!
Glad not too big of a job

[2020-03-31 14:35] sacrevert commented on #57
@BirenRathod @andrewvanbreda
I am now in the process of generating all the individual 1km square PDFs that we need for this task to proceed. So, I think you two will need to decide how (& where) these PDFs will be uploaded to allow for simple linking and display through the NPMS site in the future. I will send a zipped file containing the maps when my computer has finished producing them.

[2020-03-31 16:26] andrewvanbreda commented on #40
Think that was just done to have the report ready

[2020-04-01 09:04] andrewvanbreda commented on #40
@NPMSSupport @sacrevert
Mentor functionality now live.
Selecting the Mentor checkbox on the user profile shows the user as a mentor on the User Information Download.
Note this checkbox is only viewable by administrators. If the mentor is not an administrator then they won't see the box. It is for administrator use only. This is to avoid other people seeing the box who might get confused by it.
Pre

[2020-04-01 10:04] andrewvanbreda commented on #57
Hi @sacrevert @BirenRathod

So presumably all I need to do is create some code that auto-generates a link on this page

https://www.npms.org.uk/content/edit-landowner-info

As the PDFs use the square name, all i need to do is grab the square name from the location id.

So ultimately, it doesn't matter at all to me where the files are on the server as long as they are accessible , this should proba

[2020-04-01 10:09] sacrevert commented on #57
Thanks @andrewvanbreda
@BirenRathod I would have thought that it would be good to put them in a standalone folder given that there are over 2000 of them. If they are mixed with other PDFs it will probably be a pain when someone comes along and wants to insert a link to one of the non square-map PDFs into some text or whatever.

[2020-04-01 10:32] BirenRathod commented on #57
@andrewvanbreda & @sacrevert
I don't mind to create another folder just for this. If you have any suggestion do let me otherwise I will create like pdf_square just not to mix with another pdf folder.

[2020-04-01 10:38] sacrevert commented on #57
@BirenRathod sounds perfect

[2020-04-01 11:06] BirenRathod commented on #57
@andrewvanbreda & @sacrevert
It is created under PDF folder called squares not pdf_squares.

[2020-04-01 12:34] andrewvanbreda commented on #57
@BirenRathod Thanks Biren.
Not sure I will be able to get onto this today, but I will let you know how I get on when I do

[2020-04-01 12:36] BirenRathod commented on #57
@andrewvanbreda
No problem. Just to let you know that folder has created on live only not on test site.

[2020-04-01 14:48] andrewvanbreda commented on #57
@BirenRathod Thanks Biren. Thanks is fine, there are quite a few places unused or untested on the test sites, such as reporting areas.

[2020-04-06 09:06] andrewvanbreda commented on #57
HI @BirenRathod
Could you let me know what the URL I need to use is, can't get any URL I try to work....e.g.
https://www.npms.org.uk/sites/default/files/PDF/squares/SU4287.pdf

I then examined the file structure using the command line to SFTP using the dashboard connection info. I can find the squares directory, but there seems to be nothing in it. I don't seem to be able to connect using Filezill

[2020-04-06 09:30] BirenRathod commented on #57
@andrewvanbreda Yes, that is the one to use.  sites/default/files/PDF/squares/squares.pdf

[2020-04-06 10:08] andrewvanbreda commented on #57
@BirenRathod
Hi Biren,
Aren't the filename formats the square name + .pdf at the end.

So given this is the correct folder
sites/default/files/PDF/squares

Then, I don't understand why this link doesn't work
https://www.npms.org.uk/sites/default/files/PDF/squares/SU4287.pdf

Any thoughts?

[2020-04-06 10:12] sacrevert commented on #57
@andrewvanbreda @BirenRathod
Yes, that should be the case. That is how the files that I supplied are organised anyway!

[2020-04-06 10:14] andrewvanbreda commented on #57
@BirenRathod
Could you double check the files are actually there still, when I did command line SFTP earlier this morning, I went to that square folder and it was empty.
I do not know if it is empty, or I just didn't have rights to see them.
I used the Connection Info from pantheon Dashboard. Cheers

[2020-04-06 10:15] BirenRathod commented on #57
@andrewvanbreda
Yes, it is squarename.pdf ? I just mentioned the example of that file name.

I will check and let you know the problem.

[2020-04-06 10:23] BirenRathod commented on #57
@andrewvanbreda
squares folder is empty. you see that from your npms' account file browser tab.

[2020-04-06 10:28] andrewvanbreda commented on #57
@BirenRathod
I saw it was empty from SFTP command line.
I cannot see any file browser tab on NPMS account.
Are you able to copy the files into that folder, then we should be good to go

[2020-04-06 10:34] BirenRathod commented on #57
@andrewvanbreda
As I mentioned, there are no files in that folder. it is empty.
Which account do you use on npms website?

[2020-04-06 10:36] andrewvanbreda commented on #57
@BirenRathod
Username Andrew van Breda

Are you not just able to pull the files Oli gave us into the squares folder. Then the problem would be solved.

[2020-04-06 10:37] BirenRathod commented on #57
@andrewvanbreda
I just masquerade as you and I can see "File browser" tab in your account. In fact you can upload all pdf files from there too.

[2020-04-06 10:40] andrewvanbreda commented on #57
@BirenRathod
Can you send me a screenshot of where it is, I cannot see it
Thanks

[2020-04-06 10:45] BirenRathod commented on #57
@andrewvanbreda
Click on your name appears at top right corner and you will see on your account page. Below is the screenshot.
![image](https://user-images.githubusercontent.com/5941255/78550518-1d952900-77fc-11ea-8d4c-6900e96b2294.png)

[2020-04-06 10:47] andrewvanbreda commented on #57
@BirenRathod
Aha, ok, I understand, the actual My Account page. Cheers

[2020-04-06 10:50] andrewvanbreda commented on #57
@BirenRathod
There is a problem with using this as well. It is only single file upload at a time, so I cannot use it for this upload.

[2020-04-06 10:58] BirenRathod commented on #57
@andrewvanbreda
yes, I know that but at at least you can check that it is working. Also for other PDF files send me zip files thorough wetransfer and I will upload it onto that folder.

[2020-04-06 11:08] sacrevert commented on #57
@BirenRathod I sent you a Dropbox link to the zip file of squares last Tuesday (31st March)

[2020-04-06 11:11] andrewvanbreda commented on #57
@BirenRathod
Yes thanks, that example link started working. I just uploaded 1 file.
The square PDFs are actually very big 1.5 gigabytes and I think I am only allowed 2 gigs of WeTransfer a week, so am not even sure I have enough left to send it
However, the PDFs originated from an email Oli sent anyway.
I checked, you can get the PDFs from this email that Oli sent
Subject:
Fw: PDF square maps
Sent

[2020-04-06 11:12] andrewvanbreda commented on #57
Ha, just saw that Oli just pretty much said same thing I did

[2020-04-06 11:16] BirenRathod commented on #57
@andrewvanbreda  & @sacrevert
Yes, I found that.

[2020-04-06 11:29] andrewvanbreda commented on #57
Code has now been tested successfully on test site. Just waiting for PDF files, then we can go live.

[2020-04-06 11:37] sacrevert commented on #57
Thanks @andrewvanbreda
As an extension to this, it would be good to think about wherelse we could link to or use these PDFs.
For example, can they be linked to in any of the automated emails we are sending or intend to send? Could they be linked to from the Square Near Me maps? Plot details page?
Suggestions for @NPMSSupport and me to consider.

Happy to open another issue for these wider uses whe

[2020-04-06 11:54] andrewvanbreda commented on #57
@sacrevert
Yes, open another issue for this I think if you need. Note that currently the link looks at the square name on the details page to get the filename.
So other places would need extra code to get it working.

[2020-04-06 12:29] sacrevert commented on #57
@andrewvanbreda OK, will do that now. Feel free to close this when you are happy it works.

[2020-04-06 12:30] sacrevert opened #189 "Opportunities to link to square map PDFs"
As an extension to #57 , it would be good to think about wherelse we could link to or use these PDFs.
For example, can they be linked to in any of the automated emails we are sending or intend to send? Could they be linked to from the Square Near Me maps? Plot details page?
Suggestions for @NPMSSupport and me to consider.

[2020-04-06 12:59] sacrevert commented on #188
@NPMSSupport @andrewvanbreda
Would Thursday morning be OK for a call on this and related issues?

[2020-04-06 14:00] andrewvanbreda commented on #188
@sacrevert Fine by me

[2020-04-06 20:23] BirenRathod commented on #57
@andrewvanbreda & @sacrevert
Just to let you know that I have managed to upload all files into /pdf/squares folder. Sorry for taking longer as I was struggling to upload files at once so I have to upload in batch.

[2020-04-06 20:46] andrewvanbreda commented on #57
@BirenRathod
No problem. The issue has been open since February 2018, so a few hours extra won't make any difference :)
Will look to put this live tomorrow

[2020-04-06 20:47] andrewvanbreda commented on #57
Thanks by the way

[2020-04-06 21:04] sacrevert commented on #57
Thanks @BirenRathod , much appreciated. Hope it didn't take too many batches to complete

[2020-04-07 07:09] BirenRathod commented on #57
Well, I done in three batches. So not bad but took longer to upload as my broadband line taking longer due to busy time of the year.

[2020-04-07 09:20] andrewvanbreda commented on #57
@BirenRathod @sacrevert @NPMSSupport
All live now. Thanks for the assistance Biren on getting this out.

[2020-04-07 09:20] #57 closed

[2020-04-07 09:22] sacrevert commented on #57
Thanks @andrewvanbreda @BirenRathod
It certainly works for my two squares! Fantastic team effort :)

[2020-04-07 16:35] sacrevert opened #190 "Allow training flag on samples"
Info from Andy:

What to do if there is a mixutre of training and non training occurrences an the old sample, is that counted as a training sample?

We would also lose the ability to have a mixture of training and non-training occurrences on a sample (if that was ever useful that is)

[2020-04-07 16:41] sacrevert commented on #190
Answers to the above:
- Training flags on both samples and associated occurrences would be best I think to avoid mistaken interpretations of data at either level, at least in the situation where a sample is being created specifically for training purposes.
- I would not expect that a sample would have both training and non-training data associated with it (not sure how this would occur -- if peopl

[2020-04-07 16:46] sacrevert commented on #190
@andrewvanbreda Some comments above, but probably best not to spend too much time thinking about this at this point. I don't think it is a priority for the scheme at the point, I'll let you know if that changes.

[2020-04-07 16:59] andrewvanbreda commented on #190
@sacrevert OK. Will leave it for now. Perhaps set the On hold flag?

[2020-04-07 18:55] NPMSSupport commented on #189
Thanks @sacrevert
I think being able to link to these maps when folk click on a square on the squares near me or request a square pages, before they commit to requesting would be great.
I'm not sure there'd be the need to have o the plot details page as that would be a bit repetitive as they are so closely linked to the square details page.
Off top of my head, I'd say if we could link to it in the

[2020-04-07 18:57] NPMSSupport commented on #188
Sorry @sacrevert and @andrewvanbreda I'm afraid I'm not available Thursday this week or Tuesday next week. After that I'm pretty free.
Thanks

[2020-04-07 20:06] sacrevert commented on #188
@NPMSSupport No worries, I'm off next week so will send a diary appointment for the week after

[2020-04-08 13:41] sacrevert commented on #46
Include link to square details page (where PDF is)

[2020-04-08 13:42] sacrevert commented on #46
PDFs now available

[2020-04-08 13:45] sacrevert commented on #180
Issue #46 takes priority

[2020-04-08 13:54] sacrevert commented on #190
@sacrevert This affects many projects: can we use other budgets?

[2020-04-08 13:55] sacrevert commented on #189
Discussed in phone conversation 08/04/2020

[2020-04-08 13:55] #189 closed

[2020-04-08 14:42] andrewvanbreda commented on #47
@burkmarr
Hi Richard,
I was just wondering what are the names of all the WMS layers that are now available to use, so far I have
SSSIs
National Parks
NNRs
AONBs

But I am unsure of the names of all that are available or is that all of them?
Cheers

[2020-04-08 16:06] sacrevert commented on #47
I seem to recall that RSPB and National Trust layers should also be available, although whether these are available as single layers across British and Northern Irish localities I don't know (would be great if they could be though).

[2020-04-08 17:51] andrewvanbreda commented on #47
@sacrevert
Thanks for the info, I will need to know the exact layer names. I tried to guess and it doesn't seem to be working

[2020-04-09 08:17] burkmarr commented on #47
The two national ones not on your list are:
- National Trust properties
- Vice County boundaries
I can add RSPB reserves if you like.

[2020-04-09 08:24] sacrevert commented on #47
Thanks @burkmarr
If you could add the RSPB reserves as a single layer including Northern Ireland, that would be great. Many thanks

[2020-04-09 08:33] burkmarr commented on #47
**RSPB reserves** - that's the name of the new geoserver layer.

[2020-04-09 09:25] johnvanbreda commented on #47
@andrewvanbreda you can get a list of the layers at https://warehouse1.indicia.org.uk/geoserver/web, then click on Layer Preview.

[2020-04-10 12:19] andrewvanbreda commented on #47
@sacrevert @johnvanbreda @burkmarr
Many thanks all. All seems to be working apart from "National Trust properties" on the map I am using (map goes red which I have seen before to mean some error of some variety). It isn't the layer name anyway, as I can see it in John's list thanks.
I have not had any chance to look into the cause of the problem, however if anyone has any ideas that will save me t

[2020-04-14 09:57] johnvanbreda commented on #47
@andrewvanbreda the layer name is NationalTrustProperties - without spaces. "National Trust properties" is the title which is a different thing.

[2020-04-14 09:59] burkmarr commented on #47
I'd just checked this myself - the other layers have same name and title. So for this one in your iForm, specify it like this:
National Trust properties=NationalTrustProperties

[2020-04-14 11:12] andrewvanbreda commented on #47
@johnvanbreda @burkmarr
Ok thanks, yes seems to be working now.
I noticed this layer is pink. One of my To Do list items is to set colours for the different layers, I thought this would be a visual thing I can override (although I haven't looked into doing that yet).
If this can be set in the layer itself it would be better ,as it would be the same and consistent for everyone. At the moment everyt

[2020-04-14 11:16] burkmarr commented on #47
Its set on Geoserver - I will change it to be consistent with ther others.

[2020-04-14 12:03] andrewvanbreda commented on #47
@burkmarr
Is it possible to have them all different colours?, or is that something I best try and override on the map displa , as it is a requirement of NPMS that they are different colours on the map (although am not sure how that would look in practice)

[2020-04-14 13:43] burkmarr commented on #47
@andrewvanbreda - as far as I can work out, it isn't possible to change the style from the map display configuration on iForm, even if more than one style is made available for the layer from Geoserver. So it would need the default layer style to be changed on Geoserver. So as far as I can see, the only way to do this currently for NPMS without affected the display of the layers wherever they are

[2020-04-14 13:44] burkmarr commented on #47
@andrewvanbreda - if you want me to do that, let me know what colours you want to associate with each type and I will set it up.

[2020-04-14 14:06] andrewvanbreda commented on #188
@sacrevert @NPMSSupport
Hi.
I have checked about having the layers as different colours. It is something Richard Burkmar needs to do on the server, not something I can do myself.
So he has asked me what colours I would like....so I am now deferring that question to you, I will then pass the information onto him once you let me know your preferred colours.
I got an auto reply from Oli this morning

[2020-04-14 16:04] sacrevert commented on #188
@burkmarr @andrewvanbreda
Thanks Rich. Here you go. Obviously the only real requirement is that they are different and stand out on a satellite base layer.
National Trust: lime green (#00ff00)
RPSB: aqua (#00ffff)
AONB: red (#ff0000)
SSSIs: orangey (#ff9900)
national parks: white (#ffffff)
NNRs: light pink (#ff66ff)
LNRs: pale yellow (#ffff66)

I think that's all, but feel free to use lilac (#cc99

[2020-04-14 21:43] burkmarr commented on #188
I've set those up. You can see the layers here - names all preceded with NPMS. Don't forget you can change the layer name displayed in the key on the iForm map (e.g. removing the NPMS part) by specifying as follows:
- National Trust properties=NPMS National Trust Properties
- RSPB reserves=NPMS RSPB reserves

For the available layer names go here - https://warehouse1.indicia.org.uk/geoserver/web/

[2020-04-15 06:48] sacrevert commented on #188
Thanks @burkmarr - most efficient as always!

[2020-04-15 08:45] andrewvanbreda commented on #188
@burkmarr
Thanks Richard that is great. Will take a look today.

[2020-04-15 14:25] andrewvanbreda commented on #188
@burkmarr @sacrevert
Thanks Richard. Looks like those colours are working.
The only thing is that Vice County Boundaries are still blue, however Oli didn't mention that layer, so maybe he doesn't want it at all.
I was thinking of what the map reminds me of, then I realised it is one of the photos of Earth from space taken at night
![Colours](https://user-images.githubusercontent.com/2463614/793487

[2020-04-15 14:38] sacrevert commented on #188
Thanks both. I hadn't thought about v.c. boundaries. Would be useful to have this. @burkmarr , could the NPMS layer here be the unused lilac from above? Thanks

[2020-04-15 23:34] burkmarr commented on #188
Very colourful @andrewvanbreda! I've added VCs for NPMS as layer 'NPMS Vice Counties' using the lilac style suggested by @sacrevert.

[2020-04-16 08:08] andrewvanbreda commented on #188
@burkmarr
All good and working thanks :)

[2020-05-04 14:49] sacrevert commented on #65
Renamed issue to reflect current aims

[2020-05-04 20:48] andrewvanbreda commented on #188
@NPMSSupport @sacrevert
The new layers with clicking for information went live on Squares Near Me and Request A Square this evening

[2020-05-04 21:08] #188 closed

[2020-05-05 09:03] andrewvanbreda commented on #188
@sacrevert
Hi Oli,
Did we actually want to close this yet?
I have only added the Request A Square and Squares Near Me functionality.
Weren't there other maps we wanted this added to?
Also none of the reports that Rachel users has any layer information at the moment, am sure during the meeting we had she specified she might want the information specified on some of the report grids.

[2020-05-05 09:28] sacrevert commented on #188
@NPMSSupport @andrewvanbreda
I think the outstanding tasks are:
(1) add layers to the square details map page
(2) list intersecting layers for the 1 km square on the square details page
(3) add to reports where useful to Rachel
(4) utilise in download reports (covered by #65 )

I think that each of these, except the already-covered (4), could have its own issue.
Then perhaps @NPMSSupport can indic

[2020-05-05 15:05] andrewvanbreda opened #191 "Consider how new layers functionality can enhance individual squares"
1. Layer capability should be added to square details pages
2. Square details pages should also list intersecting layers in a list
3. Add to reports that reference squares where useful to Rachel

[2020-05-05 15:11] andrewvanbreda commented on #188
@sacrevert
#191 Raised at medium priority (raised at medium as I think there are other things more urgent now, e.g. updating the County/Countries before the data goes out of date).
Feel free to raise the priority after feedback from NPMS Support

[2020-05-05 15:21] sacrevert commented on #191
@NPMSSupport to comment here rather than on closed issue #188

[2020-06-16 16:30] andrewvanbreda opened #192 "Extra species page plot selection control lacks admin override from the main data entry forms"
If a user has some plots that didn't create (My Plot = No) and that square is owned by more than one person, those plots are available for data entry on the standard forms, but are not available on Extra Species (my account has this situation)

I think it is actually Extra Species that is correct.

[2020-06-16 17:25] andrewvanbreda commented on #192
Further note, Oli's account with the same square seems to be behaving correctly.
So there is something odd here

[2020-06-23 13:48] andrewvanbreda commented on #92
Hi @NPMSSupport @sacrevert

I have looked into this situation.
(by the way, I think the scope of this comment actually covers several Github issues)

Firstly, I now have code running on my machine which will clear the custom fields automatically from the database on account cancellation (Actually this was much easier than I expected!)

I have also looked up and we can also enable users to cancel t

[2020-06-23 13:53] sacrevert commented on #92
Thanks @andrewvanbreda that sounds pretty good to me. One thing though, I'm not sure I understand the necessity for the administrator to have the option to disable an account (keeping all the address details) but not delete it. Can @NPMSSupport think of a situation where this would be required? After all, accounts can have no squares, plots etc., but still remain active accounts, so I'm not sure w

[2020-06-23 14:35] andrewvanbreda commented on #92
@sacrevert
That is the default behaviour for an administrator on Drupal. They can choose the type of cancellation. It is not functionality I deliberately add

[2020-06-23 14:38] DavidRoy commented on #92
Deleting an account is likely to be rare.  The key thing is reflecting what's in the privacy statement, and keeping the process as simple as possible.

From: https://www.npms.org.uk/privacy-policy
_If you no longer wish to contribute records to the NPMS, please contact support@npms.org.uk to let us know. Your account will be deleted after six months of your request or by end of the following March

[2020-06-23 15:22] andrewvanbreda commented on #92
Hi all,

Didn't we intend to change this though so users can cancel their own account. In that situation I would imagine the user would expect a deletion.
So that would be a Drupal account deletion with custom indicia fields (e.g. the address) removed from the Warehouse apart from the Name, Email.

I also need to keep in mind that my code needs to cover all NPMS scenarios and cope with them in a l

[2020-06-23 15:30] sacrevert commented on #92
@andrewvanbreda @NPMSSupport
I can't remember, but presumably we considered that, both for GDPR and for admin workload, it's strange not to give users the ability to cancel their accounts. Sounds like you are in a position to proceeed anyway, after Rachel has commented. We can update the privacy policy as some other changes are required anyway.

[2020-06-23 15:40] andrewvanbreda commented on #92
There are difficulties. Primarily that the Warehouse doesn't understand properly that the user has left. Currently the user_website record is left behind. So we needed to keep track of who is leaving.
This is something I actually still  need to resolve, but my plan is put the auto-address clearance live first. Then after this is put live, later add the ability for users to cancel their accounts (a

[2020-06-25 07:56] sacrevert commented on #92
@andrewvanbreda just one other thing, for the delete account functionality, can we have a "are you sure you want to?"-type second stage confirmation if this is straightforward

[2020-06-25 08:52] andrewvanbreda commented on #92
@sacrevert Yes almost certain it will do this, but I will double-check.
This is all built into Drupal.

Essentially all I am doing is enabling the permission for users to delete, and making sure that the state of the Warehouse is what we want in all scenarios.

[2020-07-03 09:24] sacrevert opened #193 "Recording form year filter -- 2020 missing"
Add 2020 to filters

[2020-07-03 09:25] sacrevert opened #194 "Recording form year filters -- add new years automatically"
Change so new years added incrementally

[2020-07-03 12:16] andrewvanbreda commented on #193
@sacrevert @NPMSSupport
Done, actually much easier than expected. It is just a termlist on the Warehouse that the 2020 term is added to.

[2020-07-03 12:16] #193 closed

[2020-07-03 12:17] andrewvanbreda commented on #194
@sacrevert
Not sure this is going to be worth it given how easy it is to add the term I as just described.

[2020-07-03 12:24] sacrevert commented on #194
Is it possible to write some sort of job script that does this automatically on Jan 1st each year? Would be nice not to have to remember this every year.

[2020-07-06 13:42] sacrevert opened #195 "User messages when deleting samples"
I forget whether we have discussed this before, but at the moment, if you delete a sample (1) you get no warning or "are you sure you want to delete" message, and, (2), if you do delete, the message that appears on screen afterwards is the same as if submitting a sample ("Thank you for submitting your sample etc."), which is a bit confusing.

Neither situation is really ideal.

[2020-07-06 17:56] andrewvanbreda commented on #195
Hi @sacrevert

Ok, both of these are general Indicia issues,  so I will implement fixes to the general Indicia code.

[2020-07-07 10:07] andrewvanbreda commented on #194
@sacrevert
I do not believe this would be possible. The way to do this would be to write a report that gets the years, but return data not by SELECT data from a table, but doing a SELECT statement that returns the current year and previous years.
I will have a look into it. I know I would be able to select the current year, it is whether I can persuade it to select this year and the others ones (b

[2020-07-07 10:11] sacrevert commented on #194
Ok, well, only medium priority anyway

[2020-07-30 10:18] sacrevert opened #196 "Show grid for extra species survey records"
From @andrewvanbreda:

[2020-08-14 14:51] andrewvanbreda commented on #190
@sacrevert @NPMSSupport
The main code for this has now been committed into the dev branch awaiting deployment by John.
I have not updated the NPMS specific reports for this functionality yet, but that should be very easy

[2020-08-14 15:06] sacrevert commented on #190
@burkmarr @kazlauskis @DavidRoy @kitenetter
Just tagging you FYI.

[2020-08-25 11:52] andrewvanbreda commented on #190
@sacrevert @kazlauskis
I realised something this morning. I had not yet taken into account the NPMS/iRecord apps, I had a note on this, but it was hidden away in my task list.
After quite bit of fiddling I managed to get the NPMS app running on my machine so it is "talking" to my local test npms, although I seem to have a problem where it never lists my locations so I can't submit anything at the

[2020-08-25 12:33] andrewvanbreda commented on #190
Hi, @kazlauskis
I don't seem to be able to get the squares to list on NPMS-app on my machine. I have put the IDs in the config files, run grunt.
Have used Reset button on app, and Refresh on the locations page results in
"null is not an object (evaluating 'a.data.forEach')"

Have you any advice?

Also have you any thoughts on getting the app to work with training samples?.....I assume the app is u

[2020-08-27 08:48] sacrevert commented on #196
This would also allow for volunteer editing/deletion, which is not available through iRecord (because records originate with NPMS)

[2020-08-31 09:27] kazlauskis commented on #190
It looks like the report endpoint is not returning an object with a data array in it. Even for empty lists it should return
[code]

Regards the training flag, the app was originally using the training flag, but we have removed it once it was clear that sample submissions can also be empty lists (surveys with no species found). Since samples now can also have a training status, the app requires add

[2020-09-01 17:03] andrewvanbreda commented on #190
@kazlauskis
Hi Karolis, thanks for the tips. I will take a look at this as soon as I am able

[2020-09-09 13:23] andrewvanbreda commented on #196
@BirenRathod I made a report that will be able to handle this.
When you get a chance, can you pull the following report onto test and live warehouses.

Thanks (this is safe to pull as the report is unused until configuration is done)

projects/npms/npms_sample_occurrence_samples_extra.xml

[2020-09-09 13:34] andrewvanbreda commented on #92
Note I have been actively working on this, but do not have a working solution yet. More information soon

[2020-09-09 16:26] andrewvanbreda commented on #185
@sacrevert @NPMSSupport
This problem was at least partially caused by the amount of data on the system being much greater these days and it was trying to display all the data at once.
Have added a date filter to the page and this defaults to 1st Jan 2020 onwards.
Pages now loads super quick.
Please close issue if you are happy.

[2020-09-10 08:40] BirenRathod commented on #196
@andrewvanbreda That report is now available on dev and live warehouse.

[2020-09-11 10:44] andrewvanbreda commented on #196
@BirenRathod Thanks Biren

@sacrevert @NPMSSupport
This grid is now live, so close issue when happy

[2020-09-11 15:40] #196 closed

[2020-09-17 19:04] andrewvanbreda commented on #168
@sacrevert @NPMSSupport
Coded on my machine, can you let me know if you are happy with the wording and presentation of the warning
![Warning example](https://user-images.githubusercontent.com/2463614/93515677-e4232680-f920-11ea-9668-978a39d28454.png)

[2020-09-17 19:14] sacrevert commented on #168
Very happy with this. Thanks!

[2020-09-18 07:58] NPMSSupport commented on #168
Yes, happy with this. Thanks!

[2020-09-18 09:23] sacrevert commented on #190
@andrewvanbreda Hi Andy, should this issue be closed, renamed, or migrated to a new issue regarding the app in isolation?

[2020-09-18 09:31] andrewvanbreda commented on #190
@sacrevert
I think this issue needs leaving as it.
I have not made the app change, and although the code is done, it has not been added to the NPMS site yet. That wouldn't be difficult but I just haven't got round to doing that yet.

[2020-09-18 09:36] andrewvanbreda commented on #10
@BirenRathod
Hi Biren,

OK, it has been quite a few months now, so I think it is time to recheck the database for this issue, could you run this SQL please....thanks......hoping it will return nothing. Thanks :)

select
s.id as sample_id,
o.taxa_taxon_list_id as taxa_taxon_list_id
from indicia.occurrences o
join indicia.samples s on s.id = o.sample_id and s.deleted=false and s.survey_id = 87
where

[2020-09-18 10:15] BirenRathod commented on #10
@andrewvanbreda you are right on track. Nothing return.

[2020-09-21 19:50] andrewvanbreda commented on #168
Bit of a delay after I found the count on the grid wasn't working, faff to fix.
Anyway @BirenRathod could you pull the following onto the live and test warehouses.
This report won't be active until I change the configuration, so is a safe pull

projects/npms/npms_sample_occurrence_samples_6.xml

[2020-09-22 08:01] BirenRathod commented on #168
@andrewvanbreda I have pulled that report on all server.

[2020-09-22 09:24] andrewvanbreda commented on #168
@BirenRathod Thanks Biren :)

[2020-09-22 11:13] andrewvanbreda commented on #168
@BirenRathod
Hi Biren. Apologies, I made a mistake and committed some attribute numbers that were hard coded from my machine into that report. I have corrected this, could you re-pull them please.
Thanks. Sorry about that.

Also, I have noticed some strange behaviour.
Could you send me the result of this query so I can try to work out what is happening
select attrs_json->>'227',attrs_json
from ind

[2020-09-22 11:17] BirenRathod commented on #168
@andrewvanbreda I have pulled that report now.

[2020-09-22 11:27] andrewvanbreda commented on #168
@BirenRathod Thanks Biren :) Do you also have the query result available? Cheers

[2020-09-22 11:33] BirenRathod commented on #168
@andrewvanbreda
Below is the result.
[data-1600774191008_220920.zip](https://github.com/BiologicalRecordsCentre/NPMS/files/5261070/data-1600774191008_220920.zip)

[2020-09-22 11:37] andrewvanbreda commented on #168
@BirenRathod Thanks Biren.
I re-looked at the site, and the odd behaviour I saw has fixed itself just now also.
Perhaps there is a big delay at moment with the cache tables populating (like half an hour to an hour)

[2020-09-22 11:50] andrewvanbreda commented on #168
@NPMSSupport @sacrevert
This one is now live

[2020-09-22 11:50] #168 closed

[2020-09-22 15:43] andrewvanbreda commented on #10
@sacrevert @BirenRathod @NPMSSupport
Thanks Biren
Closing this now as it is still appears to be working after several months

[2020-09-22 15:43] #10 closed

[2020-09-23 15:12] sacrevert opened #197 "Additional ways of flagging previous data to a square owner"
Could link to #180

Could be on login, or via automated email, or a message on "squares and plots" page (although this last might be less preferable as they might be less likely to look at that page before going into the field).

@NPMSSupport to add ideas and thoughts

[2020-09-24 08:43] sacrevert opened #198 "Membership groups for surveyors"
The database ‘groups’ structure does allow for this.
https://indicia-docs.readthedocs.io/en/latest/developing/data-model.html?#people-users-and-groups

The iRecord activities uses this structure to group samples and users together. The question is how the user interface would be setup to link users to the MTA group.

Aim here is for organisations to be able to extract data that their "members" hav

[2020-09-24 09:24] sacrevert commented on #198
I was thinking about drop-down on the person’s registration/account page (presumably this could be edited by an admin even if the person forgot to fill it in). That’s assuming that a drop-down is extensible post set-up; if not then maybe an extensible set of check-boxes. Free text fields are a no-no.

[2020-10-05 18:05] andrewvanbreda commented on #191
@BirenRathod
Hi Biren,
Could you pull the following report onto test and live warehouses please. New report which won't be used until I configure the site, so is safe to pull

reports/projects/npms/get_layers_for_square.xml

Cheers

[2020-10-06 12:50] BirenRathod commented on #191
@andrewvanbreda
I pulled the reports on both these warehouses.

[2020-10-06 13:18] andrewvanbreda commented on #191
@BirenRathod
Thanks Biren. Will let you know how I get on

[2020-10-06 18:57] andrewvanbreda commented on #191
@sacrevert @NPMSSupport
Test version now available on test site.
I was able to include a percentage cover value in the end.
Ignore the warning messages at top of page, I am aware of these.

Access from the View Square Information link from View Squares And Plots
Let me know if you come across any issues, as I say, still in testing.

I should note the % cover functionality would not be available fo

[2020-10-07 08:54] sacrevert commented on #191
@andrewvanbreda https://test-npms.pantheonsite.io/ is not responding -- am I in the wrong place?

[2020-10-07 08:54] sacrevert commented on #191
@andrewvanbreda ignore that, seems to be working now

[2020-10-07 08:56] sacrevert commented on #191
@andrewvanbreda Looking good, I like this -- thanks!

[2020-10-07 10:02] andrewvanbreda commented on #191
@sacrevert OK great

I will need to fix that warning problem before a go live.
I have also found another oddity. This square is showing layers at 0% coverage

https://test-npms.pantheonsite.io/content/edit-landowner-info?location_id=134512

Will investigate, wonder if it is a tiny amount being rounded to 0. We'll see

[2020-10-07 10:44] sacrevert commented on #191
Looks likely that it is a rounding issue as you say. I'm happy with it showing as 0, as at least it indicates that it is nearby

[2020-10-07 11:41] andrewvanbreda commented on #191
@BirenRathod
Hi Biren,
Could you pull the following report onto test and live warehouses again please (same report as other day). Have improvement some elements of the report display, but have also made the ID column visible so I can diagnose a problem.

reports/projects/npms/get_layers_for_square.xml

Cheers

[2020-10-07 13:18] BirenRathod commented on #191
@andrewvanbreda
I have pulled that report now.

[2020-10-07 14:41] andrewvanbreda commented on #191
@sacrevert
Oli, I had already thought of a fix before I saw your comment, see here
https://test-npms.pantheonsite.io/content/edit-landowner-info?location_id=134512
Displays "< 1" if it detects 0

Also note the duplicate problem will be gone when Biren next updates the report, I made stupid mistake by not excluding deleted layers.
(Also the ID column will be removed again after next update, it is j

[2020-10-15 09:12] BirenRathod opened #199 "Image alignment problem"
Hi Biren

Currently there is no option to centre align images in news articles, blog posts etc. on the NPMS website, which is a bit irritating. Just adding class=”center” to the img tag doesn’t work, so I presume something more complex is required. Can you do this?

Cheers
Oli

[2020-10-15 09:35] sacrevert commented on #195
As a minor addition, can we add some explanatory text above the occurrences grids (whereever relevant) reminding people that the red cross image allows on to delete ones. The explanatory text should included an image of the red cross symbol.

[2020-10-15 09:38] sacrevert opened #200 "Embedded tweets in articles and blog posts don't display media"
I've had a play with this, and added the 'Embed media' button to the CKEditor with the 'Full HTML' display option, but I still can't get Drupal to display embedded tweets with images etc. Over to someone who knows what they are doing...

[2020-10-15 19:13] BirenRathod commented on #199
@sacrevert For some reason alignment feature provided by image dialogue doesn't work. I'm still investigating into it but in the meantime you can use center text alignment to align image in the center. To do this click besides the image in text editor. Do not click on image to align and no need to add class too.

[2020-10-15 19:28] sacrevert commented on #199
Thanks Biren. If I can use the text alignment as you say, then maybe not worth worrying about further. (I tried clicking on image before). Cheers

[2020-10-15 19:28] #199 closed

[2020-10-15 19:49] BirenRathod commented on #200
@sacrevert No need to use embed media for this just use the link icon to link the social media URL and should work. If it is for image, first select the image and then use the link icon from top bar appears at text editor and add the URL of twitter link. if you want to show twitter feed on NPMS page, send me the link of the page or place where you want to see embedded twitter feed.

[2020-10-16 08:41] sacrevert commented on #200
OK, now just copying and pasting the HTML from twitter works, maybe it just needed some time for the changes I made yesterday to be enabled. Closing

[2020-10-16 08:41] #200 closed

[2020-10-16 08:49] BirenRathod commented on #200
@sacrevert Which page is this on?

[2020-10-16 08:54] sacrevert commented on #200
articles. I created an unpublished test one just now (npms.org.uk/article/test), and what I did yesterday that wasn't working (copy-pasting embed HTML from twitter) is now working, so i'm happy.

[2020-10-16 09:04] BirenRathod commented on #200
@sacrevert Yes, that is fine to do that way. Just copy past of embedded tweet will work because it is just one of.

[2020-10-29 11:48] andrewvanbreda commented on #191
@NPMSSupport @sacrevert
I checked this this morning, and the report seems to have been updated.
So I put this live now.

If you could let me know if you need anywhere else on the system you may want to include layer information.

[2020-10-29 11:53] sacrevert commented on #191
Thanks @andrewvanbreda I think we can put this on hold until our prioritisation meeting in December now. Cheers

[2020-11-05 14:55] andrewvanbreda commented on #92
@NPMSSupport @sacrevert @DavidRoy
Just to let you know, I have some code working for this on my machine now that is in testing, but looks to be working and I should be able to deploy soon (unless I find a major issue)
There is some bits not done on the Warehouse side, such as it doesn't automatically remove the attachment from the user to the NPMS website yet, however we can deploy to NPMS before

[2020-11-10 09:33] sacrevert commented on #92
Thanks Andy. I think that @NPMSSupport are considering that this work would come under the smaller subcontract directly from PL that I have just mentioned via email.

[2020-11-23 14:38] sacrevert opened #201 "Reorganise website panels"
@BirenRathod At the moment the NPMS website has the blog posts, newsletters, and news items all stacked on top of each other, which is not ideal for promoting them.

Can you do the following?

- Move the blog panel to the left hand side of the screen, but not shrinking the central panel as a results?

- Move the news panel to the top on the right hand side, with the newsletters below it.

If it is

[2020-11-23 15:46] BirenRathod commented on #201
@sacrevert
I have done some changes using your first option. you can see here -> https://test-npms.pantheonsite.io/#overlay-context=content/welcome
To achieve the first option, we need to compromise size of the center part. have a look first if that is ok, I could change on live site otherwise we could with second option.

[2020-11-23 16:00] sacrevert commented on #201
Thanks @BirenRathod
Personally I like this -- what does @NPMSSupport think?

One other thing Biren, can we move the "project partners" block to the bottom of the page, below the four "why is it needed etc etc" blocks. It seems odd to have the logos that close to the top

[2020-11-23 16:00] sacrevert commented on #201
@BirenRathod maybe if the logos are at the bottom, they can spread over the whole page rather than being confined to the centre block?

[2020-11-23 16:04] BirenRathod commented on #201
@sacrevert I can move at the bottom of the page but that will not change confined of the center page.

[2020-11-23 16:36] sacrevert commented on #201
@BirenRathod OK, fine, please move to the bottom anyway. Cheers!

[2020-11-23 16:38] BirenRathod commented on #201
@sacrevert I have moved it on to test site.

[2020-11-23 16:43] sacrevert commented on #201
thanks @BirenRathod I am happy with this, but please wait for @NPMSSupport to agree before going live.

[2020-11-23 16:45] BirenRathod commented on #201
Thanks, @sacrevert. I will wait to get response from @NPMSSupport.

[2020-11-25 14:56] NPMSSupport commented on #201
Thanks @BirenRathod , @andrewvanbreda  and @sacrevert
Yes this looks better and I am happy with the change.
Cheers

[2020-11-25 14:58] sacrevert commented on #201
Thanks @NPMSSupport . @BirenRathod happy for this change to be made on live (don't think this concerns @andrewvanbreda )
Cheers all

[2020-11-25 15:14] BirenRathod commented on #201
@sacrevert I made changes on live site now. I have also amended the style of left side of the block, so it should look exactly same as right side on the block.

[2020-11-25 15:20] sacrevert commented on #201
Perfect. Thanks @BirenRathod Closing now.

[2020-11-25 15:20] #201 closed

[2020-11-27 12:02] andrewvanbreda commented on #195
@sacrevert @NPMSSupport
The wording has not been changed yet, but just to note ,I have rectified a problem that was stopping some of the code from loading on the site.
One of the problems this was causing is it was stopping the delete confirmation dialogue from displaying, this had actually been programmed ages ago buts was broken as the code wasn't loading properly.

[2020-12-04 11:25] andrewvanbreda commented on #92
@BirenRathod
Hi Biren, there is a new report which I have hot fixed into Master
library/users/user_users_websites_list.xml
Can you pull this onto the live and test Warehouse.
Thanks

[2020-12-04 12:32] BirenRathod commented on #92
@andrewvanbreda
That report file gone live and test now.

[2020-12-04 12:38] andrewvanbreda commented on #92
@BirenRathod Thanks Biren :)

[2020-12-07 16:48] andrewvanbreda commented on #92
@NPMSSupport @sacrevert
NPMS will now auto-clear address fields, and set email address' to a general deleted one if it is their only Indicia website account on the Warehouse.
The general email address starts with "account_deletedxxxx" where the xxxx is their Indicia person ID number (to make this address unique).
We need to discuss this in meeting tomorrow.
I did notice a bug, it isn't clearing th

[2020-12-08 09:18] sacrevert commented on #122
@andrewvanbreda Put on live.

@NPMSSupport @sacrevert Blog annoucement.

@sacrevert @kwal2 Verification checks through iRecord -- work plan item

[2020-12-08 09:24] sacrevert commented on #65
@sacrevert @NPMSSupport to review functionality on test site

[2020-12-08 09:41] sacrevert commented on #178
@andrewvanbreda
Mismatches are defaulting to first option ('A'von e.g.) rather than blank.
Probably only reflects on-screen information rather than user download

[2020-12-08 09:53] sacrevert commented on #190
@andrewvanbreda warning messages in app and on website?

[2020-12-08 09:59] sacrevert commented on #197
Subsumed under #180 therefore closing.
#180 priority raised

[2020-12-08 09:59] #197 closed

[2020-12-08 10:08] sacrevert commented on #72
@andrewvanbreda to review entity_legal

[2020-12-08 10:11] sacrevert commented on #126
@andrewvanbreda to discuss with @BirenRathod regarding division of labour

Drupal 7 support ends Nov. ~~2021~~ extended to **28th Nov. 2022**

Aim to have transitioned before 1st April

[2020-12-08 10:19] sacrevert commented on #175
Customisable dates for both requested (currently on exists for squares released April-April)

[2020-12-08 10:21] sacrevert commented on #180
Revisit #180 priority once #46 is done

[2020-12-08 10:26] sacrevert commented on #56
Other solutions will be considered

[2020-12-08 10:26] #56 closed

[2020-12-08 10:29] sacrevert commented on #129
@NPMSSupport to provide text to add to the 18 or over checkbox.

[2020-12-08 10:32] sacrevert commented on #171
@BirenRathod Would you be able to follow this one up? Cheers

[2020-12-08 10:34] sacrevert commented on #179
JNCC to potentially provide example exit survey to @NPMSSupport

[2020-12-08 11:00] BirenRathod commented on #171
@sacrevert Unfortunately I'm on leave from tomorrow, but I will see what I can do best probably in next week.

[2020-12-08 11:03] BirenRathod commented on #126
@andrewvanbreda
Due to pandemic Drupal 7 support end extended. See this -> https://www.drupal.org/psa-2019-02-25

[2020-12-08 11:05] BirenRathod commented on #126
@andrewvanbreda and this link -> https://www.drupal.org/psa-2020-06-24

[2020-12-08 11:07] sacrevert commented on #191
@andrewvanbreda ideally we would store layer intersections against squares once and report wherever required.

[2020-12-08 11:12] sacrevert commented on #198
Privacy notice addition required.

[2020-12-08 11:13] sacrevert commented on #198
Management Group to discuss priority

[2020-12-08 11:23] sacrevert opened #202 "Add user emails to the Events report"
Add user emails to the Events report

[2020-12-08 11:25] sacrevert commented on #180
Could also apply to event emails (request from Plantlife to have event detail emails and a reminder the day before an event)

[2020-12-08 11:29] sacrevert opened #203 "Extra species forms"
Move date to the first screen. ( @andrewvanbreda )

Add explanatory text stating why we are not collecting abundance information for extra species in plots. ( @sacrevert )

[2020-12-08 11:32] sacrevert opened #204 "Events grid needs "add me" checkbox"
Before February 2021.

[2020-12-08 11:42] sacrevert opened #205 "Messages/checks on photo uploads"
@NPMSSupport @andrewvanbreda to check whether there are any size limits or other obvious errors.

Possibly it is just an upload speed issue in areas of poor internet connections.

Probably add message to top of species grids about potential issues with slow connections (browser timeouts etc.?)

[2020-12-08 11:59] sacrevert commented on #126
Re-prioritise after clarifying work division between Andy and Biren

[2020-12-08 13:05] andrewvanbreda commented on #203
@NPMSSupport @sacrevert
I believe the date is correct and was changed after the last meeting.
It appears at the top of the second tab (the first tab is the location).
This is the same as the main data entry forms.

[2020-12-08 13:38] andrewvanbreda commented on #205
@sacrevert @NPMSSupport
There is a bug with species images upload which is not occurring with the plot (sample) image upload.

With plot images, if an image bigger than 10 megabytes a warning is given and no upload attempt is made.

If a big image (of any size it seems) is uploaded as a species image, a progress bar is shown, then an error warning is shown after.
The warning needs to be a better w

[2020-12-08 14:50] andrewvanbreda commented on #195
The message which say Thank You For Submitting You Data is actually in the Indicia data_entry_helper.
If this is difficult to change, a possible alternative is just remove that message using jQuery

[2020-12-09 15:59] andrewvanbreda opened #206 "Need to be clearer that releasing a square does not cancel user account"
Need a way to make it clearer that releasing a square does not cancel a user account

[2020-12-09 17:04] andrewvanbreda commented on #205
@sacrevert @NPMSSupport
Fixed.
Species grid photos now behave same way as plot photos, that is photos above 10 megabytes results in a warning and no attempted upload.
I do not think the original text you suggested is needed as they get a progress bar on photos below 10 megabytes.

[2020-12-09 17:04] #205 closed

[2020-12-11 10:33] andrewvanbreda commented on #166
@BirenRathod
Hi Biren,
Would you be able to run these SQL statements on live please and attach the results, thanks

select id,entered_sref,created_by_id
from indicia.samples s
where s.location_id IS NULL
and s.survey_id in (87,154,155)
and s.deleted=false and entered_sref != 'NX8923254876';

select id, name, updated_by_id, updated_on, deleted
from indicia.locations
where name in
(
select entered_s

[2020-12-11 11:06] andrewvanbreda opened #207 "User account page to include checkboxes relating to which organisations a user is associated with"
Details of required membership options to be provided by NPMSSupport as needed

[2020-12-11 11:17] andrewvanbreda commented on #129
Not also that it is agreed this text is to be instead of blocking registration

[2020-12-11 12:24] NPMSSupport commented on #207
Thanks @andrewvanbreda  At the moment it is just The Mountain Training Association and ensuring there is the option to add more if needed. Do you agree @sacrevert or do you think we should wait to have a chat about potential others?

[2020-12-11 12:41] sacrevert commented on #207
I thought this was medium priority, and hence unlikely to happen any time soon?

[2020-12-11 12:43] NPMSSupport commented on #207
Yep, agreed. Let's come back to after some other higher priority bits

[2020-12-11 14:12] andrewvanbreda commented on #207
I was just entering the note from the meeting so I raised this issue this morning.
Noting yes priority tasks are first, but lower priority ones get closed off if they are very quick to do.

[2020-12-14 10:50] andrewvanbreda commented on #166
@sacrevert
Would you be able to run the SQL please as I had meeting with Martin the other day about PoMS and he said Biren is on leave until new year now.

Thanks

[2020-12-14 11:05] sacrevert commented on #166
First query result:
[data-1607943871775.zip](https://github.com/BiologicalRecordsCentre/NPMS/files/5688355/data-1607943871775.zip)

Second one:
[data-1607943917490.zip](https://github.com/BiologicalRecordsCentre/NPMS/files/5688358/data-1607943917490.zip)

@andrewvanbreda

[2020-12-14 12:11] andrewvanbreda commented on #166
@sacrevert OK great thanks.
Will take a look in a bit.

[2020-12-14 14:14] andrewvanbreda commented on #166
Hi @sacrevert ,

OK I have taken a look at these results (and looked back over the thread).

Essentially it looks like we have a problem where there are roughly 60 samples on the system without a location_id (no plot).
This was caused by one of the bugs that was corrected quite a while ago.

From what I can see, there are 3 things that need to happen here  to sort this out (am numbering these for

[2020-12-14 14:17] andrewvanbreda commented on #166
AVB: To send Biren correction SQL based on SQL above. Maybe need work_queue updates to update cache tables

[2020-12-14 14:40] sacrevert commented on #166
@andrewvanbreda OK, thanks for progressing this. it will be nice to have it sorted!

[2020-12-14 15:06] andrewvanbreda commented on #40
@sacrevert @NPMSSupport
Don't think it is worth spending budget to put the person's name at the top of the administrator "Add squares to users" page.
However I just realised there is actually a 5 minutes workaround that isn't quite as good but serves its purpose.

There is a column on that page's squares grid where the person name column is hidden (as that page is designed for one person at a time

[2020-12-14 15:06] #40 closed

[2020-12-16 12:50] andrewvanbreda commented on #191
Think agreed in meeting this needs adding to the Square Details Per Year report, and boundary data stored using a location attribute.

[2020-12-16 16:45] andrewvanbreda commented on #192
Hi @sacrevert ,

I checked this as you said you were "nervous" about this one.

After looking at it I can see there is nothing to worry about regarding this particular problem.

The problem is simple.
The main recording form has some code that says if you are an administrator forget the rules and show all the plots for a square regardless of the rules.
The extra species page doesn't have this, and

[2020-12-16 17:32] sacrevert commented on #192
@andrewvanbreda excellent, thanks Andy

[2020-12-16 17:38] andrewvanbreda commented on #202
Issue being caused by a bug in Indicia.
Columns in report can be defaulted to invisible, but can then be explicitly set to be shown by the page's configuration.
These are correctly shown on the grid,  but the download is not respecting this setting.
AVB to check if any Indicia updates have fixed this.

[2020-12-18 14:27] BirenRathod commented on #171
@andrewvanbreda  & @sacrevert I have removed indicia ids from all users' account now.

[2020-12-18 14:33] andrewvanbreda commented on #171
@BirenRathod Thanks Biren.
Any users logging in will now be relinked by Indicia to the dev warehouse with the correct user ID.
Closing now

[2020-12-18 14:33] #171 closed

[2020-12-22 09:20] NPMSSupport opened #208 "Adding 2x12.5 linear plot types on entry form"
Should we add 2x12.5 linear plot types to the entry form, which are a type most suited for extensive habitat types such as grass road verges etc @andrewvanbreda @sacrevert

[2020-12-22 17:39] andrewvanbreda commented on #208
@sacrevert @NPMSSupport
Hi,
Not sure if you are asking if we need these types, in which case I will let Oli answer.
If you definitely know these need to be added, are you able to provide details of the exact behaviour that is required.
Thanks

[2020-12-22 18:25] sacrevert commented on #208
Don't worry about this @andrewvanbreda . We need to discuss within the project before assigning to you. Please ignore for the moment

[2021-01-07 17:43] andrewvanbreda commented on #185
Still unacceptable performance it seems. it is hard to test as sometimes the data is getting cache and it is quick.
Also why is the Square column not filterable, this might be useful for finding previous owners of squares.

[2021-01-19 14:38] andrewvanbreda commented on #194
@sacrevert @NPMSSupport
2021 added to years termlist manually.
This means that year now appears on the filter on the data grids before the data entry forms.

[2021-01-20 09:37] andrewvanbreda commented on #206
@sacrevert @NPMSSupport
Do you want to supply some text to be placed onto the My Squares page to explain this.
If you put it here on Github, I can add it to the site very easily.

[2021-01-20 09:41] andrewvanbreda commented on #129
@sacrevert @NPMSSupport
Again, just as a reminder (just following my note about text on the other issue that I entered just now), this is another one that can very easily be done once text provided to me

[2021-01-20 09:54] sacrevert commented on #129
"By ticking this box, volunteers confirm that they are aged 18 or over."

Feel free to close once done.

[2021-01-20 09:56] sacrevert commented on #206
"Please note that releasing your square does not automatically cancel your user account. Your account will remain active unless you also email support@npms.org.uk to request account cancellation."

Feel free to close once on the site.

[2021-01-20 11:06] andrewvanbreda commented on #166
Hi @BirenRathod,

Hope all is good with you.
OK, I have some statements to run on live.

Firstly is a select statement.

Second is a TEST update statement (it is basically the same as the intended "real" statement, but you will see it doesn't actually change anything as it sets the location_id=location_id)...however this let's me see how many rows will be affected.

_As we are working on live, I w

[2021-01-20 11:11] andrewvanbreda commented on #166
AVB not to myself, think we will also need a work_queue job to update cache tables

[2021-01-20 11:13] andrewvanbreda commented on #129
@sacrevert Thanks Oli, will do sometime today, also will do the other text. Be good to get these 2 quick ones shut.

[2021-01-20 11:51] andrewvanbreda commented on #206
@sacrevert @NPMSSupport
Done. Note that addition of text didn't require any downtime

[2021-01-20 14:37] BirenRathod commented on #166
@andrewvanbreda
The first query return with total count of 7 and second query no result found.

I haven't ran the update query actually instead I ran below query.

SELECT *
FROM indicia.samples s
LEFT JOIN indicia.locations l ON l.id = s.location_id
where s.location_id IS NULL
and s.survey_id in (87,154,155)
and s.deleted=false
and s.entered_sref != 'NX8923254876'
and s.entered_sref = l.name
and l

[2021-01-20 15:05] andrewvanbreda commented on #166
Thanks @BirenRathod
I will have to look at what has happened here as this isn't the correct result.
We can still use the technique I was suggesting of running a test just before any final update we do as it is good way to reliably test a final statement is definitely right.

[2021-01-20 15:21] andrewvanbreda commented on #166
hi @BirenRathod

Could you run these two queries please. The first is a simple check to see the latest number of samples without a location.

The other is a slightly alternated version of your query which deliberately removes the deleted flag on the location just to see what difference that makes out of curiosity.

Thanks.

SELECT *
FROM indicia.samples s
where s.location_id IS NULL
and s.survey_i

[2021-01-20 15:22] BirenRathod commented on #166
@andrewvanbreda I just ran the test update and it returned with 11 rows affected.

[2021-01-20 15:25] andrewvanbreda commented on #166
@BirenRathod Thanks Biren,
Yes didn't notice but yes it was just the counts I was after. That is an interesting result.

[2021-01-20 15:30] BirenRathod commented on #166
@andrewvanbreda
First query result ->
[data-1611156204986_NX8923254876.zip](https://github.com/BiologicalRecordsCentre/NPMS/files/5843484/data-1611156204986_NX8923254876.zip)

No result from second query.

[2021-01-20 15:31] andrewvanbreda commented on #166
Thanks @BirenRathod

[2021-01-20 15:47] andrewvanbreda commented on #166
AVB: Note to myself, a manual count of rows with a location that can be found (not deleted) matches that 11 number, so think that is correct.

[2021-01-20 15:54] andrewvanbreda commented on #166
@BirenRathod Hi Biren, Looks like that 11 count is correct, however that means that query isn't going to fix many samples.

Can you try this count please,

SELECT count(*)
FROM indicia.samples s
where s.location_id IS NULL
and s.survey_id in (87,154,155)
and s.deleted=false
and s.entered_sref != 'NX8923254876'
and s.entered_sref in
(select name
from indicia.locations
where deleted = true)
and s.en

[2021-01-20 15:58] BirenRathod commented on #166
@andrewvanbreda it returned with 47 counts.

[2021-01-20 21:29] andrewvanbreda commented on #129
AVB: Note to myself, look again at this tomorrow as I just noticed all help text missing from registration form, only displaying on the account page.
Strange!

[2021-01-21 15:52] andrewvanbreda commented on #129
@sacrevert @NPMSSupport
How annoying, as mentioned yesterday, I noticed that actually Drupal doesn't display help text on the registration form. Looking up about this I think this is just its behaviour that won't change without fiddling with the code of Drupal.

So I think only way around this that looks nice is to remove the help text (that appears below the field) and add the  text as a field of

[2021-01-21 15:57] sacrevert commented on #129
@andrewvanbreda looks fine to me. Thanks.

By the way the text "By ticking this box, volunteers confirm that they are aged 18 or over." already seems to be appearing clearly on the NPMS site (just check my account).

[2021-01-21 16:18] andrewvanbreda commented on #129
@sacrevert  @NPMSSupport
Ah yes, that was me yesterday. I just added the help text to the site expecting it to work, it was only at the last moment I realised about the registration form.
So that help text will be replaced.

Got loads of things happening all at once at moment, but will let let you know when I put the new registration form live.

**It will require some downtime (but I will try and

[2021-01-21 23:24] andrewvanbreda commented on #129
@sacrevert @NPMSSupport
Changes live after a 40 min downtime between 22:40 and 23:20 (approx) this evening.

[2021-01-21 23:24] #129 closed

[2021-01-21 23:27] andrewvanbreda commented on #129
Note, I also removed the useless help text appearing under the user's first name and surname on the My Account page, which just said "User's firstname", "User's surname".
Think these might of been default help texts that we never explicitly put there, don't think they help and am sure visitors don't want to be called "User" anyway.

[2021-01-27 11:31] andrewvanbreda commented on #166
Hi @BirenRathod
Could you send me this result sometime, there are some plots that have been deleted that I am confused about. No rush, just when you get time.. Thanks

select l.id,l.name,l.created_by_id,l.created_on,l.updated_by_id,l.updated_on,l.deleted
from indicia.locations l
join indicia.samples s on s.entered_sref = l.name and s.survey_id in (87,154,155)
 and s.entered_sref != 'NX8923254876'

[2021-01-28 12:16] andrewvanbreda commented on #122
@BirenRathod
Hi Biren,
Am justing wanting to improve this area's ability to ignore no-NPMS notifications. Could you send this result to me please (it should be an iRecord notification of mine). Thanks

select data,linked_id,user_id
from indicia.notifications
where id = 8571219;

[2021-01-28 12:45] andrewvanbreda commented on #122
AVB: Note to myself. Tests on this morning, I have identified two problems I believe need fixing before live.
1. It is known that some iRecord notifications will be display, see if I can improve this after results from Biren.
AVB Edit: This can be improved I think by excluding notifications with a data field where the username is set to "iRecord"
2. At the moment the year filter does not appear to

[2021-01-28 13:04] andrewvanbreda commented on #122
AVB: Further note to myself, actually point 2 is not a bug. It works for the My Data Summary grid, however the ignore_dates_before is simply missing from the notifications grid.
Can implement that by using the "triggered_on" field in the notifications table in the database.

[2021-01-28 13:11] BirenRathod commented on #166
@andrewvanbreda

Here are the results.
[data-1611839348775_NX8923254876.zip](https://github.com/BiologicalRecordsCentre/NPMS/files/5887328/data-1611839348775_NX8923254876.zip)

[2021-01-28 13:12] BirenRathod commented on #122
@andrewvanbreda
Here is the result.
[data-1611839223939_8571219.zip](https://github.com/BiologicalRecordsCentre/NPMS/files/5887337/data-1611839223939_8571219.zip)

[2021-01-28 16:39] andrewvanbreda commented on #122
@BirenRathod Thanks Biren, and thanks for the result you sent through on that other issue too

[2021-01-29 13:50] andrewvanbreda commented on #166
@sacrevert
OK, my initial attempt to fix these didn't work.
The reason is the Plots were is a deleted state.
I can see what is happening.
In Apr 2019 a bug was fixed where previously the Delete button was still showing on the Plot page in summary (view only) mode.
I think this has happen to 50 Plots (approx) leaving samples with no plot.

Shall I undelete these so that the Plot can be reinstated o

[2021-01-29 14:21] sacrevert commented on #166
@andrewvanbreda Yes, please undelete. We can assess these plots/samples in other ways going forward, but I think on the whole it is better to undelete these plots. @NPMSSupport you might get some queries relating to this if a user has set up new plots in a square, but then we can delete the old plots and the samples associated with them so that everything is consistent.

@andrewvanbreda is it poss

[2021-02-01 10:50] andrewvanbreda commented on #166
@BirenRathod
Could you run this on live please.
This is a version of an actual update statement I will want to run for real, however you will see it does nothing as it just sets the deleted flag to what it was previously
If you let me know how many rows it is affecting, it is a good way to give it a final check that it is right. Thanks

update indicia.locations l
set deleted=l.deleted
from indicia

[2021-02-01 11:09] BirenRathod commented on #166
@andrewvanbreda
It has updated 34 rows.

[2021-02-01 13:03] andrewvanbreda commented on #166
@BirenRathod
Thanks Biren. Will let you know when I am ready to proceed further.

[2021-02-01 13:05] BirenRathod commented on #166
Sure

[2021-02-01 13:54] andrewvanbreda commented on #166
@BirenRathod That result is perfect.
Can we run these on live then.
The first one is basically the test query we just ran.
The second one is basically the test query we ran a week or two back.
The third is just to add to work_queue to update cache tables.

update indicia.locations l
set deleted=false,updated_on=now(),updated_by_id=5553
from indicia.samples s
where s.entered_sref = l.name and s.sur

[2021-02-01 14:09] BirenRathod commented on #166
@andrewvanbreda
I performed all above three queries.
First have 34 rows updated.
Second have 58 rows updated.
Third have 61 rows inserted

[2021-02-01 14:21] andrewvanbreda commented on #166
Thanks @BirenRathod
This numbers are exactly as expected .
So what I will do is wait a bit for the cache tables to update, then send you the select statements to double-check and also for Oli to have a copy of the fixed data.
Cheers

[2021-02-01 14:21] BirenRathod commented on #166
sure

[2021-02-01 17:39] andrewvanbreda commented on #166
Hi @BirenRathod

Can you run this to selects please whenever you get a moment, not urgent. Thanks

SELECT *
FROM indicia.samples s
where s.location_id IS NULL
and s.survey_id in (87,154,155,281)
and s.deleted=false
and s.entered_sref != 'NX8923254876';

select * from indicia.cache_samples_functional
where id in (11758615,11758530,1042140,937448,951400,1089938,1089955,1089965,937267,1089935,937327,

[2021-02-01 17:49] BirenRathod commented on #166
@andrewvanbreda
you are in luck, I'm still working. Below are the results attached.
[NPMS_01022021.zip](https://github.com/BiologicalRecordsCentre/NPMS/files/5905668/NPMS_01022021.zip)

[2021-02-01 18:44] andrewvanbreda commented on #166
:) Thanks @BirenRathod .

[2021-02-02 11:27] andrewvanbreda commented on #166
Hi @BirenRathod,

Just looking at the data, but am confused about 3 of the 4 files you sent.

I understand data-1612201613747_cache_sample_occ.csv, that file is ok.

I don't understand what these two files are though, where is this data from? (as I only sent two queries)

data-1602775697535_sample_15102020.csv
data-1602775826538_Occ_15102020.csv

Also this file is confusing me. Is that from the sa

[2021-02-02 11:36] BirenRathod commented on #166
@andrewvanbreda ignore those files. Here is the latest one.
[NPMS_02022021.zip](https://github.com/BiologicalRecordsCentre/NPMS/files/5910817/NPMS_02022021.zip)

[2021-02-02 12:46] andrewvanbreda commented on #166
Hi @BirenRathod

OK, I understand what is happening in the data now, that is all ok.

There are 3 samples that may need manual correction, this is as expected, I wasn't expecting my queries to be able to fix every single row.

Could you send me the following please so I can determine if manual correction is possible

select id,name,location_type_id,deleted
from indicia.locations where name in ('SK

[2021-02-02 14:25] BirenRathod commented on #166
@andrewvanbreda
Here is the result.
[data-1612270309506_select.zip](https://github.com/BiologicalRecordsCentre/NPMS/files/5911747/data-1612270309506_select.zip)

[2021-02-02 15:03] andrewvanbreda commented on #166
@BirenRathod Thanks, that is really useful info

[2021-02-02 15:07] andrewvanbreda commented on #166
@sacrevert
OK, I think all the Samples from the main 3 NPMS surveys are now corrected apart from 3 of the Samples which do not seem to be auto-correctable.

1.
Sample ID
1042140
Spatial Reference
SK97902621

2.
Sample ID
600223
Spatial Reference
SK544375

3.
Sample ID
2085445
Spatial Reference
SX61607800
(Although system seems to think the location name for this sample is "SX6162178014")

In the c

[2021-02-03 11:09] NPMSSupport commented on #207
@andrewvanbreda @sacrevert I was wondering if we could possibly re look at raising the status of this one? Only I've just had another meeting with the MTA and they are very keen that this happens. I was also thinking of the benefits for data on National Trust and BSBI members too.

[2021-02-03 11:10] andrewvanbreda commented on #207
@NPMSSupport @sacrevert
Have raised to Priority

[2021-02-03 11:21] sacrevert commented on #207
@andrewvanbreda
Before we change this, can you guesstimate how much effort this is likely to be please? (I am assuming the task here is adding a single checkbox and related download information for the MTA).

[2021-02-03 11:23] andrewvanbreda commented on #207
@sacrevert
Will do.

[2021-02-03 13:28] andrewvanbreda commented on #207
@sacrevert @NPMSSupport
Well I think this is just adding checkbox to the registration screen and change the user_information_download.

Probably to get this all live would probably be something like 3/4 of a day.
There is one slight concern I have, is the further complexity of the User Information Download report, it is already quite slow. Might end up having to split it into two reports at some p

[2021-02-03 13:42] andrewvanbreda commented on #207
I will wait for your confirmation

[2021-02-03 14:35] NPMSSupport commented on #207
Ok fab and totally understand that we want to be sure of including this as priority. Possibly one more question about this. If we add it as a checkbox on the registration, does that mean that already registered users will not be able to add info to their account? Which means we will only get new data, therefore not including any existing users. I'm trying to think of any other way of finding out t

[2021-02-03 15:26] andrewvanbreda commented on #207
@NPMSSupport
It will appear as a checkbox on their account page defaulted as unchecked.
As it isn't mandatory, we can't really code a message to warn people that they haven't filled it in (unlike when we added the Data Access Policy acceptance checkbox which had to be filled in by everyone)

[2021-02-03 16:10] NPMSSupport commented on #207
Oh gosh, no I wouldn't want anything like that, it's totally optional

[2021-02-03 16:10] andrewvanbreda commented on #122
AVB: Note to myself, this can be released after the 3 fixes above.

[2021-02-03 16:14] sacrevert commented on #207
@andrewvanbreda OK, let's do this whenever you can next fit it in then. I'm not terribly bothered about the speed of the User information download, as ultimately this is just for NPMS staff, and we can be patient.

[2021-02-03 17:20] andrewvanbreda commented on #207
@sacrevert @NPMSSupport
What I mean is as you only select it when you are a member of the organisation,
it does mean I can't get the computer to detect if you at least considered this. People who are existing users may just leave it off as they don't know the new box is there.
As the Data Access Policy was mandatory we could warn them about the new box.

I do have to consider the speed of the repo

[2021-02-03 17:22] sacrevert commented on #207
I think keep it simple, MTA etc. can ask people to fill it in, we can include it in emails etc. I would rather not have more logic and warnings than absolutely necessary.

Understood re speed.

[2021-02-04 10:16] andrewvanbreda commented on #122
Hi @BirenRathod
Can this report be pulled onto dev/test/live warehouse please. Should be safe as the page that uses isn't even public yet. Thanks

projects/npms/npms_notifications_list_for_notifications_centre.xml

[2021-02-04 11:20] BirenRathod commented on #122
@andrewvanbreda This report has been pulled down on all servers now.

[2021-02-04 13:29] andrewvanbreda commented on #122
@BirenRathod Thanks Biren :)

[2021-02-04 14:45] andrewvanbreda commented on #122
Hi @sacrevert

OK have tried to test this and we just about ready to go live now but the following limitations should be considered first.

1. Obviously it is very very hard for me to test the entire notifications system in regards to NPMS, so I am not expecting zero problems, but I think I have done as much testing as I can do given that limitation.

2. I noticed something rare that can happen.
A

[2021-02-05 16:30] andrewvanbreda commented on #207
@sacrevert @NPMSSupport
Hi, this is working on the NPMS test. I can add it to live as soon as you confirm. Let me know if this is ok

https://test-npms.pantheonsite.io/user/register

[2021-02-05 16:32] sacrevert commented on #207
Looks good to me, happy for it to go on live. Thanks Andy

[2021-02-05 16:34] andrewvanbreda commented on #207
@sacrevert @NPMSSupport
Hi again, OK I will try and put this live over the weekend. This will require a very short downtime (15 mins or so).
Note it won't be available on the User Information Download yet until I change that report, however I can still check it is saving ok in the The Warehouse user interface.

[2021-02-07 20:45] andrewvanbreda commented on #122
@sacrevert @NPMSSupport
MTa checkbox now live.
Site was offline for about 10 minutes at about 8:30 this evening (although I wrote it would be 30 minutes on the maintenance mode screen as I wasn't sure)

[2021-02-08 09:20] andrewvanbreda commented on #207
@sacrevert @NPMSSupport
MTA checkbox now live.
Site was offline for about 10 minutes at about 8:30 yesterday evening (although I wrote it would be 30 minutes on the maintenance mode screen as I wasn't sure)

[2021-02-08 14:39] andrewvanbreda commented on #207
@BirenRathod
Hi Biren, could you pull the following report onto all Warehouses. It is safe, this isn't publicly viewable. Thanks :)

indicia-reports/reports/projects/npms/user_info_download_2.xml

[2021-02-08 14:53] BirenRathod commented on #207
@andrewvanbreda
I have pulled that report on all warehouses.

[2021-02-08 15:11] andrewvanbreda commented on #207
@BirenRathod
Thanks Biren, that has worked.

@sacrevert @NPMSSupport
User Information Download now has this checkbox available.
Does this issue need closing or should it been left open for future development?

[2021-02-08 15:17] sacrevert commented on #207
Thanks all. I think we can close for the moment, just to keep things tidy. Interactions with other organisations (e.g. National Trust) may be subtly different anyway.

[2021-02-08 15:17] #207 closed

[2021-02-09 16:17] andrewvanbreda commented on #204
Note: Issue awaiting confirmation as to whether we are even using a standard events grid this year, as there is a possibility they are going to be video calls with different arrangements.

[2021-02-12 10:14] sacrevert opened #209 "Volunteers who haven't produced data in 2 years website admin report"
Add the following column to report:
User's last data entry date for a square

[2021-02-15 13:39] andrewvanbreda commented on #204
Note: I have discussed with Sarah and we will now be using a separate static list of Zoom calls with a zoom link.

Note: the site will make it clear these will not go into event history

@sacrevert @NPMSSupport
Am lowering the priority of this to High as it will not be useful for this year now

[2021-03-01 10:49] andrewvanbreda commented on #65
Am confused, does anyone know what happened to the following page?

https://test-npms.pantheonsite.io/content/elastic-search-test-page

I had wanted to take a look at it to assist with the PoMS project, but it seems to have been deleted. I am guessing it can't be recovered now

[2021-03-01 10:52] sacrevert commented on #65
No idea. A question for @BirenRathod or @DavidRoy I would have thought...?

[2021-03-01 10:54] DavidRoy commented on #65
no idea, sorry. I don't touch NPMS

[2021-03-01 10:58] BirenRathod commented on #65
No idea.

[2021-03-01 10:59] BirenRathod commented on #65
@andrewvanbreda Did you create on test site? or was it on live or dev?

[2021-03-01 11:06] andrewvanbreda commented on #65
@BirenRathod
Hi Biren,

It was on test as it was at this URL

https://test-npms.pantheonsite.io/content/elastic-search-test-page

Unfortunately I haven't looked at this since 2019. I guess will just have to work out how to create it again.
Just a bit of a pain as was hoping you looked at that page as an example as I haven't used Elastic Search in ages.

[2021-03-01 12:10] BirenRathod commented on #65
Sorry for the lost @andrewvanbreda. Best to create new one.
Even backup on Pantheon last long for a month, so we can't able to recover them.

[2021-03-01 14:13] andrewvanbreda commented on #65
@BirenRathod
It is ok. Sounds like some of the ElasticSearch setup has changed anyway, so will hopefully be easier to set back up

[2021-03-01 15:07] NPMSSupport commented on #65
Sorry, no idea either, but I'm sure you guessed that

*Sarah Shuttleworth*

*NPMS Volunteer Manager*

[image: NPMS]

*Tel: **07711 922098*

PlantLife 2nd Floor Brewery House, 36 Milford Street, Salisbury SP1 2AP

On Mon, Mar 1, 2021 at 10:49 AM andrewvanbreda <notifications@github.com>
wrote:

[2021-04-07 13:17] sacrevert opened #210 "Suggest photos for species with ID difficulty = or > 2"
See https://github.com/NERC-CEH/npms-app/issues/54

[2021-04-12 11:50] sacrevert commented on #166
@sacrevert to follow-up three remaining issues when preparing EIDC 2015-2020 dataset for 2021 publishing

[2021-05-05 14:07] sacrevert commented on #190
I presume that this is almost ready to close? However, I was wondering whether to add the issue about training samples/occurrences currently being displayed on live here, or whether this should be closed and a new issue opened?

[2021-05-05 16:34] andrewvanbreda commented on #190
@sacrevert
I will change it as part of this issue.
About 35 reports I think to change, but this issue also has notes about the message that needs to be displayed.

[2021-05-24 15:55] sacrevert opened #211 "Users' data download report to include other peoples' samples for their plots"
A user’s data download options could be amended to incorporate samples not made by them for their plots (this is for when a user inherits plots and wants to have a summary of what was recorded). Possibly could also be dealt with by #65

[2021-06-01 14:16] andrewvanbreda commented on #190
@BirenRathod @sacrevert @NPMSSupport
Hi Biren,
I have made some changes to get this to work for most important reports.
Could you pull the following reports from indicia-reports/projects/npms

The changed reports are:
npms_all_visits_2
npms_sample_occurrence_samples_6
npms_sample_occurrence_samples_extra

These are live, but only last 2 are public and have simple change. I would be amazed if there

[2021-06-01 14:33] BirenRathod commented on #190
@andrewvanbreda I can just pull the reports if that is ok?

[2021-06-01 14:52] andrewvanbreda commented on #190
@BirenRathod yes thanks, I can always put site straight into maintenance mode in unlikely event of an issue. Thanks

[2021-06-01 14:56] BirenRathod commented on #190
@andrewvanbreda I have pulled the reports now.

[2021-06-01 14:59] andrewvanbreda commented on #190
@BirenRathod
Thanks Biren.
As expected there don't seem to be any errors. Will examine in further detail after meeting with Oli.

[2021-06-01 15:43] andrewvanbreda commented on #190
@BirenRathod
OK, I checked the site but it doesn't seem to be behaving any differently.
Are you able to send me the file npms_sample_occurrence_samples_6.xml that is sitting on the live warehouse so I can check it, as either the pull has failed for some reason, or my fix isn't working.
Cheers.

[2021-06-01 16:04] BirenRathod commented on #190
@andrewvanbreda I have attached it here.
[npms_sample_occurrence_samples_6.zip](https://github.com/BiologicalRecordsCentre/NPMS/files/6577616/npms_sample_occurrence_samples_6.zip)

[2021-06-01 16:11] andrewvanbreda commented on #190
@BirenRathod
Thanks Biren, that is fine.
Will look at the code. The problem is harmless, so it is doing nothing different to the way it was before, so will probably be tomorrow before I get back to you about this.
Cheers.

[2021-06-01 16:12] BirenRathod commented on #190
@andrewvanbreda OK, no problem.

[2021-06-03 09:40] andrewvanbreda commented on #190
@BirenRathod
Hi Biren,
Worked out what problem was, these reports were missing a sharing_filter.
I can't test this properly on my machine because of the setup of the database, so instead of updating old reports I created 2 new versions.
These are then safe to pull as they aren't active until I change the site to point at them (which I can check on test site first). Cheers
projects/npms/npms_sample

[2021-06-03 10:57] BirenRathod commented on #190
@andrewvanbreda I have pulled those reports now.

[2021-06-03 13:20] andrewvanbreda commented on #190
@BirenRathod
Thanks Biren :)

[2021-06-03 13:29] andrewvanbreda commented on #190
@BirenRathod
OK, having same problem as on my machine, which I assumed would be working on BRC's Warehouses so won't be going live with this quite yet

[2021-06-04 14:32] andrewvanbreda commented on #190
@BirenRathod
Hopefully fixed now, could you pull those reports again please Biren whenever you get chance. Thanks
projects/npms/npms_sample_occurrence_samples_7.xml
projects/npms/npms_sample_occurrence_samples_extra_2.xml

[2021-06-04 15:01] BirenRathod commented on #190
@andrewvanbreda Those reports gone live.

[2021-06-04 15:03] andrewvanbreda commented on #190
@BirenRathod Thanks Biren  for quick response. Will take a look how the test site is behaving now

[2021-06-04 15:19] andrewvanbreda commented on #190
@NPMSSupport @sacrevert
This is now live for public facing reports. So these now respect that when training data has been entered on the test site or app it no longer shows that data on the live website.
(My Visits, and data entry form data grids)