[2017-07-12 09:23] sacrevert opened #1 "Rebuild cache_occurrences to ensure uniform survey titles"
2015 surveys in cache_occurrences table currently have the old names (column: survey_title). At some point it would be good to update this so that there is the same uniformity of name as in the surveys.title column.

Not urgent, a minor issue. Only assigning Andy so that he knows that I have added this issue.

[2017-07-12 09:25] BirenRathod commented on #1
Did you try to change the name from the warehouse ui?

[2017-07-12 09:27] sacrevert commented on #1
No. I don't really know how to use the warehouse UI. Unless you both (@BirenRathod @andrewvanbreda) tell me that I need to, I'd rather not add another item to my plate at the moment.

[2017-07-12 09:36] BirenRathod commented on #1
In the "Lookup lists", Click "Survey datasets" and select the survey appeared from the list.

[2017-07-12 09:41] sacrevert commented on #1
I'm going to assume that @andrewvanbreda will do this, in the way that he feels is most appropriate, whenever he feels that he has the time and resources to do so. However, as I mentioned, it is not a priority.

[2017-07-12 09:43] BirenRathod commented on #1
I think that is the appropriate way and I don't see any problem. good to go.

[2017-07-12 21:05] andrewvanbreda commented on #1
I have performed a test for this today. Changing the names doesn't rebuild the cache_ tables. I will assign John to see whether this should be coded or whether there is a good reason the cache_table rows aren't rebuilt on survey change. One reason I can think of actually is performance, a lot of rows might use the same name so altering it might cause thousands of rows to require processing

[2017-07-12 21:08] andrewvanbreda commented on #1
Actually I will mail him and put the answer here, he doesn't seem to be in the assignee list

[2017-07-13 07:07] johnvanbreda commented on #1
A name change in the UI should update the cache table rows, if you look in the cache builder config file the samples survey_title is updated if the survey updated_on is updated.

[2017-07-13 07:49] andrewvanbreda commented on #1
@johnvanbreda that didn't seem to work when we tried it yesterday. I changed the names using the warehouse UI. That is exactly the test I suggested doing, and it seems to have failed, we left it quite a long time so the scheduled tasks should definitely have run
@sacrevert perhaps can you just double check the cache tables, and then give John an example row that hasn't worked.
I haven't changed th

[2017-07-13 09:33] sacrevert commented on #1
@johnvanbreda Here we go:
2239866;"V";2;1058655;"2015 Inventory Survey";"2015-05-18";"2015-05-18";"D";"SK70633104";"SK70633104";"SK7063831048";"Alopecurus pratensis";"Alopecurus pratensis";"NBNSYS0000002656";88254;"Cath Lovatt & Phil Carter";"admin, core"

Query:
[code]

[2017-07-13 10:53] johnvanbreda commented on #1
Thanks @sacrevert. There were 2 issues - the cache builder had stopped (not sure why - looks like it was deliberately stopped yesterday morning) and there was also a bug fix required to ensure the survey updates were picked up. Now done.

[2017-07-13 11:39] #1 closed

[2017-08-01 09:02] andrewvanbreda opened #2 "NPMS issues parked for a later date"
These are NPMS issues that have been parked until a later date. Note that some of these may have been resolved as a result of other fixes, I have not gone through all the items to check if this is the case or not as that would take too long to do comprehensively right now.
I have tried to vaguely put them  in order of priority, although the priority has been quickly made up by me so don’t rely on

[2017-08-01 09:46] andrewvanbreda opened #3 "Keep NPMS training site up to date"
The code on the training site is currently out of date in comparison to live.
AVB to instruct Biren on what needs to be done

[2017-08-01 09:50] andrewvanbreda opened #4 "Remove species groups message from NPMS registrations"
Users who register with NPMS are currently presented with a message asking them if they would like to tell us about species groups they are interested in even though this functionality was deliberately removed from NPMS a while back.
It has been a while since I registered but if I remember correctly this message appears as green text on the website (rather than a popup)

[2017-08-01 10:12] andrewvanbreda opened #5 "Users who lose rights to a square can save visits without a location_id"
There is a scenario where if a user has their NPMS square allocation removed, it is possible that some of their visits could end up with no location_id, although this only happens if they edit the visit after the de-allocation because the square/plot is no longer displayed on the data entry screen in that scenario (and as such is saved as empty)

Plan is:

- Use a generic message for all locking s

[2017-08-01 10:13] andrewvanbreda commented on #5
Coded and in testing (on my on machine)

[2017-08-01 10:34] andrewvanbreda opened #6 "Remove NPMS training data"
NPMS doesn't support training records very well (as the record grids are sample based).

Low priority but remove NPMS training data from the database, this will also help make querying the database simpler

[2017-08-01 10:48] BirenRathod commented on #3
Code has been updated to latest. @andrewvanbreda please check if everything is in place.

[2017-08-01 10:48] #3 closed

[2017-08-01 12:07] andrewvanbreda commented on #3
@BirenRathod I haven't got round to checking this yet, are you sure this is OK to close? I thought I would need to configure some of the pages

[2017-08-01 12:10] BirenRathod commented on #3
So far, I didn't see any problem. if you find any problem that is not relate to update, then good to create separate issue.

[2017-08-03 21:59] andrewvanbreda commented on #5
Code now committed, not live yet.

One thing to note is that although the field didn't have a red star it would still always ask for a plot to be selected, so I am still not quite sure how those users saved without a plot.
Anyway it is much better than it was, data properly locked when users don't have rights.
Also note that although we agreed to have a unified locking message, I have actually sep

[2017-08-04 09:45] andrewvanbreda commented on #5
@sacrevert
I just realised something related to this (that I probably don't think it is worth fixing). The extra species page ignores whether a square has been authorised or not. It works with other rules to do with what people can see, just not that one. This is because that page just uses a standard Indicia location control rather than a specialised NPMS one, so the report supplies the correct s

[2017-08-04 09:54] andrewvanbreda commented on #5
Further note on this, I might of only just noticed this because originally the Extra Species page didn't originally support entry against a square, and as the user could only create a plot after authorisation it would of taken a much more complex scenario for this issue to rear its ugly head...although I still think it prob isn't going to be worth fixing, partly as someone wouldn't visit the squar

[2017-08-04 10:08] sacrevert commented on #5
@andrewvanbreda I don't think this is worth fixing. Up to you to decide re raising it as a future note to yourself and other developers.

[2017-08-04 10:28] andrewvanbreda commented on #5
I agree. I don't even think it is worth noting as if we note everything required to make the site 100% perfect we would be raising minor issues forever and not getting anything done.
If it was a super-easy fix I would say otherwise.

[2017-08-06 17:33] andrewvanbreda opened #7 "Switch to using privacy precision for private plots"
Change from using sensitivity precision to privacy precision for a few reasons, one of which is that sensitivity is really meant for protecting sensitive species, although the end result is very much the same.

[2017-08-06 17:34] andrewvanbreda commented on #7
Coded and committed

[2017-08-06 17:34] andrewvanbreda commented on #7
Not live yet.

[2017-08-30 12:33] andrewvanbreda opened #8 ""One time login code for mobile registered user" appearing on user account page"
I was just checking something else when I noticed on the page where the user changes their password for the very first time after receiving the welcome email, there is a field on the page (near the bottom) which says

"One time login code for mobile registered user" with a textbox next to it

I assume this shouldn't be visible?

[2017-08-30 12:46] BirenRathod commented on #8
Is it part of iform_mobile ?

[2017-08-30 13:06] andrewvanbreda commented on #4
What is happening here is a while ago decided to hide quite a lot of the Indicia user account page default functionality. We did this using a Drupal module that hides fields on the account page.
However Indicia login module does not understand we made the fields invisible so it is still telling the user to fill them in.
It is possibile to delete the fields, I don't think we originally did this bec

[2017-08-30 13:07] andrewvanbreda commented on #4
Note the exact message given to the user is

"Why not tell us the area you would most often like to record in and the list of species groups you are particularly interested in to help us tailor the system to your needs? You can fill this information in on your user preferences."

[2017-08-30 13:35] andrewvanbreda commented on #8
Yes it would be to do with the app. Although I don't want to try and fix it as I could end up breaking the app and I don't have access to it to even know. At least not try and fix it without knowing exactly what is going on.
The other thing is I don't actually even know if it isn't supposed to be there, I assumed it wasn't supposed to be.

There is a module on the NPMS site which can hide fields,

[2017-08-30 13:39] BirenRathod commented on #8
It is a separate module. I will have look into this and let about this. No need to email Karolis at this point.

[2017-08-30 13:58] andrewvanbreda commented on #8
Ok thanks

[2017-08-30 17:28] sacrevert commented on #4
I'm not too worried about just leaving this functionality in. Assuming that it works as it is supposed to, and does not cause any conflicts with 'recording group' preferences stated on other Indicia websites (e.g. iRecord). Thanks

[2017-08-31 08:30] andrewvanbreda opened #9 "Main menu links with drop-downs are clickable but go nowhere"
I have noticed an issue with NPMS's main menu. The menu links that include a drop-down still have the menu title clickable but it goes nowhere.
For example, hover over the "Create plots and enter data" menu item, this displays a drop-down, but you will notice the "Create plots and enter data" title remains clickable. Clicking on it refreshes the screen but goes nowhere and the same page is reloade

[2017-08-31 10:01] andrewvanbreda commented on #9
@BirenRathod I am going to take this off my To Do list as I don't think you (BRC) will want me to spend time fixing this.
I did take a quick look to see if the problem was very obvious to fix and it isn't. Perhaps sometime (not urgent) Biren you could have a look, perhaps it is a superfish setting?
Although looking on Google I think other people are having a similar issue and it seems fix is not s

[2017-09-04 11:14] andrewvanbreda opened #10 "Support - report from user that occurrences have been saved incorrectly"
A problem has been reported where a user has reported that the NPMS system is saving extra occurrences when it shouldn't of.
There is no indication to suggestion that occurrences haven't been saved when they should of been...just the other way round

I believe this affects the Wildflower form only, as this works differently.
In the case of this form, an abundance is entered, this then creates the

[2017-09-04 14:50] andrewvanbreda commented on #10
Note mainly to myself (although feel free to read for more info):
Examination shows the NPMS sample occurrence form does not appear to have customised submission code, so a direct simple NPMS specific saving issue is unlikely.
However...
If it transpires that the problem only occurs if an edit is made first, then one possibility is there might be a failure in the data loading, which is then saved

[2017-09-06 13:25] sacrevert opened #11 "Additional explanatory text for 'Add new sample' process"
Add some text to 'Add new sample' pages to highlight the process of adding a new year's data (just reassuring people that it is the 'Add new sample' button).

[2017-09-07 13:12] andrewvanbreda commented on #10
Note again to myself:
Just did a quick test on the training site, and editing an occurrence to remove the abundance does remove the occurrence entirely from the warehouse, so that isn't the issue

[2017-09-08 10:25] andrewvanbreda commented on #10
I have run some tests on the NPMS website. I have an interesting result.
The first thing to note is the data looks fine on screen.
The problem is that there are 125 occurrences in the background associated with her sample and these don't have abundances to show on screen, hence it looks correct with just the one occurrence.

The interesting result is this. If I unlock and save the sample again (wi

[2017-09-08 10:46] andrewvanbreda commented on #10
Note to myself:
Tests on the training website have passed.
Add survey 2 recorded the correct occurrences whether survey had occurrences or not.
One test I might do is get Biren to query the training database to see if it exhibits the same behaviour, if not, I can then only assume the issue is related to warehouse1 (assuming the amount of data on the training warehouse is large enough to make that

[2017-09-08 13:46] andrewvanbreda commented on #10
Whilst making corrections to existing data I have made the following observations:
1. Although few users are affected, a couple of users are affected across more than one sample
2. The extra "rogue" occurrences appear to have the same timestamp as other occurrences, so it seems the issue wouldn't have been going back to edit the data
3.  The rogue occurrences appear randomly in the list of occurre

[2017-09-08 15:39] andrewvanbreda opened #12 "Missing verified icon on data entry forms"
Look at this page (just an example, not unique to this page)

http://www.npms.org.uk/wildflower-recording-form-2015?sample_id=2068210&edit=

There is a missing icon that should appear next to verified species on the grid, but this is missing on the site.
Firefox shows the word "verified" next to the common name (without a space)
Safari shows a question mark icon indicating the missing image

The i

[2017-09-08 15:42] andrewvanbreda commented on #12
Oli said Chrome shows the "verified" word....although that shouldn't affect the fix, although it is perhaps useful to know for testing.

[2017-09-14 12:46] andrewvanbreda commented on #10
User who had the issues with the photos has now corrected their data with no problems.
However I have no further clues as to the origins of the issue.
I have now corrected the other user data, so no users should have any problems as of today.

So will have to wait to see if we have any other instances of the issue before investigating further.

@BirenRathod Could you run the following sql sometime

[2017-09-19 08:10] andrewvanbreda opened #13 "Error changing account email address on NPMS"
Oli has reported the following issue on NPMS when trying to change the email address on an NPMS account for Karolis (username 'testc')

This looks like it probably isn't NPMS specific, so see what happens next time we update the iForm on the site

[2017-09-19 08:13] andrewvanbreda commented on #13
Note to myself: Will need an indicia_features update also (easy_login)

[2017-09-20 10:17] BirenRathod commented on #13
This occurred due to Drupal core setting. It doesn't allow to accept two users with same email address.

[2017-09-20 11:54] andrewvanbreda commented on #13
Yes, it doesn't allow that. The problem isn't that it doesn't allow that, it is the way the user is informed. They should not of be presented with an exception, but instead a nicer message

[2017-09-21 10:20] BirenRathod commented on #10
Attached are the results.
[NPMS_occurrences.zip](https://github.com/BiologicalRecordsCentre/NPMS/files/1320792/NPMS_occurrences.zip)

[2017-09-26 11:00] sacrevert opened #14 "Internet Explorer 'Draw plot' grid ref"
In IE, if you go to Draw a plot, typing in a gird reference in the 'Grid reference' box and then clicking outside the box does nothing, although in Chrome the map zooms to the entered grid reference after the user clicks somewhere else on the page.

It would be very useful if this worked in IE, because otherwise the user is only left with the option to click on the map, whereas it is nice to be ab

[2017-09-26 12:08] sacrevert opened #15 "Expert Mode"
Turning Expert Mode off/on causes the plot to disappear. This may be intended, but is not that helpful if you place the plot and subsequently turn Expert Mode on to tweak its position.

[2017-09-26 12:12] sacrevert opened #16 "'Add new sample' clarity"
Some users have suggested that the Add new sample process for a new year is clearer.

[2017-09-26 12:17] sacrevert opened #17 "Radio buttons"
Radio buttons can not be unselected if selected in error. For example, a user accidentally selected a grazing option, and could not unselect it.

[2017-09-26 13:18] BirenRathod commented on #9
This has resolved now.

[2017-09-26 13:18] #9 closed

[2017-09-26 13:29] BirenRathod commented on #12
@andrewvanbreda Where can I see this? The link you put it above, On there I don't see anything.

[2017-09-26 14:49] sacrevert commented on #12
Interestingly, the verified tick does show in Chrome sometimes:
http://www.npms.org.uk/indicator-recording-form-2015?sample_id=1274523&edit=

Not sure if this means the missing icon is associated with the fact that the recorder in Andy's example has added photos?

[2017-09-26 15:42] BirenRathod commented on #12
I didn't find any problem on Firefox or Chrome.

[2017-09-26 16:11] andrewvanbreda commented on #12
Hi,

I have put this on my To Do list to have another look at low(ish) priority

[2017-09-27 08:10] sacrevert commented on #12
@BirenRathod The issue is still there in Chrome. The screenshot below highlights the 'verified' text (where the red arrow points) that appears instead of the green tick. This is from the first link that Andy gave above (and of course requires one to be logged in as an admin).

![verified_arrow](https://user-images.githubusercontent.com/5985134/30902606-b6ff4ad2-a363-11e7-8a9f-259eeadb15c2.jpg)

[2017-09-27 08:33] BirenRathod commented on #12
@sacrevert & @andrewvanbreda

I checked in all browsers and found no problem. I think this is more to do with cookies then just image display. Try cleaning up the cookies and see if it makes difference.

[2017-09-27 08:42] sacrevert commented on #12
@BirenRathod Still there in Chrome after clearing my cookies. Have you been able to reproduce the error that I screen-shotted above? Do you know how to get to that screen?

[2017-09-27 08:44] sacrevert commented on #12
Also in Firefox:

![picture1](https://user-images.githubusercontent.com/5985134/30903969-6396594e-a368-11e7-8f6f-3cbf3feffd89.png)

[2017-09-27 08:45] sacrevert commented on #12
Also in IE, but slightly different as IE makes it clearer that the icon is missing:

![picture2](https://user-images.githubusercontent.com/5985134/30904048-a81ff5de-a368-11e7-883c-44bb3b73c383.png)

[2017-09-27 08:46] BirenRathod commented on #12
Yes, I have, but I don't see verified word instead. what is your username?

[2017-09-27 08:49] BirenRathod commented on #12
look no problem for me.
![image](https://user-images.githubusercontent.com/5941255/30904169-19cce4c6-a369-11e7-9917-91ebbec6cb05.png)

[2017-09-27 09:19] sacrevert commented on #12
I'm viewing the link when logged in with my admin account: olipescott

[2017-09-27 09:26] BirenRathod commented on #12
This is definitely something to look at it by @andrewvanbreda . @andrewvanbreda , this problem occurred if data has been submitted via wildflower-recording-form-2015 but not via indicator-recording-form-2015.

[2017-09-27 11:22] andrewvanbreda commented on #12
OK, I will try to have a look today

[2017-09-27 12:58] andrewvanbreda commented on #12
The problem is that when it is working the icon path is
/sites/www.npms.org.uk/modules/iform/media/images/nuvola/ok-16px.png

But when it isn't working it is looking in the wrong place for the icon here
nuvola/ok-16px.png

As noted by you, this seems to be data entry form dependent. It wouldn't be browser dependent.
As all forms use the same custom NPMS data entry form that inherits from the gener

[2017-09-27 13:32] andrewvanbreda commented on #12
@BirenRathod @sacrevert
I think I can see a bug in the data_entry_helper that means the $imgPath variable wouldn't get set sometimes because it is only be initiated after a particular If statement, so won't be set if that IF statement isn't met.
I will need to test this practically to confirm, I will try to do that test soon, so that if it is a bug we can get it out with the NPMS release.

For now

[2017-09-27 13:56] BirenRathod commented on #12
@andrewvanbreda, no problem and thanks for looking into this.

I just wonder, why has that 'If statement' met for indicator survey form? or what is in "If statement" which met for indicator survey? Clearly indicator species list has got something included or setup in it.

[2017-09-27 13:58] andrewvanbreda commented on #12
Because It think the rowInclusionCheck mode is different if I remember correctly. The Wildflower form is setup differently.
I don''t think the variable should be set inside the If statement whatever happens, as it is used outside the If statement brackets.
If I am right, the fix is simple

[2017-09-27 14:03] BirenRathod commented on #12
I'm sure it is easy to fix but just curious to know. I'm sure you might need to amend in one of the PHP file rather than species list in the warehouse, so I leave it with you. Thanks for your explanation.

[2017-09-27 14:07] andrewvanbreda commented on #12
Yes, I think the fix is in data_entry_helper.php
If I find that is the actual issue, I will show you in full

[2017-09-27 20:21] andrewvanbreda commented on #17
This is a very quick fix if you would like something like a drop-down instead (see Bare Soil etc). A fix like that could be implemented very quickly.
These have a blank option which can be reselected. A blank option on the radio buttons would look weird I think

I have change the Training site so you can see.
Grazing pressure, and How Wooded Is Your Plot changed.
I also noticed on the training sit

[2017-09-28 07:54] sacrevert commented on #17
Drop downs would be better, I agree. I'll raise the spacing issue separately.

[2017-09-28 07:54] sacrevert opened #18 "Drop down spacing"
AvB notes:

This also affects "Which animals were grazing?" and maybe should be raised separately and not influence your decision here

[2017-09-28 09:06] andrewvanbreda commented on #17
Ok, I will try to do that when I get a moment today, won't take long

[2017-09-28 09:08] andrewvanbreda commented on #15
OK, I won't be able to fix this quickly, but I will take a quick look today and advise best approach to deal with this

[2017-09-28 09:10] andrewvanbreda commented on #14
OK, I have access to IE on Windows 7, so I will see if I can reproduce this issue. IE has always been a bit erratic about not sticking to standards, often we need special cases for it, although I think it is better than it used to be

[2017-09-28 09:39] andrewvanbreda commented on #15
@sacrevert
The problem is that in non-expert mode, the square you see is just a rough marker, not related to the size of the plot (e.g. the linear plot is just a square in non-expert mode)
In expert mode it is supposed to be an accurate representation of the plot, including size, rotation, and shape in the case of linear.
So actually what you see on screen between the two modes are supposed to rep

[2017-09-28 09:41] sacrevert commented on #15
OK, fair enough, forget this then. I think anybody using this will have to play around a bit anyway, so it is not a big deal (plus going forward fewer people will be using it as they will be adopting existing plots). I'll close this now.

[2017-09-28 09:41] #15 closed

[2017-09-28 14:48] andrewvanbreda commented on #17
@sacrevert
Grazing and How Wooded Is Your Plot questions changed on live NPMS on all 3 main forms.
Checked it saves OK.
Checked it seems to display existing data OK too
Correctly displays as read-only in read-only mode too

Close this once you are happy, you may wish to check, up to you

[2017-09-28 15:55] sacrevert commented on #17
Looks great. Closing now.

[2017-09-28 15:55] #17 closed

[2017-09-28 15:56] sacrevert commented on #16
Oli will deal with this in the PDF guidance. No need for programmatical/web text fix.

[2017-09-28 15:56] #16 closed

[2017-09-28 15:57] sacrevert commented on #11
Oli to deal with in PDF only.

[2017-09-28 15:57] #11 closed

[2017-10-03 17:34] andrewvanbreda commented on #12
Yes this was the problem. Simply moved one line of code in the data_entry_helper.php file so that the initialisation of the variable holding the image path was no longer inside an IF statement (and therefore not getting hit).
As only a one line change  it was only 30 mins to correct, test and commit. Have seen the correction working on my own machine.
Fix will go out with the next NPMS release.

[2017-10-03 19:44] andrewvanbreda commented on #14
Yep, seems to be broken on IE 11, Windows 7 (maybe others too, but that is what I was able to setup)

Interestingly there doesn't seem to be an error, it just doesn't do anything.

I will try to fix if I can.

[2017-10-05 08:38] andrewvanbreda commented on #14
I think I managed to resolve this yesterday. I managed to get IE to show me some javascript errors in the end, and these are appearing on the Firefox on my Mac also.
I have resolved these on my own machine, but needs further testing and a commit as there are changes to core files.
Essentially what I think is happening is that all browsers have the errors, but IE isn't ignoring them and is stopping

[2017-10-05 10:24] sacrevert commented on #14
Thanks Andy. I guess you will leave this open for the moment then, and then close it when the new code is committed.

[2017-10-05 10:38] andrewvanbreda commented on #14
I think actually as a general rule, I would leave open until it is seen to be working on live. Ideally we would have a kind of "Coding Complete" status label I could set in Github. As I mentioned, I used to be a tester and that is the standard way of working, avoids things been forgotten. The closure point is the point that no further action needs to be taken, which is the point where it is seen t

[2017-10-05 10:43] sacrevert commented on #14
thanks Andy. @DavidRoy when you have a mo can you add a "coding complete" label to the set available for this project, the npms, and the npms-app?

[2017-10-05 12:12] DavidRoy commented on #14
That's done

[2017-10-05 14:42] andrewvanbreda commented on #14
OK thanks that is great. So I will use this once I haven't completed development on something and nothing further needs doing until someone closes the issue at the point that we are happy it is working on live.
This will make it far easier to know what work needs actioning.

[2017-10-06 09:01] andrewvanbreda commented on #14
Note to myself:
When testing on training site make sure I check the following things:
- Plots can be loaded into Draw Plot edit mode
- Clicking on an Irish Grid and then clicking on a British National Grid position straight after works (although this isn't critical as people probably don't do this in practice)
- Check original issue is fixed on IE

[2017-10-06 10:45] andrewvanbreda opened #19 "Update NPMS Training Site with code from development branch"
Need to update entire iForm and indicia_features modules I think. NPMS training site, then I will test before we start thinking about doing the same on the live site

Need to be prepared to rollback if things go wrong

[2017-10-06 10:53] andrewvanbreda commented on #10
Thanks @BirenRathod , I have removed that dodgy date.
I think the best way forward is to examine the behaviour again after we done a full iForm update, see the "issue" I have now created for getting the training site updated

[2017-10-12 13:00] mjopocock opened #20 "Remove Date auto entered for 2nd visit"
Would it be possible to remove the auto-fill function for the data field of the 2nd visit? I found that I missed the fact that I needed to change it when first entering data. (And obviously the 2nd visit has to be a different date to the 1st visit, so it shouldn't be updated.)

[2017-10-12 13:02] mjopocock opened #21 "Cannot log in with email address?"
I've been struggling to log in with my email address. It appears I may have had a separate username when registering and the log in screen requires my username. However, I can go through, send a password reset email and log in that way. However, nowhere on the user summary details does it give my username. It would be ideal to be able to log in with my email address as my username.
Thanks,

[2017-10-12 13:05] sacrevert commented on #20
@andrewvanbreda yes, the date shouldn't autofill for the second visit.

[2017-10-12 13:08] andrewvanbreda commented on #20
@sacrevert hi, at the moment I think it just copies all sample related fields. Am sure it would be possible to add in a special case for the date, and worst comes to worst we can copy it and then blank it before the user sees it. Will add to To Do list

[2017-10-12 13:08] sacrevert commented on #21
@andrewvanbreda is it possible to allow logging in with username OR email? Presumably it is as this is what iRecord has enabled. Can we enable this (so long as it doesn't interfere with other work you have previously done on the NPMS user database etc.)?

[2017-10-12 13:10] sacrevert commented on #21
@mjopocock in general, when you request a new password, the salutation at the beginning of the email is your username. I will update the PDF guidance to point this out to users (hopefully we can also enable email logins).

[2017-10-12 13:10] mjopocock commented on #21
Or at least allow the user to see their username once they log in via the password reset. (Surely it must be there?, but I couldn't locate it.)

[2017-10-12 13:12] sacrevert commented on #21
if you reset you see a screen that says "This is a one-time login for USERNAME and will expire on Fri, 13/10/2017 - 14:08." We should, however, have a dedicated page in the guidance explaining this.

[2017-10-12 13:12] mjopocock commented on #21
Sorry - messages crossed. Can usernames have spaces? My salutation did have spaces, but it was so obvious as a salutation that it didn't occur to me that it was my username!

[2017-10-12 13:14] sacrevert commented on #21
I think so, yes.

@andrewvanbreda @johnvanbreda perhaps the password reset email could be of the form [ Username: "XXXX" ]? Although I realise this is likely to be a core indicia addition.

[2017-10-12 13:15] sacrevert commented on #20
cheers, I suppose this is more than low priority, so will label as medium (may well be more important than a lot of stuff on the to do list!)

[2017-10-12 13:15] BirenRathod commented on #21
Yes, username can have a space.

[2017-10-12 13:17] BirenRathod commented on #21
Also, The username can be easily add to email message configuration in Drupal.

[2017-10-12 13:19] andrewvanbreda commented on #20
I don't think there is anything on the NPMS To Do list that isn't "parked" or coded and waiting for live release. So in some sense this would be the highest priority NPMS item at the moment.
Just looking at it now actually so we can get into next release. I think it should be easy to fix, as I already exclude the occurrences coming across, I just extend that to include the sample date

[2017-10-12 13:20] andrewvanbreda commented on #20
Actually when I say "only item", I have just seen there are a few new ones which I haven't looked at yet, so "only item" excluding any new ones

[2017-10-12 13:21] sacrevert commented on #20
Thanks Andy. This item probably is verging on 'urgent', as it is likely that some users would not notice that the date had been autofilled with the wrong info.

[2017-10-12 13:23] andrewvanbreda commented on #20
No prob, will get a fix coded today. Then hopefully Biren can do a release. Once done I will let him know that the release is more urgent than it once was.
I see there is another issue opened, I will look at that straight after this one and include it in the release if that is an appropriate action

[2017-10-12 14:00] johnvanbreda commented on #21
@BirenRathod are you going to do the configuration require here? i.e.
1) Enable log in via email address or username
2) Update the password reset email template.

[2017-10-12 14:05] BirenRathod commented on #21
@johnvanbreda & @andrewvanbreda, Yes, I will amend it.

[2017-10-12 14:11] andrewvanbreda commented on #20
@sacrevert
Have coded and tested on my own machine and have committed the code. I will check the other issue you raised today before giving Biren further instructions

[2017-10-12 14:17] andrewvanbreda commented on #21
@BirenRathod Let me know if you need me to do anything

[2017-10-12 14:23] andrewvanbreda commented on #19
@BirenRathod @sacrevert
Biren, I think we need to get this out more urgently now as Oli has identified an issue he needs fixed (the date on survey 2 is auto-filling from survey 1).
I haven't changed the issue label, as I am not sure it is quite "urgent". Oli, do we need another label called "High"? I think that would be useful (and what I am used to working with) as I think there are issues that w

[2017-10-12 14:36] sacrevert commented on #19
I think we can just leave it as medium. @DavidRoy could you add 'high' as a label when you have a chance (no rush though).

[2017-10-12 14:39] BirenRathod commented on #19
@andrewvanbreda and @sacrevert , I will let you know about the code update as soon as possible.

[2017-10-12 23:05] BirenRathod commented on #21
@andrewvanbreda & @johnvanbreda

I have enabled the module to log in via email or username.
Also, updated reset email template but require to change future date setting. @andrewvanbreda , can you have a look into this please?

[2017-10-13 08:08] BirenRathod commented on #19
@andrewvanbreda ,  I have just upgraded the NPMS_Training site with the latest code from master branch. Could you check if everything is there or not?

[2017-10-13 09:05] andrewvanbreda commented on #19
Hi @BirenRathod
It needs to be the development branch as that is where the changes are. I don't want to put them in Master until I am 100% happy they are all going to work (although they have been checked on my own machine)
So the plan is
1. You update the training site with the dev code (both iForm and indicia_features)
2. I configure and check it
3. If ok I will then put changes in Master
4. The

[2017-10-13 11:58] BirenRathod commented on #19
Hello @andrewvanbreda

I have upgraded both modules from develop branch. Please check it and let me know.

[2017-10-13 12:42] andrewvanbreda commented on #19
That is great, I will do that now. Thanks

[2017-10-13 12:52] andrewvanbreda commented on #20
AVB Note: Working on training site running Dev branch. Ready for live

[2017-10-13 13:31] andrewvanbreda commented on #19
Hi @BirenRathod
Am getting a bit confused with the site. I think what is happening is the node specific JS files in prebuilt_forms/js are missing. That might be because I neglected to tell you to put them there, that is fine
However I think the situation is more confusing than that as I think some of the JS files that should be there (and will be there on live) are duplicating code that is now hel

[2017-10-13 13:46] andrewvanbreda commented on #12
AVB Note: This appears to be working on the training site now running the dev branch.

@BirenRathod @sacrevert I am noticing another issue though. On the training site the Wildflower list is showing {common} next to all the names, do either of you know if this was an issue before the recent code update?

[2017-10-13 14:02] andrewvanbreda commented on #5
AVB note to myself: This is working on the training site running the dev branch.
Note that once this is seen to be working on live, we will need to fix the existing data in the database before closer. It might also be useful to check the database once in a while to double-check it is remaining correct

[2017-10-13 14:39] BirenRathod commented on #19
Hello @andrewvanbreda

Before I supply to that, I just copied back all files to js folder. Can you check if it is working or not?

[2017-10-13 14:47] andrewvanbreda commented on #7
@BirenRathod
To test this on the training site I need some results from the database, coud you run this please thanks. Am hoping they are all set private apart from the occurrence on 1054182....hopefully

select sample_id,privacy_precision from indicia.cache_occurrences where sample_id in (1054179,1054180,1054181,1054182);

[2017-10-13 14:52] BirenRathod commented on #7
Hello @andrewvanbreda

Attached are the results.

[NPMs_Private_Policy.zip](https://github.com/BiologicalRecordsCentre/NPMS/files/1382956/NPMs_Private_Policy.zip)

[2017-10-13 14:54] andrewvanbreda commented on #19
Hi @BirenRathod ,

Yes that is working now, however I still have the confusion with some of the code being duplicated between the node js file and the prebuilt form.

Actually don't worry about sending the files for now, I will look at the code and see what is happening. Need to remove the duplicate code from the node.js file, but the training site seems to be using that. Will need to work this ou

[2017-10-13 14:55] andrewvanbreda commented on #7
Brilliant thanks. That is working perfectly

[2017-10-13 14:56] BirenRathod commented on #19
Ok, No problem. I think we could leave it for Monday, if that's ok.

[2017-10-13 14:59] andrewvanbreda commented on #19
@BirenRathod Yes, that is fine, I won't that quick to work out what has happened to be honest

[2017-10-13 15:04] BirenRathod commented on #19
Good, Have a nice weekend, Talk to you next week.

[2017-10-16 09:54] andrewvanbreda commented on #21
@BirenRathod ok, got your message, will look today

[2017-10-16 09:59] andrewvanbreda commented on #12
@BirenRathod @sacrevert The common name issue seems to be a bug introduced by data_entry_helper changes for another project.
I have requested a fix by raising a GitHub issue against the data_entry_helper. I have identified the commit I think caused the issue, so hopefully that will help, however it is too complex a change for me to debug quickly myself.
I will also raise a separate issue in the NP

[2017-10-16 10:02] andrewvanbreda opened #22 "{common} appearing on Wildflower species grid"
Instead of a common name, the tag "common" is appearing throughout the species grid on the Wildflower form on the latest iForm code.

Believed to be caused by changes to the data_etnry_helper for another project. Once receive a fix that appears to work with NPMS, then set this to Coding Complete.
Will probably need to get the training site updated again.

Awaiting response

[2017-10-16 10:03] andrewvanbreda commented on #22
Related issue is this

https://github.com/Indicia-Team/client_helpers/issues/63

[2017-10-16 10:48] andrewvanbreda commented on #21
Hi,

A few things to note. The username is always visible for anyone to see on their My Account page.

In regards to the change password notification email. Currently it informs the user that the one time password will expire at the current time, which is clearly wrong I would hope, otherwise it will expire by the time the user reads it. I assume this is what Biren wants to change.
Do even need to

[2017-10-16 11:10] BirenRathod commented on #21
Hello @andrewvanbreda

Yes, I know because Drupal sends email by addressing their username. I implemented because of their expected requirements.

Also, simple email would be my prefer choice, so if we can't able to put future date than in my opinion we should drop that  but I can't decide, so I'm leaving with you and others to decide.

[2017-10-16 11:13] sacrevert commented on #21
This is the change I am suggesting to deal with Michael's issue (addition in bold). The issue was the user not realising that the salutation is in fact their username:

"**Username:** [user:name],
A request to reset the password for your account has been made at [site:name].
You may now log in to [site:url-brief] by clicking on this link or copying and pasting it in your browser:
[user:one-time-lo

[2017-10-16 11:16] mjopocock commented on #21
That looks clear to me.

It is unusual to have a username with a space. My confusion about this is because mine does have a space (don't ask me why I chose that!), but I presumed that I must have entered my name so the email was addressed to "[firstname] [surname]".
Can you change that option in drupal or the instructions?

[2017-10-16 11:17] BirenRathod commented on #21
@sacrevert, @andrewvanbreda , @mjopocock

That has implemented now.

[2017-10-16 11:22] sacrevert commented on #21
thanks. I think that change in the user email/password reset is sufficient. I don't think we should forbid spaces in usernames. Presumably that would be a wider indicia issue anyway. @andrewvanbreda can you close this if you are happy everything has been done? It is not clear to me now what is required around the expiry dates. Can you create a new issue if required, just to stop this one getting c

[2017-10-16 13:59] andrewvanbreda commented on #21
@sacrevert I don't think there is an issue with the date as we aren't putting them into the email.
I also don't think we should forbid usernames with spaces, as people would just ask why is every website OK apart from ours? I don't think there should be a problem with this anyway now, and we have only had one failure case out of several thousand users.

I do still have one point of concern with th

[2017-10-16 14:03] sacrevert commented on #21
@BirenRathod Can you make the edit to the email suggested by Andy and then close the issue? Thanks!

[2017-10-16 14:46] BirenRathod commented on #21
@sacrevert , @andrewvanbreda

Done.

[2017-10-16 14:58] sacrevert commented on #21
Thanks.

[2017-10-16 15:01] #21 closed

[2017-10-16 20:24] andrewvanbreda commented on #22
The way data_entry_helper has changed so need to alter the NPMS sample occurrence form.

@BirenRathod
Are you able to copy across the npms_sample_occurrence.php prebuilt form from the develop branch onto the NPMS training site as that is the only file that I have updated to fix this.

[2017-10-17 09:25] BirenRathod commented on #22
Hello @andrewvanbreda
I copied that file to NPMS_training site.

[2017-10-17 10:11] andrewvanbreda commented on #19
@BirenRathod I worked out what has happened. The training site was running an old version of the Draw Plot screen. I have fixed this so I am now able to delete the node.6.js file, as it isn't used.
You can find the required .js files in GitHub in the NPMS/npms.live.js folder
For the training site, these same js files can be copied across, but you need to rename node.26.js as node.71.js. I have put

[2017-10-17 10:17] andrewvanbreda commented on #22
@BirenRathod Brilliant, it works. Closing now

[2017-10-17 10:26] andrewvanbreda commented on #22
Sorry, actually this isn't working, was looking at the wrong site, it might be slow to come through the fix, so am re-opening for now

[2017-10-17 10:51] andrewvanbreda commented on #14
@sacrevert I have checked this. The errors I intended to remove have gone, unfortunately though IE (in my case v11) is behaving the same way it was. So it wasn't the errors causing the issue.
I will need to look into this but I don't think we should hold up release as I do not know who easy it will be to fix anymore.

P.S I also noticed another very minor issue that I will raise separately which I

[2017-10-17 11:17] sacrevert commented on #14
OK, fine. Thanks.

[2017-10-17 12:03] andrewvanbreda opened #23 "Clicking on mainland Britain after Northern Ireland causes JS error during plot draw"
If you click on Northern Ireland in the latest code (not live at time of writing) then click on mainland Britain afterwards a JS error occurs.
I am not sure, this might only happen if during the Ireland click, an automatic conversion to Irish grid reference is done.
It shouldn't be too much of an issue anyway, as when the screen opens the square is zoomed in on, so they shouldn't really be clickin

[2017-10-17 12:03] andrewvanbreda commented on #23
Won't fix unless we hear from users that this is an issue.

Noting also that this only affects NPMS Draw Plot, normal dynamic_location is not affected.

[2017-10-17 13:44] andrewvanbreda commented on #22
Hi @BirenRathod
I worked out what the issue is, the merge into develop didn't work, so the file you copied didn't have the change. I have re-merged and double-checked it is there. Could you copy the same npms_sample_occurrence.php from the develop branch in the same way as you did before. Cheers.
Once you have done that I think we can start to think about going live with changes. I will email you

[2017-10-18 08:31] BirenRathod commented on #22
@andrewvanbreda

I have been looking since yesterday about your changes in GitHub in and I cound't find one. Could you tell me, where did you commit?

[2017-10-18 08:38] andrewvanbreda commented on #22
@BirenRathod Using source tree, I committed npms_sample_occurrence.php into feature-npms-2017 and then merged into develop.
I can see the change here if you look in the develop branch and search for default_common_name in the code the change is there

https://github.com/Indicia-Team/client_helpers/blob/develop/prebuilt_forms/npms_sample_occurrence.php

If you look on the history you can see the co

[2017-10-18 08:43] BirenRathod commented on #22
@andrewvanbreda
Yes, I can see that but it didn't show as new changes, so I can't pull the code. Probably you could just add comment and re-commit there which might possible me to allow to pull the code.

[2017-10-18 08:44] andrewvanbreda commented on #22
@BirenRathod OK, how strange. Certainly something seems to have gone wrong with this. I will let you know how I get on

[2017-10-18 08:51] andrewvanbreda commented on #22
@BirenRathod I will have to take a look at this a bit later, there seems to be something very wrong here. My sourcetree is showing the old code even after a pull even though it was committed through Sourcetree and shows on Github.com. Will look this afternoon.

[2017-10-18 10:03] BirenRathod commented on #19
@andrewvanbreda

I have renamed the node.26.js to node.71.js. Also, you have mentioned about GitHub NPMS/npms.live.js file. where can I find in GItHub? Is it in clienthelper or somewhere else?

[2017-10-18 11:54] BirenRathod commented on #22
@andrewvanbreda
I have updated now.

[2017-10-18 12:16] andrewvanbreda commented on #19
@BirenRathod Sorry, there is a typo in my message.
In Github support_files there is another folder called NPMS. Inside here this is another folder called "npms_live_js"
This contains all the JS files we need for the latest code version of NPMS.
These will work on the training site as well apart from one of the files needs to be renamed as you have done.
Don't need to touch live until we do the rel

[2017-10-18 12:22] andrewvanbreda commented on #22
Brilliant thanks. Really is working this time!

[2017-10-18 12:22] #22 closed

[2017-10-18 12:25] BirenRathod commented on #19
Yes, I was missing that folder.
Ok, thanks.

[2017-10-18 13:16] #19 closed

[2017-10-20 07:03] andrewvanbreda commented on #2
@sacrevert
Hi Oli, Could you confirm the issues in this list to be worked on and I will create separate issues for them and remove them from the parked list.
Or if you prefer you can create the issues for them.
Also could you indicate the priority.
I assume that the items to be worked on are
-Add date filter to reports highest priority
-Change drop-down parameters to be checkbox list

Is there any

[2017-10-30 21:46] andrewvanbreda opened #24 "Drop-down parameters not populating on report pages"
The drop-down parameters are not populating on the live site report pages. Investigate.

Was working at some point, and has become broken, so I am wondering if that has happened when the site was migrated back and forth from Axis 12....maybe

[2017-10-30 23:05] andrewvanbreda commented on #24
AVB note myself: The problem is the drop-downs are populated by other reports and these reports can't take parameters so had hard-coded survey names in.
Easy to fix, although it would be good to think of a fix which would mean the issue doesn't occur again.
Will let you know once fix is done.

[2017-10-31 21:45] andrewvanbreda commented on #24
@BirenRathod
Hi Biren,
Hope all is good with you.
I have just hot fixed some reports specific to NPMS in the master branch. Are you able to get these onto the live warehouse in whatever way you think is best.
The 3 reports are in reports_for_prebuilt_forms/splash and are as follows:
get_surveys_for_population_call.xml
fine_habitats_for_population_call.xml
broad_habitats_for_population_call.xml

Ha

[2017-11-01 12:19] BirenRathod commented on #24
@andrewvanbreda
All these three reports have been updated now.

[2017-11-01 13:07] andrewvanbreda commented on #24
@BirenRathod @sacrevert
Thanks that is great Biren, I have checked and the reports are now working perfectly.

[2017-11-01 13:07] #24 closed

[2017-11-08 15:24] sacrevert opened #25 ""Assign users to squares" square filter broken"
The square filter is broken [here](http://www.npms.org.uk/content/add-users-squares)

Thanks!

[2017-11-08 21:29] andrewvanbreda commented on #25
Yes seems to be broken. I thought we had this problem ages ago and it was fixed, obviously my imagination. Will look into it

[2017-11-10 15:29] andrewvanbreda commented on #25
Report was a bit broken from a combination of it originally being written with a map in mind (but I think this went unusued) and also a bit more complicated than it needed to be because it took the Splash site into account too.
@BirenRathod , I have hotfixed this.
This should work once the following report is updated from master
reports_for_prebuilt_forms/Splash/squares_for_square_and_user_admin.x

[2017-11-10 15:40] BirenRathod commented on #25
@andrewvanbreda
That report has been updated from the repository.

[2017-11-10 16:44] andrewvanbreda commented on #25
@sacrevert @sacrevert Brilliant thanks Biren, am closing this now as it looks to be working when I checked it, the column filter is fixed

[2017-11-10 16:44] #25 closed

[2017-11-11 11:09] andrewvanbreda opened #26 "NPMS user square allocation corrupted after link to non-existent warehouse user"
Issue reported by Hayley (written in my own words):

NPMS user ID 2078 lauram has a corrupted square allocation
- Not come through for approval
- "Link users to square" showing an allocation but as a blank row
- "Link squares to user" not showing the allocation at all
- Attempt to add plot warns user the allocation has not been made.

I am not surprised NPMS is behaving it this crazy way as the us

[2017-11-13 15:01] BirenRathod commented on #26
Hello @andrewvanbreda

The user 343 is exist but with deleted status is true. Also, this user has got another account and id is 528 (just info).

Also, I'm not sure at present about those users added without id. why do they ended up there but please ask @Johnvanbreda to remove those users.

[2017-11-13 15:34] andrewvanbreda commented on #26
The email address on 528 is different to the NPMS account email. Ok, I will try a test of create a warehouse user, deleting it, and then signing up to NPMS.
Something seems very wrong here.
Although I wouldn't imagine it would be NPMS specific.

[2017-11-13 15:46] andrewvanbreda commented on #26
I think the users with no ID are just people with no user account, so I think those are probably OK.

[2017-11-13 16:04] andrewvanbreda commented on #26
@BirenRathod OK NPMS seems to behave correctly, it isn't signing up users to deleted accounts, it is creating a new warehouse account.
Given that this problem has been only ever reported once, let us assume something really obscure happened that caused this one user to have a problem.
We need to try and correct the  NPMS user lauram.
Do you have access to the NPMS website drupal database?, if you

[2017-11-13 16:09] johnvanbreda commented on #26
If you edit Laura's Drupal profile, remove the Indicia user ID and resave it, then it should relink to the correct ID.

[2017-11-13 16:24] andrewvanbreda commented on #26
@johnvanbreda OK thanks, I actually simply didn't realise the ID was an editable field in the interface, I thought it was read only. That work anyway thanks

[2017-11-13 16:33] andrewvanbreda commented on #26
@BirenRathod We still need to remove the corrupt square allocation, but the user interface is messed up by the corruption so I can't do it from the website.
Could you run this sql first so we can make sure we are going to delete the right thing, thanks

select *
from indicia.person_attribute_values
where int_value=38204 and person_attribute_id=2

[2017-11-13 18:26] BirenRathod commented on #26
@andrewvanbreda
Here is the result.
[NPMs_Lauram.zip](https://github.com/BiologicalRecordsCentre/NPMS/files/1468007/NPMs_Lauram.zip)

[2017-11-13 18:39] BirenRathod commented on #26
@andrewvanbreda , Also user id 528 has linked with "Plantlife Wildflower Count" website. They both could belongs to one person but not sure to link to the same id.

[2017-11-13 19:46] andrewvanbreda commented on #26
Hi @BirenRathod ,

Yes that looks safe to delete, that is the attribute value holding their square, could you run this then when you get a chance thanks

update indicia.person_attribute_values
set deleted=true
where id=23751 and int_value=38204 and person_attribute_id=2

[2017-11-14 09:06] BirenRathod commented on #26
@andrewvanbreda
The record has been updated.

[2017-11-14 10:43] andrewvanbreda commented on #26
@BirenRathod That is brilliant thanks Biren, looks to have worked.

There is an issue separate to this, as we re-linked the user to the warehouse, they have lost their other squares. So I will speak to Hayley about this, shouldn't be a problem providing we know what their squares were.

[2017-11-14 10:49] BirenRathod commented on #26
@andrewvanbreda
Yep. Also, have you managed to update her profile with new ID? if not please do so, as John suggested, just in case if you forgot to do so.

[2017-11-14 10:52] andrewvanbreda commented on #26
@BirenRathod Yes thanks, that was all fine. The new square allocation wouldn't have worked if I hadn't done that, I hadn't realised the ID field wasn't read only. We will need to check actually if they will signed up for any events, as they would need re-signing up for them. I will send you the SQL for that in a bit.

[2017-11-14 10:55] andrewvanbreda commented on #26
Actually I will get Hayley to ask the user about their events, more reliable than checking database and making mistake. I will close issue when I have heard that Hayley is happy with the solution

[2017-11-14 10:56] BirenRathod commented on #26
@andrewvanbreda
Sure, no problem.

[2017-11-14 11:40] andrewvanbreda commented on #26
Hi @BirenRathod ,

I have contacted hayley and it seems the user had some squares before, the links are now corrupt because we have re-linked the user to the warehouse.
What we did before is correct, we just need to do some more that is all.
Will need to do some additional database alterations again sorry. Thanks

Can you try the following two statements to check the db before updates

select *
fr

[2017-11-14 12:19] BirenRathod commented on #26
@andrewvanbreda
Attached are the results.
[NPMS_Laura_Issues.zip](https://github.com/BiologicalRecordsCentre/NPMS/files/1470720/NPMS_Laura_Issues.zip)

[2017-11-14 13:11] andrewvanbreda commented on #26
Hi @BirenRathod ,
That is great, most of it is in a deleted state already, so if you run this, this should fix things, should affect just the one row

update indicia.person_attribute_values
set deleted=true
where id=9819 and int_value=38450 and person_attribute_id=2

[2017-11-14 13:14] BirenRathod commented on #26
@andrewvanbreda
Done.

[2017-11-14 16:41] andrewvanbreda commented on #26
@BirenRathod Thanks Biren that worked.
Hayley has confirmed I can close this issue now.

Note that after testing, there appears to be no explanation for the actual cause of the problem. Assuming a one-off unless I hear otherwise.

[2017-11-14 16:41] #26 closed

[2017-11-14 16:45] BirenRathod commented on #26
No problem, Thanks.

[2017-11-21 17:24] sacrevert opened #27 "Species autocomplete needs updating?"
It seems to me that the species auto-completion on the NPMS website is now not as good as the iRecord website and app.

The NPMS website doesn't respond to genus and species abbreviations (e.g. Pla lan for Plantago lanceolata), whereas iRecord does.

[2017-11-22 09:22] andrewvanbreda commented on #27
I will re-examine this once the NPMS site is updated, it might (probably) just be an Indicia code function that is included in the latest code. A quick look at the iRecord page configuration doesn't suggest it is an option that can be switched on.

[2017-11-28 13:41] andrewvanbreda opened #28 "Update NPMS site from Master branch"
Hi @BirenRathod

Whenever you are free to, could you update the NPMS iForm/indicia_features from the master branch as John has now done a release.
Try a full iform update and indicia_features.

The site will need reconfiguring once this is done, so you will probably want to put the site into maintenance mode and then let me know.

Thanks

[2017-11-29 13:50] andrewvanbreda opened #29 "Update address sync tool to include data access policy selection"
Update address sync tool to include data access policy selection

[2017-11-29 15:27] andrewvanbreda commented on #29
Awaiting email response about urgency from Oli before committing.

Note to AVB: To get this to work, don't forget to create a person_attribute on the warehouse, but must be type text even though it is a boolean on drupal

AVB Response:
Attribute already exists (13). Added required configuration to sync page. Now just need the code on the site.

[2017-11-29 16:20] andrewvanbreda commented on #29
Confirmed: Proceed with trying to get this out with the latest batch of fixes possibly using a hotfix because an indicia release has already been made.

[2017-11-30 13:20] andrewvanbreda commented on #29
Submitted this to JVB to release after checking.

[2017-11-30 13:46] andrewvanbreda commented on #29
Note to AVB: Also include checkbox on report page

AVB Response: This is all committed and ready to go live

[2017-11-30 16:52] andrewvanbreda commented on #28
@BirenRathod Look like John has done the merge of the new code. So this is now ready to go.
However slight chance of plan, can you update the NPMS training site, then we will configure that. Then do the live site once working.
The reason for this is John wants to me try a test run of the NPMS sync tool changes on a non live warehouse first

I will be sending an email in a sec to Oli and David, I w

[2017-12-06 22:18] BirenRathod commented on #28
Hello @andrewvanbreda

I have upgraded both these modules on npms_training site. Also, I have upgraded the test warehouse too.

[2017-12-07 11:31] andrewvanbreda commented on #28
@BirenRathod
Hi that is great thanks. I will get onto configuring it first thing this afternoon

[2017-12-07 13:52] andrewvanbreda commented on #5
AVB Note: Working on training site.
Minor bug, the option that allows you to override the locked message text doesn't seem to be working, however this should not block release and can be raised separately

[2017-12-07 14:06] andrewvanbreda commented on #20
AVB: Working on training site, however I have noticed that the occurrences are auto-filling from the first visit, I don' THINK this is supposed to happen if I remember correctly. Need to check

AVB Response: Behaviour is correct and consistent with live, it is the abundances that get cleared.
Working on training site and now ready for live

[2017-12-07 14:12] andrewvanbreda commented on #27
@sacrevert NPMS training site is now running latest Indicia code and this one seems to be fixed because of it

[2017-12-07 15:16] andrewvanbreda commented on #29
AVB: Not currently working on training site when it should be working.
Looks like the latest code isn't there, at least not for the splash_extensions.php file, although other things do seem to be working, so it is a bit confusing. Pretty sure splash_extensions.php isn't up to date with the master branch
@BirenRathod Any ideas?

[2017-12-07 15:19] BirenRathod commented on #29
@andrewvanbreda

I got code from drupal7_client_helpers repository, if it hasn't committed there than there must be something missing here.

[2017-12-07 15:20] BirenRathod commented on #29
Sorry it is drupal7_iform repository.

[2017-12-07 15:40] andrewvanbreda commented on #13
Not working on NPMS training site with latest code.
Issue occurs sometimes, I think if you change to an email address already in the warehouse, but not already registered with NPMS.

Not should not hold up release as only occurs in certain circumstances, also issue only reported once.

[2017-12-07 15:55] andrewvanbreda commented on #12
Training site now running latest Indicia code, no longer seeing the common name, or verified icon issues.

Ready for live.

[2017-12-07 16:07] andrewvanbreda commented on #7
@BirenRathod Quick double check, can you run the following on the test warehouse, just so we can double check this still working on the training site after latest update cheers.

select sample_id,privacy_precision from indicia.cache_occurrences where sample_id = 1067627

[2017-12-07 16:50] andrewvanbreda opened #30 "Change Users drop-down in square admin area to use autocomplete"
@sacrevert
The admin area for adding squares to users is almost unusable because the numbers of users in the drop-down is so long....maybe in the long term better to use an autocomplete.

Won't fix unless I hear otherwise. I haven't heard any complaints, just something I noticed.

[2017-12-07 17:00] sacrevert commented on #30
@andrewvanbreda almost unusable doesn't sound great! Can you add the autocomplete function as an issue (or change the title of this one). Given that we are getting a new coordinator, it would be good to do this in new year at some point (medium importance?)

[2017-12-07 17:09] andrewvanbreda commented on #30
@sacrevert It seems yes to me it is almost unusable as the list of users is so long.
Actually there is a slight (but important) mistake in my original post.
The problem is with the add users to square page....the list of users is too long, and doesn't seem to be ordered. So it is hard to select who you want....very hard.
On the plus side, the alternative is adding squares to user. This works fine

[2017-12-07 18:39] BirenRathod commented on #7
Hello @andrewvanbreda

Here is the result.
[data-1512671722317_SampleId_1067627.zip](https://github.com/BiologicalRecordsCentre/NPMS/files/1540209/data-1512671722317_SampleId_1067627.zip)

[2017-12-07 18:43] BirenRathod commented on #29
Hello @andrewvanbreda

Here is the splash_extension.php, file deployed from drupal7_iform repository.

[splash_extensions.zip](https://github.com/BiologicalRecordsCentre/NPMS/files/1540218/splash_extensions.zip)

[2017-12-07 19:20] andrewvanbreda commented on #7
That is great thanks. So this one is ready to go. Will look at that data access issue now and see what is wrong there

[2017-12-07 19:34] andrewvanbreda commented on #29
Hi @BirenRathod ,

That file seems to be missing the changes for some reason,
But they can be seen here
https://github.com/Indicia-Team/client_helpers/blob/master/prebuilt_forms/extensions/splash_extensions.php

Look at the simple_user_address_upload function, lots of references to the new Data Access Policy code.
Any ideas?

[2017-12-08 09:14] BirenRathod commented on #29
Hello @andrewvanbreda

I checked the commit, you have committed into develop branch but not merge into master branch. If you could do that would be good to go.

[2017-12-08 11:02] andrewvanbreda commented on #29
@BirenRathod I don't understand, pretty sure I did and the change is clearly there in the link above which shows the master code

[2017-12-08 11:09] BirenRathod commented on #29
@andrewvanbreda

Well, than it is not included in drupal7_iform release.

[2017-12-08 11:55] andrewvanbreda commented on #29
@BirenRathod Ahhhh big lightbulb moment. It won't be in the release that you are looking at, as it was an urgent late request that I had to hotfix.
Is it possible to just grab the file from the GitHub master branch and put into onto the training site. That will be the only file you will need to do this for.

[2017-12-08 13:22] BirenRathod commented on #29
@andrewvanbreda
If that file has got all the code what you are after than yes I can do that. I let you know soon once it has done.

[2017-12-08 13:55] andrewvanbreda commented on #29
@BirenRathod Yes it has, it is master branch and that is the only change to that file since the release.
If it goes wrong it isn't an issue as we are doing this to the training site to test it anyway.

[2017-12-14 16:58] andrewvanbreda commented on #29
Jim has moved the file across. Tested on training site and working and now ready for live.

[2017-12-18 12:19] andrewvanbreda commented on #20
Working on live

[2017-12-18 12:19] #20 closed

[2017-12-18 12:41] andrewvanbreda commented on #5
Working on live

[2017-12-18 12:44] andrewvanbreda commented on #27
Working on live, the Pla lan for Plantago lanceolata example is working fine.

[2017-12-18 12:44] #27 closed

[2017-12-18 13:00] andrewvanbreda commented on #5
(Note about locking message: The override message I think is the locking message for date based locking hence confusion. Will check separately but I think this is probably working)

[2017-12-18 13:00] #5 closed

[2017-12-18 13:15] andrewvanbreda commented on #29
Working on live, however the address syncing tool will need running for all users before this issue can be closed

[2017-12-18 15:22] andrewvanbreda commented on #28
Both training and live site have been updated and tested

[2017-12-18 15:22] #28 closed

[2017-12-18 15:30] andrewvanbreda commented on #7
Working on live

[2017-12-18 15:30] #7 closed

[2017-12-18 15:37] andrewvanbreda commented on #12
Both common name and verified icon issues are fixed on live

[2017-12-18 15:37] #12 closed

[2017-12-19 09:48] andrewvanbreda opened #31 "User account link visible when viewing data access policy during registration"
When registering, the Return To User Account Page link is visible when viewing the Data Access Policy. See if we can hide this as it only works once logged in, the user gets an unauthorised message.
The reason is the Create User Account page is actually the same one as the My Account page when logged in. I didn't think of this potential issue (there is also the publicly viewable one that is in the

[2017-12-19 10:15] andrewvanbreda opened #32 "Areas that could benefit from speed improvements"
The following areas might benefit from speed improvements

1. Address sync job. This is ok if doing just 50 users at a time, but if we need to sync all users it is far too slow. This job is known not to be efficient speed-wise as it was written quickly and the only priority at the time was for it to work 100% correctly, speed was secondary at the time.

2. When registering I noticed it can be slow

[2017-12-21 14:15] andrewvanbreda commented on #10
Indicia iForm has now been updated on live

@JimBacon When you can a chance could you have a go at running this SQL on live (previously run by Biren), I will then be able to correct any existing data and we can see (over time)  if the issue is fixed by the code update.
Thanks

select o.id as occurrence_id,s.id as sample_id from indicia.occurrences o join
indicia.samples s on s.id = o.sample_id and

[2017-12-21 16:40] JimBacon commented on #10
I ran your query and it returned 6 records. It is true that these records have no abundance but they are valid and exist because they have attached photos.
Modifying your query as below provides evidence of this.
[code]
It returns the following results.
[code]
If you masquerade as user http://www.npms.org.uk/user/1988/ and then go to http://www.npms.org.uk/wildflower-recording-form-2015?sample_id=

[2017-12-21 17:06] andrewvanbreda commented on #10
@JimBacon OK thanks. I will ask Oli if we can get the user to fill in the abundances
The page is setup with a hasData rule for creating the occurrence. So I think perhaps going forward we need to warn users to fill in the abundance if there is a photo.

There was a problem previously to this which was a proper issue. I was hoping as the Indicia code got newer on the site  that situation would impr

[2017-12-21 17:09] andrewvanbreda commented on #10
Noting also that although the records are valid technically from Indicia's point of view, they are not valid in the situation of what we want NPMS to be doing. So it is correct that we have identified these results as failures in the test.
Anyway @JimBacon thanks for your help and pointing at the photo situation straight away without me needing to investigate further

[2017-12-21 17:11] sacrevert commented on #10
@JimBacon @andrewvanbreda Would one of you be able to send me a list (off github) of the users that this has affected? I will need to ask Felicity at Plantlife to email the users now that Hayley has left.

[2017-12-21 17:13] andrewvanbreda commented on #10
@sacrevert @JimBacon
Yes I will prepare the information you need to tell the users and email it to you, either this evening if I can or early morning

[2017-12-21 17:15] sacrevert commented on #10
Thanks @andrewvanbreda no rush though.

Certainly a warning or some code that stops samples being saved if there are images uploaded would be desirable. Given that users choose to add species to their list at Indicator and Inventory level, a general warning that appears/stops users saving if they have added species to their list without providing abundances might be useful (telling them that they

[2017-12-21 17:19] andrewvanbreda commented on #10
@sacrevert Yes, I have put it on the To Do list, so will investigate and create an appropriate Github issue, then you can decide if you want it coded.

[2017-12-21 17:22] andrewvanbreda commented on #10
OK, I am going to raise new issues relating to this.
I will set this particular issue to coding complete and will leave it until the spring and retest the database again to make sure the old issue is definitely fixed.
As the original major issue looks to be fixed by newer Indicia code running on the site, but I am not certain yet as we haven't had the data coming in

[2017-12-21 17:34] JimBacon commented on #10
A couple of thoughts.
1. When I was masquerading as the user described above, the form was locked so it would not be possible for them to add an abundance.
2. For Indicator and Inventory level, if the recorder is adding species, then the abundance field can be made mandatory in the warehouse configuration.
3. For the Wildflower level, where you start with a checklist of all species, you cannot mak

[2017-12-21 18:56] andrewvanbreda commented on #10
@JimBacon
1. Yes you are correct, I will need to take this into account when advising Oli, it maybe we have to temporarily assign them to the plot again.
2. Yes this is true.
3. I think point 2 wasn't done because of the "fiddly-ness" of point 3 at the  time the site was going live, and we were pushed for time. We didn't want Abundance to only be mandatory on some of the forms.
But yes, javascript

[2017-12-22 09:38] JimBacon commented on #10
Regarding the 3rd point, to be bomb proof, a validation check on submission is also needed to ensure that there is no record sent without an abundance value.

[2017-12-22 09:40] sacrevert commented on #10
@andrewvanbreda @JimBacon
1. Will it be easier just to get Plantlife to ask the volunteer to put the abundances in an email and for one of us to update them?
2. Sounds good. Can we enable that?
3. Wouldn't the validation check on submission be sufficient? I'm not overly keen on making photo upload dependent on the abundance, it is just something else that might confuse the user.

[2017-12-22 13:51] andrewvanbreda commented on #10
1. Yes, I will look at the situation and suggest the best thing to do.
2. Again, we take a look and let you know the best option.
3. It may be that we just dis-allow photo upload without abundance on the Wildflower form only. Again,  I need to have a look at what record states we were consider invalid on the forms.
I will add information to this thread once I have looked, unfortunately my mind is

[2017-12-22 15:52] andrewvanbreda opened #33 "Squares Near Me/Request a Square screens selecting several squares at once when zoomed out"
The Request a Square/Squares Near Me pages allow the user to highlight several squares by dragging the mouse.
This should not be possible as user should only be requesting (or requesting info for) 1 square at a time.
A minor issue, although it would be nice to get right as this page is the first page any user would use actively.
Let me know if you want me to work on this at all

[2017-12-23 22:22] andrewvanbreda commented on #10
Hi,

I have taken a look at the forms now.
My recommendation with be.

1. On Wildflower, I actually like Jim’s suggestion of using javascript to not show the Add Image control unless abundance is filled in.
However if Oil thinks that will be confusing, we can just warn the user at submit time.
As for making it bomb proof. I think the answer to this is this :
I will make it as good as I can whilst

[2017-12-26 16:32] andrewvanbreda opened #34 "My Squares map not displaying popup information"
The Openlayers module is not installed on NPMS live (probably since it was upgraded recently).
This will need switching on as I noticed the My Squares page complains that Openlayers.popup is not defined when trying to click for square information on the map.
Seems to be on the training site ok.

Not sure who will be back at work first, so will assign it to both of you for now

[2017-12-31 12:02] andrewvanbreda opened #35 "Sync job created extra Data Access Policy attributes during live run"
When I ran the Address Sync job on NPMS live, lots of extra duplicate person_attribute_values were created for when users had selected the Data Access Policy checkbox (noticed by Jim, typically 3 per person)
This was not picked up during testing on either my machine or the training site tests.
Further tests on my machine and the training site have not caused the issue either.
In fact, a re-run for

[2018-01-02 16:34] andrewvanbreda commented on #35
AVB note to myself: This issue does NOT seem to affect the result returned on the NPMS User Information Download page, even though there are duplicates in the database, which is good.

[2018-01-07 11:02] andrewvanbreda commented on #29
Has been run. Issue with timeouts during run has been noted and raised separately. Closing this now.

[2018-01-07 11:02] #29 closed

[2018-01-07 12:06] andrewvanbreda commented on #10
Information required to fix the abundances sent to @sacrevert via email (user details, record details, state of the records such as whether they are locked so would require the user to send us the info)

[2018-01-10 11:45] andrewvanbreda commented on #30
New option to use autocomplete on user drop-down committed to develop branch.

[2018-01-11 16:08] andrewvanbreda commented on #31
@sacrevert
I have changed the way the NPMS site works a bit.
On the user account page, if you click to read the Data Access Policy, it is now opened in a new window, and the links are changed on that page to say
"Click here to close the window and return to the registration form or your account page.".
The old "Return To User Account " links are removed to fix the problem listed here (where users

[2018-01-15 13:05] andrewvanbreda commented on #31
@BirenRathod Hi Biren, when you get a chance could you unzip the following file and put it in prebuilt_forms/js on the NPMS training site. I just want to see if hiding the menu when viewing the data access policy on a popup works better. Thanks
[node.72.js.zip](https://github.com/BiologicalRecordsCentre/NPMS/files/1631702/node.72.js.zip)

[2018-01-15 13:18] BirenRathod commented on #31
@andrewvanbreda

I copied onto the npms_training site.

[2018-01-15 13:18] andrewvanbreda commented on #31
@BirenRathod ok great thanks :)

[2018-01-16 17:16] sacrevert commented on #10
Forwarded to Celeste at PL. OLP will leave this open until all of the issues are resolved.

[2018-01-16 17:22] sacrevert commented on #34
@BirenRathod just re-flagging this in case it has got lost in the system.

[2018-01-16 17:25] sacrevert commented on #10
I'm happy to go with the Javascript option. It does need to be bomb proof, because the abundances are essential information. Occurrences with photos but no abundances are of no use to the scheme.

Great, can we do this?

[2018-01-16 17:27] sacrevert commented on #33
I think it would be good to fix this. I expect a lot of people do this accidentally when in the wrong mode (i.e. map moving mode v square information mode). So it would probably make some peoples' lives easier by fixing it.

[2018-01-18 11:34] andrewvanbreda commented on #35
Downgrading priority as although the problem still exists, it isn't having much impact. The issues with the database appear to be largely redundant as managed to get Oli his stats by taking this into account in the SQL

[2018-01-18 11:44] andrewvanbreda commented on #10
@sacrevert Javascript fix coded (not deployed to live yet).
Looking at the number of people who didn't enter abundances (there weren't many), it is very unlikely that they wouldn't enter an abundance AND the javascript message would fail. I think putting things to bomb proof it into the submission code would be overkill.
Also, the new code should also work on the Indicate/Inventory screens also, a

[2018-01-18 16:02] andrewvanbreda commented on #33
AVB note to myself : This problem can almost be fixed by using @allowBox=false option on the map control, and then add selectFeature control to map controls. The select balloon is showing twice though, need to investigate further

[2018-01-23 15:03] andrewvanbreda opened #36 "Data access policy agreement warning needs logout"
The data access policy agreement warning needs a logout link on it as the menu is hidden which has the current link on it.

[2018-01-24 14:21] andrewvanbreda commented on #14
My main development environment is a Mac, so this is hard to fix. However I do have access to windows, so my idea is if I can put some information messages into the code and display them directly to screen on the training site and then use Windows to view the site, I might be able to see what is going on.
@BirenRathod are you able to replace the current jQuery.indiciamappanel.js file on the NPMS t

[2018-01-24 14:35] BirenRathod commented on #14
@andrewvanbreda
I copied this into media/js folder.

[2018-01-24 14:36] andrewvanbreda commented on #14
@BirenRathod That is great I will take a look now, thanks

[2018-01-24 14:52] andrewvanbreda commented on #14
@BirenRathod
That is great. Get you replace the file again but with this version, I am hoping I have a fix
[jquery.indiciaMapPanel.js keyup fix.zip](https://github.com/BiologicalRecordsCentre/NPMS/files/1660236/jquery.indiciaMapPanel.js.keyup.fix.zip)

[2018-01-24 14:56] BirenRathod commented on #14
@andrewvanbreda
I copied that too.

[2018-01-24 14:59] andrewvanbreda commented on #14
@BirenRathod Thanks fingers crossed!

[2018-01-24 15:11] andrewvanbreda commented on #14
@BirenRathod Yes, brilliant thanks. That has fixed the bug

[2018-01-24 15:47] andrewvanbreda commented on #14
Internet Explorer wasn't reacting to .change event, changed to .keyup

[2018-01-24 20:51] andrewvanbreda commented on #36
Simple link added to message. Also changed training site so message never displays as the Data Access Policy links don't work anyway on that site

[2018-01-24 20:51] #36 closed

[2018-01-25 10:18] andrewvanbreda commented on #14
@sacrevert @BirenRathod
Unfortunately have had to undo this fix from yesterday for now as I realised there is a problem, the user will get spatial reference not recognised messages as they type, rather than only after.
The original problem is a bug in IE and not actually just limited to NPMS, although its effects might only be seen in NPMS.
Working on alternative (or improved version of yesterday'

[2018-01-25 13:49] andrewvanbreda commented on #14
@BirenRathod
Hi Biren, I think I have another fix for this, could you put the following onto the training site same way as before, cheers

[jquery.indiciaMapPanel.js blur fix.zip](https://github.com/BiologicalRecordsCentre/NPMS/files/1664191/jquery.indiciaMapPanel.js.blur.fix.zip)

[2018-01-25 14:29] BirenRathod commented on #14
@andrewvanbreda
I have copied.

[2018-01-25 14:33] andrewvanbreda commented on #14
@BirenRathod Thanks will take a look in IE and let you know how it goes

[2018-01-25 14:51] andrewvanbreda commented on #14
@BirenRathod Crumbs, i don't understand this, now IE doesn't even load the map. Can you revert back to the develop version of the file and I will see if that corrects the map load.
Cheers

[2018-01-25 14:59] BirenRathod commented on #14
@andrewvanbreda

I reverted to its original stage.

[2018-01-25 15:09] andrewvanbreda commented on #34
@BirenRathod Any news on this one? It is installed actually, it just needs enabling. Then we should be able to close this issue.

[2018-01-25 15:26] andrewvanbreda commented on #14
Darn, that seems to have fixed it. Really confused now how my "fix" caused that to happen :(

[2018-01-25 15:32] andrewvanbreda commented on #14
@BirenRathod Sorry to be a pain, can you try and put the file back again. I cannot actually see anything wrong with it :( All I can think of is to try and debug it when the error is there.

[2018-01-25 16:48] BirenRathod commented on #14
@andrewvanbreda
Done.

[2018-01-25 16:54] andrewvanbreda commented on #14
@BirenRathod That is great thanks. Will take a look

[2018-01-25 20:27] andrewvanbreda commented on #33
@sacrevert I have looked at this again, and have failed to fix the drag box. Using the Indicia option to switch it off is making Indicia do funny things that I don't seem to be able to do anything about it.
However I have observed that actually the drag box can be left as is, it doesn't actually do anything, this is not the problem, it is an illusion.
The problem is that when zoomed out, a single

[2018-01-26 11:22] sacrevert opened #37 "More info on square/plot during data entry"
Comment from a user:

Specifically, the data input pages "2. Survey details", and "3. Species records" would benefit from having the current square and plot provided somewhere at the top of the page.

[2018-01-26 11:26] sacrevert opened #38 "Add information against plot photo upload button"
It strikes me that a lot of people are confused between the function of the image upload against the plots and the annual image upload against samples. Can we add some text to the image upload option (for example, next to or under the "Add sketch" button against the plots saying the following:

"Note that this image upload function is intending for the archiving of sketches or other images that wi

[2018-01-26 13:38] andrewvanbreda commented on #38
@sacrevert Information added to the site and training site too. Close this issue if you are happy.
Made a couple of minor changes to the wording, I changed intending to intended. I also changed re-located to re-locate
Wording used as following

Note that this image upload function is intended for the archiving of sketches or other images that will help future surveyors re-locate your plot. Photos

[2018-01-26 14:06] sacrevert commented on #38
Sorry to be a pain, but is it possible to have this text further down, between the button and the uploaded image. The location at the moment makes it look as if it is more associated with the above map.

[2018-01-26 14:59] andrewvanbreda commented on #38
@sacrevert Yes I think I can do this but it will require javascript code so I will note be able to do it so quickly, it will have to go out with the next release.

Note that the exist text is below the "Upload plot sketches" heading so I would have thought it would be clear, that was my initial thinking.
Anyway I will try in code

[2018-01-26 15:21] sacrevert commented on #38
Hi, that would be fine, but I can't see the subheading:

![picture1](https://user-images.githubusercontent.com/5985134/35446405-81f281e4-02ac-11e8-8bef-c6c78e201a93.png)

[2018-01-26 18:12] andrewvanbreda commented on #14
Fixed again. Using a combination of focus/blur events instead of change.
It is actually unclear why we were having problems with the training site above. In the end I took out the new code and it still didn't work.
Going back to the original file we knew worked and then rewriting the new code by hand back into it worked.

[2018-01-26 18:21] andrewvanbreda commented on #38
@sacrevert Oh that is interesting it is actually missing for you. How odd.
I have actually had another thought, I have put the current message into a fieldset, this is obviously a quicker solution that a programming one. See here on training site

http://test.brc.ac.uk/npms_training/plot-details

What do you think. Screengrab here in case it look different to you.

![grab](https://user-images.gith

[2018-01-26 18:23] andrewvanbreda commented on #38
Actually put fieldset on live too, as that still have the new message on it.

Let me know what you think of this solution. Also send me a screen grab with browser details if you still have the missing message problem

[2018-01-27 10:44] sacrevert commented on #38
Note is now within your bounding box, but title ('Upload plot sketches') still missing (viewing in chrome from Android phone)

[2018-01-27 15:47] andrewvanbreda commented on #38
@sacrevert Thanks for the info, will take a look. How strange

[2018-01-27 16:06] andrewvanbreda commented on #38
@sacrevert Hi. I am not having a problem on my Android phone with Chrome, working perfectly.
All I can suggest is could you see what it does on other Android phones in your office?
If yours is the only phone not working, then we will need to decide what to do. It might be a bug in a specific version of Chrome/Android rather than being a problem with the website.

[2018-01-27 16:13] andrewvanbreda commented on #38
Note: Seems to be fine also when pinch zooming

[2018-01-28 22:28] sacrevert commented on #38
not showing within Chrome on my laptop either:
![picture1](https://user-images.githubusercontent.com/5985134/35488026-83e561a4-047a-11e8-97c4-835df115dc92.png)

[2018-01-28 22:30] sacrevert commented on #38
same problem in Firefox

[2018-01-29 08:59] andrewvanbreda commented on #38
How strange, it really doesn't like you it seems!?
There are some other instructions above the map that would show in the same way. Can you see one of the instructions that says
"The grid reference in the box below will be automatically generated from the position of your plot on the map below. You can also type a grid reference directly into the box below, but, unless you have taken an accurate G

[2018-01-29 09:14] andrewvanbreda commented on #38
Noting also if I look in Wallingford I will be able to include it as part of the day and not need that work on NPMS timesheet. So I think it would be quicker and cheaper

[2018-01-29 10:19] sacrevert commented on #38
Nope, I can't see that message either. Not sure what I would have done to cause this; I barely use Firefox, so it can't be down to my installing browser apps or whatever that might interfere with it. Happy for you to do it Wallingford, seems like something that is worth addressing though, perhaps there are other message missing for other people too.

[2018-01-29 10:44] andrewvanbreda commented on #38
@sacrevert Yes it is definitely worth finding out what is wrong and it is definitely worth fixing if it is affecting other people. The yellow comments are built-in to Indicia, so it might affect other Indicia sites.
Let me look at your browser in Wallingford, I will at least be able to see what is happening, even if I then go and fix it at home it should save a bit of time.

[2018-02-02 17:13] andrewvanbreda commented on #33
@sacrevert The problem here is that when the map is zoomed out, it is difficult to get an accurate reading on the exact square the user has clicked on, even after adjusting the tolerance options the map allows.
So I have changed my approach to this. If the system cannot determine the exact square that was clicked on, the system will suggest zooming in further before the user makes a click (the ale

[2018-02-06 16:25] andrewvanbreda commented on #38
Checked on visit to CEH, system behaving correctly.
Instructions not displaying in read-only mode as users will not be adding data in this mode.
Slightly changed so the Upload Plot Sketches label is altered to a fields legend which I have checked is not removed in read-only mode.

[2018-02-06 16:25] #38 closed

[2018-02-06 16:42] andrewvanbreda opened #39 "Clarify status of Approved/Unapproved squares on My Squares page"
There has been some confusion with a lady who had squares showing on My Squares but these were not approved yet.
Currently unsure of the behaviour of this page without looking at code, but I suspect it will show unapproved squares. This is not actually incorrect, however, the grid should indicate that that they are unapproved.
Investigate, confirm and code once go-ahead given

[2018-02-06 16:45] andrewvanbreda opened #40 "New Square/User information pages for administrators"
New details pages for administrators
- Square details
- User details

These will show extra details TBD.
Will include a list of squares user is currently allocated to, and squares they have previously entered data for.
New pages linked to from report rows such as on the User Information Download report (and others)

[2018-02-06 16:48] andrewvanbreda opened #41 "User information download showing blank rows"
User information download page showing blank rows.
Probably caused by failure in database syncing tool

[2018-02-06 16:55] andrewvanbreda opened #42 "Use Address line 1, Address line 2, Address line 3 instead of just Address field."
Change registration and user information download to use Address line 1, Address line 2, Address line 3 instead of just Address field.

[2018-02-06 17:04] andrewvanbreda opened #43 "Remove Indicia username from User Information Download"
Indicia username column to be removed from User Information Download page as this is not always the same as NPMS user name and is misleading.

[2018-02-06 17:06] andrewvanbreda opened #44 "Rename "Over 18" to be "18 or over""
Rename Over 18 checkbox to be 18 or over

[2018-02-06 17:08] andrewvanbreda opened #45 "Add notes field to User Square Details page"
Question: Is this the publicly viewable version of the page?

[2018-02-06 17:11] andrewvanbreda opened #46 "On square approval, email user with a link to the square details page"
At the point the square is approved, send email to user containing a link to the publicly viewable square information page.
This will include details such as the national park the square is in.

[2018-02-06 17:33] andrewvanbreda commented on #44
Note would need change on user account page and also the user information download report

[2018-02-06 17:37] andrewvanbreda commented on #44
Note would need change on user account page and also the user information download report

[2018-02-06 17:38] andrewvanbreda opened #47 "Prepare Warehouse with specialist locations such national parks etc"
Request a Square/Squares Near Me pages near new layers to show national parks/places of special scientific interest.
Need to make further notes on this as can't remember what was decided. I think we decided they would be Indicia report layers, but I am not certain

[2018-02-06 17:40] andrewvanbreda opened #48 "NPMS Add Mentor checkbox to admin version of User Administration page"
As per title, NPMS Add Mentor checkbox to admin version of User Administration page.

[2018-02-06 17:50] andrewvanbreda opened #49 "Support call details (with tags) add to User Details admin view"
On the admin view of the user details page, have a support call details grid. Rather than user free text field for call details, use Github style tags which can be analysed accurately. The user (administrator) is able to add required tags in realtime

[2018-02-06 17:51] andrewvanbreda opened #50 "User account page to have Request Survey Forms checkbox"
User account page to now have a Request Survey Forms checkbox, default on

[2018-02-06 17:54] andrewvanbreda opened #51 "Email all users (mass emailing) page with templates (and opt-in/opt-out checkbox)"
Need new on-mass email send page. Sends email to all users who have selected a (new) opt-in checkbox. Email templates drop-down available for selection of nice email designs.
BRC designer to provide HTML generated from template designs.

[2018-02-06 17:59] andrewvanbreda opened #52 "Auto send email to support if user de-allocates square"
Auto send email to support if user de-allocates square

[2018-02-06 18:00] andrewvanbreda opened #53 "Create report containing details of de-allocated squares"
Create report containing details of de-allocated squares

[2018-02-06 18:00] andrewvanbreda opened #54 "Need to investigate what happens to squares if user cancels Drupal account"
Need to investigate what happens to linked squares if user cancels Drupal account

[2018-02-06 18:01] andrewvanbreda opened #55 "Add first name/surname/email to All Visits page"
Add first name/surname/email to All Visits page

[2018-02-06 18:02] andrewvanbreda commented on #55
AVB: Double check this page is only admin visible

[2018-02-06 18:04] andrewvanbreda opened #56 "Request a Square page mentor map link"
The Request a Square page to contain a link to a page which has a PDF map of mentors on it

[2018-02-06 18:07] andrewvanbreda opened #57 "User square details page to have to link to square information PDFs"
Public square details page to have to link to PDF containing information on the square

[2018-02-06 18:08] andrewvanbreda opened #58 "Need to collect metrics on how long the user has taken to setup plots"
Need to collect metrics on how long the user has taken to setup plots. Also collect information on how low users are spending on various pages (possibly with drupal plugin).

[2018-02-06 18:21] andrewvanbreda opened #59 "New user/square information page, and also enhance existing User Information Download page"
Add information to User Information Download page, and also create a new page which has a row for each user/square combination
- Add a date range filter to user information download -- **DONE**
- New column to show last time data was added by user (with the range) -- **NO LONGER NEEDED**
- On the Square/User combination page, display how many years they have entered data for the user/square combin

[2018-02-06 20:27] andrewvanbreda commented on #23
This won't happen in practice, so will close this now as we don't want too many open issues.

[2018-02-06 20:27] #23 closed

[2018-02-06 22:01] sacrevert commented on #45
PL to confirm. We could do both public and administrator only notes fields. I think the PL idea was around using this information in other places, e.g. emails or PDF exports, so I imagine the primary PL interest was in a public notes field.

[2018-02-06 22:03] sacrevert commented on #47
TBD. In the first instance National Parks, AONB and National Nature Reserve boundaries. Others such as National Trust land/RSPB land/Forestry Commission etc. to be considered subsequently based on availability and partner discussions.

[2018-02-06 22:04] sacrevert commented on #49
Tags should be analysable across all users, e.g. through a download report. This may need a separate issue ultimately.

[2018-02-06 22:05] sacrevert commented on #51
I think this should be opted-in by default, given that is the main way of receiving communications from the scheme. (Perhaps I misremember, but i think this was the conclusion during the meeting.)

[2018-02-06 22:07] sacrevert commented on #57
Square information PDFs = maps that are currently sent out by PL. Probably easiest to upload these as PDFs, rather than doing anything fancy like having them generated online.

[2018-02-06 22:08] sacrevert commented on #58
First item would follow the time-spent-surveying drop down on the BSBI card page of irecord (www.brc.ac.uk/irecord/enter-vascular-plants). It would be on the sample forms rather than the plot setup I think (i.e. how long a plot survey takes).
Separate out these two issues (time in field/time on website) later.

[2018-02-06 22:09] andrewvanbreda commented on #51
@sacrevert That is correct, I just neglected to add that to the issue

[2018-02-06 22:09] andrewvanbreda commented on #49
@sacrevert Yes, the report would be separate issue when we come to it

[2018-02-07 14:25] andrewvanbreda commented on #41
@sacrevert
Looks like the problem might not be a bug in the sync tool after all,.

My current thinking on what the problem is as follows:
1. I am not running the sync tool often enough, I will try to do it more often, it doesn't take long at all until a better solution is in place.
2. There are a lot of blank rows that have registrations in 2014, but looking at past email notes, the Town, Post Cod

[2018-02-07 14:41] andrewvanbreda commented on #39
Confirmed this screen will show unapproved squares with no indication of this.
Indicate unapproved squares on this screen, report needs changing as currently uses generic all_user_sites report (not NPMS specific).

[2018-02-07 16:06] andrewvanbreda commented on #41
After further discussions, it it looking likely that there isn't a syncing bug. The syncing tool wasn't even introduced until 2015. Oli think's it is unlikely the missing Addresses would be a problem unless one of these users requested an unallocated square now and even then we would notice.
In the short term, the solution simply seems to be to run the syncing tool more often (we think more than o

[2018-02-07 16:17] andrewvanbreda opened #60 "Work towards not having to use sync tool"
Try to get Indicia's Drupal to Warehouse field syncing working reliably so we don't need to use the address syncing tool at all.

[2018-02-07 17:05] andrewvanbreda opened #61 "Address sync log"
A log of when the Drupal to Warehouse address sync tool is run. This will to remind me to run it often and also allow others to request me to run it if they see it hasn't been run longer ago they they need.

[2018-02-07 17:15] andrewvanbreda commented on #41
Blank rows are either new users for which the sync tool hasn't run yet, or users from 2014 before the address fields were put onto the site. There is no bug here. Will close this (enhancements to address syncing raised separately)

[2018-02-07 17:15] #41 closed

[2018-02-07 17:26] andrewvanbreda commented on #61
Ran for new users @ 17:20 (approx) -> 7/2/2018

[2018-02-08 21:35] andrewvanbreda commented on #54
@sacrevert
Thought I would look at what happens here as it is a quick test and would be useful to know.
Most importantly I found actually that "normal" users are not able to cancel their own account.
They simply don't have rights, I didn't realise that without looking at the system. However, administrators can cancel the account and I can confirm that this DOES NOT remove the square from the delet

[2018-02-09 09:02] sacrevert commented on #54
@andrewvanbreda I think it is worth fixing this (i) it needs to be straightforward for users to remove their details from our system (data protection reason) and (ii) if someone leaves the scheme (and has a square allocated to them) it would be best to know straight away. So, I think we need to allow users to compeltely delete their account (not the survey data though obviously), and we need some

[2018-02-09 09:06] andrewvanbreda commented on #54
@sacrevert Yes, that is fine I will look into enabling these things in April. Will send through with the other costings

[2018-02-09 09:09] andrewvanbreda commented on #54
@sacrevert Actually a question, do we want to auto-delete the square or just alert admin to the situation. The alert will probably be happening either way, it just depends if you want auto-removal as well?

[2018-02-09 09:12] sacrevert commented on #54
@andrewvanbreda I think an alert without auto-removal (like the square allocations table) would probably be best. That would allow admin to preferentially offer it to someone else (e.g. someone who had been on the waiting list for a while).

[2018-02-09 09:12] andrewvanbreda commented on #54
@sacrevert OK agreed

[2018-02-12 11:15] andrewvanbreda commented on #61
Ran for about 6 new users @ 11:10 (approx) -> 12/2/2018

[2018-02-15 13:56] andrewvanbreda commented on #61
Ran for  new users @ 13:55 (approx) -> 15/2/2018

[2018-02-16 09:28] sacrevert opened #62 "Last years species could autofill for each plot in new year"
@andrewvanbreda I know we have dealt with this before at some point, but I can't find the details. It seems as though the species lists for a plot (Indicator or Inventory level) are not being repeated for a new sample. The species previously recorded were supposed to appear as options for a new sample made against an existing plot in order to make data entry easier.

Presumably the logic for this

[2018-02-16 09:29] sacrevert opened #63 "Data download"
The 'My Data' -> 'Data download' function works, but species abundances are not included. Can we amend this? it would also be good to remove the standard download for 'Editing' option that is presented to users, as this does not apply to the NPMS.

[2018-02-16 11:19] andrewvanbreda commented on #62
Hi @sacrevert ,
I have checked, and the system is operating as I intended (although whether that is the same as your intentions is another matter).
When survey 2 is created, it copies the sample attributes and occurrences across to survey 2 and the abundances and survey date are cleared.
This is the only thing we ever spoke about in this area.

Are you wanting it so that if you created and entirel

[2018-02-16 11:20] andrewvanbreda commented on #63
Hi @sacrevert,
OK, I will try to make corrections in this area.

[2018-02-17 19:53] andrewvanbreda commented on #63
Editing option removed. I didn't see this before, I think it must of snuck in with the latest update of the Indicia code. Yes it looks like that is the case, for instance, I am looking at the code for that page from last year in Github and that option didn't exist.

I have also added the abundance to the download. There are two different abundances actually, as Wildflower uses an integer, whilst I

[2018-02-17 20:16] sacrevert commented on #63
@andrewvanbreda many thanks. In the interest of saving funds, I don;t think the term ID thing is worth fixing at this point in time. There are numerous redundant fields in the downloads, as it is something that we should probably think about properly at some point during the new 5 year agreement. I will create a new general issue to this effect.

[2018-02-17 20:16] #63 closed

[2018-02-17 20:23] sacrevert commented on #62
Hi @andrewvanbreda , sorry, this is my faulty memory/thinking. The user was asking about repeating species' names between years, but obviously all we implemented was repeating them between visits within a year. This would then be a new feature (copying names between years). I'll change to label to 'enhancement' and we can think about it later in the year.

[2018-02-17 20:27] andrewvanbreda commented on #62
Yes, ok. Leave it unassigned for now.

[2018-02-21 11:22] andrewvanbreda opened #64 "Users reporting freeze during sign-up"
When signing up to NPMS, the site is taking AGES to link to the Indicia Warehouse.
This step occurs once the user receives their email, and they click Login (the step is obvious as once it is done it tells you the account is linked).

This is currently supposed to take seconds, but is currently taking 2-3 minutes making users think the system has frozen.

I did notice this had slowed as more users

[2018-02-21 11:34] andrewvanbreda commented on #61
Ran for new users @ 11:30 (approx) -> 21/2/2018

[2018-02-21 11:56] andrewvanbreda commented on #64
iRecord doing same thing, will raise it there and John will fix it has part of his iRecord work. General Indicia problem, probably warehouse

[2018-02-21 14:15] andrewvanbreda commented on #64
Fixed by John van Breda. Issue was the Warehouse was running some extra code from before the days of the easy_login module.
This code is no longer needed, but also must of suffered performance-wise the more users that registered with the system.

[2018-02-21 14:15] #64 closed

[2018-02-28 20:04] andrewvanbreda commented on #61
Ran for new users @ 20:00 (approx) -> 28/2/2018

[2018-02-28 21:11] sacrevert opened #65 "Improved download facilities"
irrelevant filter option appears. E.g. for my account (OliP_NPMS) the hectad SU89 is offered as a filter option, but I have no plots in this hectad:
![picture1](https://user-images.githubusercontent.com/5985134/36813271-b63b7010-1cdc-11e8-8695-be949ae234fc.png)

[2018-03-01 20:46] sacrevert opened #66 "Data download eastings/northings"
Include eastings/northings as appropriate (i.e. in relation to OSGB or OSNI in data download)
Prioritise later in season as more important work completed.

[2018-03-01 21:14] andrewvanbreda opened #67 "Stop spatial reference clicking during data entry"
On the data entry screens a user selects their plot which populates the spatial reference.

However this can be overridden by clicking on the map.

This is most likely to happen by accident.

[2018-03-08 09:58] andrewvanbreda commented on #61
Ran for new users @ 10:00 (approx) -> 8/3/2018

[2018-03-08 10:05] andrewvanbreda commented on #65
@sacrevert Just a quick note on this, I don't think this is serious, it isn't a random corrupt behaviour. It is just bringing your filter across from your iRecord account. I think it is probably just coincidentally confusing for you because your filter happens to have the name of a grid reference. I think it is unlikely that this would be a common confusion because most filters would have other na

[2018-03-13 16:24] sacrevert commented on #65
OK, overall I think the Records to download box could be merged with the "limit the records" box, they are both filters after all. Ideally, although low importance, spatial filters for square would be automatically available for each user (although I realise this is only important for the minority of users who have more than one square). A more important tweak is to remove the inactive surveys fro

[2018-03-13 16:29] sacrevert commented on #67
upgraded this, as I think it is probably the kind of thing that is likely to happen more frequently than we think, and it is a pain once in the database, and hard to spot.

[2018-03-13 17:24] sacrevert opened #68 "Enable OS maps in NPMS website"
I'm told that @JimBacon has released the code to make this a reality. @JimBacon could you post a link to the code/do something appropriate like that here so that Andy knows where the relevant stuff is when he comes to implement it? Great to see this development -- I get asked about this all the time.

[2018-03-13 17:30] JimBacon commented on #68
Using the latest version of the iform module it is as simple to select OS maps for a form as checking a box in the configuration.
![image](https://user-images.githubusercontent.com/2545390/37358857-08d89724-26e4-11e8-8c33-1084ed964f6d.png)

It also needs an API key set in the overall configuration (which we can easily create when logged in to the OS website)
![image](https://user-images.githubuser

[2018-03-13 21:26] andrewvanbreda commented on #65
@sacrevert
I will raise the idea of a square filter separately. I will also raise an issue to remove inactive surveys.
I think the merge idea is a good one, but I am not sure it is worth doing as the "Records to download" box is only available to administrators, if it was public viewable I would suggest that it would be worth spending time on.

[2018-03-13 21:27] andrewvanbreda opened #69 "Remove inactive surveys"
Remove the inactive surveys that can currently be seen on pages such as the download records page.

[2018-03-13 21:30] andrewvanbreda opened #70 "Add square filter to downloads page"
Low priority, but it would be nice to have a square filter on the downloads page for users with more than one square.

[2018-03-13 21:31] andrewvanbreda commented on #67
@sacrevert
Noted, and put high up my To Do list. Will get this done for the next release.

[2018-03-13 21:34] andrewvanbreda commented on #68
@sacrevert @JimBacon
OK, I have put this on my To Do list. I will talk you about this when I do it.

[2018-03-13 22:02] andrewvanbreda commented on #61
Ran for new users @ 22:00 (approx) -> 13/3/2018
20 new users, a few more than usual

[2018-03-13 22:38] andrewvanbreda commented on #67
@sacrevert Fixed on all training and live data entry forms

[2018-03-13 22:38] #67 closed

[2018-03-19 09:19] andrewvanbreda commented on #61
Ran for about 15 new users @ 09:20 (approx) -> 19/3/2018

[2018-03-20 19:09] andrewvanbreda commented on #61
Ran for about 5 new users @ 19:05 (approx) -> 20/3/2018

[2018-03-21 10:43] andrewvanbreda commented on #69
@sacrevert
Hi Oli,
Looking to do this. It looks like the best way would be to delete these from the database, however whether that is a good idea might depend if you still find the data from these surveys useful.
I think the data is from the transition yet, it looks like the data was entered in 2013, which I think is transition.
If we delete we can ensure these surveys are removed from everywhere

[2018-03-21 10:51] sacrevert commented on #69
@andrewvanbreda presumably if you delete the survey then that does not delete the linked records?

[2018-03-21 13:55] andrewvanbreda commented on #69
@sacrevert Well, this is a good question. I would imagine would will happen is that they are not marked as deleted, but they would be excluded from most reports as the survey would be marked as deleted.
So I think these leaves me with two options.
1. If you are happy with the above situation I can have a quick experiment on my machine to confirm that behaviour.
2. If you are not, I can investigate

[2018-03-21 13:57] sacrevert commented on #69
@andrewvanbreda I'm happy with (1). I presume from what you say that the records themselves are left intact, which presumably means that for data exchanges and exports (e.g. for the NBN) they would be unaffected. I'm assuming that "exclusion from reports" only applies to iRecord/other Indicia websites that summarise information across surveys.

[2018-03-21 14:00] andrewvanbreda commented on #69
@sacrevert It would be down entirely to how the report is written, it would be up to an individual report whether it let you download records for a deleted survey, I would imagine most don't though.
When you export, do you write your own custom SQL, or do you rely on downloading providing by an interface such as iRecord download?

[2018-03-21 14:05] sacrevert commented on #69
hi @andrewvanbreda it's not me that I'm thinking about. It's other people who code generic exports for the NBN or for data exchange with other organisations. I think that I'm going to change my mind and say that we should go with (2).

It doesn't sound like it is wise to delete the surveys, it will probably just lead to the associated records falling through cracks. Thanks.

[2018-03-21 14:18] andrewvanbreda commented on #69
@sacrevert OK, no problem. I will try to investigate option 2 then.

[2018-03-21 15:33] andrewvanbreda opened #71 "Requesting squares on training site not working"
@sacrevert @BirenRathod
For some reason requesting a square isn't working on the training site. @BirenRathod has this site been changed recently? Are you able to send me the node.22.js file that should be in prebuilt_forms/js

Am getting no reaction when clicking on squares

[2018-03-21 16:06] BirenRathod commented on #71
Nothing change from my site.

Here is the file.

[node.72.js.zip](https://github.com/BiologicalRecordsCentre/NPMS/files/1834098/node.72.js.zip)

[2018-03-21 16:08] andrewvanbreda commented on #71
Hi @BirenRathod, It is node.22.js not 72, should be on the training site prebuilt_forms/js folder. Cheers

[2018-03-21 16:12] BirenRathod commented on #71
[node.22.js.zip](https://github.com/BiologicalRecordsCentre/NPMS/files/1834115/node.22.js.zip)
Of course. sorry about that. Here it is.

[2018-03-21 16:18] andrewvanbreda commented on #71
@BirenRathod Um, thanks no obvious issue here. Will have to look at this. How strange

[2018-03-22 13:06] andrewvanbreda commented on #61
Ran for new users @ 13:05 (approx) -> 22/3/2018

[2018-03-26 08:30] andrewvanbreda commented on #71
@BirenRathod There is something very odd happening here.
The page is a basic Indicia report page, and the map report is pointing to a report that has never changed.
However what is happening is the location IDs are not being returned to the map.
Has this Warehouse changed much lately? Is there a link to a test iRecord site attached the same Warehouse I could look at?

[2018-03-26 08:58] BirenRathod commented on #71
@andrewvanbreda

You have asked about test irecord site. This is the URL test.brc.ac.uk/irecord7

[2018-03-26 09:24] andrewvanbreda commented on #61
Ran for new users @ 10:20 (approx) -> 26/3/2018

[2018-03-26 10:39] andrewvanbreda commented on #71
Hi @BirenRathod
I think something has gone wrong with the Test Warehouse.
If I set up a page on the iRecord test site which is just a general Indicia page with a generic indicia locations report, it still has the same problem of not returning location IDs to the map
http://test.brc.ac.uk/irecord7/node/7171

So effectively I am still getting the same problem even though the site is different and am

[2018-03-26 10:44] BirenRathod commented on #71
@andrewvanbreda
One thing I noticed straight a way that version on testwarehouse is 1.55.5 which behind then live warehouse of 1.57.0

[2018-03-26 10:46] BirenRathod commented on #71
Also, testwarehouse is on master branch. do you think upgrading code from the repository might make difference?

[2018-03-26 10:56] BirenRathod commented on #71
@andrewvanbreda I have just updated the code from the repository for testwarehouse.

[2018-03-26 11:33] andrewvanbreda commented on #71
@BirenRathod Hi Biren, Thanks for your quick response, I had popped for some lunch and have now taken a look. The situation seems to be the same as it was before :(
I actually don't understand. You think Live and Test are running the same code now?

[2018-03-26 11:42] BirenRathod commented on #71
At least from warehouse code point of view, Yes.

[2018-03-26 13:39] andrewvanbreda commented on #71
@BirenRathod This is difficult. I have a vague idea. Could you try putting the following file in the report_for_prebuilt_forms/Splash folder on the test warehouse

Probably won't help, but I all I can think of at the moment

[2018-03-26 13:40] andrewvanbreda commented on #71
[unallocated_squares.txt](https://github.com/BiologicalRecordsCentre/NPMS/files/1848020/unallocated_squares.txt)

Actually not letting me upload .xml, so you will need to change the file extensions, it should replace the existing file

[2018-03-26 13:46] BirenRathod commented on #71
@andrewvanbreda
I have uploaded into splash folder.

[2018-03-26 13:56] andrewvanbreda commented on #71
@BirenRathod Fascinating, it is working!
It seems there has been a change in Warehouse behaviour. Previously, if a report column was marked as visible="false" then it was just hidden from report grids but was available for use. It appears the Warehouse is no longer even passing this to the map.
I will contact John as I don't know why this would be, is it deliberate even (I doubt it, but will have

[2018-03-26 13:58] BirenRathod commented on #71
ok, no problem.

[2018-03-26 14:46] andrewvanbreda commented on #71
@BirenRathod John says nothing springs to mind. He suggested trying to reproduce it on my local, I tried previously but will have to try again sometime. Although it will have to be lower priority now that we have a workaround

[2018-03-26 15:02] BirenRathod commented on #71
Ok. No problem.

[2018-03-26 15:06] BirenRathod commented on #71
I'm not removing that file at present unless if you want to see oddity of that page

[2018-03-28 18:56] andrewvanbreda commented on #69
In the end just went with a simple jQuery fix to hide the surveys, just had to overcome a slight issue where the survey drop-down is populated very late so couldn't do the hide immediately on page load, so instead it does it on clicking of the survey drop-down.

[2018-04-03 09:18] andrewvanbreda commented on #61
Ran for 20+ new users @ 10:15 (approx) -> 3/4/2018

[2018-04-04 16:04] andrewvanbreda commented on #60
1. Fixed attributes never being synced when user first created (fixed by GVB)
2. Further fix committed as syncing previously didn't work on boolean fields (particularly if repeatedly checked and unchecked).
3. Further fix applied as syncing would only previously occur for one user for each field (major limitation!!)

[2018-04-05 12:22] andrewvanbreda commented on #60
Further fix:
The easy_login module used to assume that a field needs to have changed or must of been previously empty for a sync to be required. This actually is not always true and can result in fields not being synced during registration if the mode for admin approval is set.

[2018-04-05 12:22] andrewvanbreda commented on #60
@sacrevert
This is now ready for deployment. Just needs a new Indicia release for iForm and Warehouse too.

[2018-04-05 14:23] andrewvanbreda commented on #61
Ran for new users @ 15:20 (approx) -> 5/4/2018

[2018-04-09 16:16] andrewvanbreda commented on #61
Ran for new users @ 17:15 (approx) -> 9/4/2018

[2018-04-12 13:19] andrewvanbreda commented on #61
Ran for new users @ 14:20 (approx) -> 12/4/2018

[2018-04-19 14:50] andrewvanbreda commented on #61
Ran for new users @ 15:50 (approx) -> 19/4/2018

[2018-04-23 11:18] andrewvanbreda commented on #61
Ran for new users @ 12:15 (approx) -> 23/4/2018

[2018-04-23 14:53] andrewvanbreda commented on #43
Very simple change. Also removed Indicia User ID as that could have similar confusion with the Drupal user ID.

[2018-04-23 14:58] andrewvanbreda commented on #50
Andrew van Breda not to myself: This is easy to do, but make sure the easy_login sync changes are released first.

[2018-04-25 09:16] andrewvanbreda opened #72 "Data access policy to be version controlled"
Although the data access policy is just a basic Drupal page with the text in the Drupal database, we can store the text in a controlled repository separately. We can then copy the text to the site. Just need label on the site indicating version.

[2018-04-25 12:53] andrewvanbreda commented on #72
@sacrevert Coincidently, for another project, John has just made me aware of a module called entity_legal which we can version control with.
This seems like a good time to move to it if we can before the data protection changes come in.
It implements its own way to block users who haven't re-signed an agreement, this would replace my method.
It is also Drupal 8 compatible unlike my method at the m

[2018-04-25 12:55] sacrevert commented on #72
Yes, this sounds better. As you say, we don't need to know who hasn't signed it, if they haven't signed it then they are making a decision not to do the survey. Many thanks.

[2018-04-25 12:57] sacrevert commented on #72
Only thing might be is that, when we implement this, if there is a user or small number of users who decide to dropout based on the fact that they no longer agree to the policy, then it would be nice to know. However, I suppose we could just do something simple like ask them to contact the scheme to let us know (e.g. when we announce the need to accept the new scheme agreement via email).

[2018-04-25 17:21] andrewvanbreda commented on #72
@sacrevert I did some testing this afternoon to check the module works. It seems to work with a bit of fiddling.
It says it actually provides a report on who checks the agreement checkbox, so that is there in the module which I didn't previously realise.

Another good thing is as new versions are added, we can force the user to re-agree if we wish to do so.

There was a slight bug I found where it

[2018-04-25 17:31] sacrevert commented on #72
Thanks Andy. This all sounds good. I'll let you know more when we have fully bottomed out the requirements that we end up with in this area (still some discussion to go!)

[2018-04-26 09:22] andrewvanbreda commented on #61
Ran for lots of new users @ 09:50 to 10:20 (approx) -> 26/4/2018

[2018-04-26 13:58] sacrevert opened #73 "New squares for Northern Ireland (tranche 2)"
@BirenRathod These are the new squares for the NPMS site, there are all for Northern Ireland, on the Irish grid (OSNI 1952). Many thanks!
[UPLOAD7_tranche2_NI_26.04.2018.zip](https://github.com/BiologicalRecordsCentre/NPMS/files/1951469/UPLOAD7_tranche2_NI_26.04.2018.zip)

[2018-04-26 15:17] sacrevert opened #74 "Improve report on "% Allocated squares per tranche per region""
Currently this is under "Reports > % Allocated squares per tranche per region", however, it is an Admin function so should probably be moved there.

The main thing is to make this more useful for Plantlife volunteer managment/square management. Currently one has to interrogate each region separately to see the details. Ideally all tranche/region stats would be displayed in one report (and a CSV do

[2018-04-27 08:05] BirenRathod commented on #73
Hello @sacrevert
 I have just uploaded on the testwarehouse. Please check on NPMS training site and let me know if all OK.

[2018-04-27 08:17] sacrevert commented on #73
@BirenRathod looks fine. Please go ahead and add these to the live site.

[2018-04-27 08:33] BirenRathod commented on #73
@sacrevert , they are all uploaded onto live warehouse.

[2018-04-27 08:39] sacrevert commented on #73
@BirenRathod Seen on live. Closing issue. Many thanks.

[2018-04-27 08:39] #73 closed

[2018-04-27 16:07] andrewvanbreda commented on #61
Ran for new users @ 17:00 (approx) -> 27/4/2018
About 35 new users

[2018-04-28 12:00] andrewvanbreda commented on #39
Coding finished. New column shows "Approved" in green, or "Awaiting approval" in red.

[2018-04-30 20:53] andrewvanbreda commented on #74
@sacrevert Added download link and added to admin menu.
Do we need to change the actual report though? you can run the report to return everything already by simply not filling in the parameters, although I realise perhaps this is one of those things that is obvious to me, but actually maybe is not obvious when using the screen.

[2018-05-01 08:28] sacrevert opened #75 "NPMS news article won't publish"
Hi Biren, the website won't let me publish this. is it because of the embedded tweet? Would you be able to fix this and publish it? thanks
[NPMSpost.zip](https://github.com/BiologicalRecordsCentre/NPMS/files/1963303/NPMSpost.zip)

[2018-05-01 08:41] BirenRathod commented on #75
Which content type did you use?

[2018-05-01 08:44] sacrevert commented on #75
'article' the articles appear under the 'News' listing I believe

[2018-05-01 08:58] BirenRathod commented on #75
I don't see any problem of publishing it.

[2018-05-01 08:58] BirenRathod commented on #75
do you know the title & tag?

[2018-05-01 08:59] sacrevert commented on #75
“NPMS hits its stride in Northern Ireland”

Tags: npms, training, squares, Ireland

I don’t know what the issue was then, but it didn’t like it when I tried.

From: Biren [mailto:notifications@github.com]
Sent: 01 May 2018 09:59
To: BiologicalRecordsCentre/NPMS <NPMS@noreply.github.com>
Cc: Pescott, Oliver L. <olipes@nerc.ac.uk>; Author <author@noreply.github.com>
Subject: Re: [BiologicalRecordsCe

[2018-05-01 09:00] sacrevert commented on #74
Sounds OK to me but await Plantlife input.

[2018-05-01 09:02] sacrevert commented on #75
Any idea why the image in the tweet doesn't show?

[2018-05-01 09:02] BirenRathod commented on #75
I just did under your user, I found no problem. Did you select the "Full html" below the text editor?

[2018-05-01 09:05] sacrevert commented on #75
Can you make it so that the media from the tweet show?

[2018-05-01 09:06] sacrevert commented on #75
Also looks like the site doesn't support emojis : )

[2018-05-01 09:18] BirenRathod commented on #75
You need to copy the exact URL of the image, which is this -> https://twitter.com/cedarnmni/status/989821280642846720/photo/1

and same for the emojis.

[2018-05-01 09:23] BirenRathod commented on #75
Just use copy and paste for all images and it will works.

[2018-05-01 09:23] sacrevert commented on #75
I'm sorry, I can't get that to work. Can you do it so that I have an example for next time? Thanks.

[2018-05-01 09:24] sacrevert commented on #75
OK, but it's not working...

[2018-05-01 09:25] sacrevert commented on #75
OK, Copy and paste worked, fiddling with the HTML didn't. Thanks. Closing this now.

[2018-05-01 09:25] #75 closed

[2018-05-01 09:30] BirenRathod commented on #75
And I copied those emojis which are just images.

[2018-05-03 10:57] Lorsom commented on #74
Hi, I have downloaded stats for NI - Region D, C and J and ran report without filling in parameters. I am getting a total of 80 squares allocated out of 134 but I believe the number to be much greater than this, have i miscalculated?
This is a very useful tool, access to stats is very valuable.

[2018-05-03 11:48] CelesteSkinner commented on #74
I understand that GH should also be included which is where my total of 130 allocated squares come from. There's a total of 187.

From: Lorsom [mailto:notifications@github.com]
Sent: 03 May 2018 11:58
To: BiologicalRecordsCentre/NPMS
Cc: Celeste Skinner; Assign
Subject: Re: [BiologicalRecordsCentre/NPMS] Improve report on "% Allocated squares per tranche per region" (#74)

Hi, I have downloaded st

[2018-05-03 12:31] Lorsom commented on #74
Ok Celeste, thanks for clarifying, I knew there were approx 181. Squares removed due to access issues are included in your total.

[2018-05-03 14:05] andrewvanbreda commented on #74
Hi,
Are you happy with the report as it is now then?.
If so, I will close this issue, otherwise let me know the changes you need.
Andy

[2018-05-03 14:06] Lorsom commented on #74
Yes of course, know what went wrong, will close issue

Lorna

Lorna Somerville, NI Environment Agency, Klondyke Building,Cromac Avenue,Belfast,BT7 2JA
Tel. 028 90569644

From: andrewvanbreda [mailto:notifications@github.com]
Sent: 03 May 2018 15:06
To: BiologicalRecordsCentre/NPMS <NPMS@noreply.github.com>
Cc: Somerville, Lorna <Lorna.Somerville@daera-ni.gov.uk>; Comment <comment@noreply.github.co

[2018-05-03 14:27] #74 closed

[2018-05-03 15:09] sacrevert opened #76 "'Access landowner information' field"
Decisions required

[2018-05-04 12:39] andrewvanbreda commented on #61
Ran for new users @ 13:40 (approx) -> 4/5/2018

Sorry there have been other runs last few days but I forgot to log them

[2018-05-04 13:19] andrewvanbreda opened #77 "Improve visits display of squares visits"
From Oli P:
"At the moment visits appear as a long list, with both squares and years all together on one grid. Ultimately it would be good to have these rows 'collapsed', i.e. a list of squares, each of which can be expanded, then the years within that, which can also be expanded to reveal visits (a '+' would indicated the expansion of rows)."

[2018-05-04 13:21] andrewvanbreda commented on #77
@sacrevert
Yes I would agree the display needs to be improved, certainly of samples/visits. At the moment visits and squares/plots are on separate pages, are you suggesting we should combine these? That would be a quite a major change.
Or we could just try and improve the display of the two pages separately

[2018-05-04 13:25] andrewvanbreda opened #78 "Making (locked) samples/visits from previous surveyors available?"
Suggestion from Oli P
"Making (locked) samples/visits from previous surveyors available would be sensible"

[2018-05-04 13:25] andrewvanbreda commented on #78
AVB to comment on feasibility of this

[2018-05-04 13:35] andrewvanbreda opened #79 "Provide information on species previously recorded to new 'owners' of squares (for data entry)"
Request from Oli P/Plantlife
Provide information on species previously recorded to new 'owners' of
squares.
Try to tie into the viewing of plots so users don't have to trawl through data entry screens.

[2018-05-10 09:35] andrewvanbreda commented on #61
Ran for new users @ 10:35 (approx) -> 10/5/2018

[2018-05-10 16:04] kwal2 commented on #79
A square recorded in 2015 (SE1582) was transferred to me last year as the original surveyor has left the scheme due to ill health. I have not yet recorded it yet but plan to this summer. The square now appears as one of 'my squares' so I can see photos/sketch maps of original surveys. However, the plot-level data does not appear on 'my visits'. I would obviously like to be able to access this info

[2018-05-10 20:24] andrewvanbreda commented on #37
New extension coded and committed to support this. Awaiting deployment.

[2018-05-11 10:22] sacrevert commented on #77
No, I'm not suggesting we combine plots and samples. Plots are not indexed by year, and should always remain a relatively small number, so the current display of those in fine I think. The display of plots could perhaps be improved by allowing for a similar expand/collapse arrangement in relation to their parent square, but this is a very low priority.

Samples will accumulate, so it would be usef

[2018-05-12 09:59] andrewvanbreda commented on #10
@BirenRathod @sacrevert
This is quite an important issue that I hope was resolved a while ago. However at the time we weren't sure the fixes were working as there was no evidence of new user data entry. I think now is time to relook at this and make everything is fine regarding this.
Biren, could you run this SQL on live, and we will go from there.

select o.id as occurrence_id,s.id as sample_id f

[2018-05-12 11:41] andrewvanbreda commented on #40
I have created a new admin page for squares that only administrators can see.
It is currently accessed from:
Admin menu
User/Square administration menu item
"Add users to squares" link
There click Edit Square Details on the grid.
Will improve access to this screen as noted as part of this issue.

Actually this is an old screen, but I have tightened security so that only admins can access it.
It is

[2018-05-12 11:45] andrewvanbreda commented on #45
Have added a admin notes field to the Square Admin page for administrators.
This was done when I created that screen, before I saw your note here.
We can remove it if needed as it is easy. Just confirm if you want a public notes field too, that would also be easy to add now.

[2018-05-13 18:45] andrewvanbreda commented on #77
@sacrevert OK, will have a think.

[2018-05-13 19:42] andrewvanbreda commented on #56
@sacrevert
Do we have this map available so I can put onto the site?

[2018-05-14 08:55] sacrevert commented on #56
hi @CelesteSkinner would you be able to discuss the form of this with Felicity please? (and then provide the map to Andrew)
Thanks, Oli

[2018-05-14 08:58] sacrevert commented on #40
thanks @andrewvanbreda . Do you need @CelesteSkinner or myself to provide feedback at this point?

[2018-05-14 09:00] sacrevert commented on #45
@CelesteSkinner could you discuss with Felicity please?  If we do have a public notes page we should add some text telling people not to post the personal details or landowners (or other humans!)

[2018-05-14 10:02] CelesteSkinner commented on #56
Thanks for the reminder @sacrevert ! I updated the mentors info last week and I'll put them on a map, to be sent to @andrewvanbreda  in the next few days.

[2018-05-14 18:51] andrewvanbreda commented on #40
@sacrevert Not at moment. I need to think about the users page for admin, I think I have an idea what to do with that, but it needs some code experimentation.

[2018-05-15 09:04] andrewvanbreda commented on #53
Report created and working on my machine. Just needs some new columns to show who owned the square last.

[2018-05-15 11:19] andrewvanbreda commented on #53
Done

[2018-05-16 13:12] andrewvanbreda commented on #61
Ran for new users @ 14:10 (approx) -> 16/5/2018

[2018-06-01 14:19] andrewvanbreda commented on #61
Ran for new users @ 15:15 (approx) -> 1/6/2018

[2018-06-05 21:33] andrewvanbreda commented on #78
@sacrevert @CelesteSkinner
Can I confirm the required functionality:

- Visits (samples) created by previous owners will be visible to a new owner of a square

- Visits will always be read-only unless the visit is:
  Created by the user looking at it
  AND
  The user currently owns the square for the visit

e.g. Old visits seen by new square owners will now be visible but always be read-only regar

[2018-06-06 08:21] sacrevert commented on #78
That seems reasonable to me. I suppose we should also remember that, a the moment, even if a user created a visit and still owns the square, there is a time limit on editing. Also, I think it would be useful to implement this requirement in tandem with #77 .

[2018-06-10 10:17] andrewvanbreda commented on #78
System will now use square assignments to decide which samples to show you. If sample created by another user you will be warned and be shown a read only form unless:
- the square assignment hasn't been approved yet in which case that is the overriding read-only message
- the locking date has passed in which case that is the overriding read-only message.

[2018-06-10 10:18] andrewvanbreda commented on #78
@sacrevert
I forgot to note I think this enhancement came about after I did my quote for David, so may cause overrun on that quote depending on how other work comes along.

[2018-06-10 10:19] andrewvanbreda commented on #77
@sacrevert
Again I think this enhancement came about after I did my quote for David, so may cause overrun on that quote depending on how other work comes along.

[2018-06-10 10:20] andrewvanbreda commented on #79
@sacrevert
Also I think this one also came about after I did my quote for David, so may cause overrun on that quote depending on how other work comes along.

[2018-06-15 08:59] CelesteSkinner commented on #61
Addresses still not downloading when report is requested @andrewvanbreda and somehow requested squares (without being allocated) are being included on this report @sacrevert

[2018-06-15 09:01] sacrevert commented on #61
@CelesteSkinner I don't think the fixes are actually live on the website yet. There is a complication in that we are also migrating the website to a new host, and I don't think any of Andy's work can go live until that point. I have been assured that this will be by the end of the month.

[2018-06-15 09:11] CelesteSkinner commented on #61
That's not a problem, thank you @sacrevert

[2018-06-15 11:03] andrewvanbreda commented on #61
@CelesteSkinner @sacrevert
I haven't run the sync job in past week much because have been crazy busy, my fault. I have run now which should fill in addresses for about 40 users.
As Oli says, the fix which will make the addresses fill in straight away automatically has been coded but not put live yet because of the migration BRC are doing with their servers.

The only question is I am not sure what

[2018-06-15 11:49] andrewvanbreda commented on #61
Ran for new users @ 11:50 (approx) ->15/6/2018

[2018-06-18 09:44] CelesteSkinner commented on #61
Thank you @andrewvanbreda

Regarding unapproved allocations included on the report, please have a look - I have not dealt with any of these requests but they are all included on the download when I request for users allocated a square after specific date.

![unallocated](https://user-images.githubusercontent.com/38880434/41529190-2c546150-72e4-11e8-814f-d0b5efb3f85a.JPG)

![download report](https:

[2018-06-18 12:12] andrewvanbreda commented on #61
Ran for new users @ 14:05 (approx) ->18/6/2018

[2018-06-18 12:29] CelesteSkinner commented on #53
Hi @andrewvanbreda how can access this report please? Also, would it be possible to download the one for 'square details per year'?

[2018-06-18 13:27] andrewvanbreda commented on #61
@CelesteSkinner
Hi Celeste,
I took a look at this report. This report does not look to see if a square is approved or not, that is the reason you are seeing the squares. It may be this report pre-dates the approval system.
I think part of the confusion is that behind the scenes in the database, squares are attached/allocated to users, even when not approved. The approval is just a mark against the

[2018-06-18 13:28] sacrevert commented on #53
hi @CelesteSkinner this is one of those enhancements that will not be available until the website migration is complete. See the comment [here](https://github.com/BiologicalRecordsCentre/NPMS/issues/61#issuecomment-397559566)

[2018-06-18 13:29] sacrevert commented on #61
@CelesteSkinner can you consider whether this change is necessary for the smooth running of your admin please. It is of course very important to get that right, but, equally, we do not want to spend all the budget on these issues if the impact on your work is minimal. Thanks

[2018-06-18 13:52] andrewvanbreda commented on #61
@CelesteSkinner @sacrevert
Just to note, the main issue with changing this (and changing most things), is there is quite a lot of effort testing it to make sure it is working properly, that is the main problem.
Not just that the new code works, but it doesn't negatively impact on the rest of the report.
The actual change itself wouldn't be too difficult, it is the checking.......I would allow half

[2018-06-18 14:20] andrewvanbreda commented on #53
@CelesteSkinner
Download capability now available for square details per year report.

[2018-06-18 14:37] andrewvanbreda commented on #53
@CelesteSkinner @sacrevert
Oli: This is a report that sits on the Live Warehouse, am not sure if this is moving to Pantheon? I have checked and the report is not available yet anyway regardless.
In summary: The report has been coded, but isn't on the live server yet, this may or may not be related to what Biren is doing, am not sure.

See previous comment, the download has been enabled on square d

[2018-06-19 08:58] CelesteSkinner commented on #61
Thank you @andrewvanbreda for looking into this. Very minimal impact on my work @sacrevert , and nothing that will affect users either.

[2018-06-19 09:01] sacrevert commented on #61
ok @CelesteSkinner can you create a new issue anyway, and label it with a "low" priority tag. That way we can always consider it later on. Cheers!

[2018-06-19 15:28] sacrevert opened #80 "Rule for forum post emails"
Use Drupal Rules module to set up rule for emailing NPMS support on the creation of a new post in the forum. Confirm with @sacrevert before creating, as need may have changed.

[2018-06-20 13:18] sacrevert commented on #80
Reported fixed by R Jones, Plantlife

[2018-06-20 13:18] #80 closed

[2018-06-21 15:03] andrewvanbreda commented on #61
Ran for new users @ 16:00 (approx) ->21/6/2018

[2018-06-22 08:38] sacrevert commented on #52
@CelesteSkinner I have changed this to urgent given Felicity's email. Please confirm whether this is in the fact the next thing that you want coded amongst the open issues that are no already marked "coding complete"

[2018-06-22 14:44] sacrevert commented on #52
From Andy

I should add at the moment users do not have rights to cancel their account, to leave they probably just wouldn't come back. Even if we give them rights, the Cancel Account button is at the bottom of the user account page, I think the majority of users wouldn't even cancel their account in this way, they just wouldn't stop and not come back.
Given this it might be a better idea for us t

[2018-06-22 14:50] sacrevert commented on #52
From Felicity

[2018-06-26 20:42] andrewvanbreda commented on #61
Ran for new users @ 21:35 (approx) ->26/6/2018

[2018-06-27 09:48] CelesteSkinner opened #81 "Event Admin: download button?"
Hi @andrewvanbreda would it be possible to add this function?
Current view only displays 5 people at the time and would be good to download the full list of attendees instead of C&P

[2018-06-27 10:16] andrewvanbreda commented on #81
@CelesteSkinner Have added a download link.
However there is a problem where the email address isn't being downloaded, can you let me know if you need that and I will investigate

[2018-06-27 10:20] CelesteSkinner commented on #81
Thanks @andrewvanbreda and yes, I do need the email addresses so the event trainer can email the participants.

[2018-06-27 10:22] andrewvanbreda commented on #81
@CelesteSkinner OK. I will have to look at that why it has gone wrong, never seen system do that before.
For now I have increased the grid size to 20, perhaps you can then copy the text off the grids and paste into excel, might have similar effect as downloading

[2018-06-27 10:23] CelesteSkinner commented on #81
Great @andrewvanbreda , thank you!

[2018-06-27 10:25] andrewvanbreda commented on #81
@CelesteSkinner Doing that seems to work on my Excel, you can delete or ignore the column with the Remove links once pasted into Excel

[2018-06-27 10:28] CelesteSkinner commented on #81
If that's the case @andrewvanbreda happy to close the issue. We only take 20 attendees per training course.  If they are all displayed in the same page and info can be C&P directly, that will be sufficient to pull out their email addresses.

[2018-06-27 10:29] #81 closed

[2018-07-04 22:25] andrewvanbreda commented on #61
Ran for new users @ 23:25 (approx) ->4/7/2018

[2018-07-05 16:47] andrewvanbreda commented on #52
@sacrevert @CelesteSkinner
I have now completed some code that will email support if the user removes the square from their squares grid (providing it is approved, to avoid continue emailing if user plays around with grid).
Available next release.
Have not coded cancel account scenario yet. There is another issue for that, so will move information from here into that issue and consider that separa

[2018-07-05 16:49] andrewvanbreda commented on #54
AVB note from another issue that I am move into this issue
Need to email support if use cancels account, support is then to manually remove the square at their discretion

"I haven't managed to work out yet how this will work in practice, there are a few things to consider. I keep it in mind for higher priority.
I should add at the moment users do not have rights to cancel their account, to leave

[2018-07-05 16:50] andrewvanbreda commented on #54
From Felicity

I think the issue is people are unallocating a square at the moment and we do not know this has happened so really do need to sort that otherwise we carry on sending them info.

[2018-07-06 17:34] andrewvanbreda opened #82 "Map on events not showing anything and giving "no mappable data" error"
This was probably on the site for a while. The map at the bottom of the page that users use to sign up to events stopped working.
"No mappable data" message shown, no events shown on map.

[2018-07-06 17:35] andrewvanbreda commented on #82
Fixed.
Accidentally removed some report code last release that was actually in use.
Hence it use to work and then broke.

[2018-07-07 19:30] andrewvanbreda commented on #58
Just going through the issues to see which affect app. Will this issue need to take app into account? Doesn't need answering now, just a note for future.

[2018-07-07 19:32] andrewvanbreda commented on #62
Just going through the issues to see which affect app. Will this issue need to take app into account? Doesn't need answering now, just a note for future.

[2018-07-07 19:33] andrewvanbreda commented on #72
AVB note: Need to make sure we take app into account for this.

[2018-07-07 19:44] andrewvanbreda commented on #78
@sacrevert I have just realised something relating to this.
The grid on the data entry pages will now show read-only versions of visits other people have made providing you are assigned that square.
However I just realised something, I think the "My Visits" report grid will just show visits you made regardless (old rules). If you created the visited, then you see it here, so you won't see other pe

[2018-07-07 19:45] andrewvanbreda commented on #78
The My Visits page I mean is this one
http://www.npms.org.uk/content/my-visits

[2018-07-07 19:49] andrewvanbreda commented on #79
@sacrevert You may have seeing in other issues I have been identifying which issues may affect app. I am assuming that we won't be doing anything for the app with this issue.

[2018-07-09 09:54] sacrevert commented on #58
Yes, I think so, in that this new feature implies adding a field to the survey/sampling form.

[2018-07-09 09:58] sacrevert commented on #62
It could I suppose, although I have no idea whether the two enhancements (app and website) need to be linked in anyway. Also not sure whether we would have the funds to enhance the app in this way (may depend on size of job).

[2018-07-09 09:59] sacrevert commented on #72
Yes, I am aware of this. We haven't yet finalised the privacy policy new wording (@DavidRoy may have an update).

[2018-07-09 10:10] sacrevert commented on #78
Personally I think this is OK. 'My Visits' is nested in 'My Data', so it should be reasonably obvious that this only relates to data recorded by the current user.
However, we might need to think about this aspect of plot transfer between users for this requirement #62 (i.e. will last year's species appear for a user who has just acquired a plot, note also that a new user might record at a differen

[2018-07-09 10:12] sacrevert commented on #79
In the future it might be nice to take advantage of developments that have been suggested for the iRecord app (can't find issue to link to, but it was raised by @kwal2 at some point), which covers showing species previously recorded for the survey unit first in the list, or in a different font type (e.g. bold), but in the short term I think we can ignore this in terms of the app.

[2018-07-09 17:29] andrewvanbreda commented on #78
@sacrevert

Going to attempt an elegant answer to this question even thought the rules are getting more complicated.
The system works like this
- You see all visits for a square you have been assigned, regardless if you are the creator of the visit.
- Visits you didn't create are read-only
- Visits might be read-only for another reason (I think just the locking date springs to mind)
- If you are a

[2018-07-09 20:42] sacrevert commented on #78
Thanks @andrewvanbreda , that all seems fine. Regarding autofilling species between users, I was thinking to the future about when this might occur between years (#79 ).

I think it would be nice if all of the expandable view for #77 were on the 'historic view' page, the current year doesn't really need to change if it is only showing that year's samples (it will never get very complicated). The p

[2018-07-10 07:25] andrewvanbreda commented on #78
@sacrevert I think any functionality you need related to the historic page can be noted as part of #77 rather than separately, then I can take it all into account at once

[2018-07-10 08:17] sacrevert commented on #77
From #78

@kwal2 @CelesteSkinner Are you happy with the suggestions on this page and #78 ? Particularly around separating out a page that shows a history of samples for a square from the current year's recording. (and whether such a page would be a good place to have a download of all historic samples).

[2018-07-10 15:35] sacrevert commented on #34
@BirenRathod is this a quick fix?

[2018-07-10 15:38] sacrevert opened #83 "Restrict sign-up to some types of events"
This is something that it would be nice to have in advance of the next field season.
The partnership would like to restrict participation in some types of training session to those users who have recorded samples (or set up plots, whichever is easiest to implement) on the NPMS website.

So, (1) there would be an extra field when uploading and displaying events (restricited: yes/no), and,
(2) ideal

[2018-07-10 15:51] sacrevert opened #84 "Social media updates to website"
From Louise Marsh:

[2018-07-10 21:42] BirenRathod commented on #34
@andrewvanbreda,

I don't have any clue. What @sacrevert expecting me to do? Could you draw some lights regarding this?

[2018-07-11 08:15] JimBacon commented on #34
Probably expecting the following, copied from iRecord.
1. Enable Indicia OpenLayers module
![image](https://user-images.githubusercontent.com/2545390/42558890-74285802-84ea-11e8-9ec4-2b2e167fb88e.png)
2. Configure to use full build of library containing all components.
![image](https://user-images.githubusercontent.com/2545390/42559000-c24469ae-84ea-11e8-967d-6fd77473a91a.png)

[2018-07-12 09:34] BirenRathod commented on #34
Thanks Jim,

Just surprised why @andrewvanbreda has asked me to do that. He could do that easily. Not that I don't want to do that. Anyway I done that now.

[2018-07-12 12:33] sacrevert commented on #34
@andrewvanbreda could you check that this is working and then close? I am not entirely sure what I would be looking for on live to see whether the change has been implemented and works as expected.
 Thanks!

[2018-07-12 15:22] andrewvanbreda commented on #34
@sacrevert
Module enabled.
However, this appears to still be broken, but it is doing something different now so I will have to take a look sometime. It is only the information display for squares on the My Squares page affected, so not huge priority.

[2018-07-13 15:56] andrewvanbreda commented on #61
Ran for new users @ 16:50 (approx) ->13/7/2018

[2018-07-20 08:17] andrewvanbreda commented on #61
Ran for new users @ 09:10 (approx) ->20/7/2018

[2018-08-01 14:39] andrewvanbreda commented on #61
Ran for new users @ 15:30 (approx) ->1/8/2018

[2018-08-07 15:30] andrewvanbreda commented on #61
Ran for new users @ 16:25 (approx) ->7/8/2018

[2018-08-08 10:51] DavidRoy opened #85 "Occurrences missing from cache tables"
NPMS occurrences are missing from the cache_occurrences_functional table.  Is this because the occurrence has a taxa_taxon_list_id for a taxon that is deleted?

Have asked johnvanbreda to investigate.

Here are example records where taxa_taxon_lists.deleted = 't' and where the occurrences are missing from cache_occurrences_functional
![image](https://user-images.githubusercontent.com/2699478/43832

[2018-08-08 12:45] andrewvanbreda commented on #85
On my machine the behaviour is as follows

- I added an NPMS occurrence on my machine. I can see this in the cache tables
- I added an occurrence on a standard data entry form. I can see this in the cache tables
- I deleted both of these taxa in the warehouse user interface (didn't delete the occurrences), and they remained in the cache tables immediately after deletion
- I ran scheduled tasks, an

[2018-08-08 14:33] johnvanbreda commented on #85
This is how I would expect it to behave. If a taxon is deleted from the database, then the occurrence is in an inconsistent state so will be removed from the reporting cache tables.
Why are taxa being deleted in this instance? If the taxon is to be marked as no longer available for data entry, then there is an allow_data_entry flag in taxa_taxon_lists which can be set to false, leaving the occurre

[2018-08-08 14:46] DavidRoy commented on #85
I agree the cache should work this way.

The taxon isn't being deleted, but the taxa_taxon_list on which it occurred is marked as deleted.  I'm not sure what triggered this.

Setting allow_data_entry = 'f' does seem preferable

[2018-08-08 15:00] andrewvanbreda commented on #56
@CelesteSkinner Hi Celeste. Just wondering if you had this map as I just noticed we last spoke about this quite a while ago.

[2018-08-08 15:06] CelesteSkinner commented on #56
I do @andrewvanbreda and I have had it for a while but most of the NPMS work is now done by Rachel who should be in touch soon about this. She is on leave at the moment but I'll speak to her when she returns. Thank you for the reminder.

[2018-08-08 20:11] andrewvanbreda commented on #42
As I have already changed the code so that the syncing on the site works automatically instead of with a batch job, we can now add these fields easily to NPMS and the syncing to the Warehouse database will already be handled automatically by my new syncing changes.
So I have only needed to add these fields to the User Info Download report which is a simple change.
Done. Awaiting go live.

[2018-08-08 20:12] andrewvanbreda commented on #50
Again as I have already changed the code so that the syncing on the site works automatically instead of with a batch job, we can now add this field easily to NPMS and the syncing to the Warehouse database will already be handled automatically by my new syncing changes.
So I have only needed to add this fields to the User Info Download report which is a simple change.
Done. Awaiting go live.

[2018-08-08 21:18] andrewvanbreda commented on #85
Hi,
These are all from the Inventory Survey page.
The fact that these are all for the same survey seems very suspicious. However, there is no actual custom submission code on the form, just code that indirectly relates to the submission such as loading data.
The form code does reference taxa_taxon_list_id, although only in the context of the occurrence itself.

Given this, I decided to look at the

[2018-08-09 13:14] sacrevert commented on #85
Hi all, I had a look at the first few samples from Strachan, and it looks to me as though he redetermined the T. cespitosum in 2017 to a related hybrid taxon (I believe this, as we know the recorder and he is an expert botanist). The earlier samples (2015 and 2016) no longer have any Trichophorum records. Does this suggest that he manually deleted them, and then the 'admin' task executed a whole l

[2018-08-09 13:28] sacrevert opened #86 "Extra species entry - taxon groups available"
Can we limit the species recording on this page to just plants, bryophytes and lichens please?

[2018-08-09 14:25] andrewvanbreda commented on #86
@sacrevert Should I use the same Taxon Group limiters as the inventory page? these are
clubmoss
conifer
fern
horsetail
flowering plant
ginkgo
quillwort
stonewort

This is easy providing I work out the correct taxon group filers to supply.

[2018-08-09 14:37] andrewvanbreda commented on #85
This doesn't seem right to me. Surely nothing a recorder could do would cause the removal of an item from a species list.
I know at one point we were interested to know what would happen during a redetermination if the new species wasn't in the species list for the data entry form, but I think that is more of a display question.

Given that the Armeria and T. cespitosum ones both have exactly the

[2018-08-09 14:47] sacrevert commented on #86
All those plus:
bryophyte
Liverwort
Moss
Lichen
Hornwort

Thanks

[2018-08-09 15:42] andrewvanbreda commented on #86
@sacrevert Done. Tested, looks like all the ducks and sheep have gone!

[2018-08-09 15:42] #86 closed

[2018-08-13 11:41] andrewvanbreda commented on #79
@sacrevert Hi Oli, Just looking if I can sneak this in for this build.
However I think it is now partially covered by another issue, in that users will be able to see the samples (and occurrences within them) from previous square owners.
This was coded as part of another issue.
https://github.com/BiologicalRecordsCentre/NPMS/issues/78

So really I need to determine what I need to do here, I think

[2018-08-14 20:09] andrewvanbreda commented on #68
Don't think there is any further coding to do here, so setting to Coding Complete indicating it is ready for the next build.

[2018-08-15 20:47] andrewvanbreda commented on #61
Ran for new users @ 21:45 (approx) ->15/8/2018

[2018-08-16 12:12] sacrevert commented on #79
I'm not sure whether this was what was originally intended by this issue (on rereading it seems the same as #78), but I think possibly (reading some of the comments in #78) that this one evolved to be about copying across species for data entry between years (presumably only where the square owner stays the same, otherwise the level could change with a new surveyor). I think the more important req

[2018-08-16 22:57] andrewvanbreda commented on #40
Ongoing work on this issue
- User Info Download will now have links to square admin page in next build
- User admin page will now include grid of all squares user has entered data for

Work ongoing

[2018-08-16 23:00] andrewvanbreda commented on #44
Changed on User Info Download report during coding for another issue, so can set this simple change to Coding Complete, ready for next build.

[2018-08-17 14:37] andrewvanbreda commented on #40
Linking to user and square admin screens enhanced with active person name link on User Info Download and also in the new grid of all squares user has entered data for

[2018-08-20 18:44] andrewvanbreda commented on #61
Ran for new users @ 19:40 (approx) ->20/8/2018

[2018-08-21 15:19] andrewvanbreda commented on #55
Note to myself, both of these reports have now been renamed, so once live the Splash site will also need updating, not just NPMS

[2018-08-22 11:53] sacrevert opened #87 "Recording forms allows zero abundances at Indicator and Inventory levels"
I was surprised to see a number of <NA> values in the domin field of the recent database extracts for Indicator and Inventory levels. Apparently the form allow zero abundances to be submitted and these occurrences are being stored in database. If we could confirm that this is happening, and stop the forms being submitted if listed taxa are not given a value, that would be great. (It will also mean

[2018-08-24 20:51] andrewvanbreda commented on #87
@sacrevert Looks like Wildflower form doesn't allow zeros and the others are (tested on training site). This is weird because I thought we talked about this a while back and addressed it, but I have a bad feeling that actually it was subtly different to this and it was related to not allowing photos without an abundance.
I will try to fix this tomorrow.

[2018-08-25 19:18] andrewvanbreda commented on #87
@sacrevert I have corrected both the training and live site.
The problem only occurred on Indicator and Inventory, these seemed to allow a species without an abundance.

[2018-08-25 19:23] andrewvanbreda commented on #87
This issue can be closed once you are happy that there is nothing further that can be done to improve the situation

[2018-08-25 19:24] andrewvanbreda opened #88 "Inventory/Indicator mandatory abundance message shows twice"
Pretty sure this is an Indicia bug rather than NPMS specific.
If you save 1 or more occurrences without an abundance on the Indicator or Inventory form, then the mandatory warning is always show twice.

[2018-08-25 20:43] #87 closed

[2018-08-30 19:42] andrewvanbreda commented on #61
Ran for new users @ 20:35 (approx) ->30/8/2018

[2018-09-06 14:27] sacrevert opened #89 "Deleting sample 1 when there is a sample 2"
A scenario needs checking: the samples grid shows the ID of sample 1, the sample 2 (visit 2) ID is not shown on the grid, although it has one in the underlying database. What happens if a user wants to delete the first sample, but leave the 2nd sample alone?
(i) does the sample 1 ID remain on the grid?
(ii) could they re-add a sample 1, even though sample 2 is already present?
(iii) do these thing

[2018-09-07 10:25] andrewvanbreda commented on #39
@sacrevert This is now on training and live site

[2018-09-07 10:27] sacrevert commented on #39
Thanks Andy. Flagging this to @CelesteSkinner and @NPMSSupport for their information

[2018-09-07 15:18] andrewvanbreda commented on #53
@CelesteSkinner @NPMSSupport @sacrevert
This is now live. Available in the admin menu for users with the "user square administration" permission.
Notes to follow on what a deallocated square is.

[2018-09-07 15:28] andrewvanbreda commented on #53
@CelesteSkinner @NPMSSupport @sacrevert
The report considers a square de-allocated
- The square must have been used with sample plot (visit) data associated with it. So if a user allocates themselves a square that has never been used, then de-allocates themselves this is not considered deallocated.
- The square has not been re-allocated
- The square is not excluded

The details for the most recent

[2018-09-07 15:28] #53 closed

[2018-09-07 18:06] andrewvanbreda commented on #82
Error now gone. However I have noticed that search for events within your post code area no longer works on the map. Will raise separately

[2018-09-07 18:07] #82 closed

[2018-09-07 18:08] andrewvanbreda opened #90 "Post code area searching no longer works for events"
On the page users use to sign-up to events the post code area searching no longer works for events, also search buttons refer to squares not events.

Note that I checked Post Code search on Request a Square and it is still fine.

[2018-09-07 18:14] andrewvanbreda commented on #43
Seems to be live now

[2018-09-07 18:14] #43 closed

[2018-09-07 18:25] andrewvanbreda commented on #55
@CelesteSkinner @sacrevert
This is live now (and inherited by the Splash site too)

[2018-09-07 18:32] #55 closed

[2018-09-10 11:20] andrewvanbreda opened #91 "Investigate behaviour of sample photos in regard to survey two"
We have reports that sample photos are preloading onto survey 1, and when new ones are added all the photos end up associated with Survey 1 and none on survey 1.

Verify behaviour.

[2018-09-10 12:06] andrewvanbreda opened #92 "If user cancels account, what happens to data synced to the Warehouse"
Some fields are synced to the Warehouse, what happens to these if account is cancelled, the data might need removing. It is possible the data might need to be removed completely, not just deleted flag.

[2018-09-10 12:37] andrewvanbreda commented on #91
What has happened is this

- Originally me and Oli discussed preloading data onto survey 2 from survey 1. The discussion was actually more about what NOT to pre-load, such as the date.
I don't think we even thought about the sample photo, so that is getting preloaded.

- However the photo is different to other data. With things like preloading textboxes we load the field and then it is saved at th

[2018-09-10 12:44] DavidRoy commented on #92
This is being considered as part of T&C update for GDPR compliance.  The approach is to retain the dataset but not assigned to a individual user.  Details tbc

[2018-09-10 15:45] andrewvanbreda commented on #91
@NPMSSupport @sacrevert
I have corrected the code, so will concentrate on a release.
Database script not written yet, but this will be run after the fix is live.

[2018-09-11 12:01] andrewvanbreda commented on #89
@sacrevert
I checked this as I was doing the fix for sample 2 image anyway

- Deleting survey 2 is correct and can be re-added

- However deleting survey 1 results in the row being removed from the grid so survey 2 cannot be accessed even though it isn't in a deleted state.

I would suggest a change to the display report would resolve this, apart from it isn't quite that simple  as that because if

[2018-09-11 12:05] sacrevert commented on #89
Does survey two really need to point at survey one in the grand scheme? They are already linked to a single plot id and are made in the same year, so I don't see that the explicit link between them is necessary. Would the simplification help, or does that have lots of things depending on it?

[2018-09-11 13:20] sacrevert commented on #77
Given the widespread confusion amongst volunteers of how to add the second sample, and the resulting visual confusion, I suggest creating a new line for each sample, this should also make deleting samples easier ( see #89 ). There could be some logic which would determine whether the sample is the first or second visit to a plot within a year, and this could be displayed on the grid.

Obviously th

[2018-09-11 14:50] NPMSSupport opened #93 "Enable admin to download an all 1km squares table showing allocated/unallocated squares"
Is this possible? At the moment we don't have a way (that I know of) of seeing which are allocated/unallocated other than the map.
First time using this so apologies if I'm not doing it right!

[2018-09-11 15:00] sacrevert commented on #93
I think this is covered by #59 . Please add details or clarifications there if required @NPMSSupport . Closing.

[2018-09-11 15:00] #93 closed

[2018-09-11 15:01] NPMSSupport commented on #93
That's annoying. I even looked through the list to see if I could l see it
on there!
Thanks Oli

*Rachel NPMS Support*

On Tue, Sep 11, 2018 at 4:00 PM, Oli Pescott <notifications@github.com>
wrote:

[2018-09-11 15:04] sacrevert commented on #93
Don't worry, I have the advantage of having put them all on in the first place : )
Plus it was kind of nested with a lot of other things.

[2018-09-12 15:51] sacrevert commented on #92
Note links to #54

[2018-09-12 16:20] andrewvanbreda commented on #77
Yes, I can separate the rows. The expander is probably a bit more tricky I am not sure our report grids support that currently, will see how I get on with that.

[2018-09-12 16:26] sacrevert commented on #77
OK, thanks. The expander was part of long-term aim to make the display tidier, so it would be nice it if was ultimately achievable.

[2018-09-12 18:59] andrewvanbreda commented on #61
Ran for new users @ 19:55 (approx) ->12/9/2018

[2018-09-12 20:15] andrewvanbreda commented on #93
@NPMSSupport @sacrevert
Actually this information used to be available on the site on the request a Square page, but I think we decided to hide it in the end.
However as the grid was hidden, I have now moved it onto an admin screen and increased the grid size for usability. Find a new Allocated/Unallocated Squares option in the admin menu.
This displays a list of all squares excluding "excluded" o

[2018-09-12 20:17] andrewvanbreda commented on #93
Note: actually "No of people allocated" needs clicking twice to change the grid order.

[2018-09-13 08:14] andrewvanbreda opened #94 "Update live NPMS site"
The NPMS live website needs updating, I think using the following process

- Put live site into maintenance mode
- Update the iForm/Client Helpers. Probably best to update indicia_feature module as well
- Make sure the prebuilt_forms/js folder has the latest files in it from support_files/NPMS/npms_live_js

The warehouse reports are already done, so don't need to do anything on the warehouse

Then

[2018-09-13 08:17] BirenRathod commented on #94
@andrewvanbreda & @sacrevert

Thanks, I will take it from here.

Also, as soon as we released this, could we start using site on Pantheon? I will update the code on Pantheon too and stop using site on our local server, if everything goes fine.

[2018-09-13 08:32] sacrevert commented on #93
@NPMSSupport to test and comment

[2018-09-13 09:13] NPMSSupport commented on #93
This is great thank you. In order to be able to sort/manipulate the data is it possible to download a complete report? There are over 50 pages and so to copy and paste each of these into a spreadsheet will be pretty time consuming. @andrewvanbreda  @sacrevert

[2018-09-13 09:17] andrewvanbreda commented on #94
Good point, there was a pantheon test site wasn't there, I better give that a look again and let you know

[2018-09-13 09:25] BirenRathod commented on #94
Yes, it has. If you haven't committed any code yet, please do so now. we could test on both site.

[2018-09-13 09:35] andrewvanbreda commented on #94
All the code is committed

[2018-09-13 09:35] andrewvanbreda commented on #93
@sacrevert @NPMSSupport
Downloading has been enabled

[2018-09-13 09:38] sacrevert commented on #93
Thanks. If we could put all other comments/requirements now against #59 (which is still open). that would be good. Also, I should say that the improvements that we were working towards re square and volunteer management were intended to bring everything into one place, so, although downloads are great for interrogating long lists, we should be working towards bringing everything to do with the act

[2018-09-13 09:40] BirenRathod commented on #94
I meant on Pantheon. please do so. After committing code , please push the code on to the repository.

[2018-09-13 09:41] andrewvanbreda commented on #94
Ah ok, ok, yes ok will look at doing that and let you know.

[2018-09-13 10:19] NPMSSupport commented on #93
Wonderful thank you Andy. I've tested it and it downloads. This is going to be very useful.

[2018-09-13 10:29] NPMSSupport commented on #93
In addition, is there a way of tracking in a given period how many new squares were taken on and how many were released? It would be useful in order to show the impact of training/social media campaigns/emails etc. This allows us to see the total (obv very useful in itself) allocated but not the activity that makes up that total. Thank you

[2018-09-13 10:32] sacrevert commented on #59
From @NPMSSupport commenting on the closed issue #93

[2018-09-13 10:33] sacrevert commented on #93
See the open issue #59 for the following:

[2018-09-13 11:40] andrewvanbreda commented on #59
There is no report currently for tracking when squares where taken.
The closest we have to that is this
http://www.npms.org.uk/content/allocated-squares-region-tranche

If you need something new, can you put what you need into a new issue so that it can be tracked separately otherwise this issue is gonna get too complex. Thanks

[2018-09-13 11:46] andrewvanbreda commented on #94
@BirenRathod
Hi sorry, got distracted. Should I just update the site to latest iForm Master? Committing individual issues is going to be slow and tricky.
Also I am going to have to be careful as I realise the live site has been configured for some fixes that are now closed that the Pantheon site wouldn't have been.

[2018-09-13 12:02] BirenRathod commented on #94
@andrewvanbreda

Yes, just update iForm from master with latest code, no need to commit individual issues. Just be careful , The site on Pantheon is connected to live warehouse, so if you need to submit a survey, please change it to test warehouse.

[2018-09-13 12:59] andrewvanbreda commented on #94
@BirenRathod
Biren, I think I have done this apart from one thing. I am using the git command line which I am not used to, I think I need to use "git push origin", but am not sure what I should type at the end of this. Do you know how to get it to work?

[2018-09-13 13:01] sacrevert commented on #94
normally the standard flow at the git command line is something like:
git add --all
git commit -m "message"
git push origin master

[2018-09-13 13:05] BirenRathod commented on #94
if you already in master which you are, than git push will work fine.

[2018-09-13 13:07] andrewvanbreda commented on #94
Ah great, I did what Oli suggested and it worked.
I was making the mistake of typing in the folder name or the repository URL. The only thing I didn't try was as simple as master! Usually I use Sourcetree, but it can be a bit unreliable getting the latest code so decided not to
Anyway, I think we are done now hopefully. I suppose the best way to check is to look for fixes on the Pantheon site.

[2018-09-13 13:13] BirenRathod commented on #94
I didn't tell you about Oli's first two command because I assumed you have already committed the code. Yes, you can check your changes here -> test-npms.pantheonsite.io

[2018-09-13 13:16] BirenRathod commented on #94
I generally don't use Sourcetree, but there is another one if you fancy using which is Gitkraken. it does its job very seemingly.

[2018-09-13 13:27] andrewvanbreda commented on #94
Hi @BirenRathod ,

I haven't actually configured all the changes on the Pantheon site yet. However I have checked and it looks like the code changes are there.

My question is this.
Is that Pantheon site going to become the NPMS live site, or will you move the current site over to Pantheon?
i.e. is it worth my time doing a full configuration of that Pantheon test site? or should I just test a rand

[2018-09-13 15:03] BirenRathod commented on #94
Hello @andrewvanbreda
If you think by restoring backup of current live site will resolve the problem then better to do that. if that doesn't resolve this problem then worth to do full configuration.

[2018-09-13 18:28] andrewvanbreda commented on #94
@BirenRathod
There wasn't a problem as such, I just wanted to understand what was happening. I didn't understand if that Pantheon test site will become the live site?....if not then it isn't worth me configuring it in full.
I think you are saying that it will become the live site and we can restore a backup from live, but I don't have the ability to do that, so you will need to tell me if that wor

[2018-09-13 18:41] BirenRathod commented on #94
@andrewvanbreda

As I mentioned before, that I need to site on the Pantheon to carry on further and put it on live environment.

- I will restore the backup from the current live site.
- I will check JS file too.
- Dont' worry about google API key at present, Once site put it on live environment, I will copy. Although, if you need you can copy over it.

[2018-09-14 08:38] andrewvanbreda commented on #94
@BirenRathod
OK, let me know when that is all done.
@sacrevert I realised this morning I have forgotten about setting up the NPMS app again, it is in my To Do list but there are so many items in it, it tends to get lost amongst the chaos.
So I think I will create an issue in the main NPMS issues list if there isn't one already.

[2018-09-14 08:41] andrewvanbreda opened #95 "NPMS App changes need to go live"
The changes that were made to the NPMS App in regards to the registration process need to go live. The code is done.
The main change is the improvements to how the user signs up with app. They should no longer be sent redundant extra "activation" emails, also they won't be asked to enter a new password by the app and then be asked to enter another one by the website

[2018-09-17 10:50] BirenRathod commented on #94
Hello @andrewvanbreda , @sacrevert

- I updated code on current live NPMS site.
- I have also updated js file on current NPMS site.
- I have updated code on pantheon test site.

@andrewvanbreda , my main concern is pantheon site, if you are happy with pantheon, I will put that site on to live, so it will then become npms.org.uk site. So, please check on pantheon bit first and let me know.

[2018-09-17 11:09] andrewvanbreda commented on #94
@BirenRathod
OK great. I have put live into maintenance mode because it may not operate correctly with the ew configurations.
I will do all my testing then on Pantheon version and hopefully that will become live.
Will let you know.

[2018-09-17 11:10] andrewvanbreda commented on #94
@BirenRathod
The Pantheon site is getting a PHP error. Can you send me PHP log if you can't fix it
http://test-npms.pantheonsite.io

White screen of death

[2018-09-17 11:11] BirenRathod commented on #94
Yes, I'm resolving that.

[2018-09-17 11:17] BirenRathod commented on #94
@andrewvanbreda

The error logs says, Invalid date in one of the function. this occurred after I uploaded node.*.js files.
Any idea?

[2018-09-17 11:21] andrewvanbreda commented on #94
@BirenRathod Can you send me the exact message text and I will see

[2018-09-17 11:33] BirenRathod commented on #94
@andrewvanbreda,
Here it is, I'm not sure if this will give any idea.

Uncaught Error: Call to undefined function _system_rebuild_theme_data() in /srv/bindings/65c43184b33549b1a423843775154094/code/includes/theme.inc:798
Stack trace:
#0 /srv/bindings/65c43184b33549b1a423843775154094/code/includes/theme.inc(79): list_themes()
#1 /srv/bindings/65c43184b33549b1a423843775154094/code/includes/theme.inc

[2018-09-17 11:37] andrewvanbreda commented on #94
@BirenRathod This page is suggesting the database is "down".
https://kwynn.com/t/7/01/drupal_error.html

Um.....the settings.php file wasn't overwritten was it?

[2018-09-17 11:42] BirenRathod commented on #94
On pantheon, there is no way to overwrite settings.php file, so I don't think that the problem.

[2018-09-17 11:44] andrewvanbreda commented on #94
@BirenRathod
So what has been changed. You updated iForm to master. Is that it?

[2018-09-17 11:52] BirenRathod commented on #94
@andrewvanbreda
Actually, I haven't updated iForm module as you have already done that. I uploaded the node.*.js files.

[2018-09-17 11:56] andrewvanbreda commented on #94
@BirenRathod
That is true. OK, you are right, I forget I have access to changing the iform now.
If you literally just updated those js files, what happens when you remove them completely.
It would cause js errors if you do that, but the site would come back if that is the cause.
I am going to guess that it won't fix it, in that case you will need to think if you accidentally changed something else

[2018-09-17 12:05] BirenRathod commented on #94
@andrewvanbreda, @sacrevert

Hi Both, the site is now up and running. I found the file uploaded for iForm was bit outdated. I updated with the latest code.
@andrewvanbreda , please pull the pantheon code repository from your machine, so it will update the code on your machine too.

Also, @andrewvanbreda
After you pulled the code from Pantheon repository, you will notice that I have removed .gitign

[2018-09-17 12:12] BirenRathod commented on #94
@andrewvanbreda

just to make sure when I mentioned above those files means the files mentioned in .gitignore file. (e.g. in JS folder .gitignore file got node.*.js which was preventing to use those files from that folder).

[2018-09-17 12:13] andrewvanbreda commented on #94
I have made a note of that for future.
OK, so I think the process is for me to test everything on pantheon, then you can move the site across to live.
So I will do that and let you know.

[2018-09-17 12:15] BirenRathod commented on #94
Thanks.

Yes please, check on Pantheon first and let me know, so I will take that on live env. Also, I have already restore Pantheon from current live site backup. So site should have all the changes.

[2018-09-17 12:52] andrewvanbreda commented on #94
@BirenRathod
I realised there have been changes to the configuration of pages on live which were made since the Pantheon site was created. So I was making those changes on pantheon but then realised we have a problem. There are loads of new users since the pantheon site was created.
Are you able to restore the drupal live database onto the pantheon site so we don't lose those users?

[2018-09-17 13:38] BirenRathod commented on #94
@andrewvanbreda

Actually, I have done that which I mentioned earlier, but I haven't released on test env just yet. And I now have on test env,  So everything up to date now.

[2018-09-17 14:21] andrewvanbreda commented on #94
@BirenRathod OK thanks, looks to have worked, will let you know how I get on

[2018-09-17 15:02] andrewvanbreda commented on #94
Hi @BirenRathod,

There are a few problems I have found so far you might be able to help with.

1. Look here, there are 2 boken image links I can see (alhough there are probably more).
Look at the bottom of page, and the "Summer 2018" newsletter p0st to the right of the page.
http://test-npms.pantheonsite.io

2. There seem to be CSS problems, easiest to see if you clear the cache here and you will

[2018-09-17 15:22] andrewvanbreda commented on #94
@BirenRathod
Also HTTP error trying to upload image on data entry form

[2018-09-17 15:57] BirenRathod commented on #94
@andrewvanbreda

HTTP error is due to not uploaded my changes which I will do it. Apart from this rest of the problem have been now resolved.

[2018-09-17 16:23] andrewvanbreda commented on #94
@BirenRathod
Hi Biren, DOn't think site is sending emails, didn't get the registration email

[2018-09-17 16:28] BirenRathod commented on #94
@andrewvanbreda
Yes, that is fine for test environment. When site goes live it will be activated.

[2018-09-18 08:28] andrewvanbreda commented on #94
@sacrevert @BirenRathod
I have finished testing the Pantheon site now, Biren you can move this to be the live site.
Once you have done that, leave it in maintenance mode and let me know, as more checking needs to be done. In particular anything related to emails such as registration.
By the way, do you know how long it will take you to make it the live site? I ask, as the maintenance mode message

[2018-09-18 08:33] BirenRathod commented on #94
@andrewvanbreda

I will find out about it and let you know.

[2018-09-18 15:28] andrewvanbreda commented on #94
@BirenRathod @sacrevert
Hi Biren, Just wondering you have have any feedback relating to this. The NPMS website message still says it will be back today. I could do my bit regarding that, but I have zero idea how long it will take you to make the Pantheon site the live one? Any thoughts on the timescale for that? Thanks

[2018-09-18 15:34] BirenRathod commented on #94
@andrewvanbreda  @sacrevert
I have prepared the live site. here is the link -> http://live-npms.pantheonsite.io
I'm waiting from Pantheon to response onto this. I have mailed in the morning to link domain with this site but not received any reply yet.

[2018-09-18 15:48] andrewvanbreda commented on #94
@BirenRathod @sacrevert OK, I will change the NPMS live site message to say will be back as soon as we can rather than today.

[2018-09-18 15:53] andrewvanbreda commented on #94
@BirenRathod @sacrevert Actually, the changes have been tested on the Pantheon site, so they should work on the current live site too.
Biren should I do the following:
- Give the current live site a quick check then take it out of maintenance mode?
- Put Pantheon site into maintenance mode, so that when we move to it it can be checked that it is ok first.

@BirenRathod Is that a good approach?

[2018-09-18 15:54] BirenRathod commented on #94
@andrewvanbreda
I can at least tell you that it will not possible today. I hope I could you more certain answer tomorrow with the help from Pantheon.

[2018-09-18 16:03] BirenRathod commented on #94
@andrewvanbreda

You only need to check on current live site. No need to put pantheon site into maintenance mode as nobody accessing and we haven't given site detail to anybody yet.

[2018-09-18 16:04] andrewvanbreda commented on #94
@BirenRathod OK, will work to take that site out of maintenance mode

[2018-09-18 16:14] andrewvanbreda commented on #94
@BirenRathod Am looking at live, but it looks like it is running the old iForm, so in theory we can just take it out of maintenance mode.
However I am confused about this post from you yesterday as it says it had been updated
"I updated code on current live NPMS site.
I have also updated js file on current NPMS site.
I have updated code on pantheon test site."

Any thoughts on this situation?
Can

[2018-09-18 16:24] BirenRathod commented on #94
@andrewvanbreda

I have updated code on current live NPMS from the repository. but if it is running fine then just take it out of maintenance mode.

[2018-09-19 08:11] BirenRathod commented on #94
@andrewvanbreda , @sacrevert

NPMS site is in maintenance mode now. I'm in the process of migrating domain to Pantheon cloud service.

[2018-09-19 09:24] BirenRathod commented on #94
@andrewvanbreda, @sacrevert

I have moved the domain on Pantheon but to propagate my changes Pantheon says it will take 72 hours or less. Would you like me to take off the site from maintenance mode?

[2018-09-19 09:55] andrewvanbreda commented on #94
@BirenRathod Yes, do that if the site hasn't changed yet. Put back into maintenance mode as soon as you know that the changes have come through.

[2018-09-19 09:56] andrewvanbreda commented on #94
@BirenRathod Do you want to let Plantlife know, I have a vague recollection that they needed the site this weekend, not sure

[2018-09-19 09:57] sacrevert commented on #94
Plantlife said that most data entry happens at the weekend, so it would better not to have downtime at the weekends. Can you confirm whether it is necessary to have the site down this weekend please. if so I will let them know. thanks

[2018-09-19 10:05] BirenRathod commented on #94
@andrewvanbreda , @sacrevert

I think site on Pantheon will be fine by that time, I will check finally again on Friday. In fact I don't need to wait until Friday, so I'm hoping, the domain migration will be impacted by tomorrow if not then should be fine by Friday most. Previously it had done with in 24 hours for other site.

I took the site from the maintenance mode.

[2018-09-19 13:12] andrewvanbreda commented on #94
@BirenRathod @sacrevert
Biren: Has this gone live on Pantheon, the site is suddenly showing what was a copy of the Pantheon site.

[2018-09-19 13:18] BirenRathod commented on #94
@andrewvanbreda , @sacrevert

As I mentioned before about domain propagation will take about 72 hours, So we could anticipate to that. Mean while I'm setting up the redirection path for current npms.org.uk to live-npms.pantheosite.io, so if anybody do make changes or access, the changes will store in Pantheon database instead of BRC.

[2018-09-19 13:19] BirenRathod commented on #94
I mean database situated of server at BRC.

[2018-09-19 14:47] sacrevert commented on #94
not sure why, but for some reason this pdf link appears to be broken as a result of the move: http://www.npms.org.uk/sites/default/files/newsletters/NPMS_%20Newsletter_Summer2018_FINAL.pdf
and this one
http://www.npms.org.uk/sites/default/files/PDF/NPMS%20Mentors%20contact%20directory%20for%20website.pdf

Is it to do with the folder they are in?

[2018-09-19 19:38] BirenRathod commented on #94
@andrewvanbreda , @sacrevert
That's right. I have uploaded that file now and site has migrated too. I mean domain propagation has finished now.The site is now officially on Pantheon.
- I have fixed the HTTP error of photo upload problem on survey forms.
- I have added the OS map key.
- Also HTTPs will be activated soon.
- Updated drupal modules
I'm setting up email tomorrow and let you know more a

[2018-09-20 08:22] andrewvanbreda commented on #94
@BirenRathod @sacrevert
I have put the site in maintenance mode. Particularly because users won't be able to register without emails being sent. I also need to check the configuration.

[2018-09-20 08:26] andrewvanbreda commented on #94
@BirenRathod @sacrevert
Looks like last attempted registration was 18 hours ago, so I don't think we need to contact anyone who might not of received their registration mail

[2018-09-20 08:27] BirenRathod commented on #94
@andrewvanbreda , @sacrevert
Or you can set option as administrators only , so if people want to register they will email to NPMSSupport account and put the message accordingly.

[2018-09-20 08:28] #33 closed

[2018-09-20 08:35] #37 closed

[2018-09-20 08:57] andrewvanbreda commented on #91
@sacrevert Working on live, but database correction script not written yet, so won't be closing this issue

[2018-09-20 08:59] #78 closed

[2018-09-20 09:11] #14 closed

[2018-09-20 09:22] andrewvanbreda commented on #68
@sacrevert Which OS layer didn't you want to use?

[2018-09-20 09:23] sacrevert commented on #68
not sure what you mean. Happy to go with the OS Leisure option, I think this is probably the standard in iRecord and other recording websites. Cheers.

[2018-09-20 11:46] andrewvanbreda commented on #68
@sacrevert That is what I meant ;) Leisure it is then

[2018-09-20 11:57] andrewvanbreda commented on #68
@BirenRathod
I think this needs some further setup, as am getting the following message on data entry when the map layer is enabled.
"To use the Ordnance Survey map layers, please ensure that you declare a variable called $os_api_key in the helper_config.php file"
Is this something I should commit myself using the key shown on the iForm settings page? or do you want to add this?

[2018-09-20 12:03] andrewvanbreda commented on #94
@BirenRathod @sacrevert
Will leave in maintenance mode for now as I think we are still fiddling with the map layers and stuff a bit too much at the moment, don't want to have to keep moving in and out of maintenance mode every few mins. Will review situation later this afternoon.

[2018-09-20 12:13] BirenRathod commented on #68
@andrewvanbreda
Yes, you can commit by yourself, no problem from my side. So please go ahead. Before committing code please pull the code from that repository, so you repository will be updated by latest code & as I mentioned before please do not upload .gitignore files.

[2018-09-20 12:15] BirenRathod commented on #94
OK, no problem for me.

[2018-09-20 12:42] andrewvanbreda commented on #94
@BirenRathod I have done that, but I don't see the changes on the site, do you need to pull the changes onto the site for it to work?

[2018-09-20 12:48] BirenRathod commented on #94
yes, I need to pull the code from the test repository to see impact on live site. I done that now.

[2018-09-20 13:36] andrewvanbreda commented on #94
@BirenRathod That worked thanks :)

[2018-09-20 14:01] andrewvanbreda commented on #94
@sacrevert I have enabled this on all the maps on the site.
However I am not sure I am happy with the behaviour of this layer (noting that I haven't done any coding as such for this, it is just a layer that was added to Indicia).
Could you tell me what you think of the Draw Plot page, to me it seems to be jumping between layers in a weird way. Also the Request A Square page doesn't show the square

[2018-09-20 19:17] andrewvanbreda commented on #68
@sacrevert I have enabled this on all the maps on the site.
However I am not sure I am happy with the behaviour of this layer (noting that I haven't done any coding as such for this, it is just a layer that was added to Indicia).
Could you tell me what you think of the Draw Plot page, to me it seems to be jumping between layers in a weird way. Also the Request A Square page doesn't show the square

[2018-09-20 19:19] andrewvanbreda commented on #68
The site no longer seems to be in maintenance mode, so I have remove the OS layer from the Request a Square/Squares Near Me pages, and also the Draw Plot page where it seemed to cause some havoc

[2018-09-20 19:31] andrewvanbreda commented on #94
@BirenRathod @sacrevert
The site doesn't seem to be in maintenance mode anymore, which is a problem as the registration isn't working because emails won't be sent
@BirenRathod I tried to change the type of registration to administrators only, but that doesn't work either, it starts doing weird things like giving access denied pages.
I also just realised that the Wilflower form was still in trainin

[2018-09-20 19:41] andrewvanbreda commented on #94
@sacrevert I do not know whether to put the site back into maintenance mode. I will leave it as is, but we might need to contact those who tried to register.
The reason why I have decided this is because the site in maintenance mode might affect lots of users, however only 1 or 2 should be affected by registration issues.

[2018-09-20 19:42] sacrevert commented on #94
It sounds to me like there is enough going wrong to put it in maintenance mode

[2018-09-20 19:55] BirenRathod commented on #94
@andrewvanbreda , @sacrevert

Sorry about the removing the site from the maintenance mode. I was testing the email through SMTP configuration. So I had to took off from the maintenance mode. I now put it back to the maintenance mode.

[2018-09-20 20:07] BirenRathod commented on #94
@andrewvanbreda, @sacrevert

Sorry again, I haven't read this full conversation. I have now took off the maintenance mode.

[2018-09-21 08:21] andrewvanbreda commented on #94
@BirenRathod @sacrevert
It is OK. I think we are nearly there. However I just tried to register and noticed a problem. The email that was sent to me is full of raw html tags.
Can we enable HTML emails on the site?

[2018-09-21 08:24] sacrevert commented on #68
Having the OS later on the Request a square/Squares Near me pages is nice to have, but not essential.

It is most important to have it working on the Draw plot page, and also on the map of the plot that people are shown when they enter sample data.

[2018-09-21 08:32] BirenRathod commented on #94
@andrewvanbreda , @sacrevert

I have resolved the email problem on the website today morning.
@andrewvanbreda could you please resolve HTML format bit?

[2018-09-21 09:02] BirenRathod commented on #94
@andrewvanbreda , @sacrevert

The site has also got enabled with SSL certificate. One more step up in security direction.

[2018-09-21 09:03] BirenRathod commented on #94
@andrewvanbreda , @sacrevert

I'm now closing this issue.
@andrewvanbreda, please open another issue for rest of the pending task.

[2018-09-21 09:03] #94 closed

[2018-09-21 09:59] andrewvanbreda commented on #68
OK, I will see if I can examine the behaviour of this, maybe on the training site. I had kind of assumed it would just work rather than go bananas

[2018-09-21 10:04] andrewvanbreda opened #96 "Live site not sending HTML emails"
Tried testing site registration. It works, but the email that is sent has raw html tags in it

[2018-09-21 10:14] andrewvanbreda commented on #96
@BirenRathod I think the HTML Mail module just needs to be enabled, I can see it, but it is off. Do you want to do that as it is more of an administration task (I do not know if update.php needs running after).
Or I can try and enable it if you prefer?

[2018-09-21 10:18] BirenRathod commented on #96
@andrewvanbreda
Please enable it. if require to run update.php, please do so. it will not harm anything.

[2018-09-21 10:33] JimBacon commented on #68
For info, the problems will likely stem from the fact that the OS maps use a different projection from Google maps. You will likely have to redraw your vector layer in the new projection. Look at matchMapProjectionToLayer() in jquery.indiciaMapPanel.js and see how the edit layer features are reprojected.

[2018-09-21 10:41] andrewvanbreda commented on #68
@JimBacon OK, thanks. That is very useful to know. I will look into that.

[2018-09-21 10:45] andrewvanbreda commented on #96
@BirenRathod Actually, I think it was enabled, but I fiddled with the permissions a bit and it still doesn't work. Is there something different about the new hosting that might prevent this from working?

[2018-09-21 10:47] BirenRathod commented on #96
@andrewvanbreda

I have disabled the html format from SMTP module, try again and see if that works.

[2018-09-21 11:42] andrewvanbreda commented on #96
@BirenRathod Looks to be working now thanks.
There is still  problem with the registration email though. There are slashes at the start and end of the some of paragraphs that do not seem to be present in the email content on the website. Do you know what this is?
Am sure I have seen this before.
Will forward you the mail now.

[2018-09-22 19:36] andrewvanbreda commented on #71
This screen is working. If problem reoccurs I will reopen.

[2018-09-22 19:36] #71 closed

[2018-09-24 21:18] andrewvanbreda commented on #69
@sacrevert @NPMSSupport Just noticed this one is live. Inactive surveys no longer visible in the Downloads page options.
Note: If the "All" option is selected, it would still try and download records applicable to the user, that would include any that were entered on a survey that is now inactive.
This is because the "inactive" surveys are just hidden from the download drop-down filter, it is pure

[2018-09-24 21:18] #69 closed

[2018-09-25 15:55] sacrevert opened #97 "Samples not showing under inventory samples page (are visible through My Visits)"
Samples not showing under inventory samples page (are visible through My Visits). Known user affected communicated through email.

[2018-09-25 17:05] andrewvanbreda commented on #97
@sacrevert
Um, I don't think this is quite a serious as it looks. The My Squares pages thinks the user only has one square and it is awaiting approval. For that reason it is correct they are not seeing any samples as the rule is that they only see samples associated with approved squares.
However there is a problem, in the the Draw Plot and data entry page page are acting as if it is approved.
If

[2018-09-25 17:15] sacrevert commented on #97
OK, seems odd that the square wouldn't be approved, as they seem to have entered samples in every year of the scheme

[2018-09-25 17:21] andrewvanbreda commented on #97
I think what is happening is that the new code that was deployed has a very subtle mistake in how it works out if something is approved.
I need to have a think, as the difference is subtle. I have put site in maintenance mode for now.
Unfortunately subtle differences in a computer can make a huge difference on screen.

[2018-09-25 17:43] andrewvanbreda commented on #97
Yes, I think the check in the new code is slightly wrong.
What happens is this.
When a user allocates themselves a square, there is a link created between them and the square.
In this case, the user who the allocation relates to, matches the same person in the updated_by_id field on the allocation (as they did the link themselves).

So when someone approves it, that updated_by_id changes to someon

[2018-09-25 17:47] andrewvanbreda commented on #97
Note: The above conclusion means the user's square has been approved and is mistakenly reported as not approved by some screens.
This wouldn't affect all users.

[2018-09-25 17:49] andrewvanbreda commented on #97
Actually, I will see if I can revert to the old report grids. This might allow me to take it out of maintenance mode for now.

[2018-09-25 18:09] andrewvanbreda commented on #97
@sacrevert Have left in maintenance mode for now, I have tried to revert, but there is something I am not sure will work. Will have another look later this evening.

[2018-09-25 18:17] sacrevert commented on #97
@NPMSSupport FYI

[2018-09-25 21:18] andrewvanbreda commented on #97
@sacrevert @NPMSSupport
Can't take the site out of maintenance mode tonight, as I am not happy with the system telling the user in question that they weren't the user who originally created the data.
I would like to understand that situation first.
The other bits I could of reverted.

[2018-09-25 21:20] sacrevert commented on #97
Ok, no worries. Thanks for you efforts

[2018-09-25 21:53] andrewvanbreda commented on #97
Have committed fixes for the reports. Biren will need to pull these so I will let him know in the morning. Just need to work out what that message was saying about the user not creating the data as I don't get that problem. Might be clearer once other fixes deployed.

[2018-09-26 10:59] andrewvanbreda commented on #97
@sacrevert @NPMSSupport @BirenRathod
Site out of maintenance mode. Issue corrected. More notes to follow.

[2018-09-26 11:09] NPMSSupport commented on #97
Thanks Andy

*Rachel NPMS Support*

On Wed, Sep 26, 2018 at 11:59 AM andrewvanbreda <notifications@github.com>
wrote:

[2018-09-26 13:43] sacrevert opened #98 "More info about submitting blank samples"
This is a reminder for myself. We have logic to stop species records being saved to the database with zero abundance (#87), but it is worth remembering that a completely blank sample (in terms of species recorded) is possible (and might be quite important is a plot is completely destroyed, e.g. a plot that is built on could be recorded as "not in scheme" with no associated species). This might req